{% load i18n %}

<div class="clearfix">
    <div class="input">
        <ul class="inputs-list list-unstyled">
        {% for choice, key, checked, prev_value in qdict.choices %}
            <li>
                <label>
                    <span class="{{ qdict.type }}-text">
                    <input onClick="valchanged('{{ question.number }}_{{ choice.value }}', this.checked);" type="checkbox" id="{{ key }}" name="{{ key }}" value="{{ choice.value }}" {{ checked }}>
                    {{ choice.text }}
                    </span>
                    <!-- limits text width if we're in a choice-multiple-values control - allows proper alignment of value boxes -->
                    {% if qdict.type == 'choice-multiple-values' %}
                    <span checks="dep_check('{{ question.number }},{{ choice.value }}')" id="q{{ question.number }}_{{ choice.value }}_box">
                    <input type="text" value="{{ prev_value }}" maxlength="4" style="margin-left: 40px; width: 4em" 
                    id="question_{{ question.number }}_{{ choice.value }}_value" name="question_{{ question.number }}_{{ choice.value }}_value">
                    &#37;   <!-- percentage sign: all choice-multiple-values currently represent percentages and must add up to 100% -->
                    </span>
                    {% endif %}
               </label>
            </li>
        {% endfor %}
        {% if qdict.type == 'choice-multiple-values' %}
        <script type="text/javascript">
        alignValueBoxes("{{ question.number }}");
        </script>
        {% endif %}

        {% if question.extra %}
            <li>
                <label for="{{ question.number }}extra"><span class="extra-block">{{ question.extra }}</span></label>
            </li>
        {% else %}
            <li>
                <label for="{{ question.number }}extra">{% trans "Other..." %}</label>
            </li>
        {% endif %}
        {% if qdict.extras %}
            {% for key, value in qdict.extras %}
            <li>
                {% if not forloop.last or not forloop.first %}
                    <b>{{ forloop.counter }}.</b> 
                {% endif %}
                <input type="text" id="{{ question.number }}extra{% if not forloop.first %}{{ forloop.counter }}{% endif %}" name="{{ key }}" size="50" value="{{ value }}">    
            </li>
            {% endfor %}
        {% endif %}

        </ul>
    </div>
</div>
