*.db
*.pyc
*.log
settings/me.*
settings/keys/*
*.dot
reports
ENV
.env
.DS_Store
build
deploy/last-update
logs/*
celerybeat.pid
celerybeat-schedule
.gitignore~
static/scss/*.css.map
assets/*
*.ipynb
dump.rdb
Pipfile
*.lock
