[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
celery = "==4.4.7"
django = "==1.11.29"
django-contrib-comments = "==2.0.0"
django-extensions = "==3.1.1"
django-registration = "==2.4.1"
social-auth-app-django = "==2.1.0"
django-tastypie = "==0.14.1"
django-el-pagination = "==3.2.4"
django-selectable = "==1.1.0"
django-notification = {editable = true, ref = "1ad2be4adf3551a3471d923380368341452e178a", git = "git+https://github.com/eshellman/django-notification.git"}
django-email-change = {editable = true, ref = "fb063296cbf4e4a6d8a93d34d98fe0c7739c2e0d", git = "git+https://github.com/eshellman/django-email-change.git"}
django-ckeditor = "==5.6.1"
django-storages = "==1.5.2"
sorl-thumbnail = "==12.6.3"
django-mptt = "==0.8.6"
pyepub = "==0.5.0"
django-sass-processor = "==0.8.2"
mysqlclient = "==1.4.6"
mailchimp3 = "==3.0.14"
boto3 = "==1.17.91"
pymarc = "==4.2.1"
beautifulsoup4 = "==4.11.1"
gitberg = "==0.8.7"
risparser = "==0.4.3"
pyoai = "==2.5.0"
django-jsonfield = "==1.0.0"
mechanize = "==0.4.5"
stripe = "==2.76.0"
selenium = "==3.141.0"
requests-mock = "==1.8.0"
redis = "==3.5.3"
xhtml2pdf = ">=0.2.15"

[requires]
python_version = "3.9"
