-i https://pypi.org/simple
-e git+https://github.com/EbookFoundation/fef-questionnaire.git@6672fa575b2d93b1353f926e9894ae88b4251892#egg=fef-questionnaire
-e git+https://github.com/eshellman/django-email-change.git@fb063296cbf4e4a6d8a93d34d98fe0c7739c2e0d#egg=django-email-change
-e git+https://github.com/eshellman/django-notification.git@1ad2be4adf3551a3471d923380368341452e178a#egg=django-notification
amqp==2.6.1
appdirs==1.4.4
backports.zoneinfo>=0.2.1
beautifulsoup4==4.11.1
billiard==3.6.3.0
boto3==1.17.91
botocore==1.20.91
cairocffi==0.8.0
celery==4.4.7
certifi==2021.10.8
cffi==1.15.0
chardet==3.0.4
confusable-homoglyphs==3.2.0
cryptography==36.0.2
defusedxml==0.6.0 ; python_version >= '3.0'
distlib==0.3.4
django-ckeditor==5.6.1
django-compat==1.0.15
django-contrib-comments==1.9.2
django-el-pagination==3.2.4
django-extensions==2.2.9
django-js-asset==1.2.2
django-jsonfield==1.0.0
django-mptt==0.8.6
django-registration==2.4.1
django-sass-processor==0.8.2
django-selectable==1.1.0
django-storages==1.5.2
django-tastypie==0.14.1
django-transmeta-eh==0.7.6
django==1.11.29
docopt==0.6.2
docutils==0.18.1
filelock==3.6.0
gitberg==0.8.0
gitdb==4.0.9
github3.py==3.2.0
gitpython==3.1.27
html5lib==1.0.1
httplib2>=0.19.0
idna==3.3
importlib-metadata==4.11.3 ; python_version < '3.8'
importlib-resources==1.5.0 ; python_version < '3.8'
isodate==0.6.1
jinja2==3.1.1
jmespath==0.10.0
jwcrypto==0.7
kombu==4.6.11
lxml>=4.6.2
mailchimp3==3.0.14
markupsafe==2.0.1
mechanize==0.4.5
mock==2.0.0
mysqlclient==1.4.6
oauth2==1.9.0.post1
oauthlib==3.1.0
packaging==21.3
pbr==5.8.1
pillow>=8.3.2
pluggy==1.0.0
py==1.11.0
pycparser==2.21
pyepub==0.5.0
PyJWT==2.3.0
pymarc==4.0.0
pyoai==2.5.0
pyOpenSSL==22.0.0
pyparsing==3.0.8
pypdf2==1.27.5
python-dateutil==2.8.2
python-mimeparse==1.6.0
python3-openid==3.1.0 ; python_version >= '3.0'
pytz==2022.1
pyyaml==6.0
rdflib==6.1.1
redis==3.5.3
requests-mock==1.8.0
requests-oauthlib==1.3.0
requests==2.27.1
risparser==0.4.3
s3transfer==0.4.2
selenium==3.141.0
semver==2.2.0
sh==1.14.2
six==1.16.0
smmap==5.0.0
social-auth-app-django==2.1.0
social-auth-core==3.3.3
sorl-thumbnail==12.6.3
soupsieve==2.3.2
SPARQLWrapper==2.0.0
stripe==2.48.0
toml==0.10.2
tox==3.25.0
uritemplate==4.1.1
urllib3==1.26.9
vine==1.3.0
virtualenv==20.14.1
webencodings==0.5.1
wikipedia==1.4.0
xhtml2pdf==0.2.7
zipp==3.8.0