{% extends "notification/notice_template.html" %}

{% block comments_book %}
	<a href="{% url work campaign.work.id %}"><img src="{{ campaign.work.cover_image_small }}" alt="cover image for {{ campaign.work.title }}" /></a>
{% endblock %}

{% block comments_graphical %}
	Amazon has shut off payment processing for new crowdfunding companies.  Therefore the campaign to unglue <a href="{% url work campaign.work.id %}">{{ campaign.work.title }}</a> has been closed.
{% endblock %}

{% block comments_textual %}
	Because we cannot process payments at this time, we have closed our active campaigns.  If you have pledged to this campaign, your pledge will expire shortly and your credit card will not be charged, nor will you receive any premiums.
	
	Still want to give {{ campaign.work.title }} to the world?  Don't despair.  Keep it on your wishlist and tell everyone why you love this book.  Encourage your friends to sign up for Unglue.it and add it to their wishlists.  We are hard at work on payment alternatives and intend to reopen campaigns as soon as possible.  With your help, we may yet be able to unglue {{ campaign.work.title }}.
	
	You can also comment and ask us questions at <a href="http://wp.me/p2omBl-3B">our blog</a>, on <a href="https://www.facebook.com/unglueit">our Facebook page</a>, or on Twitter with the hashtag #unglueit.
	
	Thank you for your support.
{% endblock %}