{% load humanize %}
<div class="comments clearfix">
	<div class="comments_info clearfix">
		<div class="comments_book">
			<a href="{% url work campaign.work.id %}"><img src="{{ campaign.work.cover_image_small }}" alt="cover image for {{ campaign.work.title }}" /></a>
		</div>
		<div class="comments_graphical">
			It's your last chance to claim one of the limited edition premiums for the campaign to unglue {{ campaign.work.title }}!
		</div>
	</div>
	
	<div class="comments_textual">
		Did you want one of the limited-edition premiums for the campaign to unglue {{ campaign.work.title }}?  This is your last chance -- there's only one left!
		
		Premium: {{ premium.description }}
		Minimum pledge: {{ premium.amount|intcomma }}
		
		If you'd like to claim the last one, pledge here: https://{{ site.domain }}{% url pledge work_id=campaign.work.id %}
	</div>
</div>