{% extends 'notification/notice_template.html' %}


{% block comments_book %}
	<a href="{% url 'work' campaign.work_id %}"><img src="{{ campaign.work.cover_image_small }}" alt="cover image for {{ campaign.work.title }}" /></a>
{% endblock %}

{% block comments_graphical %}
	Alas.  The campaign to unglue <a href="{% url 'work' campaign.work_id %}">{{ campaign.work.title }}</a> did not succeed.
{% endblock %}

{% block comments_textual %}
	If you pledged toward this work, your pledge will expire shortly and your credit card will not be charged, nor will you receive any premiums. If you donated in support of this work, your donation will be used to support other campaigns that qualify for charitable support.
		
	Thank you for your support.
{% endblock %}