/* variables and mixins used in multiple less files go here */
.header-text {
  height: 36px;
  line-height: 36px;
  display: block;
  text-decoration: none;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: -0.05em;
}
.panelborders {
  border-width: 1px 0px;
  border-style: solid none;
  border-color: #FFFFFF;
}
.greenpanelstuff {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  width: 120px;
  line-height: 16px;
}
.greenpanelactionborders {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: #FFFFFF;
  border-bottom-color: #FFFFFF;
}
.panelhoverlink {
  text-decoration: none;
  color: #3d4e53;
}
@charset "utf-8";
* {
  padding: 0px;
  margin: 0px;
}
/*main_Css*/
#main-wrapper {
  height: 100%;
  width: 725px;
  margin: 0px;
  padding: 0px 0px;
}
.panelview.tabs {
  padding: 5px 0px;
  margin: 0px;
  width: 142px;
  float: left;
}
.panelview.tabs span.active {
  padding: 15px;
  margin: 15px 0px;
  font-weight: bold;
}
.panelview.book-list {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  width: 120px;
  line-height: 16px;
  margin: auto;
  padding: 0px 5px 5px 5px;
  height: 300px;
  background-color: #ffffff;
  color: #3d4e53;
  border: 5px solid #edf3f4;
  /*	might need this for panel hover state; don't want it for nonhover. hm.
	a {
    	color: @dark-green;
    	text-decoration: none;
    	
    	&:hover {
    		color: @green;
	    	text-decoration: none;
		}
	}
*/

}
.panelview.book-list:hover {
  color: #3d4e53;
}
.panelview.book-list img {
  padding: 5px 0px;
  margin: 0px;
}
div.remove-wishlist.panelview {
  display: none;
}
.panelview.book-name, .panelview.author {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #3d4e53;
}
.panelview.booklist-status {
  color: #8dc63f;
  text-align: left;
}
.panelview.booklist-status .booklist-status-label {
  float: left;
  font-weight: bold;
}
/*2 start*/
.greenpanel2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  width: 120px;
  line-height: 16px;
  margin: 0px auto;
  padding: 10px;
  height: 295px;
  background-color: #8dc63f;
  color: #ffffff;
  position: relative;
}
.unglued_white {
  font-size: 12px;
  margin: 0px  auto;
  margin-bottom: 5px;
  padding: 10px 0px;
}
.read_itbutton {
  width: 118px;
  height: 35px;
  padding: 0px 0px;
  background: #FFFFFF;
  margin: 0px;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  border: 1px solid #81bb38;
}
.read_itbutton a {
  line-height: 40px;
  font-size: 11px;
  background-repeat: no-repeat;
  background-position: 10px center;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  background: url(/static/images/book-panel/book_icon.png) no-repeat left center;
  padding: 0px 0px 0px 30px;
  color: #73a334;
}
.read_itbutton a:hover {
  text-decoration: none;
}
.add_towish {
  width: 125px;
  height: 30px;
  padding: 0px 0px;
  margin: 15px auto;
}
.add_towish a {
  line-height: 40px;
  font-size: 11px;
  background-repeat: no-repeat;
  background-position: left center;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  background-image: url(/static/images/book-panel/add_wish_icon.png);
  padding: 8px 5px 8px 21px;
  color: #FFFFFF;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: #FFFFFF;
  border-bottom-color: #FFFFFF;
}
.add_towish a:hover {
  text-decoration: none;
  color: #3d4e53;
}
.white_text {
  width: 130px;
  height: 40px;
  padding: 17px 0px;
  margin: 0px;
}
.white_text a {
  color: #FFFFFF;
  text-decoration: none;
}
.white_text a:hover {
  text-decoration: none;
  color: #3d4e53;
}
/*more info*/
.moreinfo {
  width: 130px;
  height: 30px;
  padding: 0px;
  margin: 15px 0 0;
}
.moreinfo a {
  line-height: 40px;
  font-size: 11px;
  background-repeat: no-repeat;
  background-position: left center;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  background-image: url(/static/images/book-panel/more_icon.png);
  padding: 8px 42px 8px 20px;
  padding-left: 20px;
  color: #FFFFFF;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: #FFFFFF;
  border-bottom-color: #FFFFFF;
}
.moreinfo a:hover {
  text-decoration: none;
  color: #3d4e53;
}
/*end of the more info/*
/*end the 2greenpanel*/
/*2 start*/
.graypanel {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  margin: 20px  auto;
  padding: 4px 5px;
  height: 300px;
  width: 130px;
  line-height: 16px;
  background-color: #edf3f4;
  color: #3d4e53;
  border: 5px solid #edf3f4;
}
.unglued_white2 {
  font-size: 12px;
  margin: 3px  auto;
  padding: 5px 0px;
}
.green {
  color: #8dc63f;
  text-align: left;
}
.graypanel a {
  text-decoration: none;
  color: #3d4e53;
}
.graypanel a:hover {
  color: #8dc63f;
  text-decoration: none;
}
.Unglue_itbutton {
  width: 110px;
  height: 40px;
  padding: 0px 9px;
  background: #FFFFFF;
  margin: 0px auto;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  border: 1px solid #d4dcdd;
}
.Unglue_itbutton a {
  line-height: 40px;
  font-size: 11px;
  background-repeat: no-repeat;
  background-position: 2px center;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  background-image: url(/static/images/book-panel/unglue_icon.png);
  padding: 5px 0px 0px 20px;
  color: #3d4e53;
  text-align: right;
  font-family: "LucidaGrandeBold";
}
.Unglue_itbutton a:hover {
  text-decoration: none;
}
.add_towish2 {
  width: 130px;
  height: 30px;
  padding: 0px 0px;
  margin: 15px auto;
}
.add_towish2 a {
  line-height: 40px;
  font-size: 11px;
  background-repeat: no-repeat;
  background-position: left center;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  background-image: url(/static/images/book-panel/add_gray.png);
  padding: 8px 0px;
  padding-left: 20px;
  color: #3d4e53;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: #FFFFFF;
  border-bottom-color: #FFFFFF;
  font-family: "LucidaGrandeBold";
}
.add_towish2 a:hover {
  text-decoration: none;
}
.white_text2 {
  width: 130px;
  height: 40px;
  padding: 13px 0px;
  margin: 0px;
}
.white_text2 a, a:hover {
  text-decoration: none;
  color: #3d4e53;
}
/*more info*/
.moreinfo2 {
  width: 130px;
  height: 30px;
  padding: 0px 20px 0px 0px;
  margin: 15px auto;
}
.moreinfo2 a {
  line-height: 40px;
  font-size: 12px;
  background-image: url(/static/images/book-panel/gray_more_info.png);
  background-repeat: no-repeat;
  background-position: left center;
  padding: 8px 35px;
  font-weight: bold;
  padding-left: 20px;
  color: #3d4e53;
  text-decoration: none;
  text-transform: uppercase;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: #FFFFFF;
  border-bottom-color: #FFFFFF;
  font-family: "LucidaGrandeBold";
}
.moreinfo2 a:hover {
  text-decoration: none;
  color: #3d4e53;
}
/*end the 2greenpanel*/
.read {
  margin: 15px auto 5px auto;
  padding: 0px;
  width: 140px;
  color: #8dc63f;
  height: 40px;
  line-height: 25px;
  float: left;
  position: absolute;
  bottom: -15px;
}
.read p {
  margin: 0px;
  padding: 10px 3px;
  width: 50px;
  font-size: 10pt;
  float: left;
}
.read img {
  padding: 5px 0px;
  margin: 0px;
  float: left;
}
.right_add {
  padding: 10px;
  margin: 0px;
  float: right;
}
p.right_add {
  float: right;
  padding: 10px 10px 0 0;
  width: 24px;
}
/**/
.read2 {
  margin: 15px auto;
  padding: 0px;
  width: 130px;
  color: #8dc63f;
  height: 40px;
  line-height: 25px;
}
.read2 p {
  margin: 0px;
  padding: 10px 3px;
  width: 50px;
  font-size: 10pt;
  float: left;
}
.read2 img {
  padding: 0px;
  margin: 0px;
  float: left;
}
.right_add {
  padding: 10px;
  margin: 0px;
  float: right;
}
/* --------------- ( slideout hover state ) --------------------------------------------- */
.panelview.book-thumb {
  float: left;
  position: relative;
  margin: 0px;
  padding: 0px;
  left: 0px;
}
.panelview.book-thumb img {
  z-index: 100;
  width: 120px;
  height: 182px;
}
.panelview.book-thumb span {
  position: absolute;
  bottom: 0;
  left: -10px;
  top: -5px;
  z-index: 1000;
  height: auto;
}
