@import "variables.less";

.mediaborder {
	padding: 5px;
	border: solid 5px #EDF3F4;
}

.shareclass(@sharewhere) {
	background:url("@{image-base}icons/@{sharewhere}.png") 10px center no-repeat;
	cursor: pointer;
		
	span {
		padding-left:10px;
	}
		
	&:hover {
	background:@call-to-action url("@{image-base}icons/@{sharewhere}-hover.png") 10px center no-repeat;
			
	span {
		color: #fff;
		}
	}
}

#js-page-wrap {
	overflow:hidden;
}

#main-container {
	margin-top:20px;
}

#js-leftcol .jsmodule {
	margin-bottom:10px;

	&.rounded .jsmod-content {
		   .border-radius(20px, 20px, 20px, 20px);
			background:@pale-blue;
			color: @text-blue;
			padding:10px 20px;
			font-weight:bold;
			border:none;
			margin:0;
			
			&.active0, &.active1 {
				background: #e35351;
			}

			&.active2 {
				background: #e18551;
			}

			&.active3 {
				background: #e5a956;
			}

			&.active4 {
				background: #efd45e;
			}

			&.active5 {
				background: #bbcf67;
			}

			&.active6 {
				background: @green;
			}

			span {
				display: inline-block;
				vertical-align: middle;
			}
			
			span.spacer {
				visibility: none;
			}			
		}
}

.book-detail {
	float:left;
	width:100%;
	clear:both;
	display:block;
}

.book-detail-img {
	float: left;
	margin-right:10px;
	width:151px;
	
	img {
		.mediaborder;
	}
}

.book-detail-info {
	float:left;
	/* if we want to nix the explore bar, width should be 544ish */
	width:309px;

	h2.book-name, h3.book-author, h3.book-year {
		padding:0;
		margin:0;
		line-height:normal
	}

	h2.book-name {
		font-size:18px;
		text-transform:capitalize;
		font-weight:bold;
		color:@text-blue;
	}

	h3.book-author, h3.book-year {
		font-size:12px;
		font-weight:normal;
		color:@medium-blue;
	}
	
	> div {
		width:100%;
		clear:both;
		display:block;
		overflow:hidden;
		border-top:1px solid @pale-blue;
		padding:10px 0;
	}
	
	.find-book {
		margin-top:15px;
		
		label {
			float:left;
			line-height:31px;
		}
	}
	
	.find-link {
		float:right;
		
		a {
			padding: 0 0 0 4px;			
		}
	}
	
	.pledged-info {
		padding:0;
	}
	
	.pledged-group {
		padding:10px 40px 10px 0;
		float:left;
	}
	
	.status {
		float: right;
		margin-top: 11px;
	}
	
	.btn_support input {
		background:url("@{image-base}btn_bg.png") 0 0 no-repeat;
		width:104px;
		height:41px;
		display:block;
		color:#fff;
		font-weight:bold;
		text-align:center;
		border:none;
	}

}


#tabs{ 
	border-bottom: 4px solid @medium-blue;
    clear: both;
    float: left;
    margin-top: 10px;
    width: 100%;

	ul.book-list-view {
		margin-bottom:4px !important;
	}
}

#tabs-2, #tabs-3, #tabs-4 {
	display:none;
}

ul.tabs {
	float:left;
	padding:0;
	margin:0;
	list-style:none;
	
	li {
		float: left;
		.height(46px);
		margin-right:2px;
		margin-bottom:1px;
		
		a { 
			.height(46px);
			display:block;
			text-align:center;
			padding:0 10px;
			min-width:80px;
			.border-radius(7px, 7px, 0, 0);
			background:@blue-grey;
			color:@text-blue;
		}
		
		a:hover, &.active a {
			background:@medium-blue;
			color:#fff;
		}
	}

}

#js-rightcol {
	float:right;
	width:235px;
	margin-bottom: 20px;
	
	h3.jsmod-title {
		background:@medium-blue-grey;
		.border-radius(10px, 10px, 10px, 10px);
		padding:10px;
		height:auto;
		font-style:normal;
		font-size:14px;
		margin:0 0 10px 0;
		color: white;
		
		span {
			padding:0;
			color:#fff;
			font-style:normal;
		}
	}

	.jsmodule {
		margin-bottom:10px;
	}	
}

.js-rightcol-pad {
	border:1px solid @blue-grey;
	.border-radius(10px, 10px, 10px, 10px);
	padding:10px;
} 

#js-maincol {
	float:left;
	/* If we want to nuke the explore column, width should be 705ish */
	width:470px;
	margin:0 10px;

	div.content-block { 
		background: none;
		padding:0;
	}
}

div.content-block-content {
  padding-left: 5px;
}

.tabs-content {
	padding-right: 5px;
	
	iframe {
		.mediaborder;
	}
}

ul.social li {
	padding:5px 0 5px 30px;
	.height(28px);
	
	a {
		padding-left: 10px;
	}

	&.facebook {
		.shareclass("facebook");
	}
	
	&.twitter {
		.shareclass("twitter");
	}
	
	&.email {
		.shareclass("email");
	}
	
	&.embed {
		.shareclass("embed");
	}
	
}

#widgetcode {
	display: none;
	border:1px solid @blue-grey;
	.border-radius(10px, 10px, 10px, 10px);
	padding:10px;
}

ul.support li {
	border-bottom:1px solid @blue-grey;
	padding:10px 5px 10px 10px;
	background:url("@{image-base}icons/pledgearrow.png") 98% center no-repeat;
	
	span {
		display:block;
		padding-right:10px;

		&.menu-item-price { 
			font-size:18px;
		}
	}
	
	&:hover {
		color: #fff;
		background:@call-to-action url("@{image-base}icons/pledgearrow-hover.png") 98% center no-repeat;
		a {
			color: #fff;
		}
	}
}

.work_supporter {
	height: 50px;
	margin-top: 5px;
	vertical-align: middle;
	margin-left:-5px;
	
	.work_supporter_avatar {
		float: left;
	}
	
	.work_supporter_name {
		.height(50px);
		float: left;
		margin-left: 5px;
	}
}

/* this line differs from sitewide.css. should it? */
a{ color:#3d4e53; font-size:12px;}

.add-wishlist, &.remove-wishlist, &.on-wishlist, &.create-account {
	margin-right: 10px;
	padding-right: 10px;
	width: 136px;
	float: left;
	cursor: pointer;
            
	span {
    	font-weight:normal;
        color:@text-blue;
        text-transform: none;
        padding-left:20px;
        
        &.on-wishlist {
    		background:url("@{image-base}checkmark_small.png") left center no-repeat;
        }
	}
}

.add-wishlist span, .create-account span {
    background:url("@{image-base}booklist/add-wishlist.png") left center no-repeat;
}

.remove-wishlist span {
    background:url("@{image-base}booklist/remove-wishlist-blue.png") left center no-repeat;
}

.editions {
	clear: both;
	
	div {
		float:left;
		padding-bottom: 5px;
	}
	
    .metadata { 
    	display:block;
        overflow: hidden;
        margin-left: 5px;
    }
}