@import "variables.less";

.download_container {
	width: 50%;
	margin: auto;
}

#lightbox a {
	color: @medium-blue;
}

.ebook_download {
	a {
		margin: auto 5px auto 0;
		font-size: @font-size-larger;
	}
	
	img {
		vertical-align: middle;
	}
	
	margin-bottom: 15px;	
	
}

.logo {
	img {
		.one-border-radius(7px);
		height: 50px;
		width: 50px;
		margin-right: 5px;
	}
	
	font-size: @font-size-larger;
}

.unglued {
	border: solid 2px @call-to-action;
	margin-left: -2px;
	padding: 5px;
	
	h3 {
		margin-top: 5px;
	}
}

a.add-wishlist .on-wishlist, a.success, a.success:hover {
	text-decoration: none;
	color: @text-blue;
}

ul {
	padding-left: 50px; 
	
	li {
		margin-bottom: 4px;
	}
}
a.success, a.success:hover {
	cursor: default;
}