@import "variables.less";

.learnmore_block { 
	float: left;
	width:100%; 
	clear:both;
	border-top: solid 1px @bright-blue;
	margin-top: 20px;
	
	.quicktour {
		width: 270px;
		float: left;
		font-style: italic;
		line-height:20px;
		font-size:13px;
		margin-top: 20px;
	
		.highlight {
			font-weight: bold;
		}
	
		&.last {
			padding-right:0px;
			width:270px;
			
			.signup {
				color: @call-to-action;
				font-weight: bold;
				margin-top: 10px;
				
				img {
					margin-left: 5px;
					vertical-align: middle;
					margin-bottom: 3px;
				}
			}
		}
	}
	
	.movingrightalong {
		background: url("@{image-base}landingpage/quicktour-arrow.png") no-repeat center;
		height: 100px;
		width: 75px;
		float: left;
		margin-top: 20px;
	}	
}

#block-intro-text div {
	display: none;
	line-height: 25px;
	padding-bottom: 10px;
	
	&#active {
		display: inherit;
	}
}

.signuptoday {
    a {
        background: url("/static/images/icons/pledgearrow-hover.png") right center no-repeat;
        padding-right: 17px;
    	color: white;
        
        &:hover {
        	text-decoration: none;
        }
    }
                    
	.one-border-radius(32px);
    background-color: @call-to-action;
    padding:0 15px;
    .height(36px);
    float: left;
    clear: both;
    margin: 10px auto;
    cursor: pointer;
    font-style: normal;
}