@import "variables.less";

#content-block .jsmod-content, .book-detail {
	float: left;
	width: auto;
}

#pledgesubmit {
	float: right;
	font-size: 17px;
	margin: 10px;
	cursor: pointer;
}

.pledge_amount {
	padding: 10px;
	font-size: 17px;
	background: @pale-blue;
}

form.pledgeform {
	width: 470px;
}

#id_preapproval_amount {
	width: 50%;
	line-height: 30px;
	font-size: 16px;
}

ul.support li, ul.support li:hover {
	background-image: none;
}

p {
	margin: 7px auto;
}

.jsmodule.pledge {
	margin: auto;
	
	.jsmod-content {
		float: right !important;
	}
}