@import "variables.less";

#content-block .jsmod-content, .book-detail {
	float: left;
	width: auto;
}

#pledgesubmit {
	float: right;
	font-size: 17px;
	margin: 10px;
	cursor: pointer;
}

.pledge_amount {
	margin: auto auto 10px 10px;
	font-size: 17px;
}

form {
	margin-top: 10px;
	padding-top: 10px;
	border-top: solid 2px @blue-grey;
}

#id_preapproval_amount {
	width: 50%;
	line-height: 30px;
	font-size: 16px;
}

ul.support li, ul.support li:hover {
	background-image: none;
}

.faq, .answer {
	text-transform: none !important;
}

.faq {
	cursor: pointer;
	
	&:hover {
		text-decoration: underline;
	}
}