.errorlist {color: red}

#registration {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    margin-top: 5%;
}

#registration input[type="submit"] {
    margin-left: auto;
    margin-right: auto;
    padding: 5px 15px;
}