/* variables and mixins used in multiple less files go here */
@text-blue: #3d4e53;
@medium-blue: #6994a3;
@pale-blue: #edf3f4;
@green: #8dc63f;
@call-to-action: #8dc63f;
@dark-green: #73a334;
@dark-blue: #37414d;
@blue-grey: #d6dde0;
@image-base: "/static/images/";
@background-header: "@{image-base}bg.png";
@background-body: "@{image-base}bg-body.png";
@background-booklist: "@{image-base}booklist/bg.png";

.header-text {
	height:36px;
	line-height:36px;
	display:block;
	text-decoration:none;
	font-weight:bold;
	font-size:13px;
	letter-spacing: -.05em;
}

.border-radius(@topleft, @topright, @bottomright, @bottomleft) {
  -moz-border-radius: @arguments;
  -webkit-border-radius: @arguments;
  border-radius: @arguments;
}

.panelborders {
	border-width: 1px 0px;
	border-style: solid none;
	border-color: #FFFFFF;
}

.navigation-arrows(@x, @y) {
	background:url(@background-booklist) @x @y no-repeat;
	width:10px;
	height:15px;
	display:block;
	text-indent:-10000px;
}

.supporter-color-span(@hex, @color) {
	@url: %("%sheader-button-%s.png", @image-base, @color);
	background:@hex url(@url) left bottom repeat-x;	
}

.height(@x) {
	height:@x; 
	line-height:@x; 
}
