{% extends "notification/notice_template.html" %}
{% load humanize %}
{% with transaction.campaign.work.title as title %}

{% block comments_book %}
			<a href="{% url work transaction.campaign.work.id %}"><img src="{{ transaction.campaign.work.cover_image_small }}" alt="cover image for {{ title }}" /></a>
{% endblock %}

{% block comments_book %}
			Your pledge for the campaign to unglue {{ title }} has been {% if up_or_down == 'canceled'%}canceled{% else %}modified{% endif %}.
{% endblock %}

{% if up_or_down == 'canceled' %}
	{% block comments_book %}
		Your canceled pledge was as follows:<br />
		Amount: ${{ transaction.amount|intcomma }}<br />
		Premium: {% if transaction.premium %}{{ transaction.premium.description }}{% else %}None requested{% endif %}<br />
	{% endblock %}

{% else %}
	{% block comments_book %}
		Your new pledge is as follows:<br />
		Amount: ${{ transaction.amount|intcomma }}<br />
		Premium: {% if transaction.premium %}{{ transaction.premium.description }}{% else %}None requested{% endif %}<br />
		Thank you for your continued support of {{ title }}.
	{% endblock %}
{% endif %}

{% endwith %}