/* variables and mixins used in multiple less files go here */
.header-text {
  height: 36px;
  line-height: 36px;
  display: block;
  text-decoration: none;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: -0.05em;
}
.panelborders {
  border-width: 1px 0px;
  border-style: solid none;
  border-color: #FFFFFF;
}
.mediaborder {
  padding: 5px;
  border: solid 5px #EDF3F4;
}
.google_signup_div {
  padding: 14px 0;
}
.google_signup_div div {
  height: 24px;
  line-height: 24px;
  float: left;
  padding-left: 5px;
}
.google_signup_div img {
  float: left;
  height: 24px;
  width: 24px;
}
.actionbuttons {
  width: auto;
  height: 36px;
  line-height: 36px;
  background: #8dc63f;
  -moz-border-radius: 32px;
  -webkit-border-radius: 32px;
  border-radius: 32px;
  color: white;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  padding: 0 15px;
  border: none;
  margin: 5px 0;
}
/* Local variables */
.greenpanelstuff {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  width: 120px;
  line-height: 16px;
}
.greenpanelactionborders {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: #FFFFFF;
  border-bottom-color: #FFFFFF;
}
.panelhoverlink {
  text-decoration: none;
  color: #3d4e53;
}
.readit {
  width: 118px;
  height: 35px;
  padding: 0px 0px;
  background: #FFFFFF;
  margin: 0px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #81bb38;
}
/* background */
@charset "utf-8";
* {
  padding: 0px;
  margin: 0px;
}
#main-wrapper {
  height: 100%;
  width: 725px;
  margin: 0px;
  padding: 0px 0px;
}
.panelview.tabs {
  padding: 5px 0px;
  margin: 0px;
  width: 142px;
  float: left;
}
.panelview.tabs span.active {
  padding: 15px;
  margin: 15px 0px;
  font-weight: bold;
}
/* styling of front side elements */
.panelview.book-list {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  width: 120px;
  line-height: 16px;
  margin: auto;
  padding: 0px 5px 5px 5px;
  height: 300px;
  background-color: #ffffff;
  color: #3d4e53;
  border: 5px solid #edf3f4;
  position: relative;
}
.panelview.book-list:hover {
  color: #3d4e53;
}
.panelview.book-list img {
  padding: 5px 0px;
  margin: 0px;
}
.panelview.remove-wishlist,
.panelview.on-wishlist,
.panelview.create-account,
.panelview.add-wishlist {
  display: none;
}
.panelview.book-name div {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 16px;
  max-height: 32px;
  color: #3d4e53;
  overflow: hidden;
}
.panelview.booklist-status {
  display: none;
}
.panelview.icons {
  position: absolute;
  bottom: -3px;
  width: 140px;
}
.panelview.icons .booklist-status-img {
  float: left;
}
.panelview.icons .booklist-status-label {
  position: absolute;
  color: #8dc63f;
  padding-left: 5px;
  left: 40px;
  bottom: 5px;
}
.panelview.icons .panelnope {
  display: none;
}
.panelview.icons .rounded {
  margin-bottom: 7px;
}
.panelview.boolist-ebook a {
  display: none;
}
/* switch to/from hover state when jquery swaps class names */
div.panelview.side1 {
  display: visible;
}
div.panelview.side2 {
  display: none;
}
/* styling of hover state */
.panelback {
  position: relative;
}
.greenpanel2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  width: 120px;
  line-height: 16px;
  margin: 0;
  padding: 10px;
  height: 295px;
  background-color: #8dc63f;
  color: #fff;
  position: absolute;
  top: -5px;
  left: -10px;
}
.greenpanel_top {
  height: 135px;
}
/* Campaign status text at top of hover state */
.unglued_white {
  font-size: 12px;
  margin: 0px auto 10px auto;
  padding: 5px 0 10px 0;
  height: 58px;
}
/* White-background action buttons; vary by state of campaign */
.read_itbutton {
  width: 118px;
  height: 35px;
  padding: 0px 0px;
  background: #FFFFFF;
  margin: 0px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #81bb38;
}
.read_itbutton a {
  line-height: 40px;
  font-size: 11px;
  background-repeat: no-repeat;
  background-position: 10px center;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0px 0px 0px 30px;
  color: #73a334;
  background: url("/static/images/book-panel/book_icon.png") no-repeat 10% center;
}
.read_itbutton a:hover {
  text-decoration: none;
}
.read_itbutton a:hover {
  text-decoration: none;
  color: #3d4e53;
}
.read_itbutton.pledge {
  background-image: url("/static/images/icons/pledgearrow-green.png");
  background-repeat: no-repeat;
  background-position: 90% center;
}
.read_itbutton.pledge a {
  line-height: 35px;
  font-size: 11px;
  background-repeat: no-repeat;
  background-position: 10px center;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0px 0px 0px 25px;
  color: #73a334;
  background: none;
}
.read_itbutton.pledge a:hover {
  text-decoration: none;
}
.read_itbutton.pledge a:hover {
  text-decoration: none;
  color: #3d4e53;
}
.read_itbutton_fail {
  width: 118px;
  height: 35px;
  padding: 0px 0px;
  background: #FFFFFF;
  margin: 0px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #81bb38;
}
.read_itbutton_fail span {
  line-height: 40px;
  font-size: 11px;
  background-repeat: no-repeat;
  background-position: 10px center;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0px 0px 0px 15px;
  color: #73a334;
  background: none;
}
.read_itbutton_fail span:hover {
  text-decoration: none;
}
.Unglue_itbutton {
  width: 118px;
  height: 35px;
  padding: 0px 0px;
  background: #FFFFFF;
  margin: 0px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #81bb38;
}
.Unglue_itbutton a {
  background-image: url("/static/images/book-panel/unglue_icon.png");
  line-height: 40px;
  font-size: 11px;
  background-repeat: no-repeat;
  background-position: 10px center;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0px 0px 0px 25px;
  color: #73a334;
}
.Unglue_itbutton a:hover {
  text-decoration: none;
}
.moreinfo.add-wishlist, .moreinfo.create-account {
  width: 120px;
  height: 30px;
  padding: 0px;
  margin: 10px 0 0 0;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: #FFFFFF;
  border-bottom-color: #FFFFFF;
  background: url("/static/images/book-panel/add_wish_icon.png") no-repeat left center;
  padding-right: 0;
}
.moreinfo.add-wishlist a,
.moreinfo.create-account a,
.moreinfo.add-wishlist span,
.moreinfo.create-account span {
  line-height: 30px;
  font-size: 11px;
  background-repeat: no-repeat;
  background-position: left center;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 5px 0 21px;
  color: #FFF;
}
.moreinfo.add-wishlist a:hover,
.moreinfo.create-account a:hover,
.moreinfo.add-wishlist span:hover,
.moreinfo.create-account span:hover {
  text-decoration: none;
  color: #3d4e53;
}
.moreinfo.remove-wishlist {
  width: 120px;
  height: 30px;
  padding: 0px;
  margin: 10px 0 0 0;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: #FFFFFF;
  border-bottom-color: #FFFFFF;
  background: url("/static/images/booklist/remove-wishlist-white.png") no-repeat left center;
}
.moreinfo.remove-wishlist a, .moreinfo.remove-wishlist span {
  line-height: 30px;
  font-size: 11px;
  background-repeat: no-repeat;
  background-position: left center;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 5px 0 21px;
  color: #FFF;
}
.moreinfo.remove-wishlist a:hover, .moreinfo.remove-wishlist span:hover {
  text-decoration: none;
  color: #3d4e53;
}
.moreinfo.on-wishlist {
  width: 120px;
  height: 30px;
  padding: 0px;
  margin: 10px 0 0 0;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: #FFFFFF;
  border-bottom-color: #FFFFFF;
  background: url("/static/images/checkmark_small-white.png") no-repeat left center;
}
.moreinfo.on-wishlist a, .moreinfo.on-wishlist span {
  line-height: 30px;
  font-size: 11px;
  background-repeat: no-repeat;
  background-position: left center;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 5px 0 21px;
  color: #FFF;
}
.moreinfo.on-wishlist a:hover, .moreinfo.on-wishlist span:hover {
  text-decoration: none;
  color: #3d4e53;
}
/* title, author */
.white_text {
  width: 120px;
  height: 45px;
  padding: 15px 0px;
  margin: 0px;
}
.white_text a {
  color: #FFFFFF;
  text-decoration: none;
}
.white_text a:hover {
  text-decoration: none;
  color: #3d4e53;
}
.white_text p {
  /* necessary to ensure title/author don't overflow onto icons */

  line-height: 16px;
  max-height: 32px;
  overflow: hidden;
}
.moreinfo {
  width: 120px;
  height: 30px;
  padding: 0px;
  margin: 10px 0 0 0;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: #FFFFFF;
  border-bottom-color: #FFFFFF;
  background: url("/static/images/book-panel/more_icon.png") no-repeat left center;
  cursor: pointer;
}
.moreinfo a, .moreinfo span {
  line-height: 30px;
  font-size: 11px;
  background-repeat: no-repeat;
  background-position: left center;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 0 0 21px;
  color: #FFF;
}
.moreinfo a:hover, .moreinfo span:hover {
  text-decoration: none;
  color: #3d4e53;
}
.moreinfo > div {
  height: 30px;
  line-height: 30px;
  padding-bottom: 8px;
}
/*end the 2greenpanel*/
.read {
  margin: 15px auto 5px auto;
  padding: 0px;
  width: 140px;
  color: #8dc63f;
  height: 40px;
  line-height: 25px;
  float: left;
  position: absolute;
  bottom: -15px;
}
.read p {
  margin: 0px;
  padding: 10px 3px;
  width: 50px;
  font-size: 10pt;
  float: left;
}
.read img {
  padding: 5px 0px;
  margin: 0px;
  float: left;
}
/**/
.read2 {
  margin: 15px auto;
  padding: 0px;
  width: 130px;
  color: #8dc63f;
  height: 40px;
  line-height: 25px;
}
.read2 p {
  margin: 0px;
  padding: 10px 3px;
  width: 50px;
  font-size: 10pt;
  float: left;
}
.read2 img {
  padding: 0px;
  margin: 0px;
  float: left;
}
.right_add {
  padding: 10px;
  margin: 0px;
  float: right;
}
/* --------------- ( slideout hover state ) --------------------------------------------- */
.panelview.book-thumb {
  position: relative;
  margin: 0px;
  padding: 0px;
  left: 0px;
}
.panelview.book-thumb img {
  z-index: 100;
  width: 120px;
  height: 182px;
}
.panelview.book-thumb span {
  position: absolute;
  bottom: 0;
  left: -10px;
  top: -5px;
  z-index: 1000;
  height: auto;
}
