/* variables and mixins used in multiple less files go here */
.header-text {
  height: 36px;
  line-height: 36px;
  display: block;
  text-decoration: none;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: -0.05em;
}
.panelborders {
  border-width: 1px 0px;
  border-style: solid none;
  border-color: #FFFFFF;
}
/* Local variables */
.greenpanelstuff {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  width: 120px;
  line-height: 16px;
}
.greenpanelactionborders {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: #FFFFFF;
  border-bottom-color: #FFFFFF;
}
.panelhoverlink {
  text-decoration: none;
  color: #3d4e53;
}
.readit {
  width: 118px;
  height: 35px;
  padding: 0px 0px;
  background: #FFFFFF;
  margin: 0px;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  border: 1px solid #81bb38;
}
/* background */
@charset "utf-8";
* {
  padding: 0px;
  margin: 0px;
}
#main-wrapper {
  height: 100%;
  width: 725px;
  margin: 0px;
  padding: 0px 0px;
}
.panelview.tabs {
  padding: 5px 0px;
  margin: 0px;
  width: 142px;
  float: left;
}
.panelview.tabs span.active {
  padding: 15px;
  margin: 15px 0px;
  font-weight: bold;
}
/* styling of front side elements */
.panelview.book-list {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  width: 120px;
  line-height: 16px;
  margin: auto;
  padding: 0px 5px 5px 5px;
  height: 300px;
  background-color: #ffffff;
  color: #3d4e53;
  border: 5px solid #edf3f4;
  position: relative;
}
.panelview.book-list:hover {
  color: #3d4e53;
}
.panelview.book-list img {
  padding: 5px 0px;
  margin: 0px;
}
.panelview.remove-wishlist,
.panelview.on-wishlist,
.panelview.create-account,
.panelview.add-wishlist {
  display: none;
}
.panelview.book-name div {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 16px;
  max-height: 32px;
  color: #3d4e53;
  overflow: hidden;
}
.panelview.booklist-status {
  color: #8dc63f;
  text-align: left;
}
.panelview.booklist-status .booklist-status-label {
  float: left;
  font-weight: bold;
}
.panelview.icons {
  position: absolute;
  bottom: -3px;
  width: 140px;
}
.panelview.icons .booklist-status-img {
  float: left;
}
.panelview.icons .booklist-status-label {
  position: absolute;
  color: #8dc63f;
  padding-left: 5px;
  left: 40px;
  bottom: 5px;
}
.panelview.icons .right_add {
  float: right;
  padding: 10px 10px 0 0;
  width: 24px;
}
.panelview.boolist-ebook a {
  display: none;
}
/* switch to/from hover state when jquery swaps class names */
span.panelview.panelback.side1, span.panelview.panelback.side1 div {
  display: visible;
}
span.panelview.panelback.side2, span.panelview.panelback.side2 div {
  display: none;
}
div.panelview.side1 > div {
  display: visible;
}
div.panelview.side2 > div {
  display: none;
}
/* styling of hover state */
.panelback {
  position: relative;
}
.greenpanel2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  width: 120px;
  line-height: 16px;
  margin: 10px auto 0;
  padding: 10px;
  height: 295px;
  background-color: #8dc63f;
  color: #fff;
  position: absolute;
  top: -5px;
  left: -10px;
}
/* Campaign status text at top of hover state */
.unglued_white {
  font-size: 12px;
  margin: 0px  auto;
  margin-bottom: 5px;
  padding: 10px 0px;
  height: 48px;
}
/* White-background action buttons; vary by state of campaign */
.read_itbutton {
  width: 118px;
  height: 35px;
  padding: 0px 0px;
  background: #FFFFFF;
  margin: 0px;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  border: 1px solid #81bb38;
}
.read_itbutton a {
  line-height: 40px;
  font-size: 11px;
  background-repeat: no-repeat;
  background-position: 10px center;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0px 0px 0px 30px;
  color: #73a334;
  background: url("/static/images/book-panel/book_icon.png") no-repeat 10% center;
}
.read_itbutton a:hover {
  text-decoration: none;
}
.read_itbutton_fail {
  width: 118px;
  height: 35px;
  padding: 0px 0px;
  background: #FFFFFF;
  margin: 0px;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  border: 1px solid #81bb38;
}
.read_itbutton_fail span {
  line-height: 40px;
  font-size: 11px;
  background-repeat: no-repeat;
  background-position: 10px center;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0px 0px 0px 15px;
  color: #73a334;
  background: none;
}
.read_itbutton_fail span:hover {
  text-decoration: none;
}
.Unglue_itbutton {
  width: 118px;
  height: 35px;
  padding: 0px 0px;
  background: #FFFFFF;
  margin: 0px;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  border: 1px solid #81bb38;
}
.Unglue_itbutton a {
  background-image: url("/static/images/book-panel/unglue_icon.png");
  line-height: 40px;
  font-size: 11px;
  background-repeat: no-repeat;
  background-position: 10px center;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0px 0px 0px 25px;
  color: #73a334;
}
.Unglue_itbutton a:hover {
  text-decoration: none;
}
.add_towish {
  width: 120px;
  height: 30px;
  padding: 0px;
  margin: 15px 0 15px 0;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: #FFFFFF;
  border-bottom-color: #FFFFFF;
  background-image: url("/static/images/book-panel/add_wish_icon.png");
}
.add_towish a {
  line-height: 40px;
  font-size: 11px;
  background-repeat: no-repeat;
  background-position: left center;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 5px 0 21px;
  color: #FFF;
}
.add_towish a:hover {
  text-decoration: none;
  color: #3d4e53;
}
/* title, author */
.white_text {
  width: 130px;
  height: 40px;
  padding: 17px 0px;
  margin: 0px;
}
.white_text a {
  color: #FFFFFF;
  text-decoration: none;
}
.white_text a:hover {
  text-decoration: none;
  color: #3d4e53;
}
.white_text p {
  /* necessary to ensure title/author don't overflow onto icons */

  line-height: 16px;
  max-height: 32px;
  overflow: hidden;
}
.moreinfo {
  width: 120px;
  height: 30px;
  padding: 0px;
  margin: 15px 0 0 0;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: #FFFFFF;
  border-bottom-color: #FFFFFF;
  background-image: url("/static/images/book-panel/more_icon.png") no-repeat 10% center;
}
.moreinfo a {
  line-height: 40px;
  font-size: 11px;
  background-repeat: no-repeat;
  background-position: left center;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 0 0 21px;
  color: #FFF;
}
.moreinfo a:hover {
  text-decoration: none;
  color: #3d4e53;
}
.moreinfo > div {
  height: 30px;
  line-height: 30px;
  padding-bottom: 8px;
}
/* styling of hover state when book has not been unglued, and a bunch of stuff I haven't figured out yet */
.add_towish2 {
  width: 130px;
  height: 30px;
  padding: 0px 0px;
  margin: 15px auto;
}
.add_towish2 a {
  line-height: 40px;
  font-size: 11px;
  background-repeat: no-repeat;
  background-position: left center;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  background-image: url("/static/images/book-panel/add_gray.png");
  padding: 8px 0px;
  padding-left: 20px;
  color: #3d4e53;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: #FFFFFF;
  border-bottom-color: #FFFFFF;
  font-family: "LucidaGrandeBold";
}
.add_towish2 a:hover {
  text-decoration: none;
}
.white_text2 {
  width: 130px;
  height: 40px;
  padding: 13px 0px;
  margin: 0px;
}
.white_text2 a, a:hover {
  text-decoration: none;
  color: #3d4e53;
}
/*more info*/
.moreinfo2 {
  width: 130px;
  height: 30px;
  padding: 0px 20px 0px 0px;
  margin: 15px auto;
}
.moreinfo2 a {
  line-height: 40px;
  font-size: 12px;
  background-image: url("/static/images/book-panel/gray_more_info.png");
  background-repeat: no-repeat;
  background-position: left center;
  padding: 8px 35px;
  font-weight: bold;
  padding-left: 20px;
  color: #3d4e53;
  text-decoration: none;
  text-transform: uppercase;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: #FFFFFF;
  border-bottom-color: #FFFFFF;
  font-family: "LucidaGrandeBold";
}
.moreinfo2 a:hover {
  text-decoration: none;
  color: #3d4e53;
}
/*end the 2greenpanel*/
.read {
  margin: 15px auto 5px auto;
  padding: 0px;
  width: 140px;
  color: #8dc63f;
  height: 40px;
  line-height: 25px;
  float: left;
  position: absolute;
  bottom: -15px;
}
.read p {
  margin: 0px;
  padding: 10px 3px;
  width: 50px;
  font-size: 10pt;
  float: left;
}
.read img {
  padding: 5px 0px;
  margin: 0px;
  float: left;
}
.right_add {
  padding: 10px;
  margin: 0px;
  float: right;
}
p.right_add {
  float: right;
  padding: 10px 10px 0 0;
  width: 24px;
}
/**/
.read2 {
  margin: 15px auto;
  padding: 0px;
  width: 130px;
  color: #8dc63f;
  height: 40px;
  line-height: 25px;
}
.read2 p {
  margin: 0px;
  padding: 10px 3px;
  width: 50px;
  font-size: 10pt;
  float: left;
}
.read2 img {
  padding: 0px;
  margin: 0px;
  float: left;
}
.right_add {
  padding: 10px;
  margin: 0px;
  float: right;
}
/* --------------- ( slideout hover state ) --------------------------------------------- */
.panelview.book-thumb {
  position: relative;
  margin: 0px;
  padding: 0px;
  left: 0px;
}
.panelview.book-thumb img {
  z-index: 100;
  width: 120px;
  height: 182px;
}
.panelview.book-thumb span {
  position: absolute;
  bottom: 0;
  left: -10px;
  top: -5px;
  z-index: 1000;
  height: auto;
}
