/* variables and mixins used in multiple less files go here */
.header-text {
  height: 36px;
  line-height: 36px;
  display: block;
  text-decoration: none;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: -0.05em;
}
.panelborders {
  border-width: 1px 0px;
  border-style: solid none;
  border-color: #FFFFFF;
}
.mediaborder {
  padding: 5px;
  border: solid 5px #EDF3F4;
}
.google_signup_div {
  padding: 14px 0;
}
.google_signup_div div {
  height: 32px;
  line-height: 32px;
  float: left;
  padding-left: 5px;
}
.google_signup_div img {
  float: left;
}
.actionbuttons {
  width: auto;
  height: 36px;
  line-height: 36px;
  background: #8dc63f;
  -moz-border-radius: 32px;
  -webkit-border-radius: 32px;
  border-radius: 32px;
  color: white;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  padding: 0 15px;
  border: none;
  margin: 5px 0;
}
#js-page-wrap {
  overflow: hidden;
}
#main-container {
  margin-top: 20px;
}
#js-leftcol .jsmodule {
  margin-bottom: 10px;
}
#js-leftcol .jsmodule.rounded .jsmod-content {
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  background: #edf3f4;
  color: #3d4e53;
  padding: 10px 20px;
  font-weight: bold;
  border: none;
  margin: 0;
}
#js-leftcol .jsmodule.rounded .jsmod-content.active0, #js-leftcol .jsmodule.rounded .jsmod-content.active1 {
  background: #e35351;
}
#js-leftcol .jsmodule.rounded .jsmod-content.active2 {
  background: #e18551;
}
#js-leftcol .jsmodule.rounded .jsmod-content.active3 {
  background: #e5a956;
}
#js-leftcol .jsmodule.rounded .jsmod-content.active4 {
  background: #efd45e;
}
#js-leftcol .jsmodule.rounded .jsmod-content.active5 {
  background: #bbcf67;
}
#js-leftcol .jsmodule.rounded .jsmod-content.active6 {
  background: #8dc63f;
}
#js-leftcol .jsmodule.rounded .jsmod-content span {
  display: inline-block;
  vertical-align: middle;
}
#js-leftcol .jsmodule.rounded .jsmod-content span.spacer {
  visibility: none;
}
.book-detail {
  float: left;
  width: 100%;
  clear: both;
  display: block;
}
.book-detail-img {
  float: left;
  margin-right: 10px;
  width: 151px;
}
.book-detail-img img {
  padding: 5px;
  border: solid 5px #EDF3F4;
}
.book-detail-info {
  float: left;
  /* if we want to nix the explore bar, width should be 544ish */

  width: 309px;
}
.book-detail-info h2.book-name, .book-detail-info h3.book-author, .book-detail-info h3.book-year {
  padding: 0;
  margin: 0;
  line-height: normal;
}
.book-detail-info h2.book-name {
  font-size: 18px;
  text-transform: capitalize;
  font-weight: bold;
  color: #3d4e53;
}
.book-detail-info h3.book-author, .book-detail-info h3.book-year {
  font-size: 12px;
  font-weight: normal;
  color: #6994a3;
}
.book-detail-info > div {
  width: 100%;
  clear: both;
  display: block;
  overflow: hidden;
  border-top: 1px solid #edf3f4;
  padding: 10px 0;
}
.book-detail-info > div.layout {
  border: none;
  padding: 0;
}
.book-detail-info > div.layout div.pubinfo {
  float: left;
  width: auto;
}
.book-detail-info > div.layout div.btn_support {
  float: right;
}
.book-detail-info > div.layout div.btn_support input {
  background: url("/static/images/btn_bg.png") 0 0 no-repeat;
  width: 104px;
  height: 41px;
  display: block;
  color: #fff;
  font-weight: bold;
  text-align: center;
  border: none;
  padding: 0;
  cursor: pointer;
}
.book-detail-info > div.layout div.btn_support.modify input {
  background: url("/static/images/btn_bg_grey.png") 0 0 no-repeat;
}
.book-detail-info .btn_wishlist span {
  text-align: right;
}
.book-detail-info .find-book {
  margin-top: 15px;
}
.book-detail-info .find-book label {
  float: left;
  line-height: 31px;
}
.book-detail-info .find-link {
  float: right;
}
.book-detail-info .find-link a {
  padding: 0 0 0 4px;
}
.book-detail-info .pledged-info {
  padding: 0;
  position: relative;
}
.book-detail-info .pledged-group {
  padding: 10px 40px 10px 0;
  float: left;
}
.book-detail-info .status {
  position: absolute;
  top: 50%;
  right: 0%;
  height: 25px;
  margin-top: -12px;
}
#tabs {
  border-bottom: 4px solid #6994a3;
  clear: both;
  float: left;
  margin-top: 10px;
  width: 100%;
}
#tabs ul.book-list-view {
  margin-bottom: 4px !important;
}
#tabs-2, #tabs-3, #tabs-4 {
  display: none;
}
ul.tabs {
  float: left;
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100%;
}
ul.tabs li {
  float: left;
  height: 46px;
  line-height: 46px;
  padding-right: 2px;
  width: 116px;
}
ul.tabs li.tabs4 {
  padding-right: 0px;
}
ul.tabs li a {
  height: 46px;
  line-height: 46px;
  display: block;
  text-align: center;
  padding: 0 10px;
  min-width: 80px;
  -moz-border-radius: 7px 7px 0 0;
  -webkit-border-radius: 7px 7px 0 0;
  border-radius: 7px 7px 0 0;
  background: #d6dde0;
  color: #3d4e53;
}
ul.tabs li a:hover {
  text-decoration: none;
}
ul.tabs li a:hover, ul.tabs li.active a {
  background: #6994a3;
  color: #fff;
}
#js-rightcol {
  float: right;
  width: 235px;
  margin-bottom: 20px;
}
#js-rightcol h3.jsmod-title {
  background: #a7c1ca;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 10px;
  height: auto;
  font-style: normal;
  font-size: 14px;
  margin: 0 0 10px 0;
  color: white;
}
#js-rightcol h3.jsmod-title span {
  padding: 0;
  color: #fff;
  font-style: normal;
}
#js-rightcol .jsmodule {
  margin-bottom: 10px;
}
.js-rightcol-pad {
  border: 1px solid #d6dde0;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 10px;
}
#js-maincol {
  float: left;
  /* If we want to nuke the explore column, width should be 705ish */

  width: 470px;
  margin: 0 10px;
}
#js-maincol div.content-block {
  background: none;
  padding: 0;
}
div.content-block-content {
  padding-left: 5px;
}
.tabs-content {
  padding-right: 5px;
}
.tabs-content iframe {
  padding: 5px;
  border: solid 5px #EDF3F4;
}
.tabs-content form {
  margin-left: -5px;
}
ul.social a:hover {
  text-decoration: none;
}
ul.social li {
  padding: 5px 0 5px 30px;
  height: 28px;
  line-height: 28px;
}
ul.social li.facebook {
  background: url("/static/images/icons/facebook.png") 10px center no-repeat;
  cursor: pointer;
}
ul.social li.facebook span {
  padding-left: 10px;
}
ul.social li.facebook:hover {
  background: #8dc63f url("/static/images/icons/facebook-hover.png") 10px center no-repeat;
}
ul.social li.facebook:hover span {
  color: #fff;
}
ul.social li.twitter {
  background: url("/static/images/icons/twitter.png") 10px center no-repeat;
  cursor: pointer;
}
ul.social li.twitter span {
  padding-left: 10px;
}
ul.social li.twitter:hover {
  background: #8dc63f url("/static/images/icons/twitter-hover.png") 10px center no-repeat;
}
ul.social li.twitter:hover span {
  color: #fff;
}
ul.social li.email {
  background: url("/static/images/icons/email.png") 10px center no-repeat;
  cursor: pointer;
}
ul.social li.email span {
  padding-left: 10px;
}
ul.social li.email:hover {
  background: #8dc63f url("/static/images/icons/email-hover.png") 10px center no-repeat;
}
ul.social li.email:hover span {
  color: #fff;
}
ul.social li.embed {
  background: url("/static/images/icons/embed.png") 10px center no-repeat;
  cursor: pointer;
}
ul.social li.embed span {
  padding-left: 10px;
}
ul.social li.embed:hover {
  background: #8dc63f url("/static/images/icons/embed-hover.png") 10px center no-repeat;
}
ul.social li.embed:hover span {
  color: #fff;
}
#widgetcode {
  display: none;
  border: 1px solid #d6dde0;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 10px;
}
ul.support li {
  border-bottom: 1px solid #d6dde0;
  padding: 10px 5px 10px 10px;
  background: url("/static/images/icons/pledgearrow.png") 98% center no-repeat;
}
ul.support li span {
  display: block;
  padding-right: 10px;
}
ul.support li span.menu-item-price {
  font-size: 18px;
}
ul.support li:hover {
  color: #fff;
  background: #8dc63f url("/static/images/icons/pledgearrow-hover.png") 98% center no-repeat;
}
ul.support li:hover a {
  color: #fff;
}
.work_supporter_nocomment {
  height: 50px;
  margin-top: 5px;
  vertical-align: middle;
  margin-left: -5px;
}
.work_supporter_avatar {
  float: left;
}
.work_supporter_name {
  height: 50px;
  line-height: 50px;
  float: left;
}
/* this line differs from sitewide.css. should it? */
a {
  color: #3d4e53;
  font-size: 12px;
}
.add-wishlist,
.add-wishlist-workpage,
.remove-wishlist-workpage,
.remove-wishlist,
.on-wishlist,
.create-account {
  float: right;
  cursor: pointer;
}
.add-wishlist span,
.add-wishlist-workpage span,
.remove-wishlist-workpage span,
.remove-wishlist span,
.on-wishlist span,
.create-account span {
  font-weight: normal;
  color: #3d4e53;
  text-transform: none;
  padding-left: 20px;
}
.add-wishlist span.on-wishlist,
.add-wishlist-workpage span.on-wishlist,
.remove-wishlist-workpage span.on-wishlist,
.remove-wishlist span.on-wishlist,
.on-wishlist span.on-wishlist,
.create-account span.on-wishlist {
  background: url("/static/images/checkmark_small.png") left center no-repeat;
}
.add-wishlist span, .add-wishlist-workpage span, .create-account span {
  background: url("/static/images/booklist/add-wishlist.png") left center no-repeat;
}
.remove-wishlist-workpage span, .remove-wishlist span {
  background: url("/static/images/booklist/remove-wishlist-blue.png") left center no-repeat;
}
.editions {
  clear: both;
}
.editions div {
  float: left;
  padding-bottom: 5px;
}
.editions .metadata {
  display: block;
  overflow: hidden;
  margin-left: 5px;
}
.editions a:hover {
  text-decoration: underline;
}
.thank-you {
  font-size: 20px;
}
.work_supporter {
  height: auto;
  min-height: 50px;
  margin-top: 5px;
  vertical-align: middle;
  margin-left: -5px;
}
.work_supporter_avatar {
  margin-right: 5px;
}
