/* variables and mixins used in multiple less files go here */
.header-text {
  height: 36px;
  line-height: 36px;
  display: block;
  text-decoration: none;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: -0.05em;
}
.panelborders {
  border-width: 1px 0px;
  border-style: solid none;
  border-color: #FFFFFF;
}
.roundedspan {
  border: 1px solid #d4d4d4;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  padding: 1px;
  color: #fff;
  margin: 0 8px 0 0;
  display: inline-block;
}
.roundedspan > span {
  padding: 7px 7px;
  min-width: 15px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  display: inline-block;
}
.roundedspan > span .hovertext {
  display: none;
}
.roundedspan > span:hover .hovertext {
  display: inline;
}
.mediaborder {
  padding: 5px;
  border: solid 5px #EDF3F4;
}
.google_signup_div {
  padding: 14px 0;
}
.google_signup_div div {
  height: 24px;
  line-height: 24px;
  float: left;
  padding-left: 5px;
}
.google_signup_div img {
  float: left;
  height: 24px;
  width: 24px;
}
.actionbuttons {
  width: auto;
  height: 36px;
  line-height: 36px;
  background: #8dc63f;
  -moz-border-radius: 32px;
  -webkit-border-radius: 32px;
  border-radius: 32px;
  color: white;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  padding: 0 15px;
  border: none;
  margin: 5px 0;
}
.errors {
  -moz-border-radius: 16px 16px 0 0;
  -webkit-border-radius: 16px 16px 0 0;
  border-radius: 16px 16px 0 0;
  border: solid #e35351 3px;
  clear: both;
  width: 90%;
  height: auto;
  line-height: 16px;
  padding: 7px 0;
  font-weight: bold;
  font-size: 13px;
  text-align: center;
}
.errors li {
  list-style: none;
  border: none;
}
/* Campaign and manage_campaign use same tab styling, so it's factored out here */
#tabs {
  border-bottom: 4px solid #6994a3;
  clear: both;
  float: left;
  margin-top: 10px;
  width: 100%;
}
#tabs ul.book-list-view {
  margin-bottom: 4px !important;
}
#tabs-1,
#tabs-2,
#tabs-3,
#tabs-4 {
  display: none;
}
#tabs-1.active,
#tabs-2.active,
#tabs-3.active,
#tabs-4.active {
  display: inherit;
}
#tabs-2 textarea {
  width: 95%;
}
ul.tabs {
  float: left;
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100%;
}
ul.tabs li {
  float: left;
  height: 46px;
  line-height: 20px;
  padding-right: 2px;
  width: 116px;
  background: none;
  margin: 0;
  padding: 0 2px 0 0;
}
ul.tabs li.tabs4 {
  padding-right: 0px;
}
ul.tabs li a {
  height: 46px;
  line-height: 18px;
  display: block;
  text-align: center;
  padding: 0 10px;
  min-width: 80px;
  -moz-border-radius: 7px 7px 0 0;
  -webkit-border-radius: 7px 7px 0 0;
  border-radius: 7px 7px 0 0;
  background: #d6dde0;
  color: #3d4e53;
}
ul.tabs li a:hover {
  text-decoration: none;
}
ul.tabs li a div {
  padding-top: 8px;
}
ul.tabs li a:hover,
ul.tabs li.active a {
  background: #6994a3;
  color: #fff;
}
/* needed for campaign, pledge, and manage_campaign */
.book-detail {
  float: left;
  width: 100%;
  clear: both;
  display: block;
}
#book-detail-img {
  float: left;
  margin-right: 10px;
  width: 151px;
}
#book-detail-img img {
  padding: 5px;
  border: solid 5px #EDF3F4;
}
.book-detail-info {
  float: left;
  /* if we want to nix the explore bar, width should be 544ish */

  width: 309px;
}
.book-detail-info h2.book-name,
.book-detail-info h3.book-author,
.book-detail-info h3.book-year {
  padding: 0;
  margin: 0;
  line-height: normal;
}
.book-detail-info h2.book-name {
  font-size: 18px;
  text-transform: capitalize;
  font-weight: bold;
  color: #3d4e53;
}
.book-detail-info h3.book-author,
.book-detail-info h3.book-year {
  font-size: 12px;
  font-weight: normal;
  color: #6994a3;
}
.book-detail-info > div {
  width: 100%;
  clear: both;
  display: block;
  overflow: hidden;
  border-top: 1px solid #edf3f4;
  padding: 10px 0;
}
.book-detail-info > div.layout {
  border: none;
  padding: 0;
}
.book-detail-info > div.layout div.pubinfo {
  float: left;
  width: auto;
  padding-bottom: 7px;
}
.book-detail-info > div.layout div.btn_support {
  float: right;
}
.book-detail-info > div.layout div.btn_support input {
  font-size: 17px;
}
.book-detail-info > div.layout div.btn_support.modify input {
  background: #d6dde0;
  font-size: 13px;
  border: double white;
  line-height: 17px;
}
.book-detail-info .btn_wishlist span {
  text-align: right;
}
.book-detail-info .find-book {
  margin-top: 15px;
}
.book-detail-info .find-book label {
  float: left;
  line-height: 31px;
}
.book-detail-info .find-link {
  float: right;
}
.book-detail-info .find-link img {
  padding: 2px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.book-detail-info .pledged-info {
  padding: 0;
  position: relative;
}
.book-detail-info .pledged-group {
  padding: 10px 40px 10px 0;
  float: left;
}
.book-detail-info .status {
  position: absolute;
  top: 50%;
  right: 0%;
  height: 25px;
  margin-top: -12px;
}
/* Common elements of share links -- just swap in the background image */
/* Page layout */
#js-page-wrap {
  overflow: hidden;
}
#main-container {
  margin-top: 20px;
}
#js-leftcol .jsmodule,
.pledge.jsmodule {
  margin-bottom: 10px;
}
#js-leftcol .jsmodule.rounded .jsmod-content,
.pledge.jsmodule.rounded .jsmod-content {
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  background: #edf3f4;
  color: #3d4e53;
  padding: 10px 20px;
  font-weight: bold;
  border: none;
  margin: 0;
  line-height: 16px;
  /* Bubble in upper left looks different depending on campaign status */

}
#js-leftcol .jsmodule.rounded .jsmod-content.ACTIVE,
.pledge.jsmodule.rounded .jsmod-content.ACTIVE {
  background: #8dc63f;
  color: white;
  font-size: 18px;
  font-weight: normal;
  line-height: 20px;
}
#js-leftcol .jsmodule.rounded .jsmod-content.No.campaign.yet,
.pledge.jsmodule.rounded .jsmod-content.No.campaign.yet {
  background: #e18551;
  color: white;
}
#js-leftcol .jsmodule.rounded .jsmod-content span,
.pledge.jsmodule.rounded .jsmod-content span {
  display: inline-block;
  vertical-align: middle;
}
#js-leftcol .jsmodule.rounded .jsmod-content span.spacer,
.pledge.jsmodule.rounded .jsmod-content span.spacer {
  visibility: none;
}
#js-leftcol .jsmodule.rounded .jsmod-content span.findtheungluers,
.pledge.jsmodule.rounded .jsmod-content span.findtheungluers {
  cursor: pointer;
}
.jsmodule.pledge {
  float: left;
  margin-left: 10px;
}
#js-slide .jsmodule {
  width: 660px !important;
}
a {
  color: #3d4e53;
  font-size: 12px;
}
#js-search {
  margin: 0 15px 0 15px !important;
}
.alert > .errorlist {
  list-style-type: none;
  font-size: 14px;
  border: none;
  text-align: left;
  font-weight: normal;
  font-size: 12px;
}
.alert > .errorlist > li {
  margin-bottom: 14px;
}
.alert > .errorlist .errorlist {
  margin-top: 7px;
}
.alert > .errorlist .errorlist li {
  width: auto;
  height: auto;
  padding-left: 32px;
  padding-right: 32px;
  font-size: 12px;
}
/* Center elements */
#js-maincol {
  float: left;
  width: 470px;
  margin: 0 10px;
}
#js-maincol div#content-block {
  background: none;
  padding: 0;
}
.status {
  font-size: 17px;
  color: #8dc63f;
}
/* Center - add/remove actions in book detail area */
.add-wishlist,
.add-wishlist-workpage,
.remove-wishlist-workpage,
.remove-wishlist,
.on-wishlist,
.create-account {
  float: right;
  cursor: pointer;
}
.add-wishlist span,
.add-wishlist-workpage span,
.remove-wishlist-workpage span,
.remove-wishlist span,
.on-wishlist span,
.create-account span {
  font-weight: normal;
  color: #3d4e53;
  text-transform: none;
  padding-left: 20px;
}
.add-wishlist span.on-wishlist,
.add-wishlist-workpage span.on-wishlist,
.remove-wishlist-workpage span.on-wishlist,
.remove-wishlist span.on-wishlist,
.on-wishlist span.on-wishlist,
.create-account span.on-wishlist {
  background: url("/static/images/checkmark_small.png") left center no-repeat;
  cursor: default;
}
.add-wishlist span,
.add-wishlist-workpage span,
.create-account span {
  background: url("/static/images/booklist/add-wishlist.png") left center no-repeat;
}
.remove-wishlist-workpage span,
.remove-wishlist span {
  background: url("/static/images/booklist/remove-wishlist-blue.png") left center no-repeat;
}
/* Center - tabs and content below them */
div#content-block-content {
  padding-left: 5px;
}
div#content-block-content a {
  color: #6994a3;
}
div#content-block-content #tabs-1 img {
  padding: 5px;
  border: solid 5px #EDF3F4;
}
.tabs-content {
  padding-right: 5px;
}
.tabs-content iframe {
  padding: 5px;
  border: solid 5px #EDF3F4;
}
.tabs-content form {
  margin-left: -5px;
}
.work_supporter {
  height: auto;
  min-height: 50px;
  margin-top: 5px;
  vertical-align: middle;
}
.work_supporter_avatar {
  float: left;
  margin-right: 5px;
}
.work_supporter_avatar img {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.work_supporter_name {
  height: 50px;
  line-height: 50px;
  float: left;
}
.work_supporter_nocomment {
  height: 50px;
  margin-top: 5px;
  vertical-align: middle;
  margin-left: -5px;
}
.official {
  border: 3px #8ac3d7 solid;
  padding: 3px;
  margin-left: -5px;
}
.editions {
  clear: both;
}
.editions div {
  float: left;
  padding-bottom: 5px;
}
.editions .image {
  width: 60px;
  overflow: hidden;
}
.editions .metadata {
  display: block;
  overflow: hidden;
  margin-left: 5px;
}
.editions a:hover {
  text-decoration: underline;
}
.show_more_edition,
.show_more_ebooks {
  cursor: pointer;
}
.show_more_edition {
  text-align: right;
}
.show_more_edition:hover {
  text-decoration: underline;
}
.more_edition {
  display: none;
  clear: both;
  padding-bottom: 10px;
  padding-left: 60px;
}
.more_ebooks {
  display: none;
}
.show_more_ebooks:hover {
  text-decoration: underline;
}
/* Right column */
#js-rightcol,
#pledge-rightcol {
  float: right;
  width: 235px;
  margin-bottom: 20px;
}
#js-rightcol h3.jsmod-title,
#pledge-rightcol h3.jsmod-title {
  background: #a7c1ca;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 10px;
  height: auto;
  font-style: normal;
  font-size: 14px;
  margin: 0 0 10px 0;
  color: white;
}
#js-rightcol h3.jsmod-title span,
#pledge-rightcol h3.jsmod-title span {
  padding: 0;
  color: #fff;
  font-style: normal;
  height: 22px;
  line-height: 22px;
}
#js-rightcol .jsmodule,
#pledge-rightcol .jsmodule {
  margin-bottom: 10px;
}
#pledge-rightcol {
  margin-top: 7px;
}
.js-rightcol-pad {
  border: 1px solid #d6dde0;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 10px;
}
/* Right column - sharing */
ul.social a:hover {
  text-decoration: none;
}
ul.social li {
  padding: 5px 0 5px 30px !important;
  height: 28px;
  line-height: 28px !important;
  margin: 0 !important;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
ul.social li.facebook {
  background: url("/static/images/icons/facebook.png") 10px center no-repeat;
  cursor: pointer;
}
ul.social li.facebook span {
  padding-left: 10px;
}
ul.social li.facebook:hover {
  background: #8dc63f url("/static/images/icons/facebook-hover.png") 10px center no-repeat;
}
ul.social li.facebook:hover span {
  color: #fff;
}
ul.social li.twitter {
  background: url("/static/images/icons/twitter.png") 10px center no-repeat;
  cursor: pointer;
}
ul.social li.twitter span {
  padding-left: 10px;
}
ul.social li.twitter:hover {
  background: #8dc63f url("/static/images/icons/twitter-hover.png") 10px center no-repeat;
}
ul.social li.twitter:hover span {
  color: #fff;
}
ul.social li.email {
  background: url("/static/images/icons/email.png") 10px center no-repeat;
  cursor: pointer;
}
ul.social li.email span {
  padding-left: 10px;
}
ul.social li.email:hover {
  background: #8dc63f url("/static/images/icons/email-hover.png") 10px center no-repeat;
}
ul.social li.email:hover span {
  color: #fff;
}
ul.social li.embed {
  background: url("/static/images/icons/embed.png") 10px center no-repeat;
  cursor: pointer;
}
ul.social li.embed span {
  padding-left: 10px;
}
ul.social li.embed:hover {
  background: #8dc63f url("/static/images/icons/embed-hover.png") 10px center no-repeat;
}
ul.social li.embed:hover span {
  color: #fff;
}
#widgetcode {
  display: none;
  border: 1px solid #d6dde0;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 10px;
}
/* Right column - support tiers */
ul.support li {
  border-bottom: 1px solid #d6dde0;
  padding: 10px 5px 10px 10px;
  background: url("/static/images/icons/pledgearrow.png") 98% center no-repeat;
}
ul.support li span {
  display: block;
  padding-right: 10px;
}
ul.support li span.menu-item-price {
  font-size: 18px;
  float: left;
  display: inline;
  margin-bottom: 3px;
}
ul.support li span.menu-item-desc {
  float: none;
  clear: both;
}
ul.support li:hover {
  color: #fff;
  background: #8dc63f url("/static/images/icons/pledgearrow-hover.png") 98% center no-repeat;
}
ul.support li:hover a {
  color: #fff;
  text-decoration: none;
}
.you_pledged {
  float: left;
  line-height: 21px;
  font-weight: normal;
  color: #3d4e53;
  padding-left: 20px;
  background: url("/static/images/checkmark_small.png") left center no-repeat;
}
.thank-you {
  font-size: 18px;
  font-weight: bold;
  margin: 20px auto;
}
