/* variables and mixins used in multiple less files go here */
.header-text {
  height: 36px;
  line-height: 36px;
  display: block;
  text-decoration: none;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: -0.05em;
}
.panelborders {
  border-width: 1px 0px;
  border-style: solid none;
  border-color: #FFFFFF;
}
.roundedspan {
  border: 1px solid #d4d4d4;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  padding: 1px;
  color: #fff;
  margin: 0 8px 0 0;
  display: inline-block;
}
.roundedspan > span {
  padding: 7px 7px;
  min-width: 15px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  display: inline-block;
}
.roundedspan > span .hovertext {
  display: none;
}
.roundedspan > span:hover .hovertext {
  display: inline;
}
.mediaborder {
  padding: 5px;
  border: solid 5px #EDF3F4;
}
.google_signup_div {
  padding: 14px 0;
}
.google_signup_div div {
  height: 24px;
  line-height: 24px;
  float: left;
  padding-left: 5px;
}
.google_signup_div img {
  float: left;
  height: 24px;
  width: 24px;
}
.actionbuttons {
  width: auto;
  height: 36px;
  line-height: 36px;
  background: #8dc63f;
  -moz-border-radius: 32px;
  -webkit-border-radius: 32px;
  border-radius: 32px;
  color: white;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  padding: 0 15px;
  border: none;
  margin: 5px 0;
}
.errors {
  -moz-border-radius: 16px 16px 0 0;
  -webkit-border-radius: 16px 16px 0 0;
  border-radius: 16px 16px 0 0;
  border: solid #e35351 3px;
  clear: both;
  width: 90%;
  height: auto;
  line-height: 16px;
  padding: 7px 0;
  font-weight: bold;
  font-size: 13px;
  text-align: center;
}
.errors li {
  list-style: none;
  border: none;
}
.comments {
  clear: both;
  padding: 5px;
  margin: 0 5px 0 0;
  width: 95%;
}
.comments.row1 {
  background: #f6f9f9;
}
.comments.row2 {
  background: #fff;
}
.comments div {
  float: left;
}
.comments div img {
  margin: 0 5px;
}
.comments .image img {
  height: 100px;
}
.comments:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.comments .nonavatar {
  width: 620px;
}
.comments .nonavatar span {
  padding-right: 5px;
}
.comments .nonavatar span.text:before {
  content: "\201C";
  font-size: 15px;
  font-weight: bold;
}
.comments .nonavatar span.text:after {
  content: "\201D";
  font-size: 15px;
  font-weight: bold;
}
.comments .avatar {
  float: right;
  margin: 0 auto;
  padding-top: 5px;
}
.official {
  border: 3px #B8DDE0 solid;
  margin-top: 3px;
  margin-bottom: 3px;
  padding-left: 2px;
}
