/* variables and mixins used in multiple less files go here */
.header-text {
  height: 36px;
  line-height: 36px;
  display: block;
  text-decoration: none;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: -0.05em;
}
.panelborders {
  border-width: 1px 0px;
  border-style: solid none;
  border-color: #FFFFFF;
}
.roundedspan {
  border: 1px solid #d4d4d4;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  padding: 1px;
  color: #fff;
  margin: 0 8px 0 0;
  display: inline-block;
}
.roundedspan > span {
  padding: 7px 7px;
  min-width: 15px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  display: inline-block;
}
.roundedspan > span .hovertext {
  display: none;
}
.roundedspan > span:hover .hovertext {
  display: inline;
}
.mediaborder {
  padding: 5px;
  border: solid 5px #EDF3F4;
}
.google_signup_div {
  padding: 14px 0;
}
.google_signup_div div {
  height: 24px;
  line-height: 24px;
  height: 24px;
  line-height: 24px;
  float: left;
  padding-left: 5px;
}
.google_signup_div img {
  float: left;
  height: 24px;
  width: 24px;
}
.actionbuttons {
  width: auto;
  height: 36px;
  line-height: 36px;
  height: 36px;
  line-height: 36px;
  background: #8dc63f;
  -moz-border-radius: 32px;
  -webkit-border-radius: 32px;
  border-radius: 32px;
  -moz-border-radius: 32px;
  -webkit-border-radius: 32px;
  border-radius: 32px;
  color: white;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  padding: 0 15px;
  border: none;
  margin: 5px 0;
}
.errors {
  -moz-border-radius: 32px;
  -webkit-border-radius: 32px;
  border-radius: 32px;
  -moz-border-radius: 32px;
  -webkit-border-radius: 32px;
  border-radius: 32px;
  border: solid #e35351 4px;
  width: 90%;
  padding: 5px;
  font-weight: bold;
  padding: 7px 0;
  height: 16px;
  line-height: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
}
.errors li {
  list-style: none;
  border: none;
}
/* variables and mixins used in multiple less files go here */
.header-text {
  height: 36px;
  line-height: 36px;
  display: block;
  text-decoration: none;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: -0.05em;
}
.panelborders {
  border-width: 1px 0px;
  border-style: solid none;
  border-color: #FFFFFF;
}
.roundedspan {
  border: 1px solid #d4d4d4;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  padding: 1px;
  color: #fff;
  margin: 0 8px 0 0;
  display: inline-block;
}
.roundedspan > span {
  padding: 7px 7px;
  min-width: 15px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  display: inline-block;
}
.roundedspan > span .hovertext {
  display: none;
}
.roundedspan > span:hover .hovertext {
  display: inline;
}
.mediaborder {
  padding: 5px;
  border: solid 5px #EDF3F4;
}
.google_signup_div {
  padding: 14px 0;
}
.google_signup_div div {
  height: 24px;
  line-height: 24px;
  height: 24px;
  line-height: 24px;
  float: left;
  padding-left: 5px;
}
.google_signup_div img {
  float: left;
  height: 24px;
  width: 24px;
}
.actionbuttons {
  width: auto;
  height: 36px;
  line-height: 36px;
  height: 36px;
  line-height: 36px;
  background: #8dc63f;
  -moz-border-radius: 32px;
  -webkit-border-radius: 32px;
  border-radius: 32px;
  -moz-border-radius: 32px;
  -webkit-border-radius: 32px;
  border-radius: 32px;
  color: white;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  padding: 0 15px;
  border: none;
  margin: 5px 0;
}
.errors {
  -moz-border-radius: 32px;
  -webkit-border-radius: 32px;
  border-radius: 32px;
  -moz-border-radius: 32px;
  -webkit-border-radius: 32px;
  border-radius: 32px;
  border: solid #e35351 4px;
  width: 90%;
  padding: 5px;
  font-weight: bold;
  padding: 7px 0;
  height: 16px;
  line-height: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
}
.errors li {
  list-style: none;
  border: none;
}
#user-block-hide {
  float: left;
  width: 100%;
  clear: both;
  border-top: solid 1px #8ac3d7;
  margin-top: 20px;
}
#user-block-hide .quicktour {
  width: 270px;
  float: left;
  font-style: italic;
  line-height: 20px;
  font-size: 13px;
  margin-top: 20px;
}
#user-block-hide .quicktour .highlight {
  font-weight: bold;
}
#user-block-hide .quicktour.last {
  padding-right: 0px;
  width: 270px;
}
#user-block-hide .quicktour.last .signup {
  color: #8dc63f;
  font-weight: bold;
  margin-top: 10px;
}
#user-block-hide .quicktour.last .signup img {
  margin-left: 5px;
  vertical-align: middle;
}
#user-block-hide .movingrightalong {
  background: url("/static/images/landingpage/quicktour-arrow.png") no-repeat center;
  height: 100px;
  width: 75px;
  float: left;
  margin-top: 20px;
}
#block-intro-text div {
  display: none;
  line-height: 25px;
  padding-bottom: 10px;
}
#block-intro-text div#active {
  display: inherit;
}
.signuptoday {
  -moz-border-radius: 32px;
  -webkit-border-radius: 32px;
  border-radius: 32px;
  -moz-border-radius: 32px;
  -webkit-border-radius: 32px;
  border-radius: 32px;
  background-color: #8dc63f;
  padding: 0 15px;
  height: 36px;
  line-height: 36px;
  height: 36px;
  line-height: 36px;
  float: left;
  clear: both;
  margin: 10px 0;
  cursor: pointer;
  font-style: normal;
}
.signuptoday a {
  background: url("/static/images/icons/pledgearrow-hover.png") right center no-repeat;
  padding-right: 17px;
  color: white;
}
.signuptoday a:hover {
  text-decoration: none;
}
body {
  font-size: 13px;
  line-height: 16px;
}
/* Learn More area (not already styles by learnmore.less) */
.user-block {
  width: 100%;
  clear: both;
}
#user-block1, .user-block2 {
  float: left;
}
#user-block1 {
  width: 70%;
}
#user-block1 #block-intro-text {
  float: left;
  width: 70%;
  font-size: 20px;
}
#user-block1 a#readon {
  float: left;
  margin-top: 10px;
}
.user-block2 {
  color: #6994a3;
  font-size: 11px;
  line-height: normal;
  width: 30%;
}
.user-block2 .block-inner {
  float: right;
  padding-right: 0;
}
.user-block2 label {
  float: left;
  font-size: 20px;
  height: 30px;
  line-height: 30px;
  color: #3d4e53;
  padding-right: 15px;
}
#user-block-hide .quicktour.last {
  background: none;
}
/* Containers */
.have-right #js-main-container {
  float: left;
}
.js-main-container-inner {
  padding-left: 15px;
}
.have-right #js-rightcol {
  margin-top: 50px;
  background: #edf3f4;
  border: 1px solid #d6dde0;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
}
.have-right #js-rightcol .jsmodule {
  border-bottom: 1px solid #3c4e52;
  width: 235px;
}
.have-right #js-rightcol .jsmodule.last {
  border-bottom: none;
  padding-bottom: 10px;
}
.js-rightcol-padd {
  padding: 10px;
}
/* Elements */
.doc h2 {
  margin: 20px 0;
  color: #3d4e53;
  font-size: 17px;
  font-weight: bold;
}
.doc h3 {
  color: #3d4e53;
  font-weight: bold;
}
.doc ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.doc ul li {
  margin-bottom: 7px;
  -moz-border-radius: 14px;
  -webkit-border-radius: 14px;
  border-radius: 14px;
  -moz-border-radius: 14px;
  -webkit-border-radius: 14px;
  border-radius: 14px;
  padding: 10px;
  background: #edf3f4;
}
.doc ul.terms {
  list-style: inherit;
  list-style-position: inside;
  padding-left: 1em;
  text-indent: -1em;
}
.doc ul.terms li {
  -moz-border-radius: auto;
  -webkit-border-radius: auto;
  border-radius: auto;
  -moz-border-radius: auto;
  -webkit-border-radius: auto;
  border-radius: auto;
  background: inherit;
}
.doc div.inset {
  background: #edf3f4;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  padding: 10px;
  font-style: italic;
}
dt {
  margin: 7px 0px 7px -7px;
  -moz-border-radius: 14px;
  -webkit-border-radius: 14px;
  border-radius: 14px;
  -moz-border-radius: 14px;
  -webkit-border-radius: 14px;
  border-radius: 14px;
  padding: 10px 0px 10px 7px;
  background: #edf3f4;
}
dd {
  margin: 0;
  padding-bottom: 7px;
}
.doc ol li {
  margin-bottom: 7px;
}
.errorlist li {
  border: solid #8dc63f 4px;
}
.collapse ul {
  display: none;
}
.faq, .answer {
  text-transform: none !important;
}
.faq a, .answer a {
  color: #6994a3;
}
.faq {
  cursor: pointer;
}
.faq:hover {
  text-decoration: underline;
}
/* items on press page */
.press_spacer {
  clear: both;
  height: 0px;
}
.presstoc {
  overflow: auto;
  clear: both;
  padding-bottom: 10px;
}
.presstoc div {
  float: left;
  padding-right: 15px;
  margin-bottom: 7px;
}
.presstoc div.pressemail {
  border: solid 2px #3d4e53;
  padding: 5px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  max-width: 678px;
  margin-top: 7px;
}
.pressarticles div {
  margin-bottom: 10px;
}
.pressvideos > div {
  margin-bottom: 15px;
  padding-bottom: 7px;
  border-bottom: solid 1px #3d4e53;
  float: left;
}
.pressvideos iframe {
  padding: 5px;
  border: solid 5px #EDF3F4;
  padding: 5px;
  border: solid 5px #EDF3F4;
}
.pressimages {
  clear: both;
}
.pressimages .outer {
  clear: both;
}
.pressimages .outer div {
  float: left;
  width: 25%;
  padding-bottom: 10px;
}
.pressimages .outer div.text {
  width: 75%;
}
.pressimages .outer div p {
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}
.pressimages .screenshot {
  width: 150px;
  padding: 5px;
  border: solid 5px #EDF3F4;
  padding: 5px;
  border: solid 5px #EDF3F4;
}
/* Miscellaneous */
p.pledge_complete {
  margin: 7px auto;
}
a.manage {
  background: #8dc63f;
  color: white;
  font-weight: bold;
  padding: 0.5em 1em;
  cursor: pointer;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #d6dde0;
}
a.manage:hover {
  text-decoration: none;
}
.rh_help {
  cursor: pointer;
  color: #8ac3d7;
}
.rh_help:hover {
  text-decoration: underline;
}
.rh_answer {
  display: none;
  padding-left: 10px;
  margin-bottom: 7px;
  border: solid 2px #d6dde0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-indent: 0 !important;
}
.work_campaigns {
  border: 1px solid #d6dde0;
  margin: 10px auto;
}
.work_campaigns div {
  float: left;
}
.work_campaigns div.campaign_info {
  width: 60%;
  margin: 5px;
}
