@charset "utf-8";
/* CSS Document */

body{
    background:url(../images/bg-body.png) 0 0 repeat-x;
    padding:0 0 20px 0;
    margin:0;
    font-size:12px;
    font-family: Lucida "Lucida Grande", "Lucida Sans Unicode", sans-serif, Helvetica, sans-serif;
    color:#3d4e53;
}

.main{
    width:960px;
    margin:0 auto;
    clear:both;
    padding:0;
}

#header{ height:90px;}

.logo{ float:left; padding-top:20px;}
.logo a img{border: none;}
.topmenu{ float:right; padding-top:25px;}
.topmenu ul li{ float:left; padding:0 10px;}
.topmenu ul li a{ height:36px; line-height:36px; display:block; color:#fff; text-decoration:none; font-weight:bold; font-size:13px; letter-spacing:1px; text-transform:capitalize;}
.topmenu ul li span#welcome { height:36px; line-height:36px; display:block; color:yellow; text-decoration:none; font-weight:bold; font-size:13px; letter-spacing:1px; text-transform:capitalize;}
.topmenu ul li.last a{ background: url(../images/bg.png) right top no-repeat;}
.topmenu ul li.last a span{ background:url(../images/bg.png) -770px -36px no-repeat; margin-right:29px; display:block; padding:0 5px 0 15px;}

#topsection{ padding:15px 0; overflow:hidden;}
.topnews{ float:left; width:60%;}
.news-text{ float:left; width:70%; font-size:16px; color:#3d4e53; font-family:lucida grande;}
.news-links { float:right; width:30%;}

.search{ float:right; width:30%;}
.search-inner{ float:right;}
.search .inputbox{ padding:0 0 0 15px; margin:0; border:none; background:url(../images/bg.png) -645px -180px; height:36px; line-height:36px; float: left; color:#6994a3;}
.search .button{ background:url(../images/bg.png) 100% -144px no-repeat; padding:0; margin:0; width:40px; height:36px; display:block; border:none; text-indent:-10000px; cursor:pointer;}


#leftcol{ float:left; width:235px;}
h3.jsmod-title{ background:url(../images/bg.png) 0 0 no-repeat; padding:0; margin:0; height:73px;}
h3.jsmod-title span{ background:url(../images/icon-h3.png) 90% center no-repeat; font-size:17px; color:#fff;
    padding:26px 40px 27px 20px;
    display:block;
}

#leftcol .jsmod-content{ border:1px solid #edf3f4; margin-left:10px; border-radius:0 0 10px 10px ;}

#leftcol ul.level1 > li > a{ text-transform:uppercase; color:#3d4e53; font-size:12px; border-bottom:1px solid #edf3f4;border-top:1px solid #edf3f4; display:block; padding:10px;}

#leftcol ul.level2 li{
    padding:5px 10px;
}
#leftcol ul.level2 li a{
    color:#6994a3;
    line-height: 20px;
}
#leftcol a{ font-weight:normal;}
#leftcol a:hover{ text-decoration:underline;}


#maincol-fr{ float:right; width:725px;}

div.content-block{
    overflow:hidden;
    background:url(../images/bg.png) 100% -223px no-repeat;
    padding:0 0 0 7px;
}

h2.content-heading{ 
    padding:15px; margin:0;
    font-size:19px;
    font-weight:normal;
    color:#3d4e53;
    float:left; width:70%;
}
h2.content-heading span{ font-style:italic;}
.content-block-heading a.block-link{ float:right; padding:15px; font-size:11px; color:#3d4e53; text-decoration:underline; font-weight:normal;}

div.content-block-content{ width:100%; overflow:hidden;}
div.content-block-content .cols3 .column{ width:33.33%; float:left;}

.column-left .item{ margin:0  10px 10px 0;}
.column-center .item{ margin:0  5px 10px 5px;}
.column-right .item{ margin:0  0 10px 10px;}
.column .item{ border:7px solid #edf3f4; padding:10px;}
.book-image{ padding:0 0 10px 0;}
.book-info{ padding:0 0 10px 0; line-height:125%; position:relative;}
.book-info span.book-new{ background:url(../images/images/icon-new.png) 0 0  no-repeat; width:38px; height:36px; display:block; position:absolute;
 right:10px; top:0;}
.book-name{ color:#3d4e53; font-weight:bold;}
.book-author{ color:#6994a3;}

.book-status{ margin:0 -10px; border-top:1px solid #edf3f4; padding:15px 10px 0 10px; position:relative;}
.book-status span.unglue{ font-style:italic;}
.book-status span.status{ position:absolute; right:10px; bottom:-5px; width:37px; height:25px; display:block;}
.book-status span.percent99{ background:url(../images/images/icon-book1.png) 0 0 no-repeat;}
.book-status span.percent60{ background:url(../images/images/icon-book2.png) 0 0 no-repeat;}
.book-status span.percent22{ background:url(../images/images/icon-book3.png) 0 0 no-repeat;}
.book-status span.percent7{ background:url(../images/images/icon-book4.png) 0 0 no-repeat;}
.book-status span.percent62{ background:url(../images/images/icon-book5.png) 0 0 no-repeat;}
.book-status span.percent21{ background:url(../images/images/icon-book6.png) 0 0 no-repeat;}

ul.menu{
    list-style:none;
    padding:0;
    margin:0;
    line-height: 20px;
}
a.readon{ background:url(../images/bg.png) 100% -72px no-repeat; color:#fff; text-transform:capitalize; display:block; float:right; font-size:13px; font-weight:bold;}
a.readon span{ background:url(../images/bg.png) -770px -108px no-repeat; margin-right:34px; padding:0 5px 0 20px; height:36px; line-height:36px; display:block;}

a{ font-weight:bold; font-size:13px; text-decoration:none; cursor:pointer;}

/* registration */

.errorlist {color: red}

#registration {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    margin-top: 5%;
}

#registration input[type="submit"] {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#footer{
	border-top: 7px solid #edf3f4;
	clear: both;
	height:90px;
}
