/* variables and mixins used in multiple less files go here */
.header-text {
  height: 36px;
  line-height: 36px;
  display: block;
  text-decoration: none;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: -0.05em;
}
.panelborders {
  border-width: 1px 0px;
  border-style: solid none;
  border-color: #FFFFFF;
}
.mediaborder {
  padding: 5px;
  border: solid 5px #EDF3F4;
}
.google_signup_div {
  padding: 14px 0;
}
.google_signup_div div {
  height: 32px;
  line-height: 32px;
  float: left;
  padding-left: 5px;
}
.google_signup_div img {
  float: left;
}
.actionbuttons {
  width: auto;
  height: 36px;
  line-height: 36px;
  background: #8dc63f;
  -moz-border-radius: 32px;
  -webkit-border-radius: 32px;
  border-radius: 32px;
  color: white;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  padding: 0 15px;
  border: none;
  margin: 5px 0;
}
.user-block-hide {
  float: left;
  width: 100%;
  clear: both;
  border-top: solid 1px #8ac3d7;
  margin-top: 20px;
}
.user-block-hide .quicktour {
  width: 270px;
  float: left;
  font-style: italic;
  line-height: 20px;
  font-size: 13px;
  margin-top: 20px;
}
.user-block-hide .quicktour .highlight {
  font-weight: bold;
}
.user-block-hide .quicktour.last {
  padding-right: 0px;
  width: 270px;
  background: url("/static/images/landingpage/signmeup-arrow.png") no-repeat center bottom;
  padding-bottom: 42px;
}
.user-block-hide .movingrightalong {
  background: url("/static/images/landingpage/quicktour-arrow.png") no-repeat center;
  height: 100px;
  width: 75px;
  float: left;
  margin-top: 20px;
}
.block-intro-text div {
  display: none;
  line-height: 25px;
}
.block-intro-text div#active {
  display: inherit;
}
