/* variables and mixins used in multiple less files go here */
.header-text {
  height: 36px;
  line-height: 36px;
  display: block;
  text-decoration: none;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: -0.05em;
}
.panelborders {
  border-width: 1px 0px;
  border-style: solid none;
  border-color: #FFFFFF;
}
.user-block-hide {
  float: left;
  width: 100%;
  clear: both;
  border-top: solid 1px #8ac3d7;
  margin-top: 20px;
}
.user-block-hide .quicktour {
  width: 270px;
  float: left;
  font-style: italic;
  line-height: 20px;
  font-size: 13px;
  margin-top: 20px;
}
.user-block-hide .quicktour .highlight {
  font-weight: bold;
}
.user-block-hide .quicktour.last {
  padding-right: 0px;
  width: 270px;
  background: url("/static/images/landingpage/signmeup-arrow.png") no-repeat center bottom;
  padding-bottom: 42px;
}
.user-block-hide .movingrightalong {
  background: url("/static/images/landingpage/quicktour-arrow.png") no-repeat center;
  height: 100px;
  width: 75px;
  float: left;
  margin-top: 20px;
}
.block-intro-text div {
  display: none;
}
.block-intro-text div#active {
  display: inherit;
}
