.user-block2 {
  width: 48%;
  font-size: 14px;
  padding-right: 2%;
}
#js-leftcol li.active_lang a {
  font-weight: bold;
}
.show_langs:hover{
  text-decoration: underline;
}
#lang_list {
  display: none;
}