/* variables and mixins used in multiple less files go here */
.header-text {
  height: 36px;
  line-height: 36px;
  display: block;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: -0.05em;
}
.panelborders {
  border-width: 1px 0px;
  border-style: solid none;
  border-color: #FFFFFF;
}
.roundedspan {
  border: 1px solid #d4d4d4;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  padding: 1px;
  color: #fff;
  margin: 0 8px 0 0;
  display: inline-block;
}
.roundedspan > span {
  padding: 7px 7px;
  min-width: 15px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  display: inline-block;
}
.roundedspan > span .hovertext {
  display: none;
}
.roundedspan > span:hover .hovertext {
  display: inline;
}
.mediaborder {
  padding: 5px;
  border: solid 5px #EDF3F4;
}
.google_signup_div {
  padding: 14px 0;
}
.google_signup_div div {
  height: 24px;
  line-height: 24px;
  float: left;
  padding-left: 5px;
}
.google_signup_div img {
  float: left;
  height: 24px;
  width: 24px;
}
.actionbuttons {
  width: auto;
  height: 36px;
  line-height: 36px;
  background: #8dc63f;
  -moz-border-radius: 32px;
  -webkit-border-radius: 32px;
  border-radius: 32px;
  color: white;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  padding: 0 15px;
  border: none;
  margin: 5px 0;
}
.errors {
  -moz-border-radius: 16px 16px 0 0;
  -webkit-border-radius: 16px 16px 0 0;
  border-radius: 16px 16px 0 0;
  border: solid #e35351 3px;
  clear: both;
  width: 90%;
  height: auto;
  line-height: 16px;
  padding: 7px 0;
  font-weight: bold;
  font-size: 13px;
  text-align: center;
}
.errors li {
  list-style: none;
  border: none;
}
.notices_menu {
  float: right;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  background: #edf3f4;
  padding: 10px 20px;
  margin: -15px auto 7px 7px;
}
.notices_menu a {
  font-size: 13px;
  font-weight: bold;
}
#js-main-container {
  float: none !important;
  padding-right: 15px;
}
/* notice_settings */
th {
  text-align: left;
}
tr {
  line-height: 24px;
}
tr.row1 {
  background: #edf3f4;
}
td {
  padding-left: 7px;
  padding-right: 7px;
}
td#last {
  padding: 0;
}
input[type="submit"] {
  float: right;
  margin-right: 0;
}
/* comment containers */
.comments {
  border: solid 3px #d6dde0;
  margin: 3px auto;
}
.comments hr {
  margin: 10px auto 5px;
  color: #d6dde0;
  background-color: #d6dde0;
  height: 2px;
  border: 0;
}
.comments .comments_book {
  padding: 5px;
  border: solid 5px #EDF3F4;
  margin-right: 10px;
  margin-bottom: 10px;
  max-width: 80px;
}
.comments .comments_book img {
  max-width: 80px;
}
.comments .comments_textual {
  padding: 10px 5px 5px;
}
.comments .comments_textual div {
  margin-bottom: 5px;
}
.comments .comments_info {
  border-bottom: solid 1px #d6dde0;
  padding: 5px;
}
.comments .comments_info div {
  float: left;
}
.comments .comments_info .comments_graphical {
  padding: 5px auto;
}
.comments .comments_info span {
  text-indent: 0;
}
