/* variables and mixins used in multiple less files go here */
.header-text {
  height: 36px;
  line-height: 36px;
  display: block;
  text-decoration: none;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: -0.05em;
}
.panelborders {
  border-width: 1px 0px;
  border-style: solid none;
  border-color: #FFFFFF;
}
.mediaborder {
  padding: 5px;
  border: solid 5px #EDF3F4;
}
.google_signup_div {
  padding: 14px 0;
}
.google_signup_div div {
  height: 24px;
  line-height: 24px;
  float: left;
  padding-left: 5px;
}
.google_signup_div img {
  float: left;
  height: 24px;
  width: 24px;
}
.actionbuttons {
  width: auto;
  height: 36px;
  line-height: 36px;
  background: #8dc63f;
  -moz-border-radius: 32px;
  -webkit-border-radius: 32px;
  border-radius: 32px;
  color: white;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  padding: 0 15px;
  border: none;
  margin: 5px 0;
}
.errorlist {
  -moz-border-radius: 32px;
  -webkit-border-radius: 32px;
  border-radius: 32px;
  border: solid #e35351 4px;
  width: 90%;
  padding: 5px;
  font-weight: bold;
  padding: 7px 0;
  height: 16px;
  line-height: 16px;
  text-align: center;
}
.errorlist li {
  list-style: none;
  border: none;
}
#login_centerer {
  padding: 10px 25%;
  width: 960px;
}
#registration {
  width: 960px;
  padding: 10px;
  margin: 0 auto;
  padding: 10px 0;
  font-size: 13px;
  line-height: 18px;
}
#registration input[type="submit"] {
  margin: 0 auto;
  padding: 5px 0;
}
#login {
  border: solid 3px #d6dde0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin: 10px auto;
  float: left;
  padding: 10px;
  width: 50%;
}
#login form label {
  display: block;
}
#login form input {
  width: 90%;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #d6dde0;
  height: 18px;
  line-height: 18px;
  margin-bottom: 16px;
}
#login form input:focus {
  border: 1px solid #8dc63f;
  outline: none;
}
#login form input[type=submit] {
  text-decoration: capitalize;
  width: auto;
  height: 36px;
  line-height: 36px;
  background: #8dc63f;
  -moz-border-radius: 32px;
  -webkit-border-radius: 32px;
  border-radius: 32px;
  color: white;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  padding: 0 15px;
  border: none;
  margin: 5px 0;
}
#login form span.helptext {
  display: block;
  margin-top: -11px;
  font-style: italic;
  font-size: 12px;
}
#login .google_signup {
  padding: 14px 0;
}
#login .google_signup div {
  height: 24px;
  line-height: 24px;
  float: left;
  padding-left: 5px;
}
#login .google_signup img {
  float: left;
  height: 24px;
  width: 24px;
}
.actionbutton {
  width: auto;
  height: 36px;
  line-height: 36px;
  background: #8dc63f;
  -moz-border-radius: 32px;
  -webkit-border-radius: 32px;
  border-radius: 32px;
  color: white;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  padding: 0 15px;
  border: none;
  margin: 5px 0;
  float: left;
}
