/* For sitewide elements of unglue.it. */
/* variables and mixins used in multiple less files go here */
.header-text {
  height: 36px;
  line-height: 36px;
  display: block;
  text-decoration: none;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: -0.05em;
}
.panelborders {
  border-width: 1px 0px;
  border-style: solid none;
  border-color: #FFFFFF;
}
.roundedspan {
  border: 1px solid #d4d4d4;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  padding: 1px;
  color: #fff;
  margin: 0 8px 0 0;
  display: inline-block;
}
.roundedspan > span {
  padding: 7px 7px;
  min-width: 15px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  display: inline-block;
}
.roundedspan > span .hovertext {
  display: none;
}
.roundedspan > span:hover .hovertext {
  display: inline;
}
.mediaborder {
  padding: 5px;
  border: solid 5px #EDF3F4;
}
.google_signup_div {
  padding: 14px 0;
}
.google_signup_div div {
  height: 24px;
  line-height: 24px;
  height: 24px;
  line-height: 24px;
  float: left;
  padding-left: 5px;
}
.google_signup_div img {
  float: left;
  height: 24px;
  width: 24px;
}
.actionbuttons {
  width: auto;
  height: 36px;
  line-height: 36px;
  height: 36px;
  line-height: 36px;
  background: #8dc63f;
  -moz-border-radius: 32px;
  -webkit-border-radius: 32px;
  border-radius: 32px;
  -moz-border-radius: 32px;
  -webkit-border-radius: 32px;
  border-radius: 32px;
  color: white;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  padding: 0 15px;
  border: none;
  margin: 5px 0;
}
.errors {
  -moz-border-radius: 16px 16px 0 0;
  -webkit-border-radius: 16px 16px 0 0;
  border-radius: 16px 16px 0 0;
  -moz-border-radius: 16px 16px 0 0;
  -webkit-border-radius: 16px 16px 0 0;
  border-radius: 16px 16px 0 0;
  border: solid #e35351 3px;
  clear: both;
  width: 90%;
  height: auto;
  line-height: 16px;
  padding: 7px 0;
  font-weight: bold;
  font-size: 13px;
  text-align: center;
}
.errors li {
  list-style: none;
  border: none;
}
/* variables and mixins used in multiple less files go here */
.header-text {
  height: 36px;
  line-height: 36px;
  display: block;
  text-decoration: none;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: -0.05em;
}
.panelborders {
  border-width: 1px 0px;
  border-style: solid none;
  border-color: #FFFFFF;
}
.roundedspan {
  border: 1px solid #d4d4d4;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  padding: 1px;
  color: #fff;
  margin: 0 8px 0 0;
  display: inline-block;
}
.roundedspan > span {
  padding: 7px 7px;
  min-width: 15px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  display: inline-block;
}
.roundedspan > span .hovertext {
  display: none;
}
.roundedspan > span:hover .hovertext {
  display: inline;
}
.mediaborder {
  padding: 5px;
  border: solid 5px #EDF3F4;
}
.google_signup_div {
  padding: 14px 0;
}
.google_signup_div div {
  height: 24px;
  line-height: 24px;
  height: 24px;
  line-height: 24px;
  float: left;
  padding-left: 5px;
}
.google_signup_div img {
  float: left;
  height: 24px;
  width: 24px;
}
.actionbuttons {
  width: auto;
  height: 36px;
  line-height: 36px;
  height: 36px;
  line-height: 36px;
  background: #8dc63f;
  -moz-border-radius: 32px;
  -webkit-border-radius: 32px;
  border-radius: 32px;
  -moz-border-radius: 32px;
  -webkit-border-radius: 32px;
  border-radius: 32px;
  color: white;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  padding: 0 15px;
  border: none;
  margin: 5px 0;
}
.errors {
  -moz-border-radius: 16px 16px 0 0;
  -webkit-border-radius: 16px 16px 0 0;
  border-radius: 16px 16px 0 0;
  -moz-border-radius: 16px 16px 0 0;
  -webkit-border-radius: 16px 16px 0 0;
  border-radius: 16px 16px 0 0;
  border: solid #e35351 3px;
  clear: both;
  width: 90%;
  height: auto;
  line-height: 16px;
  padding: 7px 0;
  font-weight: bold;
  font-size: 13px;
  text-align: center;
}
.errors li {
  list-style: none;
  border: none;
}
.download_container {
  width: 50%;
  margin: auto;
}
#lightbox_content a {
  color: #6994a3;
}
#lightbox_content .signuptoday a {
  color: white;
}
#lightbox_content h2,
#lightbox_content h3,
#lightbox_content h4 {
  margin-top: 15px;
}
#lightbox_content h2 a {
  font-size: 18.75px;
}
#lightbox_content .ebook_download a {
  margin: auto 5px auto 0;
  font-size: 15px;
}
#lightbox_content .ebook_download img {
  vertical-align: middle;
}
#lightbox_content .logo {
  font-size: 15px;
}
#lightbox_content .logo img {
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  height: 50px;
  width: 50px;
  margin-right: 5px;
}
#lightbox_content .unglued,
#lightbox_content .not_unglued {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-left: -2px;
  padding: 5px;
  padding-bottom: 15px;
  margin-bottom: 5px;
}
#lightbox_content .unglued h3,
#lightbox_content .not_unglued h3 {
  margin-top: 5px;
}
#lightbox_content .unglued {
  border: solid 2px #8dc63f;
}
#lightbox_content .not_unglued {
  border: solid 2px #d6dde0;
}
#lightbox_content a.add-wishlist .on-wishlist,
#lightbox_content a.success,
a.success:hover {
  text-decoration: none;
  color: #3d4e53;
}
#lightbox_content a.success,
a.success:hover {
  cursor: default;
}
#lightbox_content ul {
  padding-left: 50px;
}
#lightbox_content ul li {
  margin-bottom: 4px;
}
.border {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: solid 2px #d6dde0;
  margin: 5px auto;
  padding-right: 5px;
  padding-left: 5px;
}
/* remove before beta */
.preview {
  border: solid 3px #e35351;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  clear: both;
  padding: 5px 10px;
  font-size: 13px;
  width: 90%;
}
.preview a {
  color: #8dc63f;
}
.launch_top {
  border: solid 3px #e35351;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  clear: both;
  padding: 5px 10px;
  font-size: 13px;
  width: 90%;
  border-color: #8dc63f;
  margin: 10px auto 0 auto;
  font-size: 120%;
}
.launch_top a {
  color: #8dc63f;
}
.launch_top a {
  font-size: 110%;
}
.launch_top.pale {
  border-color: #d6dde0;
  font-size: 13px;
}
.preview_content {
  border: solid 3px #e35351;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  clear: both;
  padding: 5px 10px;
  font-size: 13px;
  width: 90%;
  width: 80%;
  margin: 10px auto;
}
.preview_content a {
  color: #8dc63f;
}
/* Local variables */
.utilityheaders {
  text-transform: uppercase;
  color: #3d4e53;
  font-size: 15px;
  display: block;
}
/* Page-wide elements */
html,
body {
  /* Necessary to make footer stretch to bottom of page */

  height: 100%;
}
body {
  background: url("/static/images/bg-body.png") 0 0 repeat-x;
  padding: 0 0 20px 0;
  margin: 0;
  font-size: 13px;
  line-height: 16.900000000000002px;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Arial, Helvetica, sans-serif;
  color: #3d4e53;
}
#feedback {
  /* remove after alpha? */

  position: fixed;
  bottom: 10%;
  right: 0;
  z-index: 500;
}
#feedback p {
  /* see http://scottgale.com/blog/css-vertical-text/2010/03/01/ */

  writing-mode: tb-rl;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  filter: progid:dximagetransform.microsoft.basicimage(rotation=1);
  white-space: nowrap;
  display: block;
  bottom: 0;
  width: 160px;
  height: 32px;
  -moz-border-radius: 0 0 10px 10px;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
  background: #8dc63f;
  margin-bottom: 0;
  text-align: center;
  margin-right: -67px;
  line-height: normal;
}
#feedback p a {
  color: white;
  font-size: 24px;
  font-weight: normal;
}
#feedback p a:hover {
  color: #3d4e53;
}
a {
  font-weight: bold;
  font-size: 13px;
  text-decoration: none;
  cursor: pointer;
  color: #6994a3;
}
a:hover {
  text-decoration: underline;
}
h1 {
  font-size: 22.5px;
}
h2 {
  font-size: 18.75px;
}
h3 {
  font-size: 17.549999999999997px;
}
h4 {
  font-size: 15px;
}
img {
  border: none;
}
input,
textarea,
a.fakeinput {
  border: 2px solid #d6dde0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
input:focus,
textarea:focus,
a.fakeinput:focus {
  border: 2px solid #8dc63f;
  outline: none;
}
a.fakeinput:hover {
  text-decoration: none;
}
.js-search input {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
h2.content-heading {
  padding: 15px;
  margin: 0;
  font-size: 19px;
  font-weight: normal;
  color: #3d4e53;
  float: left;
  width: 50%;
}
h2.content-heading span {
  font-style: italic;
}
h3.jsmod-title {
  -moz-border-radius: 8px 8px 0 0;
  -webkit-border-radius: 8px 8px 0 0;
  border-radius: 8px 8px 0 0;
  -moz-border-radius: 8px 8px 0 0;
  -webkit-border-radius: 8px 8px 0 0;
  border-radius: 8px 8px 0 0;
  background: #a7c1ca;
  padding: 0;
  margin: 0;
  height: 73px;
}
h3.jsmod-title span {
  font-size: 19px;
  font-style: italic;
  color: #3d4e53;
  padding: 26px 40px 27px 20px;
  display: block;
}
input[type="submit"],
a.fakeinput {
  background: #8dc63f;
  color: white;
  font-weight: bold;
  padding: 0.5em 1em;
  cursor: pointer;
}
.js-page-wrap {
  position: relative;
  min-height: 100%;
}
.js-main {
  width: 960px;
  margin: 0 auto;
  clear: both;
  padding: 0;
}
ul.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}
.errorlist {
  -moz-border-radius: 16px 16px 0 0;
  -webkit-border-radius: 16px 16px 0 0;
  border-radius: 16px 16px 0 0;
  -moz-border-radius: 16px 16px 0 0;
  -webkit-border-radius: 16px 16px 0 0;
  border-radius: 16px 16px 0 0;
  border: solid #e35351 3px;
  clear: both;
  width: 90%;
  height: auto;
  line-height: 16px;
  padding: 7px 0;
  font-weight: bold;
  font-size: 13px;
  text-align: center;
  -moz-border-radius: 16px 16px 0 0;
  -webkit-border-radius: 16px 16px 0 0;
  border-radius: 16px 16px 0 0;
  -moz-border-radius: 16px 16px 0 0;
  -webkit-border-radius: 16px 16px 0 0;
  border-radius: 16px 16px 0 0;
  border: solid #e35351 3px;
  clear: both;
  width: 90%;
  height: auto;
  line-height: 16px;
  padding: 7px 0;
  font-weight: bold;
  font-size: 13px;
  text-align: center;
}
.errorlist li {
  list-style: none;
  border: none;
}
.errorlist li {
  list-style: none;
  border: none;
}
.errorlist + input {
  border: 2px solid #e35351 !important;
}
.errorlist + input:focus {
  border: 1px solid #8dc63f !important;
}
.errorlist + textarea {
  border: 2px solid #e35351 !important;
}
.errorlist + textarea:focus {
  border: 2px solid #8dc63f !important;
}
/* add class clearfix to floats to make them self-clear */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* Header section */
#js-header {
  height: 90px;
}
.js-logo {
  float: left;
  padding-top: 10px;
}
.js-logo a img {
  border: none;
}
.js-topmenu {
  float: right;
  padding-top: 25px;
}
.js-topmenu ul li {
  float: left;
  padding: 0 10px;
  position: relative;
  z-index: 50;
}
.js-topmenu ul li a {
  color: #3d4e53;
  height: 36px;
  line-height: 36px;
  display: block;
  text-decoration: none;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: -0.05em;
  height: 36px;
  line-height: 36px;
  display: block;
  text-decoration: none;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: -0.05em;
}
.js-topmenu ul li span#welcome {
  color: #8dc63f;
  height: 36px;
  line-height: 36px;
  display: block;
  text-decoration: none;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: -0.05em;
  height: 36px;
  line-height: 36px;
  display: block;
  text-decoration: none;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: -0.05em;
  overflow: auto;
  max-width: 240px;
}
.js-topmenu ul li #unseen_count div {
  border: solid 2px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 3px;
  line-height: 16px;
  width: 16px;
  cursor: pointer;
  text-align: center;
  margin-left: -10px;
}
.js-topmenu ul li #unseen_count div#i_haz_notifications {
  background-color: #8dc63f;
  color: white;
  border-color: #8dc63f;
}
.js-topmenu ul li #unseen_count div#no_notifications_for_you {
  border-color: #d6dde0;
  background-color: #d6dde0;
  color: #edf3f4;
}
.js-topmenu ul li.last a {
  background: url("/static/images/bg.png") right top no-repeat;
}
.js-topmenu ul li.last a span {
  -moz-border-radius: 32px 0 0 32px;
  -webkit-border-radius: 32px 0 0 32px;
  border-radius: 32px 0 0 32px;
  -moz-border-radius: 32px 0 0 32px;
  -webkit-border-radius: 32px 0 0 32px;
  border-radius: 32px 0 0 32px;
  background-color: #8dc63f;
  margin-right: 29px;
  display: block;
  padding: 0 5px 0 15px;
  color: white;
}
.js-search {
  float: left;
  padding-top: 25px;
  margin-left: 81px;
}
.js-search input {
  float: left;
}
.js-search .inputbox {
  padding: 0 0 0 15px;
  margin: 0;
  border-top: solid 4px #8ac3d7;
  border-left: solid 4px #8ac3d7;
  border-bottom: solid 4px #8ac3d7;
  border-right: none;
  -moz-border-radius: 50px 0 0 50px;
  -webkit-border-radius: 50px 0 0 50px;
  border-radius: 50px 0 0 50px;
  -moz-border-radius: 50px 0 0 50px;
  -webkit-border-radius: 50px 0 0 50px;
  border-radius: 50px 0 0 50px;
  outline: none;
  height: 28px;
  line-height: 28px;
  height: 28px;
  line-height: 28px;
  width: 156px;
  float: left;
  color: #6994a3;
}
.js-search .button {
  background: url("/static/images/blue-search-button.png") no-repeat;
  padding: 0;
  margin: 0;
  width: 40px;
  height: 36px;
  display: block;
  border: none;
  text-indent: -10000px;
  cursor: pointer;
}
.js-search-inner {
  float: right;
}
#welcome {
  overflow: hidden;
}
#locationhash {
  /* used solely to contain template variables for tabs.js; should not display */

  display: none;
}
/* Learn More menu */
#block-intro-text {
  padding-right: 10px;
}
#block-intro-text span.def {
  font-style: italic;
}
a#readon {
  background: url("/static/images/learnmore-downarrow.png") right center no-repeat;
  color: #fff;
  text-transform: capitalize;
  display: block;
  float: right;
  font-size: 13px;
  font-weight: bold;
}
a#readon.down {
  background: url("/static/images/learnmore-uparrow.png") right center no-repeat;
}
a#readon span {
  -moz-border-radius: 32px 0 0 32px;
  -webkit-border-radius: 32px 0 0 32px;
  border-radius: 32px 0 0 32px;
  -moz-border-radius: 32px 0 0 32px;
  -webkit-border-radius: 32px 0 0 32px;
  border-radius: 32px 0 0 32px;
  background-color: #8ac3d7;
  margin-right: 34px;
  padding: 0 5px 0 20px;
  height: 36px;
  line-height: 36px;
  height: 36px;
  line-height: 36px;
  display: block;
}
.spread_the_word {
  height: 24px;
  width: 24px;
  position: top;
  margin-left: 5px;
}
/* Explore column */
#js-leftcol {
  float: left;
  width: 235px;
  margin-bottom: 20px;
}
#js-leftcol a {
  font-weight: normal;
}
#js-leftcol a:hover {
  text-decoration: underline;
}
#js-leftcol .jsmod-content {
  border: solid 1px #edf3f4;
  -moz-border-radius: 0 0 10px 10px;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}
#js-leftcol ul.level1 > li > a,
#js-leftcol ul.level1 > li > span {
  border-bottom: 1px solid #edf3f4;
  border-top: 1px solid #edf3f4;
  text-transform: uppercase;
  color: #3d4e53;
  font-size: 15px;
  display: block;
  padding: 10px;
}
#js-leftcol ul.level2 li {
  padding: 5px 10px;
}
#js-leftcol ul.level2 li a {
  color: #6994a3;
  font-size: 15px;
}
#js-leftcol ul.level2 li img {
  vertical-align: middle;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
#js-leftcol ul.level2 li .ungluer-name {
  height: 30px;
  line-height: 30px;
  height: 30px;
  line-height: 30px;
}
/* Main content area: top */
#js-topsection {
  padding: 15px 0 0 0;
  overflow: hidden;
}
.js-topnews {
  float: left;
  width: 100%;
}
.js-topnews1 {
  background: url("/static/images/header/header-m.png") 0 0 repeat-y;
}
.js-topnews2 {
  background: url("/static/images/header/header-t.png") 0 0 no-repeat;
}
.js-topnews3 {
  background: url("/static/images/header/header-b.png") 0 100% no-repeat;
  display: block;
  overflow: hidden;
  padding: 10px;
}
/* Main content area: main*/
#main-container {
  margin: 15px 0 0 0;
}
#js-maincol-fr {
  float: right;
  width: 725px;
}
div#content-block {
  overflow: hidden;
  background: url("/static/images/bg.png") 100% -223px no-repeat;
  padding: 0 0 0 7px;
  margin-bottom: 20px;
}
div#content-block.jsmodule {
  background: none;
}
.content-block-heading a.block-link {
  float: right;
  padding: 15px;
  font-size: 13px;
  color: #3d4e53;
  text-decoration: underline;
  font-weight: normal;
}
div#content-block-content {
  width: 100%;
  overflow: hidden;
  padding-left: 10px;
}
div#content-block-content .cols3 .column {
  width: 33.33%;
  float: left;
}
/* Footer */
#footer {
  background-color: #edf3f4;
  clear: both;
  text-transform: uppercase;
  color: #3d4e53;
  font-size: 15px;
  display: block;
  padding: 15px 0px 45px 0px;
  margin-top: 15px;
  overflow: hidden;
}
#footer .column {
  float: left;
  width: 25%;
  padding-top: 5px;
}
#footer .column ul {
  padding-top: 5px;
  margin-left: 0;
  padding-left: 0;
}
#footer .column li {
  padding: 5px 0;
  text-transform: none;
  list-style: none;
  margin-left: 0;
}
#footer .column li a {
  color: #6994a3;
  font-size: 15px;
}
.pagination {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  clear: both;
  border-top: solid #3d4e53 thin;
  padding-top: 7px;
}
.pagination .endless_page_link {
  font-size: 13px;
  border: thin #3d4e53 solid;
  font-weight: normal;
  margin: 5px;
  padding: 1px;
}
.pagination .endless_page_current {
  font-size: 13px;
  border: thin #3d4e53 solid;
  font-weight: normal;
  margin: 5px;
  padding: 1px;
  background-color: #edf3f4;
}
a.nounderline {
  text-decoration: none;
}
/* Without this the slideshow resizes to the wrong height when you click the controls */
.slides_control {
  height: 325px !important;
}
#about_expandable {
  display: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: solid 5px #d6dde0;
  background: white;
  z-index: 500;
  position: absolute;
  left: 12.5%;
  width: 75%;
  top: 25%;
  margin-left: 0;
  padding: 9px;
}
#about_expandable .collapser_x {
  margin-top: -27px;
  margin-right: -27px;
}
#lightbox_content p {
  padding: 9px 0;
  font-size: 15px;
  line-height: 20px;
}
#lightbox_content p a {
  font-size: 15px;
  line-height: 20px;
}
#lightbox_content p b {
  color: #8dc63f;
}
#lightbox_content p.last {
  border-bottom: solid 2px #d6dde0;
  margin-bottom: 5px;
}
#lightbox_content .right_border {
  border-right: solid 1px #d6dde0;
  float: left;
  padding: 9px;
}
#lightbox_content .signuptoday {
  float: right;
  margin-top: 0;
  clear: none;
}
.nonlightbox .about_page {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: solid 5px #d6dde0;
  width: 75%;
  margin: 10px auto auto auto;
  padding: 9px;
}
.collapser_x {
  float: right;
  height: 24px;
  line-height: 24px;
  height: 24px;
  line-height: 24px;
  width: 24px;
  -moz-border-radius: 24px;
  -webkit-border-radius: 24px;
  border-radius: 24px;
  -moz-border-radius: 24px;
  -webkit-border-radius: 24px;
  border-radius: 24px;
  -moz-box-shadow: -1px 1px #3d4e53;
  -webkit-box-shadow: -1px 1px #3d4e53;
  box-shadow: -1px 1px #3d4e53;
  border: solid 3px white;
  text-align: center;
  color: white;
  background: #3d4e53;
  font-size: 17px;
  z-index: 5000;
  margin-top: -12px;
  margin-right: -22px;
}
.signuptoday {
  -moz-border-radius: 32px;
  -webkit-border-radius: 32px;
  border-radius: 32px;
  -moz-border-radius: 32px;
  -webkit-border-radius: 32px;
  border-radius: 32px;
  background-color: #8dc63f;
  padding: 0 15px;
  height: 36px;
  line-height: 36px;
  height: 36px;
  line-height: 36px;
  float: left;
  clear: both;
  margin: 10px auto;
  cursor: pointer;
  font-style: normal;
}
.signuptoday a {
  background: url("/static/images/icons/pledgearrow-hover.png") right center no-repeat;
  padding-right: 17px;
  color: white;
}
.signuptoday a:hover {
  text-decoration: none;
}
.central {
  width: 480px;
  margin: 0 auto;
}
li.checked {
  list-style-type: none;
  background: transparent url(/static/images/checkmark_small.png) no-repeat 0 0;
  margin-left: -20px;
  padding-left: 20px;
}
