/* variables and mixins used in multiple less files go here */
.header-text {
  height: 36px;
  line-height: 36px;
  display: block;
  text-decoration: none;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: -0.05em;
}
.panelborders {
  border-width: 1px 0px;
  border-style: solid none;
  border-color: #FFFFFF;
}
.block-inner {
  padding-right: 10px;
}
.user-block {
  width: 100%;
  clear: both;
}
.user-block-hide {
  float: left;
  width: 100%;
  clear: both;
}
.user-block-hide .block {
  float: left;
  width: 33%;
}
.user-block-hide input {
  float: left;
  margin: 3px 10px 0 0;
}
.user-block-hide label {
  float: left;
  width: 90%;
}
.user-block1 {
  float: left;
  width: 25%;
}
.user-block2 {
  color: #6994a3;
  font-size: 11px;
  line-height: normal;
  float: left;
  width: 25%;
}
.user-block3, .user-block4 {
  float: right;
  width: 25%;
  margin-top: 10px;
}
img.user-avatar {
  float: left;
  margin-right: 10px;
}
.social {
  width: 100%;
  padding-left: 35px;
}
span.user-name, span.user-date, span.user-short-info {
  display: block;
}
span.user-name, span.user-name a, a {
  font-size: 12px;
  color: #3d4e53;
}
span.user-status-title {
  float: left;
  margin-right: 8px;
  padding-top: 5px;
}
span.rounded {
  border: 1px solid #d4d4d4;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border-radius: 7px 7px 7px 7px;
  border-radius: 7px 7px 7px 7px;
  padding: 1px;
  color: #fff;
  margin: 0 8px 0 0;
  display: inline-block;
}
span.rounded > span {
  padding: 7px 10px;
  min-width: 15px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  text-align: center;
  display: inline-block;
}
span.blue {
  background: #a7d26a url("/static/images/header-button-blue.png") left bottom repeat-x;
}
span.orange {
  background: #eabc7c url("/static/images/header-button-orange.png") left bottom repeat-x;
}
span.grey {
  background: #bacfd6 url("/static/images/header-button-grey.png") left bottom repeat-x;
}
div.check-list {
  float: left;
  width: 100%;
  padding-bottom: 7px;
}
a.profile-edit {
  display: block;
  background: url("/static/images/header/icon-edit.png") right top no-repeat;
}
div.profile-save {
  padding-top: 15px;
  border: none;
}
input.profile-save {
  background: url("/static/images/header/save-setting.png") 0 0 no-repeat;
  width: 116px;
  height: 42px;
  display: block;
  text-indent: -100000px;
  border: none;
}
a.my-setting {
  background: #d6dde0 url("/static/images/header/explane.png") 90% center no-repeat;
  border-radius: 7px;
  height: 50px;
  line-height: 50px;
  display: block;
  padding: 0 0 0 10px;
  font-size: 20px;
}
a.my-setting.active {
  background: #d6dde0 url("/static/images/header/collspane.png") 90% center no-repeat;
}
#tabs {
  border-bottom: 4px solid #8dc63f;
  clear: both;
  float: left;
  margin-left: 10px;
  margin-top: 10px;
  width: 100%;
}
#tabs ul.book-list-view {
  margin-bottom: 4px !important;
}
#tabs-1, #tabs-2, #tabs-3 {
  margin-left: 10px;
}
ul.tabs {
  float: left;
  padding: 0;
  margin: 0;
  list-style: none;
}
ul.tabs li {
  float: left;
  height: 46px;
  line-height: 46px;
  margin-right: 10px;
}
ul.tabs li a {
  height: 46px;
  line-height: 46px;
  display: block;
  text-align: center;
  padding: 0 10px;
  min-width: 80px;
  -moz-border-radius: 7px 7px 0 0;
  -webkit-border-radius: 7px 7px 0 0;
  border-radius: 7px 7px 0 0;
  background: url("/static/images/header/bg-tabs1.png") left bottom repeat-x;
}
ul.tabs li a:hover, ul.tabs li.active a {
  background: url("/static/images/header/bg-tabs.png") left bottom repeat-x;
  color: #fff;
}
.book-list span.rounded > span {
  line-height: normal;
  width: 75px;
}
.book-list span.rounded > span a {
  text-transform: capitalize;
}
div.content-block-content {
  padding-left: 10px;
}
.js-news-text {
  float: left;
  width: 70%;
  font-size: 16px;
  color: #3d4e53;
  font-family: lucida grande;
}
.js-news-links {
  float: right;
  width: 30%;
}
.column-left .item {
  margin: 0 10px 10px 0;
}
.column-center .item {
  margin: 0 5px 10px 5px;
}
.column-right .item {
  margin: 0 0 10px 10px;
}
.column .item {
  border: 7px solid #edf3f4;
  padding: 10px;
}
.book-image {
  padding: 0 0 10px 0;
}
.book-info {
  padding: 0 0 10px 0;
  line-height: 125%;
  position: relative;
}
.book-info span.book-new {
  background: url(/static/images/images/icon-new.png) 0 0 no-repeat;
  width: 38px;
  height: 36px;
  display: block;
  position: absolute;
  right: 10px;
  top: 0;
}
.book-name {
  color: #3d4e53;
}
.book-author {
  color: #6994a3;
}
.book-status {
  margin: 0 -10px;
  border-top: 1px solid #edf3f4;
  padding: 15px 10px 0 10px;
  position: relative;
}
.book-status span.unglue {
  font-style: italic;
}
.book-status span.status {
  position: absolute;
  right: 10px;
  bottom: -5px;
  width: 37px;
  height: 25px;
  display: block;
}
