<div id="comments">
  {% for comment in comment_list reversed %}
  
  <div class="work_supporter {% if comment.content_object.last_campaign and comment.user in comment.content_object.last_campaign.managers.all %}official{% endif %}">
      <a href="{% url supporter comment.user %}">
      <div class="work_supporter_avatar">
        <img class="user-avatar" src="{{ comment.user.profile.avatar_url }}" height="50" width="50" alt="Avatar for {{ comment.user }}" title="{{ comment.user }}" />
    </div>
    <span class="comment_username">{{comment.user.username }}</span></a> <span>({{ comment.submit_date }})</span> <br /><span class="comment">{{ comment.comment|linebreaksbr }}<br /></span> 
  </div>  
  {% endfor %}
</div>
