<div class="comments clearfix">
	<div class="comments_book">
	<a href="{% url work campaign.work.id %}?tab=2"><img src="{{ campaign.work.cover_image_thumbnail }}" alt="cover image for {{ campaign.work.title }}" /></a>
	</div>
	
	<div class="comments_info">
		<div class="comments_graphical">
		  
		</div>
		<div class="comments_textual">

<p>Congratulations! You wished for it and pledged for it, and now the Campaign
for <a href="{% url work campaign.work.id %}?tab=2">{{ campaign.work.title}}</a> has succeeded.
You will notified when an Unglued ebook edition is
available, within 90 days.</p>

<p>You will be receiving notification about your Campaign
Premium(s) for <a href="{% url work campaign.work.id %}?tab=2">{{ campaign.work.title}}</a> directly from the RIGHTS HOLDER. 
</p>

<p class="classname">Give ebooks to the world; give income to authors and publishers.  Unglue.it</p>
		</div>
	</div>
</div>