<div class="comments clearfix">
	<div class="comments_book">
    	<a href="{% url work work.id %}"><img src="{{ work.cover_image_thumbnail }}" alt="cover image for {{ work.title }}" /></a>
	</div>
	
	<div class="comments_info">
		<div class="comments_graphical">
			{% comment %}
			This is where you put graphics-oriented header info for the notice.
			Examples include user avatars and campaign status icons.
			Some text is OK.
			{% endcomment %}
		</div>
		<div class="comments_textual">
			{% comment %}
			This is where you put the textual part of your message.
			Examples include the text of comments, details about credit card charges, etc.
			{% endcomment %}
		</div>
	</div>
</div>