{% extends "notification/notice_template.html" %}

{% block comments_graphical %}
{% if amount > 0 %}
{{ user.username }}, {{ amount }} gift credits have been added to your unglue.it gift credit account.
{% else %}
{{ user.username }}, {{ minus_amount }} gift credits have been deducted from your unglue.it gift credit account.
{% endif %}
{% endblock %}
{% block comments_textual %}
<p>
You have a balance of {{ user.credit.balance }} gift credits.
</p>
<p>
You have pledged {{ user.credit.pledged }} gift credits to ungluing campaigns.
</p>
<p>
You have {{ user.credit.available }} gift credits available to pledge or transfer.
</p>
<p>
You can manage your gift credit account <a href="https://unglue.it/gift/">here</a>
</p>
<p>

Gift credits can be used in support of ungluing campaigns.
</p>
{% endblock %}