{% extends "notification/notice_template.html" %}

{% block comments_book %}
	<a href="{% url work campaign.work.id %}"><img src="{{ campaign.work.cover_image_small }}" alt="cover image for {{ campaign.work.title }}" /></a>
{% endblock %}

{% block comments_graphical %}
The campaign to unglue <a href="{% url work campaign.work.id %}">{{ campaign.work.title }}</a> has succeeded!
{% endblock %}

{% block comments_textual %}
{% ifequal campaign.type 1 %}
A book on your ungluing list, {{ campaign.work.title }}, has met its goal price of {{ campaign.target }}, thanks to the support of ungluers like you.  Unglue.it and the book's rights holder, {{ campaign.rightsholder }}, will be converting it to an unglued ebook edition and making it available for all the world to enjoy.  We'll let you know you when the unglued ebook is ready.<br /><br />
{% else %}
A book on your ungluing list, {{ campaign.work.title }}, has met its revenue target, thanks to the support of ungluers like you.  The book is now unglued - available for all the world to enjoy.  <br /><br />

{% endifequal %}
Thank you again!
{% endblock %}