{% extends "notification/notice_template.html" %}

{% block comments_book %}
	<a href="{% url work claim.work.id %}"><img src="{{ claim.work.cover_image_small }}" alt="cover image for {{ claim.work.title }}" /></a>
{% endblock %}

{% block comments_graphical %}
	Hooray! {{ rightsholder }} is now an approved rights holder for {{ claim.work.title }}.
{% endblock %}

{% block comments_textual %}
	What does this mean for you?  Rights holders are the people who are legally authorized to license works.  This means they're the only people who can run campaigns on Unglue.it.
	
	{{ rightsholder }} may be running a campaign soon, or later, but isn't obligated to.  Want to make that campaign happen?  <a href="https://{{current_site.domain}}{% url work claim.work.id %}?tab=2">Leave a comment</a> and tell your friends:

	{% url work claim.work.id as work_url %}
	{% include "notification/sharing_block.html" %}
	
	Make sure {{ rightsholder }} knows how much you want to give this book to the world.
	
	Thanks for your help!
{% endblock %}