# http://docs.celeryproject.org/en/latest/cookbook/daemonizing.html#generic-initd-celerybeat-example
# to be placed at /etc/defaults/celerybeat

# Where to chdir at start.
CELERYBEAT_CHDIR="{{ project_path }}t/"

# Extra arguments to celerybeat
#CELERYBEAT_OPTS="--schedule=/var/run/celerybeat-schedule"

# Name of the celery config module.#
CELERY_CONFIG_MODULE="celeryconfig"

# Name of the projects settings module.
export DJANGO_SETTINGS_MODULE="{{ django_settings_module }}"

# Path to celerybeat
CELERYBEAT="{{ project_path }}/{{ virtualenv_name }}/bin/django-admin.py celerybeat"

# virtualenv to use
VIRTUALENV="{{ project_path }}/{{ virtualenv_name }}"

#Full path to the PID file. Default is /var/run/celeryd.pid
CELERYBEAT_PIDFILE="/var/log/celerybeat/celerybeat.pid"

#Full path to the celeryd log file. Default is /var/log/celeryd.log
CELERYBEAT_LOGFILE="/var/log/celerybeat/celerybeat.log"

#Log level to use for celeryd. Default is INFO.
CELERYBEAT_LOG_LEVEL="INFO"

#User to run celeryd as. Default is current user.
#CELERYBEAT_USER

#Group to run celeryd as. Default is current user.
#CELERYBEAT_GROUP
