@import 'variables';
@import 'settings';
@import 'foundation';

@mixin mobile() {
    .wrapper {
        display: flex;
        flex-direction: column;
    }

    .pubinfo {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .wrapper {
        margin: 10px;
    }

    .bookImage {
        order: 0;
        display: flex;
        justify-content: center;
    }

    .bookSidebar {
        order: 1;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .book-sidebar-item {
        flex: auto;
        display: flex;
        justify-content: center;
    }

    .book-sidebar-item span {
        display: none;
    }
    
    .book-sidebar-explore {
        display: none;
    }

    .bookRead {
        flex: 100%;
    }

    .bookDownload {
        flex: 100%;
    }

    .bookDonate {
        flex: 100%;
    }

    .bookDescription {
        order: 2;
    }

    .bookComments {
        order: 3;
        margin-top: 15px;
    }
}

@include breakpoint (small down) {
    @include mobile();
}

@supports not (grid-template-rows: auto) {
    @include mobile();
}

@supports (grid-template-rows: auto) {
    @include breakpoint (medium) {
        .wrapper {
            display: grid;
            grid-template-columns: fit-content 1fr 20%;
            grid-template-rows: auto auto;
            grid-template-areas: "bookImage bookDescription bookSidebar"
                                 ".         bookComments    .";
            margin-left: auto;
            margin-right: auto;
            max-width: 1000px;
        }

        .bookDescription {
            padding-right: 15px;
        }

        .bookSidebar {
            flex-direction: column;
            margin-top: 66px;
        }
    }
}

.bookImage {
    grid-area: bookImage;
    padding: 15px;

    img {
        padding: 5px;
        border: solid 5px $gray-lighter;
    }
}

.bookImage div {
    float:right;
}

.bookDescription {
    grid-area: bookDescription;
}

.bookSidebar {
    display: flex;
    grid-area: bookSidebar;
}

.book-sidebar-item {
    margin-bottom: 16px;
}

.bookComments {
    grid-area: bookComments;
}

.btn_wishlist span{
    text-align: right;
}

//TODO remove me
.btn_wishlist div{
    float: none;
}

.description-more-content {
    padding-top: 20px;
}

.book-sidebar-explore {
    width: 150px;
    .jsmodule {
        margin: 0;
        padding: 0;
        
        h3 {
            background-color: $pale-blue;
            border-radius: 0;
            height: auto;
            span {
                text-align: center;
                padding: 4px;
            }
            margin-bottom: 4px;
        }
           
        .menu {
           
            li {
                > span {
                    display: none;
                }
                a {
                    padding: 0;
                    padding-bottom: 4px;
                }
                a:hover {
                    text-decoration: underline;
                }
            }

           .level3 {
                padding-left: 10px;
            }
        }
    }

}
