@import "variables.scss";
@import "social_share.scss";

.download_container {
	width: 75%;
	margin: auto;
}

#lightbox_content a {
	color: $medium-blue;
}

#lightbox_content .signuptoday a {
	color: white;
}

#lightbox_content h2, #lightbox_content h3, #lightbox_content h4 {
	margin-top: 15px;
}

#lightbox_content h2 a {
	font-size: $font-size-larger*1.25;
}

#lightbox_content .ebook_download {
	a {
		margin: auto 5px auto 0;
		font-size: $font-size-larger;
	}

	img {
		vertical-align: middle;
	}
}

#lightbox_content .logo {
	img {
		@include one-border-radius(7px);
		height: 50px;
		width: 50px;
		margin-right: 5px;
	}

	font-size: $font-size-larger;
}

#lightbox_content .one_click, #lightbox_content .ebook_download_container {
    @include one-border-radius(5px);
	margin-left: -.25%;
	padding: 0.5%;
	padding-bottom: 15px;
	margin-bottom: 5px;
	width: 74%;

	h3 {
		margin-top: 5px;
	}
}

#lightbox_content .one_click {
	border: solid 2px $call-to-action;
}

#lightbox_content .ebook_download_container {
	border: solid 2px $blue-grey;
}

#lightbox_content a.add-wishlist .on-wishlist, #lightbox_content a.success, a.success:hover {
	text-decoration: none;
	color: $text-blue;
}

#lightbox_content a.success, a.success:hover {
	cursor: default;
}

#lightbox_content ul {
	padding-left: 50px;

	li {
		margin-bottom: 4px;
	}
}

.border {
    @include one-border-radius(5px);
    border: solid 2px $blue-grey;
    margin: 5px auto;
    padding-right: 5px;
    padding-left: 5px;
}

.sharing {
    float: right;
    padding: 0.5% !important;
    width: 23% !important;
    min-width: 105px;

    ul {
        padding: 0.5% !important;
    }

    .jsmod-title {
        @include one-border-radius(10px);
        height: auto;

        span {
            padding: 5% !important;
            color: white !important;
            font-style: normal;
        }
    }
}

#widgetcode2 {
    display: none;
	border:1px solid $blue-grey;
	@include one-border-radius(10px);
	padding:10px;

	textarea {
	    max-width: 90%;
	}
}

.btn_support.kindle{
    height: 40px;

    a {
        width: auto;
        font-size: $font-size-larger;
    }
}