@import 'variables';
@import 'settings';
@import 'foundation';

.faq-container {
    display: flex;
    flex-direction: column;

    margin: 0 auto;
    max-width: 1024px;
}

.faq-menu {
    min-width: 200px;
}

.faq-main {
    padding: 0 25px;
    max-width: 100vw;
}

.faq-toplevel-nav {
    width: fit-content;
    margin: 0 auto;

    li {
        width: fit-content;
    }
}

.long-formula {
    white-space: pre-wrap;
}

@include breakpoint (medium) {
    .faq-container {
        flex-direction: row;
    }

    .faq-toplevel-nav {
        & > li > a, & > li > span {
            border-bottom:1px solid $pale-blue;
        }
    }
}
