@import 'settings';
@import 'variables';
@import 'foundation';

@include foundation-everything;

@include breakpoint(small only) {
    #feedback {
        display: none;
    }
}

#top-menu {
    position: fixed;
    background-color: $background-body;
    box-sizing: border-box;
}

@include breakpoint (small down) {
    #top-menu {
        height: 100vh;
        width: 100vw;
        font-size: $font-size-header;
        top: 0;
        left: 0;
        &> div {
            height: 100vh;
            .menu {
                display: flex;
                flex-direction: column;
                align-items: stretch;
                height: 100vh;

                label {
                    flex: 1;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                }

                li {
                    a {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        height: 100%;
                    }
                    flex: 1;
                }
            }
        }
    }
}

@include breakpoint (medium) {
    #top-menu {
        width: 143px;
        margin-left: -106px;
        border: 1px solid $gray;
    }
}

.footer {
    background-color: $pale-blue;
    clear: both;
    padding: 15px 0px 5px 0px;
    margin-top: 20px;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    flex-direction: row;


    ul {
        padding-top:5px;
        margin-left:0;
        padding-left:0;
    }

    li {
        /* .utilitylinks(5px, 0); */
        text-transform: none;
        list-style: none;
        margin-left: 0;
    }
}

/* Utility classes */

.inline-block {
    display: inline-block;
}

