@import "variables";
@import "settings";
@import "foundation";

#page-wrapper {
    display: flex;
    flex-direction: column;
    width:100%;
}




#header {
    width:100%;
    display: flex;
    flex-flow: wrap;
    align-items: flex-start;
    padding: 10px;
}

#header-logo {
    flex: 1 0 auto;
    order: 1;
    align-self: flex-start;

    img {
        max-height: 48px;
    }
}

#header-search-bar {
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 8px;
    padding-right: 8px;
    flex: 100%;
    order: 5;
}

#header-search-bar form  {
    width:100%;
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: flex-start;
    background: #1779ba;
    border-right: 2px solid #1779ba;
    border-radius: 0 6px 6px 0;
}

#header-search-bar form i {
    align-self: flex-start;
    font-size: 1.5em;
    margin-top: auto;
    margin-bottom: auto;
    color: white;
    padding: 4px;
    background: #1779ba;
}

#header-search-bar form input {
    align-self: flex-start;
    margin-top: auto;
    margin-bottom: auto;
}

#header-login {
    flex: 1 1 auto;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 8px;
    padding-right: 8px;
    order: 3;

    white-space: nowrap;
    align-items: center;

    .button {
        margin: 0;
        margin-left: 10px;
    }
}

#header-menu {
    flex: 1;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 8px;
    order: 4;
    z-index: 999;
}

#header-menu i {
    font-size: 3em;
    margin-top: auto;
    margin-bottom: auto;
}

.wrapper {
    max-width: 1000px;
    padding-top: 24px;
}

#footer {
    width:100%;
}

@include breakpoint(medium) {
    #header {
        flex-flow: nowrap;
    }

    #header-search-bar {
        // flex: 1 1 auto;
        order: 2;
    }
}

@include breakpoint(348px down) {
    #header-login {
        display: none;
    }
}
