@import "variables.scss";
@import "learnmore2.scss";
@import "foundation";

.featured_books {
    margin-top: 18px;
    font-size: $font-size-header;
}

.module-title {
    font-size: $font-size-header;
}

.js-main-container {
        margin-left: auto;
        margin-right: auto;
        max-width: 960px;
}

#user-block1 {
	#block-intro-text {
		float:left;
		width:702px;
		font-size: $font-size-header;
	}

	#readon {
		font-size: $font-size-larger;
	}
}
.jsmodule {
    background-color: $pale-blue;
    padding: 10px;
    .google_signup {
        a {
            width: 100%;
            border-radius: 0px;
            border: none;
        }
    }
}



@include breakpoint(small only) {
    #js-maincol-fl {
        display: flex;
        flex-direction: column;
    }
    #js-topsection {
        visibility: hidden;
        height: 0px;
    }

    .more_featured_books {
        display:none;
    }

    .more_featured_books_mobile {
        width:100%;
        > a {
            width: 100%;
        }
    }

    .latest-ungluing {
        display: none;
    }


    .book_container::-webkit-scrollbar {
        display: none;
    }

    .jsmodule {
        padding-bottom: 24px;
    }
}


@include breakpoint(medium up) {
    #js-maincol-fl {
        display: flex;
        #js-main-container {
            flex: 1 78%;
        }

        #js-rightcol {
            flex: 1 22%;
        }
    }

    .book-list > div {
    }

    .more_featured_books {
        padding-left:14px;
        > i {
            margin-top:150px;
            font-size: 26px;
        }
    }

    .more_featured_books_mobile{
        display: none !important;
    }

    .jsmodule {
        margin-bottom: 20px;
    }
}

#js-main-container {
    display: flex;
    flex-direction: column;
}


.sidebar_button {
    margin-bottom: 10px;
    input {
        background-color: $green;
        color: white;
        width: 100%;
        padding: 12px;
        border: none;
    }

}

.book-description {
    overflow: auto;
}

.book-detail {
    display: flex;

}

.book_container {
    display: flex;
    overflow-x: auto;
    box-sizing: content-box;
    .thewholebook {
       border: none;
    }

}

.jsmod-content {
    ul {
        margin: 0;
        list-style-type: none;
        li {
            display: flex;
            margin-bottom: 10px;
            .user-avatar {
                padding-top: 6px;
                a img {
                    max-width: none;
                    width: 34px;
                    border-radius: 2px;
                }
            }
            .user-book-info {
                margin-left: 10px;
                .user-book-name {
                    font-weight: normal;
                }
            }
        }
    }
}

.signup {
    cursor: pointer;
}


.donate {
    cursor: pointer;
}

#js-topsection {
    width: 100%;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}
