@import "variables.scss";

.user-block {
	width:100%; 
	clear:both;
}

#user-block1 {
	width:100%;
	
	a#readon {
		float: left;
	}
}

.user-block-hide .quicktour.last {
	background: none;
}

.learnmore_block { 
	float: left;
	width:100%; 
	clear:both;
	border-top: solid 1px $bright-blue;
	margin-top: 20px;
	
	.learnmore_row{
	    border-bottom: dashed 2px $bright-blue;
        clear: left;
        width: 68%;
	}
	.arrow {
	     font-size: 24pt;
	     color: $bright-blue; 
	     line-height: 48pt;
	     float: left;
	     padding-right: 8px;
	     padding-left: 8px;
	     padding-top: 20px;
	     font-size: 24pt;
	}
	.quicktour {
		width: 20%;
		float: left;
		font-style: italic;
		line-height:20px;
		font-size: $font-size-default;
		margin-top: 0;
	    text-align: center;
	    min-height: 64px;
		.highlight {
			font-weight: bold;
		}
		.programlink{
		    margin-top: 20px;
		}
		.panelback{
		    margin-top: 21px;
		}
        .panelfront{
            font-size: 48pt;
            line-height: 48pt;
            font-style: normal;
            
            .makeaskgive{
                position: relative;
                z-index: 1;
                font-size: 40pt;
                top: 10px;
                right: 10pt;
                text-shadow: 4px 2px 4px white;
            }
            .qtbutton{
                position: relative;
                z-index: 0;
                opacity: 0.8;
            }
            .make{
                line-height: 10pt;
                color:red;
                font-size:12pt;
                top: 0;
                left: 50px;
            }
            .qtreadit{
                line-height: 0;
                position: relative;
                height:34px
            }
            .qtreadittext{
                top: -15px;
                left: 50px;
                line-height: 10pt;
            }
            input{
                line-height: 10pt;
                display: inherit;
                font-size: 10pt;
                padding: .7em 1em;
                top: -15px;            
            }
        }
		&.last {
			padding-left:10px;
            font-size: 20px;
            width: 28%;
            padding-top: 20px;
			.signup {
				color: $call-to-action;
				font-weight: bold;
				margin-top: 10px;
				
				img {
					margin-left: 5px;
					vertical-align: middle;
					margin-bottom: 3px;
				}
			}
		}
		
		&.right {
		    float: right;
		}
	}	
}

input[type="submit"].qtbutton{
    float:none;
    margin:0;
}

#block-intro-text div {
	display: none;
	line-height: 25px;
	padding-bottom: 10px;
	
	&#active {
		display: inherit;
	}
}