@import "variables.scss";

.items {
	clear: both;
	padding: 5px;
	margin: 0 5px 8px 0;
	//min-height: 105px;
	width: 95%;
	
	&.row1 {
		background: #f6f9f9;
	}
	
	&.row2 {
		background: #fff;
	}
	
	div {
		float: left;
		
		img {
			margin: 0 5px;
		}
	}
	
	.image img {
		height: 100px;
	}
	
	// so div will stretch to height of content
	&:after {
		content: ".";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
	}
	.nonavatar {
		width: 620px;
		padding-top: 5px;
		span {
			padding-right: 5px;
					}
        div.libname{
            width: 100%;
            a{
                font-size: $font-size-larger;
            }
        }
        div.libstat {
            width:25%;
            display: block;
        }
	}
	
	.avatar {
		float: left;
		margin: 0 auto;
		padding-top: 5px;
	}
}
.joined {
	border: 3px #B8DDE0 solid;
	margin-top: 3px;
	margin-bottom: 5px;
	padding-left: 2px;
	em {
	    font-color:#B8DDE0;
	    font-style:italic;
	}
}