@import "variables.scss";

.user-block2 {
	width: 48%;
	font-size: 18px;
	padding-right: 2%;
}
#js-leftcol li.active_lang a {
  font-weight: bold;
}
.show_langs:hover{
  text-decoration: underline;
}
#lang_list {
  display: none;
}

#tabs-1, #tabs-2, #tabs-3 {
    margin-left: 0;
}

ul.tabs li a {
    height: 41px;
    line-height: 18px;
    padding-top: 5px;
}