@import "variables.scss";

#content-block .jsmod-content, .book-detail {
	float: left;
	width: auto;
}

input[type="submit"], a.fakeinput {
	float: right;
	font-size: $font-size-header;
	margin: 10px 0 10px;
	cursor: pointer;
}

.pledge_amount {
	padding: 10px;
	font-size: $font-size-header;
	background: $pale-blue;

	&.premium_level {
		margin-top: 3px;
	}
}

form.pledgeform {
	width: 470px;

	.pledgeform_label {
	    font-size: 80%
	}
}

#id_preapproval_amount {
	width: 50%;
	line-height: 30px;
	font-size: $font-size-larger;
}

ul.support li, ul.support li:hover {
	background-image: none;
}

p {
	margin: 7px auto;
}

.jsmodule.pledge {
	margin: auto;

	.jsmod-content {
		float: right !important;
	}
}

.modify_notification {
	width: 452px;
	margin-bottom: 7px;
	border: solid 2px $blue-grey;
	@include one-border-radius(5px);
	padding: 7px;

	h4 {
		margin: 0 0 5px 0;
	}
}

.cancel_notice {
	width: 470px;
	padding: 5px;
	margin-top: 10px;
}

#fakepledgesubmit {
	background-color: $alert;
	cursor: default;
	font-weight: bold;
	font-size: $font-size-header;
	display: none;
}

span.menu-item-price {
	float: none !important;
}

ul#offers_list li {

    div.on {
        display: block;
	    background: $pale-blue;
	    margin-top: 1em;
        .give_label {
            padding: 4px;
            color: black;
        }
    }
	div.off {
	    display: none;
	}
	input[type=text], textarea {
		width: 95%;
		font-size: $font-size-larger;
		color: $text-blue;
		margin: 0 10px 5px 5px;
	}
	input[type=text]{
		@include height($font-size-larger*1.3);
	}

}

.premiums_inactive#select_premiums {
    background: $blue-grey;

    div, div.pledge_amount, ul li, ul li:hover {
            background: $blue-grey;
			color: $text-blue
    }
}

#premium_note {
    font-size: 70%;
    font-style: italic;
}

#mandatory_premiums {
	font-size: $font-size-larger;

	div {
		float: left;

		&.ack_level {
			width: 16%;
			margin-right: 3%;
			height: 100%;
			padding: 1%;
		}

		&.ack_header {
			width: 73%;
			padding: 1%;
		}

		&.ack_active, &.ack_inactive {
			width: 100%;
			font-size: $font-size-default;
		}

		&.ack_active {
			.ack_header, .ack_level {
				border: solid $text-blue;
				border-width: 1%;
				background: white;
			}
		}

		&.ack_inactive {
			.ack_header, .ack_level {
				border: solid $blue-grey;
				border-width: 1%;
				background: $blue-grey;
			}

			input, textarea {
				background: $blue-grey;
				border: dashed 1px $text-blue;
			}
		}
	}

	> div {
		margin: 7px 0;
	}

	input[type=text], textarea {
		width: 95%;
		font-size: $font-size-larger;
		color: $text-blue;
		margin: 5px 0;
	}

	input[type=text] {
		@include height($font-size-larger*1.3);
	}
}

#id_ack_link {
	border: none;
	cursor: default;
}

.fund_options {
    a.fakeinput {
        font-size: $font-size-header;
        margin: 10px auto;
        float: left;
        line-height: normal;
    }

    input[type="submit"] {
        float: left;
    }

    div {
        width: 50%;
        float: left;

        ul {
            background: $pale-blue;
        }

        &.highlight {
            ul {
                border-color: $medium-blue-grey;
                background: white;
            }

            color: $dark-green;
        }
    }

    ul {
        padding: 5px 10px 5px 15px;
        border: solid 1px $blue-grey;
        margin-right: 15px;
        list-style-type: none;

        li {
            margin: 5px 0;
        }

        a {
            color: $medium-blue;
        }
    }
}

#authorize {
    &.off {
        display: none;
    }

    border: 3px solid $blue-grey;
    @include one-border-radius(5px);
    margin-top: 10px;
    padding: 10px;

    div.innards {
        input[type="text"],input[type="password"]  {
            font-size: $font-size-larger;
            line-height: $font-size-larger*1.5;
            border-width: 2px;
            padding: 1% 1%;
            margin: 1% 0;
            color: $text-blue;

            &:disabled {
                border-color: white;
            }

            &.address, &#card_Number, &#id_email {
                width: 61%;
            }
        }

        label {
            width: 31%;
            float: left;
            line-height: $font-size-larger*1.5;
            font-size: $font-size-larger;
            border: solid white;
            border-width: 2px 0;
            padding: 1% 2% 1% 0;
            margin: 1% 0;
            text-align: right;
        }

        .form-row span {
            float: left;
            line-height: $font-size-larger*1.5;
            font-size: $font-size-larger;
            margin: 1%;
            padding: 1% 0;
        }
    }

    .cvc {
        position: relative;
        z-index: 0;
    }

    #cvc_help {
        font-style: italic;
        float: none;
        font-size: $font-size-default;
        color: $link-color;
        cursor: pointer;
    }

    #cvc_answer {
        display: none;
        z-index: 100;
        border: 2px solid $blue-grey;
        @include one-border-radius(5px);
        margin: 1% 0;
        padding: 1%;
        width: 46%;
        position: absolute;
        top: 90%;
        right: 0;
        opacity: 1;
        background-color: white;

        img {
            float: right;
            margin-left: 5px;
        }
    }
}

.payment-errors {
    display: none;
    @include errors;
    @include one-border-radius(16px);
    width: auto;
    margin: auto;
}

span.level2.menu.answer {
    border-left: solid 7px $pale-blue;
    a {
        font-size: $font-size-larger;
    }
}

#anonbox {
    margin-top: 10px;
	background: $pale-blue;
    float: left;
    width: 48%;
    padding: 1%;
    &.off {
        display: none;
    }

}
