@import "variables";
@import "settings";
@import "foundation";

.registration {
    display: flex;

    justify-content: center;

    padding: 10px;
}

.google-signup {
    display: flex;
    flex-direction: column;

    & > *{
        margin: 7px 0px;
    }
}

.linetext-outer {
    display: inline-block;
    width:100%;
    text-align:center;
    border-bottom: 1px solid $blue-grey;
    line-height:0.1em;
    margin:10px 0 20px;
}

.linetext-inner {
    background:#fff;
    padding:0 10px;
}

.login_box {
    border: solid 3px $blue-grey;
    @include one-border-radius(5px);
    margin: 10px auto;
    padding: 9px;
    width: 45%;

    .google_signup {
        padding: 21px;
    }

    input[type="text"], input[type="password"] {
        width: 90%;
    }
}

@include breakpoint(medium) {
    .login-border {
        border: solid 3px $blue-grey;
        @include one-border-radius(5px);
        padding: 14px;
    }
}

.actionbutton {
    @include actionbuttons;
    float: left;
}

.welcomealternatives {
	  border-top: 1px solid $blue-grey;
	  margin-top: 10px;
	  padding-top: 5px;
}
