@import "variables.scss";
@mixin shareclass($sharewhere)
{
	background:url("#{$image-base}icons/#{$sharewhere}.png") 10px center no-repeat;
	cursor: pointer;

	span {
		padding-left:10px;
	}

	&:hover {
		background:$call-to-action url("#{$image-base}icons/#{$sharewhere}-hover.png") 10px center no-repeat;

		span {
			color: #fff;
			}
	}
}

ul.social {
	a:hover {
		text-decoration: none;
	}

	li {
		padding:5px 0 5px 30px !important;
		height: 28px;
		line-height: 28px !important;
		margin: 0 !important;
		@include one-border-radius(0px);

		&.facebook {
			@include shareclass("facebook");
		}

		&.twitter {
			@include shareclass("twitter");
		}

		&.email {
			@include shareclass("email");
		}

		&.embed {
			@include shareclass("embed");
		}
	}
}