/* variables and mixins used in multiple less files go here */
$text-blue: #3d4e53;
$medium-blue: #6994a3;
$medium-blue-grey: #a7c1ca;
$pale-blue: #edf3f4;
$green: #8dc63f;
$call-to-action: #8dc63f;
$dark-green: #73a334;
$dark-blue: #37414d;
$blue-grey: #d6dde0;
$bright-blue: #8ac3d7;
$alert: #e35351;
$orange: #e18551;
$yellow: #efd45e;
$image-base: "/static/images/";
$background-header: "#{$image-base}bg.png";
$background-body: "#{$image-base}bg-body.png";
$background-booklist: "#{$image-base}booklist/bg.png";
$font-size-default: 13px;
$font-size-larger: 15px;
$font-size-header: 19px;
$font-size-shout: 22px;
$link-color: #6994a3;

//== Colors
//
//## Gray and brand colors for use across Bootstrap.

$gray-base:              #000;
$gray-darker:            lighten($gray-base, 13.5%); // #222
$gray-dark:              lighten($gray-base, 20%);   // #333
$gray:                   lighten($gray-base, 33.5%); // #555
$gray-light:             lighten($gray-base, 46.7%); // #777
$gray-lighter:           lighten($gray-base, 93.5%); // #eee

$brand-primary:         darken(#428bca, 6.5%); // #337ab7
$brand-success:         #5cb85c;
$brand-info:            #5bc0de;
$brand-warning:         #f0ad4e;
$brand-danger:          #d9534f;

//** Link hover color set via `darken()` function.
$link-hover-color:      darken($link-color, 15%);
//** Link hover decoration.
$link-hover-decoration: underline;

$font-size-base:          14px;
$font-size-large:         ceil(($font-size-base * 1.25)); // ~18px
$font-size-small:         ceil(($font-size-base * 0.85)); // ~12px

//** Unit-less `line-height` for use in components like buttons.
$line-height-base:        1.428571429; // 20/14
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed:    floor(($font-size-base * $line-height-base)); // ~20px

//== Components
//
//## Define common padding and border radius sizes and more. Values based on 14px text and 1.428 line-height (~20px to start).

$padding-base-vertical:     6px;
$padding-base-horizontal:   12px;

$padding-large-vertical:    10px;
$padding-large-horizontal:  16px;

$padding-small-vertical:    5px;
$padding-small-horizontal:  10px;

$padding-xs-vertical:       1px;
$padding-xs-horizontal:     5px;

$line-height-large:         1.3333333; // extra decimals for Win 8.1 Chrome
$line-height-small:         1.5;

$border-radius-base:        4px;
$border-radius-large:       6px;
$border-radius-small:       3px;

//== Buttons
//
//## For each of Bootstrap's buttons, define text, background and border color.

$btn-font-weight:                normal;

$btn-default-color:              #333;
$btn-default-bg:                 #fff;
$btn-default-border:             #ccc;

$btn-primary-color:              #fff;
$btn-primary-bg:                 $brand-primary;
$btn-primary-border:             darken($btn-primary-bg, 5%);

$btn-success-color:              #fff;
$btn-success-bg:                 $brand-success;
$btn-success-border:             darken($btn-success-bg, 5%);

$btn-info-color:                 #fff;
$btn-info-bg:                    $brand-info;
$btn-info-border:                darken($btn-info-bg, 5%);

$btn-warning-color:              #fff;
$btn-warning-bg:                 $brand-warning;
$btn-warning-border:             darken($btn-warning-bg, 5%);

$btn-danger-color:               #fff;
$btn-danger-bg:                  $brand-danger;
$btn-danger-border:              darken($btn-danger-bg, 5%);

$btn-link-disabled-color:        $gray-light;


//** Disabled cursor for form controls and buttons.
$cursor-disabled:                not-allowed;

@mixin header-text {
	display:block;
	text-decoration:none;
	font-weight:bold;
	letter-spacing: -.05em;
}

@mixin border-radius($topleft, $topright, $bottomright, $bottomleft)
{
  -moz-border-radius: $topleft $topright $bottomright $bottomleft;
  -webkit-border-radius:  $topleft $topright $bottomright $bottomleft;
  border-radius:  $topleft $topright $bottomright $bottomleft;
}

@mixin one-border-radius($radius)
{
  -moz-border-radius: $radius;
  -webkit-border-radius:  $radius;
  border-radius:  $radius;
}

.panelborders {
	border-width: 1px 0px;
	border-style: solid none;
	border-color: #FFFFFF;
}

@mixin navigation-arrows($x, $y)
{
	background:url($background-booklist) $x $y no-repeat;
	width:10px;
	height:15px;
	display:block;
	text-indent:-10000px;
}

@mixin supporter-color-span($hex, $color)
{
	$url: "#{$image-base}header-button-#{$color}.png";
	background:$hex url($url) left bottom repeat-x;
}

@mixin roundedspan
{
	border:1px solid #d4d4d4;
	@include one-border-radius(7px);
	padding:1px;
	color:#fff;
	margin:0 8px 0 0;
	display:inline-block;

	> span {
		padding:7px 7px;
		min-width:15px;
		@include one-border-radius(5px);
		text-align:center;
		display:inline-block;

		.hovertext {
			display: none;
		}

		&:hover .hovertext {
			display: inline;
		}
	}
}

@mixin height($x)
{
	height:$x;
	line-height:$x;
}

@mixin mediaborder-base()
{
	padding: 5px;
	border: solid 5px $pale-blue;
}

@mixin actionbuttons()
{
	width: auto;
	@include height(36px);
	background: $call-to-action;
	border: 1px solid transparent;
	color: white;
	cursor: pointer;
	font-size: 13px;
	font-weight: $btn-font-weight;
	padding: 0 15px;
	margin: 5px 0;
}

@mixin errors()
{
	@include one-border-radius(16px);
	border: solid $alert 3px;
	clear: both;
	width: 90%;
	height: auto;
	line-height: 16px;
	padding: 7px 0;
	font-weight: bold;
	font-size: 13px;
	text-align: center;

	li {
		list-style: none;
		border: none;
	}
}

@mixin clickyarrows()
{
	text-indent:-10000px;
	font-size:0;
	width:15px;
	height:22px;
	display:block;
	position:absolute;
	top:45%;
}
