{% extends 'notification/notice_template.html' %}

{% load humanize %}

{% block comments_book %}
			<a href="{% url 'work' gift.acq.work_id %}"><img src="{{ gift.acq.work.cover_image_small }}" alt="cover image for {{ gift.acq.work.title }}" /></a>
{% endblock %}

{% block comments_graphical %}
After more than 7 days, the gift you sent to {{ gift.to }} has not yet been redeemed.

{% endblock %}

{% block comments_textual %}
<p>
After more than 7 days, the gift you sent to {{ gift.to }} has not yet been redeemed.
</p>
<p>
There are several possible reasons for this. 
</p>
<ul>
<li>  The email address ({{ gift.acq.user.email }}) may have been incorrect.
<li>  The recipient may have ignored the email with the information about the ebook.
<li>  The email may have been filtered.
<li> The recipient might be on vacation. We'll check again in another week.
</li>

<p>
Here's the URL that the recipient (and ONLY the recipient) should use to collect the book:
 </p>
<pre>https://{{ current_site.domain }}{% url 'receive_gift' gift.acq.nonce %}</pre>

<p>
You can send the link yourself if to make sure that it gets to the right place.
</p>
<p>
You can also "regift" the ebook to a different email address. Click on  
<a href="{% url 'receive_gift' gift.acq.nonce %}">this link</a> to do so.
</p>
<p>
If you have any problems or questions, don't hesitate to contact <a href="{% url 'feedback' %}?page={{request.build_absolute_uri|urlencode:""}}">Unglue.it support</a>.</p>
<p>
the Unglue.it team
</p>
{% endblock %}