<p>Many libraries uses library card numbers that are divided into fixed set of starting digits, followed by additional digits that identify a specific patron. 
To authenticate based on a fixed set of starting digits, followed by a fixed number of additional digits, enter a card number below, replacing the variable digits with "#":
<br /><br />
     <code>12345#######</code>
<br /><br />
This  indicates that a library card number must start with 12345, and by followed by seven additional digits. The last digit of the library card number must be the correct modulus 10 checkdigit. You should try various library card numbers to see if they all pass validation. If they do not, then your library card numbers probably do not use the modulus 10 checkdigit. If this is so, uncheck the "checksum" box. <br /></p>