<p>You can use IP address ranges to verify your user's status as valid users of the library. Use NNN.NNN.NNN.NNN notation for the lower and upper end of your IP address blocks for example:
<br /><br />
     Lower: <code>24.0.0.1</code> Upper: <code>24.0.0.255</code>
<br /><br />
Don't use "loopback" addresses like 127.0.0.1, or the <a href="http://en.wikipedia.org/wiki/Private_network">private network blocks</a>: 10.0.0.0 - 10.255.255.255, 172.16.0.0 - 172.31.255.255, 192.168.0.0 - 192.168.255.255. </p>