{% extends "notification/notice_template.html" %}
{% load humanize %}

{% block comments_book %}
			<a href="{% url work gift.acq.work.id %}"><img src="{{ gift.acq.work.cover_image_small }}" alt="cover image for {{ gift.acq.work.title }}" /></a>
{% endblock %}

{% block comments_graphical %}
To download your ebook, visit <a href="{% url download gift.acq.work.id %}">the book's download page.</a>

{% endblock %}

{% block comments_textual %}
<p>
{{ gift.message }}
</p>
<p>
Thanks to {{ gift.giver }} and other ungluers, {{ gift.acq.work.title }} will be eventually be released to the world in an unglued ebook edition. 
</p>
<p>
The ebook is licensed to you personally, and your personal license has been embedded in the ebook file. You may download as many times as you need to, but you can't make copies for the use of others until the ungluing date. You can make that date come sooner by encouraging your friends to buy a copy.
</p>
<p>
For more information about the book, visit the book's <a href="{% url work gift.acq.work.id %}">unglue.it page</a>

</p>
<p>
We hope enjoy your new ebook!
</p>
<p>
{{ gift.giver.username }} and the Unglue.it team
</p>
{% endblock %}