{% extends 'notification/notice_template.html' %}

{% load humanize %}

{% block comments_book %}
			<a href="{% url 'work' gift.acq.work_id %}"><img src="{{ gift.acq.work.cover_image_small }}" alt="cover image for {{ gift.acq.work.title }}" /></a>
{% endblock %}

{% block comments_graphical %}
To pick up <i>{{ gift.acq.work.title }}</i>, the ebook that <a href="{% url 'supporter' gift.giver %}">{{ gift.giver }}</a> has bought for you,  visit <a href="{% url 'receive_gift' gift.acq.nonce %}">the gift page.</a>

{% endblock %}

{% block comments_textual %}
<p style="margin:2em">
{{ gift.message|linebreaksbr }}
</p>
<p>
<a href="{% url 'receive_gift' gift.acq.nonce %}">Click here</a> to receive your ebook.
</p>
<p>
The ebook will be licensed to you personally, and your license has been embedded in the ebook file. You may download as many times as you need to, but you can't make copies for the use of others until the ungluing date. You can make that date come sooner by encouraging your friends to buy a copy.
</p>
<p>
Thanks to <a href="{% url 'supporter' gift.giver %}">{{ gift.giver }}</a> and other ungluers, <a href="{% url 'work' gift.acq.work_id %}">{{ gift.acq.work.title }}</a> will be eventually be released to the world in an unglued ebook edition. 
</p>
<p>
For more information about the book, visit the book's <a href="{% url 'work' gift.acq.work_id %}">unglue.it page</a>

</p>
<p>
We hope enjoy your new ebook!
</p>
<p>
<a href="{% url 'supporter' gift.giver %}">{{ gift.giver.username }}</a> and the Unglue.it team
</p>
{% endblock %}