{% extends "notification/notice_template.html" %}
{% with campaign.work.title as title %}
{% url work campaign.work.id as work_url %}

{% block comments_book %}
			<a href="{{ work_url }}"><img src="{{ campaign.work.cover_image_small }}" alt="cover image for {{ title }}" /></a>
{% endblock %}

{% block comments_graphical %}
			The rights holder, {{ campaign.rightsholder }}, has updated the campaign to unglue {{ title }}.  For details, see the <a href="{{ work_url }}">campaign page</a>.
{% endblock %}

{% endwith %}