{% extends "basedocumentation.html" %}

{% block doccontent %}
<h1>Smashwords + Unglue.it</h1>

<p>Are you a Smashwords author?  Do you want to unglue your book?  You can!  Here's how:</p>

<ul>
    <li>Make sure your book meets Smashwords' <a href="http://www.smashwords.com/distribution">standards for inclusion</a> in their Premium Catalog.  Consult the <a href="http://www.smashwords.com/books/view/52">Smashwords Style Guide</a> for details.</li>
    <li>Contact <a href="mailto:rights@gluejar.com">rights@gluejar.com</a> about signing a Platform Services Agreement with Unglue.it, and follow the instructions on the <a href="/rightsholders/">rights holder tools page</a> to claim your book, develop a publicity strategy, and start a campaign.</li>
</ul>

<h2>Why Unglue Your Book?</h2>

<p>As a self-published author, you know that innovative marketing and distribution are critical.</p>

<p>Ungluing campaigns guarantee you income when campaigns succeed, without risk to you if they don't.  Whether campaigns succeed or fail, they're a tool for you to reach out to, discover, interact with, and increase your audience while raising the profile of your work.  Successful campaigns mean wider distribution of your book -- our <a href="https://unglue.it/work/81834/">first unglued ebook</a> reached #3 most-downloaded in Amazon's Kindle eBooks > Nonfiction > Social Sciences category.  Your unglued book, in turn, becomes an ambassador for the rest of your work.</p>

<p>Rest assured that, when you unglue a book, you retain the copyright.  You can choose whichever <a href="http://creativecommons.org/licenses/">Creative Commons license</a> serves your interests best, whether that's inviting your fans to remix your work or sharing it widely while reserving certain rights.  Once a book is unglued, you should set the price to zero in the Smashwords admin so as to honor the intentions of your supporters. We encourage you to develop enhanced digital editions to sell alongside the Creative Commons Licensed edition and print versions for sale.  </p>

<h2>The Fine Print</h2>

<p><I>Don't the <a href="http://www.smashwords.com/about/tos">Smashwords Terms of Service</a> say that authors can't distribute Meatgrinder files through other channels without special permission?</i></p>
<p>Yes.  You have that permission, courtesy of an agreement between Smashwords and Unglue.it.</p>

<p><I>Where can I learn more about Unglue.it's terms?</I></p>
<p>Please see our <a href="{% url terms %}">Terms of Service</a> and our <a href="{% url faq %}">FAQ</a>.</p>
{% endblock %}