{% extends "base.html" %}

{% block content %}
<div id="lightbox_content">
    <p>
        Do you have a <b>book you love so much</b> you'd like to give it to the world?  These are the books that <span class="ungluer"></span> wants to give to the world.
    </p>
    <p>
    	Of course, <span class="ungluer"></span> can't do that, because books are stuck.  Copyright and ebook licensing often make it illegal for individuals, and even libraries, to share digital books.  DRM makes sharing hard.  At Unglue.it, we respect copyright and pay book creators, while enabling book lovers to share their favorite books with everyone.
    </p>
    <p>
        In short, we get books unstuck.  Authors and publishers decide what amount lets them freely share their books with the world while still making a living.  We raise that fee here through crowdfunding: people like you and <span class="ungluer"></span> chipping in.  When campaigns succeed, the rights holders get paid, and they issue a free electronic edition under a <a href="http://creativecommons.org">Creative Commons</a> license.  It's like public radio: once donors have covered the station's costs, its programs are free to all.
    </p>
    <p>
        What if your favorite book could be free to the world?
    </p>
    <p class="last">
        What if you could <b>unglue it</b>?
    </p>

	{% include "about_lightbox_footer.html" %}
</div>
{% endblock %}