{% extends 'basedocumentation.html' %}
{% load sass_tags %}
{% block title %} Free Ebook Foundation Donations {% endblock %}
{% block extra_css %}
<link type="text/css" rel="stylesheet" href="{% sass_src 'scss/pledge.scss' %}" />
{% endblock %}

{% block topsection %}
{% endblock %}

{% block doccontent %}

<h2> Donating to Unglue.it </h2>
<p>
Unglue.it is a program of the <a href="https://ebookfoundation.org">Free Ebook Foundation</a> (FEF), which is a charitable, not-for-profit corporation. 
Donations to the Free Ebook Foundation are tax-deductible in the United States, and support the operation and maintenance of the Foundation's programs, including Unglue.it, Free-Programming-Books, and our work supporting Project Gutenberg.
</p>
<p>
If you want to support a specific ungluing campaign, donate to that campaign directly.
</p>

<h2 id="donationform">Donate Now!</h2>
                    <div id="authorize" class="jsmod-content" >
            <form class="askform" method="POST" action="{% url 'newdonation' %}">
                <input type="hidden" name="reason" value="general">
                    <div class="donate_amount clearfix">
                    <label>Amount ($): </label><input id="amount" max="20000.00" min="5.00" name="amount" step="0.01" type="number" value="10.00" class="donate"></div>
                    <div class="button">
                        <input name="pledge" type="submit" value="Donate" id="donatesubmit" class="donate" />
                    </div>
                    
            </form> 

                    </div>


{% endblock %}
