{% extends "base.html" %}

{% block content %}
<div class="nonlightbox">
<div id="lightbox_content">
<div class="clearfix about_page">
    <p>
        Imagine if <b>you could give your favorite book</b> to everyone on earth.  Imagine if they all had a copy that they could read anywhere, anytime, on their favorite devices, with no DRM.  That they could share with their friends, freely and legally.  And imagine that your favorite book's creators still got paid.
    </p>
    <p>
    	It's possible!  Here's a set of books that <span class="ungluer"></span> has given to you.  All of these books are either in the public domain (in the United States, and possibly other countries as well), or they've been released to the world under a <a href="https://creativecommons.org/">Creative Commons</a> license.  This means you're free to read, copy, and share them.  Under some licenses, you're also free to remix them into new creative works.
    </p>
    <p>
    	Some of these books have been in the public domain all along.  But others were unglued.  What's that mean?  First, book creators decided what amount what would make it worth their while to issue their books under Creative Commons licenses.  Next, they ran Pledge Campaigns on Unglue.it, and anyone who wanted to give this book to the world -- including <span class="ungluer"></span> -- chipped in.  When the campaign succeeded, we paid the book creators, and they issued a freely available ebook.  You're free to read it now.  Go ahead!
    </p>
    <p>
        Now imagine, what if your favorite book were on this list?
    </p>
    <p class="last">
        What if you could <b>unglue it</b>?
    </p>
    
	{% include "about_lightbox_footer.html" %}
</div>
</div>
</div>
{% endblock %}