    <div class="right_border"><a href="{{ faqurl }}">Read the FAQ</a></div>
    <div class="right_border"><a href="{% url faq_location 'rightsholders' %}">Read the FAQ for authors and publishers</a></div>
    <div class="right_border"><a href="{% url press %}">Our press coverage</a></div>
    {% if not user.is_authenticated %}
    <div class="signuptoday"><a href="{% url registration_register %}?next={% if request.GET.next %}{{ request.GET.next|urlencode }}{% else %}{{ request.get_full_path|urlencode}}{% endif %}">Sign up today</a></div>
    {% else %}
    <div class="signuptoday"><a href="{% url campaign_list 'ending' %}">Our campaigns</a></div>
    {% endif %}
