{% extends "basedocumentation.html" %}

{% block doccontent %}

<h2>Admin Users Only</h2>

<p>This function is only available to Unglue.it administration or authorized campaign managers.</p>

<p>If you believe you should have been able to do something here, please make sure you're logged in.</p>

<p>Campaign managers can create new editions of works that are already in the Unglue.it system, but only Unglue.it staff can create editions for works not in the system.  If you're a campaign manager trying to add your work to the database, please send us the ISBN-13, publisher, year of publication, and a cover image, and we'll set that up for you.</p>

{% endblock %}