{% extends 'basedocumentation.html' %}

{% block title %} Agreement Submitted {% endblock %}
{% block extra_extra_head %}
{{ block.super }}
<link rel="stylesheet" href="{{ jquery_ui_theme }}" type="text/css" media="screen">
<script type="text/javascript" src="{{ jquery_ui_home }}"></script>

{% endblock %}

{% block topsection %}
{% endblock %}

{% block doccontent %}
<h2>You're a pending Unglue.it Rights Holder!</h2>

Your Unglue.it Rights Holder Agreement has been submitted. Our staff will verify your existence and email you a countersigned agreement. At that point, you'll be able to use all of the Unglue.it rights holder tools.

{% endblock %}