{% extends "registration/registration_base.html" %}

{% load sass_tags %}
{% block extra_js %}

<script type="text/javascript" src="/static/js/definitions.js"></script>
{% endblock %}
{% block extra_extra_head %}
<link type="text/css" rel="stylesheet" href="{% sass_src 'scss/landingpage4.scss' %}" />
<link type="text/css" rel="stylesheet" href="{% sass_src 'scss/book_panel2.scss' %}" />
<script type="text/javascript" src="/static/js/greenpanel.js"></script>

{% endblock %}

{% block title %}{% endblock %}

{% block topsection %}
{% with hide_learn_more='on' %}
{% include "learn_more.html" %}
{% endwith %}
{% endblock %}

{% block content %}
<div id="main-container">
	<div class="js-main">
		<div id="js-leftcol">
			{% include "faqmenu.html" %}
			{% block subnav %}{% endblock %}
		</div>
		<div id="js-maincol-fr" class="have-right doc">
			<div class="js-maincol-inner">
				<div id="content-block">
					<div id="js-main-container">
            			<div class="js-main-container-inner">

    
{% block doccontent %}
{% endblock %}

						</div>
					</div>
			</div>
		</div>
		</div>
	</div>
</div>    

{% endblock %}


