{% extends "registration/registration_base.html" %}
{% block extra_js %}

<script type="text/javascript" src="/static/js/definitions.js"></script>
{% endblock %}
{% block extra_extra_head %}
<link type="text/css" rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
<link type="text/css" rel="stylesheet" href="/static/css/landingpage4.css" />
<link type="text/css" rel="stylesheet" href="/static/css/book_panel2.css" />
<script type="text/javascript" src="/static/js/greenpanel.js"></script>

{% endblock %}

{% block title %}{% endblock %}

{% block topsection %}
{% with hide_learn_more='on' %}
{% include "learn_more.html" %}
{% endwith %}
{% endblock %}

{% block content %}
<div id="main-container">
	<div class="js-main">
		<div id="js-leftcol">
			{% include "faqmenu.html" %}
			{% block subnav %}{% endblock %}
		</div>
		<div id="js-maincol-fr" class="have-right doc">
			<div class="js-maincol-inner">
				<div id="content-block">
					<div id="js-main-container">
            			<div class="js-main-container-inner">

    
{% block doccontent %}
{% endblock %}

						</div>
					</div>
			</div>
		</div>
		</div>
	</div>
</div>    

{% endblock %}


