<!DOCTYPE html>
{# raw url references raise test errors in tests for django registration; this is a workaround #}
{% url privacy as privacyurl %}
{% url terms as termsurl %}
{% url regluit.frontend.views.edit_user as editurl %}
{% url rightsholders as rhtoolsurl %}
{% url faq as faqurl %}
{% url about as abouturl %}
{% url press as pressurl %}
{% url rh_admin as adminurl %}
{% load truncatechars %}

<html>
<head>
    <title>unglue.it {% block title %}{% endblock %}</title>
    <link type="text/css" rel="stylesheet" href="/static/css/sitewide.css" />
	<link REL="SHORTCUT ICON" HREF="/static/images/favicon.ico">
    {% block extra_css %}{% endblock %}
	{% block base_js %}
	<script type="text/javascript" src={{ jquery_home }}></script>
    {% endblock %}
    {% block extra_js %}
    {% endblock %}
	<script type="text/javascript" src="/static/js/watermark_init.js"></script>
	<script type="text/javascript" src="/static/js/watermark_change.js"></script>
    {% block extra_head %}
    {% endblock %}
</head>

<body>

<div id="feedback">
<p><a href="/feedback/?page={{request.build_absolute_uri|urlencode:""}}" class="nounderline">Feedback</a></p>
</div>
<div id="js-page-wrap">
    <div id="js-header">
        <div class="js-main">
            <div class="js-logo">
                <a href="/"><img src="/static/images/logo.png" alt="unglue.it" title="unglue.it"  /></a>
            </div>
            {% if not suppress_search_box %}
            <div class="js-search">
            <div class="js-search-inner">
                <form action="{% url search %}" method="get">
                	<div class="inputalign">
                    <input type="text" id="watermark" size="25" onfocus="imgfocus()" onblur="imgblur(15)" class="inputbox" name="q" value="{{ q }}">
                    <input type="submit" class="button">
					</div>
                </form>
            </div>
            </div>
            {% endif %}
            <div class="js-topmenu">
                <ul class="menu">
                    {% if user.is_authenticated %}
                    <li class="first"><a href="/supporter/{{user.username}}"><span id="welcome">Welcome, {{ user.username|truncatechars:20 }}</span></a></li>
                    <li><a href="{% url auth_logout %}"><span>Sign Out</span></a></li>
                    {% else %}
                    <li class="first"><a href="{% url auth_login %}?next={% firstof request.path '/' %}"><span>Sign In</span></a></li>
                    {% endif %}
                    <li><a href="{{ faqurl }}"><span>FAQs</span></a></li>   
                    <li><a href="{{ pressurl }}"><span>Press</span></a></li>   
                    <li><a href="/"><span>Home</span></a></li>   
                    {% if not user.is_authenticated %}
                    <li class="last" id="expander"><a href="{% url registration_register %}"><span>sign up</span></a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>

{% if is_preview %}
<div class="preview_top">
Welcome to the alpha version of Unglue.It.  This site is a preview of our full functionality; some things (including pledging) aren't turned on yet.  If something seems broken or confusing -- or if you find something you love! -- please give us <a href="/feedback">feedback</a>.  Thank you for your interest, and have fun.
</div>
{% endif %}
    {% block topsection %}{% endblock %}
    {% block content %}{% endblock %}
</div>
<div id="footer">
  <div class="js-main">
    <div class="column">
    <span>About unglue.it</span>
    <ul>
    <li><a href="{{ abouturl }}">About</a></li>
    <li><a href="http://www.gluejar.com/Blog">Blog</a></li>
    <li><a href="{{ pressurl }}">Press</a></li>
    <li><a href="http://eepurl.com/fKLfI">Newsletter</a></li>
    </ul>
    </div>
    <div class="column">
    <span>Your account</span>
    <ul>
    {% if user.is_authenticated %}
    <li><a href="{{editurl}}">Settings</a></li>
    {% endif %}
    <li><a href="{{rhtoolsurl}}">Rights Holder Tools</a></li>
    <li><a href="{{privacyurl}}">Privacy</a></li>
    <li><a href="{{termsurl}}">Terms and Conditions</a></li>
    {% if user.is_staff %}
    <li><a href="{{adminurl}}">Unglue.it Administration</a></li>
    {% endif %}
    </ul>
    </div>
    <div class="column">
    <span>Help</span>
    <ul>
    <li><a href="{{faqurl}}">General FAQ</a></li>
    <li><a href="/faq/rightsholders/">Rights Holder FAQ</a></li>
    <li><a href="{% url api_help %}">API</a></li>
    <li><a href="mailto:support@gluejar.com">support@gluejar.com</a>
    </ul>
    </div>
    <div class="column">
    <span>Contact</span>
    <ul>
    <li>General inquiries</li>
    <li><a href="mailto:aqf@gluejar.com">aqf@gluejar.com</a></li>
    <li>Rights Holders</li>
    <li><a href="mailto:rights@gluejar.com">rights@gluejar.com</a></li>
    </ul>
    </div>
</div>
</div>
{% block counter %}
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-28369982-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>{% endblock %}
</body>
</html>


