<!DOCTYPE html>
{# raw url references raise test errors in tests for django registration; this is a workaround #}
{% url privacy as privacyurl %}
<html>
<head>
    <title>unglue.it {% block title %}{% endblock %}</title>
    <link type="text/css" rel="stylesheet" href="/static/css/merged_layout.css" />
    <link type="text/css" rel="stylesheet" href="/static/css/book-panel.css"  />
    <link href="/static/css/book-panel.css" rel="stylesheet" type="text/css" />
	<link type="text/css" rel="stylesheet" href="/static/css/book_list.css"  />
    <script type="text/javascript" src="/static/js/jquery-1.6.3.min.js"></script>
    <script type="text/javascript" src="/static/js/book-panel.js"></script>
</head>

<body>

<div id="js-page-wrap">
	<div id="js-header">
    	<div class="js-main">
        	<div class="js-logo">
            	<a href="/"><img src="/static/images/logo.png" alt="unglue.it" title="unglue.it"  /></a>
            </div>
            <div class="js-topmenu">
            	<ul class="menu">
                    {% if user.is_authenticated %}
                    <li class="first"><span id="welcome">Welcome, {{ user.username }}</span></li>
                    <li><a href="{% url auth_logout %}"><span>Sign Out</span></a></li>
                    {% else %}
                    <li class="first"><a href="{% url auth_login %}"><span>Sign In</span></a></li>
                    {% endif %}
                    <li><a href="#"><span>Tour</span></a></li>  
                    <li><a href="#"><span>FAQ’s</span></a></li>   
                    <li><a href="#"><span>Help</span></a></li>
                    {% if not user.is_authenticated %}
                    <li class="last"><a href="{% url registration_register %}"><span>sign up</span></a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>

    {% block content %}{% endblock %}

</div>

<div id="footer">
	<ul class="menu">
    	<li><a href="{{privacyurl}}"><span>Privacy</span></a></li>
    </ul>
</div>

</body>
</html>


