                    <div class="book-list row1">
                        <div class="book-thumb">
                            <a href="#"><img src="{{ campaign.cover_image_small }}" alt="Book name" title="book name"  /></a>
                        </div>
                        <div class="book-name">
                        <span>
                            {{ campaign.work.title }}
                        </span>
                        </div>
                        <div class="add-wishlist">
                            <a href="#">Add to Wishlist</a>
                        </div>
                        <div class="booklist-status">
                            <span class="booklist-status-text">Status: In Progress</span>
                            <span class="booklist-status-img">
                                <img src="/static/images/booklist/icon1.png" title="book list status" alt="book list status" />
                            </span>
                        </div>
                        <div class="unglue-this none">
                            <div class="unglue-this-inner1">
                                <div class="unglue-this-inner2">
                                </div>
                            </div>
                        </div>
                    </div>
