{% extends "basedocumentation.html" %}
{% load humanize %}

{% block title %}Buy-to-Unglue Campaign Mechanics{% endblock %}
{% block topsection %}
{% endblock %}

{% block doccontent %}
<h2>Frequently Asked Questions</h2>
<dl>
<dt class="background: #8dc63f; color: white; font-weight: bold;">Help! My question isn't covered in the FAQs!</dt>

<dd>Please email us at <a href="mailto:support@gluejar.com">support@gluejar.com</a>.  We want to make sure everything on the site runs as smoothly as possible.  Thanks for helping us do that.</dd>
</dl>
<h3> Campaigns</h3>
{% include 'faq_b2u.html' %}
</div>
</div>
{% endblock %}