{% extends "base.html" %}
{% url privacy as privacyurl %}

{% block content %}
    <h2>Campaign: {{campaign.name}}</h2>
    <p>Work: {{campaign.work}}</p>
    <p>Target: {{campaign.target}}</p>
    <p>Deadline: {{campaign.deadline}}</p>
    <form method="POST" action="{% url campaign_by_id pk=campaign.id %}">
        {% csrf_token %}
       <!--<input type="text" name="pledge_amount" value="20.00"/> -->
       {{form.as_p}}
       <input type="submit" value="Pledge" />
    </form>
    <p class="extra">Message:{{message}}</p>
{% endblock %}
