{% extends "basedocumentation.html" %}

{% block extra_extra_head %}
{{ block.super }}
<link rel="stylesheet" href="{{ jquery_ui_theme }}" type="text/css" media="screen">
{{ form.media.css }}
<script type="text/javascript" src="{{ jquery_ui_home }}"></script>
{{ form.media.js }}
{% endblock %}

{% block doccontent %}

<h2>Campaign Admin</h2>

{% if command_status %}
  <p style="font-weight:bold; color:red">{{command_status}}</p>
{% endif %}

<!-- Active transactions -->

<p style="font-weight:bold">A) Campaigns with active transactions</p>
{% if campaigns_with_active_transactions %}
<form method="post" action="#">
    {% csrf_token %}
    <ul class="terms">
{% for campaign in campaigns_with_active_transactions %}
        <li><input type="radio" name="active_campaign" value="{{campaign.id}}" />{{campaign.id}} | {{campaign.name}} </li>
{% endfor %}
    </ul>

    <input type="submit" name="execute_campaigns" value="Execute Payment to Unglue.it" id="submit">
    <input type="submit" name="cancel_campaigns" value="Cancel Active Transactions" id="submit">
</form>  
{% else %}
  <p>No campaigns with active transactions</p>
{% endif %}

<!-- incomplete transactions -->
<p style="font-weight:bold">B) Campaigns with incomplete transactions</p>
{% if campaigns_with_incomplete_transactions %}
<form method="post" action="#">
    {% csrf_token %}
    <ul>
{% for campaign in campaigns_with_incomplete_transactions %}
        <li><input type="radio" name="incomplete_campaign" value="{{campaign.id}}" />{{campaign.id}} | {{campaign.name}} </li>
{% endfor %}
    </ul>
    <input type="submit" name="finish_campaigns" value="Pay Rights Holders" id="submit">
</form>       
{% else %}
  <p>No campaigns with incomplete transactions</p>
{% endif %}

<!--  completed transactions -->
<p style="font-weight:bold">C) Campaigns with completed transactions</p>
{% if campaigns_with_completed_transactions %}
    <ul>
{% for campaign in campaigns_with_completed_transactions %}
        <li>{{campaign.id}} | {{campaign.name}} </li>
{% endfor %}
    </ul>
{% else %}
  <p>No campaigns with completed transactions</p>
{% endif %}


<!--  canceled transactions -->
<p style="font-weight:bold">D) Campaigns with canceled transactions</p>
{% if campaigns_with_canceled_transactions %}
    <ul>
{% for campaign in campaigns_with_canceled_transactions %}
        <li>{{campaign.id}} | {{campaign.name}} </li>
{% endfor %}
    </ul>
{% else %}
  <p>No campaigns with canceled transactions</p>
{% endif %}

<form method="post" action="#">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" name="campaign_checkstatus" value="Update Transaction Statuses" id="submit">
</form>

{% if check_status_results %}
<p style="font-weight:bold">E) Campaign checkstatus output</p>
{% autoescape off %}
{{check_status_results}}
{% endautoescape %}
{% endif %}

{% endblock %}