{% extends "base.html" %}
{% block title %}
Campaign for WORK TITLE GOES HERE
{% endblock %}

{% block extra_head %}
<link type="text/css" rel="stylesheet" href="/static/css/campaign.css"  />

<!-- this was written with JS 1.4.2. does it work with the 1.6.3 in base.html? -->

<script type="text/javascript">
	var $j = jQuery.noConflict();
	$j(document).ready(function(){
		$j('.tabs1').click(function(){
			$j('#tabs').find('.active').removeClass('active');
			$j(this).addClass('active');
			$j('.content-block-content').find('.active').removeClass('active');
			$j('#tabs-1').addClass('active').show(300);
			$j('#tabs-2').hide(200);
			$j('#tabs-3').hide(200);
			$j('#tabs-4').hide(200);
		});
		$j('.tabs2').click(function(){
			$j('#tabs').find('.active').removeClass('active');
			$j(this).addClass('active');
			$j('.content-block-content').find('.active').removeClass('active');
			$j('#tabs-2').addClass('active').show(300);
			$j('#tabs-1').hide(200);
			$j('#tabs-3').hide(200);
			$j('#tabs-4').hide(200);
		});
		$j('.tabs3').click(function(){
			$j('#tabs').find('.active').removeClass('active');
			$j(this).addClass('active');
			$j('.content-block-content').find('.active').removeClass('active');
			$j('#tabs-3').addClass('active').show(300);
			$j('#tabs-2').hide(200);
			$j('#tabs-1').hide(200);
			$j('#tabs-4').hide(200);
		});
		$j('.tabs4').click(function(){
			$j('#tabs').find('.active').removeClass('active');
			$j(this).addClass('active');
			$j('.content-block-content').find('.active').removeClass('active');
			$j('#tabs-4').addClass('active').show(300);
			$j('#tabs-2').hide(200);
			$j('#tabs-1').hide(200);
			$j('#tabs-3').hide(200);
		});
	});


</script>

{% endblock %}

{% block content %}    
    <div id="main-container">
    <div class="js-main">
    	<div id="js-leftcol">
        	<div class="jsmodule rounded">
            	<div class="jsmod-content">
                	Campaign in Progress: <br />${{ work.last_campaign.current_total }}/${{ work.last_campaign.target }}
                </div>
            </div>
			{% include "explore.html" %}
		</div>
        <div id="js-maincol">
        <div class="js-maincol-inner">
        	<div class="content-block">
            	<div class="book-detail">
                	<div class="book-detail-img"><a href="#">
                    	<img src="{{ work.cover_image_thumbnail }}" alt="{{ work.title }}" title="{{ work.title }}" width="131" height="192" /></a>
                    </div>
                    <div class="book-detail-info">
                    	<h2 class="book-name">{{ work.title }}</h2>
                        <h3 class="book-author">{{ work.author }}</h3>
                        <h3 class="book-year">{{ work.editions.all.0.publication_date }}</h3>
                        <div class="find-book">
                        	<label>Find it here</label>
                        	<!-- todo: these should be a real thing -->
                            <div class="find-link">
                            	<a class="find-google" href="#"><img src="/static/images/icons/google.png" align="" title="" /></a>
                                <a class="find-group" href="#"><img src="/static/images/icons/group.png" align="" title="" /></a>
                            </div>
                        </div>
                        <div class="pledged-info"><div class="pledged-group">{{ work.last_campaign.supporters.count }} Ungluers have pledged ${{ work.last_campaign.current_total }}</div><div class="status"><img src="/static/images/images/icon-book-37by25-{{ work.percent_unglued }}.png" /></div></div>
                        <div class="btn_support"><a href="#">Support</a></div>
                    </div>
                </div>
                <!-- needed to put 10px padding on this for supporter page but hurts here. disentangle. -->
            	<div class="content-block-heading" id="tabs">
                    <ul class="tabs">
                        <li class="tabs1"><a href="#">Campaign</a></li>
                        <li class="tabs2"><a href="#">Community </a></li>
                        <li class="tabs3"><a href="#">Supporters</a></li>
                        <li class="tabs4"><a href="#">Details</a></li>
                    </ul>
                    	
                </div>
                
                <div class="content-block-content">
               		<div id="tabs-1" class="tabs">
                    <div class="tabs-content">
                    	<h3 class="tabcontent-title">Title</h3>
                    	<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. </p>

						<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. </p>

						<p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. </p>

						<p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.</p>
                    </div>
                    </div>
                    <div id="tabs-2" class="tabs">
                	<div class="tabs-content">
                       Being Unglued infomation
                    </div>
                    </div>
                    <div id="tabs-3" class="tabs">
                	<div class="tabs-content">
                        Want to Unglue infomation
                    </div>
                    </div>
                    <div id="tabs-4" class="tabs">
                	<div class="tabs-content">
                        Want to Unglue infomation xxx
                    </div>
                    </div>
                </div>
            </div>	
        </div>
        </div>
        <div id="js-rightcol">
        <div class="js-rightcol-pad rounded">
        	
        	<div class="jsmodule">
            	<h3 class="jsmod-title"><span>Share</span></h3>
                <div class="jsmod-content">
                    <ul class="social menu">
                        <li class="facebook first"><a href="#"><span>Facebook</span></a></li>
                        <li class="twitter"><a href="#"><span>Twitter</span></a></li>
                        <li class="lasts email"><a href="#"><span>Email</span></a></li>
                    </ul>
                </div>
            </div>
            <div class="jsmodule">
            	<h3 class="jsmod-title"><span>Support</span></h3>
                <div class="jsmod-content">
                    <ul class="support menu">
                        <li class="first"><a href="#">
                        	<span class="menu-item-price">$1</span>
                            <span class="menu-item-desc">The ebook delivered to your inbox.</span>
                        </a></li>
                        <li class=""><a href="#">
                        	<span class="menu-item-price">$25</span>
                            <span class="menu-item-desc">The ebook your name in the credits section under "supporters".</span>
                        </a></li>
                        <li class=""><a href="#">
                        	<span class="menu-item-price">$50</span>
                            <span class="menu-item-desc">The ebook your name & a link of your choice in the credits under "benefactors".</span>
                        </a></li>
                        <li class="last"><a href="#">
                        	<span class="menu-item-price">$100</span>
                            <span class="menu-item-desc">The ebook your name & a link of your choice in the credits under "benefactors".</span>
                        </a></li>
                        
                        
                    </ul>
                </div>
            </div>
            
        </div>
        </div>
    </div>
    </div>
    
{% endblock %}