{% extends "base.html" %}
{% load endless %}

{% block title %} Active Campaigns {% endblock %}
{% block extra_css %}
<link type="text/css" rel="stylesheet" href="/static/css/supporter_layout.css" />
<link type="text/css" rel="stylesheet" href="/static/css/book_list.css" />
<link type="text/css" rel="stylesheet" href="/static/css/book_panel.css" />
{% endblock %}
{% block extra_head %}
<script type="text/javascript" src="/static/js/wishlist.js"></script>
<script type="text/javascript" src="/static/js/jquery-1.6.3.min.js"></script>
<script type="text/javascript" src="/static/js/jquery-ui-1.8.16.custom.min.js"></script>
<script type="text/javascript" src="/static/js/greenpanel.js"></script>
<script type="text/javascript" src="/static/js/toggle.js"></script>
<script type="text/javascript" src="/static/js/tabs.js"></script>
{% endblock %}
{% block topsection %}

<div id="js-topsection">
    <div class="js-main">
        <div class="js-topnews">
            <div class="js-topnews1">
                <div class="js-topnews2">
                    <div class="js-topnews3">
                        <div class="user-block">
                            <div class="user-block1">
                            	<div class="block-intro-text"><span class="special-user-name">{{ facet|capfirst }}</span></div>
                            </div>
                            <div class="user-block2">With your help we're raising money to buy the right to give these books to the world.
                            </div>
                            <div class="user-block3">
                                <div class="user-block">
                                <span class="rounded"><span class="orange" title="We're ungluing {{ campaign_list.count }} {% if campaign_list.count == 1 %}book{% else %}books{% endif %}."><span class="hovertext">We're ungluing&nbsp;</span>{{ campaign_list.count }}</span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
</div>

{% endblock %}

{% block content %}
<div id="main-container">
    <div class="js-main">
        <div id="js-leftcol">
            {% include "explore.html" %}
        </div>

        <div id="js-maincol-fr">
        <div class="js-maincol-inner">
            <div class="content-block">
                <div class="content-block-heading ungluing" id="tabs">
                    <ul class="tabs">
                        <li class="tabs2 active"><a href="#">Being Unglued</a></li>
                    </ul>
    
                        <ul class="book-list-view">
                            <li>View As:</li>
                            <li class="view-list">
                                <a href="#" id="toggle-list">
                                <img src="/static/images/booklist/view-list.png" alt="view list" title="view list" height="21" width="24" />
                                </a>
                            </li>
                            <li class="view-list">
                                <a href="#" id="toggle-panel">
                                <img src="/static/images/booklist/view-icon.png" alt="view icon" title="view icon" height="22" width="22" />
                                </a>
                            </li>
                        </ul>
                </div>
                <div class="content-block-content">
					{% if is_preview == 1 %}
					<div class="preview_content">
					We're not running campaigns during our alpha phase.<br /><br />
					After we've implemented a few more features and improved the site based on <a href="/feedback">your feedback</a>, you'll see a list of active campaigns here.<br /><br />
					If you're a rights holder and you'd like us to run campaigns to unglue your works, please contact us at <a href="mailto:rights@gluejar.com">rights@gluejar.com</a>.  Want more info?  We have a <a href="/faq/rightsholders">rights holder FAQ</a>.
					</div>
					{% else %}
                    {% ifequal campaign_list.count 0 %}
                    There aren't any ungluing campaigns active yet.  If you're a rights holder, you can <a href="/faq/rightsholders">start one</a>.
                    {% else %}
                    {% paginate 20 campaign_list %}
                    {% for campaign in campaign_list %}
                    <div class="{% cycle 'row1' 'row2' %}">
                    {% with campaign.status as status %}
					{% with campaign.deadline as deadline %}
					{% with campaign.work.googlebooks_id as googlebooks_id %}
					{% with campaign.work as work %}				
                    {% include "book_panel.html" %}
                    {% endwith %}{% endwith %}{% endwith %}{% endwith %}
                    </div>
                    {% endfor %}
                    <br>
                    <div class="pagination content-block-heading">
                        {% show_pages %}
                    </div>
                    {% endifequal %}
                    {% endif %}
                </div>
            </div>    
        </div>
        </div>
    </div>
    </div>
{% endblock %}
