{% extends "base.html" %}
{% url privacy as privacyurl %}

{% block content %}
    <h2>Campaign: {{campaign.name}}</h2>
    <p>Work: {{campaign.work}}</p>
    <p>Target: {{campaign.target}}</p>
    <p>Deadline: {{campaign.deadline}}</p>
    <p>Status: {{campaign.status}}</p>
    <p>ISBN: {{campaign.work.editions.all.0.isbn_10}} | {{campaign.work.editions.all.0.isbn_13}} </p>
    <p><a href="{% url widget isbn=campaign.work.editions.all.0.isbn_10 %}">Widget Link</a></p>
    <p>Embed a widget:</p>
    <textarea rows="2" cols="80">&lt;iframe src="{{base_url}}/api/widget/{{campaign.work.editions.all.0.isbn_13}}/" width="152" height="325" frameborder="0"&gt;</iframe></textarea>
    <p>PayPal receiver: {{campaign.paypal_receiver}}</p>
    <p>Current total (pledged/authorized): {{campaign.current_total}}</p>
    <p>Base URL: {{base_url}}</p>
    <form method="POST" action="{% url campaign_by_id pk=campaign.id %}">
        {% csrf_token %}
       {{form.as_p}}
       <input type="submit" value="Pledge" />
    </form>
    <!-- All associated transactions -->
    {% if campaign.transactions %}
      <p>Associated transactions:</p>
      <ul>
      {% for transaction in campaign.transactions %}
        <li>{{transaction.id}} | {{transaction.name}} | {{transaction.user}} | {{transaction.amount}}</li>
      {% endfor %}   
      </ul>
    {% else %}
      <p>No associated transactions</p>
    {% endif %}
{% endblock %}
