{% extends 'base.html' %}

{% load el_pagination_tags %}
{% load lang_utils %}
{% load sass_tags %}

{% block title %} {{ facet_label }} Campaigns {% endblock %}
{% block extra_css %}
<link type="text/css" rel="stylesheet" href="{% sass_src 'scss/supporter_layout.scss' %}" />
<link type="text/css" rel="stylesheet" href="{% sass_src 'scss/book_list.scss' %}" />
<link type="text/css" rel="stylesheet" href="{% sass_src 'scss/book_panel2.scss' %}" />
<link type="text/css" rel="stylesheet" href="{% sass_src 'scss/lists.scss' %}">
{% endblock %}
{% block extra_head %}
<script>
location.hash = "#2";
</script>
<script type="text/javascript" src="/static/js/wishlist.js"></script>
<script type="text/javascript" src="{{ jquery_ui_home }}"></script>
<script type="text/javascript" src="/static/js/greenpanel.js"></script>
<script type="text/javascript" src="/static/js/toggle.js"></script>
{% endblock %}
{% block topsection %}

<div id="js-topsection">
    <div class="js-main">
        <div class="js-topnews">
            <div class="js-topnews1">
                <div class="js-topnews2">
                    <div class="js-topnews3">
                        <div class="user-block">
                            <div id="user-block1">
                            	<div id="block-intro-text"><span class="special-user-name">{{ facet_label }} Campaigns</span></div>
                            </div>
                            <div class="user-block2">
                                {% ifequal facet "unglued" %}
                                The support of ungluers like you helped make these {% if pub_lang %}{{pub_lang|ez_lang_name}} language {% endif %}books free to the world.
                                {% else %}{% ifequal facet "t4u" %}
                                Thank the creators for making these {% if pub_lang %}{{pub_lang|ez_lang_name}} language {% endif %}books free to the world.
                                {% else %}{% ifequal facet "b2u" %}
                                By purchasing copies of these {% if pub_lang %}{{pub_lang|ez_lang_name}} language {% endif %}books, ungluers like you are helping to make them free to the world.
                                {% else %}
                                With your help we're raising money to make these {% if pub_lang %}{{pub_lang|ez_lang_name}} language {% endif %}books free to the world.
                                {% endifequal %}{% endifequal %}{% endifequal %}
                           </div>
                            <div class="user-block3">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
</div>

{% endblock %}

{% block content %}
<div id="main-container">
    <div class="js-main">
        <div id="js-leftcol">
            {% include "explore.html" %}
        </div>

        <div id="js-maincol-fr">
        <div class="js-maincol-inner">
            <div id="content-block">
                <div class="content-block-heading ungluing" id="tabs">
                        <ul class="book-list-view">
                            <li>View As:</li>
                            <li class="view-list">
                                <a href="#" id="toggle-list">
                                <img src="/static/images/booklist/view-list.png" alt="view list" title="view list" height="21" width="24" />
                                </a>
                            </li>
                            <li class="view-list">
                                <a href="#" id="toggle-panel">
                                <img src="/static/images/booklist/view-icon.png" alt="view icon" title="view icon" height="22" width="22" />
                                </a>
                            </li>
                        </ul>
                </div>
                <div id="content-block-content">
                    {% ifequal campaign_list.count 0 %}
                    There aren't any {{ facet_label }}{{ pub_lang|ez_lang_name }} ungluing campaigns right now.  If you're an author, publisher, or other rights holder, you can <a href="/faq/rightsholders">start one</a>.
                    {% else %}
                    {% lazy_paginate 20 campaign_list using "campaign_list" %}

                    {% for campaign in campaign_list %}
                    <div class="{% cycle 'row1' 'row2' %}">
					{% with campaign.work.googlebooks_id as googlebooks_id %}
					{% with campaign.work as work %}				
                    {% include "book_panel.html" %}
                    {% endwith %}{% endwith %}
                    </div>
                    {% endfor %}
                    <div class="pagination content-block-heading tabs-1">
                        {% get_pages %}
                        {% for page in pages %}
                            <a href="{{ page.path }}#1" class="endless_page_link">{{ page.number }}</a>
                        {% endfor %}
                    </div>
                    {% endifequal %}
                </div>
            </div>    
            {% if request.user.libpref %}
            <div id="libtools">
                <p>for libraries...</p>
                {% block marcform %}
                <form method="GET" action="{% url 'campaign_list_marc' facet %}">
                    {% include 'marc_form.html' %}
                    <input type="submit" name="submit" value="download MARC" id="submit">
                </form>
                {% endblock %}
            </div> 
            {% endif %}  
        </div>
        </div>
    </div>
    </div>
{% endblock %}
