{% extends "basedocumentation.html" %}
{% block title %}Claim Form{% endblock %}
{% block doccontent %}

<h2>Rights Holder Claim Form </h2>
<form method="POST" action="#">
    {% csrf_token %}
<h3> Rightsholder making claim </h3>
{{ rights_holder.rights_holder_name }}
<h3> Work being claimed  </h3>
<ul>
<li>Title: {{ work.title }}</li>
<li>Author: {{ work.author }}</li>
</ul>
<h3> Terms and Conditions  </h3>
    {{ form.as_p }}
[legal stuff goes here]
    <input type="submit" name="submit" value="Confirm Claim" id="submit">
</form>


{% endblock %}