{% extends "basedocumentation.html" %}
{% block title %}Claim Form{% endblock %}
{% block doccontent %}

<h1>Rights Holder Claim Form </h1>
<form method="POST" action="#">
    {% csrf_token %}
<h2> Rightsholder making claim </h2>
{{ rights_holder.rights_holder_name }}
<h2> Work being claimed  </h2>
{{ work.title }}<br />
{{ work.author }}
<h2> Terms and Conditions  </h2>
    {{ form.as_p }}
[legal stuff goes here]
    <input type="submit" name="submit" value="Confirm Claim" id="submit">
</form>


{% endblock %}