{% extends "basedocumentation.html" %}
{% block title %}Claim Form{% endblock %}
{% block doccontent %}

<h2>Rights Holder Claim Form </h2>
<h3> Rightsholder making claim </h3>
{{ rights_holder.rights_holder_name }}
<h3> Work being claimed  </h3>
<ul>
<li>Title: <a href="{% url work work.id %}">{{ work.title }}</a></li>
<li>Author: {{ work.author }}</li>
</ul>
{% if active_claims.count %}

    {% for otherclaim in active_claims %}
        {% ifequal rights_holder.id otherclaim.rights_holder.id %} 
        <p><a href="{% url work work.id %}">This work</a> has already been claimed by {{ rights_holder.rights_holder_name }}</p>
        {% else %}
        <p><a href="{% url work work.id %}">This work</a> has previously been claimed by {{ otherclaim.rights_holder.rights_holder_name }}.
        Please take careful note of the "interfering claims" section below.
        </p>
        <form method="POST" action="#">
            {% csrf_token %}
            {{ form.as_p }}
            {% include "claim_terms.html" %}
            <input type="submit" name="submit" value="Confirm Claim">
        </form>        
        {% endifequal %}
    {% endfor %}

{% else %}

    <form method="POST" action="#">
        {% csrf_token %}
        {{ form.as_p }}
        {% include "claim_terms.html" %}
        <input type="submit" name="submit" value="Confirm Claim">
    </form>
{% endif %}
<h3> Interfering claims  </h3>
<p>
When a rights holder claims a work in unglue.it, they warrant and represent that they have sufficient rights to release a Creative Commons edition of that work. Unfortunately, mistakes can occur, especially for older works with unclear contracts and hard-to-find rights holders. For that reason, rights holders also agree to respond promptly to rights inquiries, and unglue.it reserves the right to suspend campaigns when disputes over rights arise. If you have a question about claims for this work, please contact rights@gluejar.com
</p>
{% endblock %}