<ul class="terms">
<li><i>For Thanks-for-Ungluing Campaigns</i>, the rights holder is responsible for providing valid, high-quality EPUB, MOBI, and PDF files.</li>
<li>The file should have no more than 0.2 typographical or scanning errors per page of English text.</li>
<li>The file shall contain front matter which includes a list of ISBNs of other editions of the work.</li>
<li>The cover graphic shall match any description given in the Campaign.</li>
<li>Any graphics which must be excluded from the released ebook shall be specified in the description given in the campaign.</li>
</ul>
