<ul class="terms">
<li><i>For Thanks-For-Ungluing Campaigns</i>, the rightsholder is responsible for providing valid, high-quality EPUB, MOBI, and PDF files.</li>
<li><i>For Buy-To-Unglue Campaigns</i> and <i>Pledge Campaigns</i> ebook files should use the EPUB standard format format according to best practice at time of submission. At minimum, the files should pass the <a href=https://code.google.com/p/epubcheck/">epubcheck</a> tool. Exceptions will be made for content requiring more page layout than available in prevailing EPUB implementations; in those cases, the files will usually be PDF.</li>
<li>The file should have no more than 0.2 typographical or scanning errors per page of English text.</li>
<li>The file shall contain front matter which includes the following:
<ul class="terms">
<li>a list of ISBNs of other editions of the work</li>
<li> <i>For Pledge Campaigns only</i><ol>
<li>the Creative Commons license selected for the campaign, formatted in accordance with best practices at <a href="https://wiki.creativecommons.org/Marking/Creators">https://wiki.creativecommons.org/Marking/Creators</a>, and a statement that for the purposes of the license, "Non-Commercial" use shall include, but not be limited to, the distribution of the Work by a commercial entity without charge.</li>
<li>an acknowledgement of Ungluers of the work, formatted in accordance with the premium descriptions on the Campaign page.</li>
<li>The Unglue.it logo</li>
<li>the text “CC edition release enabled by Unglue.it users” (including the hyperlink to the site)</li>
</ol>
</li>
<li><i>For Buy-To-Unglue Campaigns</i>, the Unglue.it platform will embed a personalized licensed statement into front matter for each delivered file</li>
</ul>
<li>The cover graphic shall match any description given in the Campaign.</li>
<li>Any graphics which must be excluded from the released ebook shall be specified in the description given in the campaign.</li>
</ul>
