{% if work.ebooks_all %}
<h3>Manage eBooks</h3>
<ul>
{% for ebook in work.ebooks_all %}
<li>
<a href="{{ ebook.url }}">{{ ebook.format }}{%if ebook.rights %}, {{ ebook.rights }}{% endif %}</a>, created {{ ebook.created }}{% if ebook.user %}, 
by <a href="{% url 'supporter' ebook.user_id %}">{{ ebook.user }}</a>{% endif %}.
{% if ebook.filesize %}{{ ebook.filesize }}{% else %}??{% endif %}B 
{% if ebook.version_label %}{{ ebook.version }}{% endif %}
{% if ebook.active %}<input type="submit" name="deactivate_ebook_{{ ebook.id }}" value="deactivate"  class="deletebutton" title="deactivate ebook" />{% else %}<input type="submit" name="activate_ebook_{{ ebook.id }}" value="activate"  class="deletebutton" title="activate ebook" />{% endif %}{% if request.user.is_staff %} <a href="{% url 'admin:core_ebook_change' ebook.id %}">admin</a>{% endif %}
</li>
{% endfor %}
</ul>
<br />
<input type="submit" name="activate_all_ebooks" value="activate all ebooks"  class="deletebutton" title="activate all ebooks" />
<input type="submit" name="deactivate_all_ebooks" value="deactivate all ebooks"  class="deletebutton" title="deactivate all ebooks" />
<br />
<br />
{{ form.set_rights}}<input type="submit" name="set_ebook_rights" value="set ebook licenses"  class="deletebutton" title="set ebook licenses" />
{% endif %}