<div class="clearfix">
    {% if edition.ebook_form %}
        {% if show_ebook_form %}
            <div id="add_ebook">
{% if alert %}<div class="yikes">{{alert}}</div>{% endif %}
                {% if edition.ebooks.all.0 %}
                    <h2>eBooks for this Edition</h2>
            
                    {% for ebook in edition.ebooks.all %}
                        <a href="{% url 'download_ebook' ebook.id %}">{{ ebook.format }}</a> {{ebook.rights}} at {{ebook.provider}}. 
                        {% if ebook.version %}  {{ ebook.version }}. {% endif %}
                        Downloaded {{ ebook.download_count }} times since {{ ebook.created }}<br />
                    {% endfor %}
                {% endif %}

                <h2>Add an eBook for this Edition:</h2>
            
                <span>If you know that this edition is available as a public domain or Creative Commons ebook, you can enter the link here and "unglue" it. Right now, we're only accepting URLs that point to Internet Archive, Wikisources, Wikibooks, Hathitrust, Project Gutenberg, OApen, raw files at Github, or Google Books.</span>
            
                <form method="POST" action="#add_ebook">
                    {% csrf_token %}{{ edition.ebook_form.edition.errors }}{{ edition.ebook_form.edition }}{{ edition.ebook_form.user.errors }}{{ edition.ebook_form.user }}{{ edition.ebook_form.provider.errors }}{{ edition.ebook_form.provider }}
                    {{ edition.ebook_form.url.errors }}<span>URL: {{ edition.ebook_form.url }}</span><br />
                    {{ edition.ebook_form.format.errors }}<span>File Format: {{ edition.ebook_form.format }}</span>&nbsp;&nbsp;&nbsp;
                    {{ edition.ebook_form.rights.errors }}<span>License: {{ edition.ebook_form.rights }}</span><br />
                    {{ edition.ebook_form.version.errors }}<span>Version: {{ edition.ebook_form.version }} </span><br />
                    <input type="submit" name="add_ebook" value="add ebook" />
                </form>
                <h3>Note on versions</h4>
                <p>
                Unglue.it's version strings have two components, a label and a iteration. 
                The iteration is denoted by a dot and a number at the end of version string, and is assumed to be 0 if not given explicitly.
                Unglue.it will show the user just the label and will suppress display of all but the highest iteration for a given label.
                so if the ebooks have versions "", ".1", "1.0.0", "1.0.2", "Open Access" and "Open Access.1", Unglue.it will display 3 ebooks labelled "", "1.0" and "Open Access". 
                If you want ebooks from two editions with the same format to display, give them different version labels.
                </p>
            </div>
        {% else %}
            <div> Adding ebook links is disabled for this work.</div>
        {% endif %}
        
    {% endif %}
</div>