<div class="clearfix">
    <div class="editions">
            {% if edition.googlebooks_id %}
                <div class="image">
                    <img src="{{ edition.cover_image_small }}" title="edition cover" alt="edition cover" />
                </div>
            {% endif %}
        <div class="metadata" id="edition_{{edition.id}}">
            {% if edition.title != work.title %}
                Title: {{edition.title}}<br />
            {% endif %}
            {% if edition.authors.all.0 %}
                Contributors: 
                {% for author in edition.authors.all %}
                    {{author}}, 
                {% endfor %}
                <br />
            {% endif %}
            {% if edition.note %}
                {{ edition.note }}.<br />
            {% endif %}
            {% if edition.downloads.count %}
                {{ edition.downloads.count }} ebooks<br />
            {% endif %}
            {% if edition.publisher %}
                Publisher: <a href="{% url 'bypubname_list' edition.publisher_name.id %}">{{edition.publisher}}</a><br />
            {% endif %}
            {% if edition.publication_date %}
                Published: {{ edition.publication_date }}<br />
            {% endif %}
            {% if edition.isbn_13 %}
                ISBN: <span itemprop="isbn">{{ edition.isbn_13 }}</span><br />
            {% endif %}
            {% if edition.oclc %}
                OCLC: <a href="http://www.worldcat.org/oclc/{{ edition.oclc }}">{{ edition.oclc }}</a><br />
            {% endif %}
            {% if edition.doi %}
                DOI: <a href="https://dx.doi.org/{{ edition.doi }}">{{ edition.doi }}</a><br />
            {% endif %}
            {% if edition.http_id %}
                web: <a href="{{ edition.http_id }}">{{ edition.http_id }}</a><br />
            {% endif %}
            {% if not managing %}
                {% if user.is_staff %}
                    <a href="{% url 'new_edition' work_id edition.id %}">Edit this edition</a><br />
                {% elif user in work.last_campaign.managers.all %}
                    <a href="{% url 'new_edition' work_id edition.id %}">Edit this edition</a><br />
                {% elif user.rights_holder.count and not work.last_campaign %}
                    <a href="{% url 'new_edition' work_id edition.id %}">Edit this edition</a><br />
                {% endif %}
                {% if user.is_authenticated %}
                    <a href="{% url 'manage_ebooks' edition.id %}">Add ebook link</a><br />
                {% endif %}
                {% if edition.googlebooks_id %}
                    See <a href="https://encrypted.google.com/books?id={{ edition.googlebooks_id }}">this edition on Google Books</a><br />
                {% endif %} 
            {% endif %}  
            {% if user.libpref %}{% if edition.ebooks.all or edition.ebook_files.all %}
                <a href="{% url 'upload_marc' %}?edition={{ edition.id }}">Upload</a> a MARC record for this edition. <br />
            {% endif %} {% endif %}
        </div>

    </div>
</div>