        <div id="js-leftcol">
            <div class="jsmodule">
                <h3 class="jsmod-title"><span>Explore</span></h3>
                <div class="jsmod-content">
                    <ul class="menu level1">
                        <li class="first parent">
                            <a href="#"><span>Show me...</span></a>
                            <ul class="menu level2">
                                <li class="first"><a href="#"><span>Recommended</span></a></li>
                                <li><a href="#"><span>Popular</span></a></li>
                                <li><a href="#"><span>Almost unglued</span></a></li>
                                <li><a href="#"><span>Recently unglued</span></a></li>
                                <li><a href="#"><span>Ending Soon</span></a></li>
                                <li class="last"><a href="#"><span>Just Listed</span></a></li>
                            </ul>
                        </li>
                        <li class="parent">
                            <a href="#"><span>Show me...</span></a>
                            <ul class="menu level2">
                                <li class="first"><a href="#"><span>Recommended</span></a></li>
                                <li><a href="#"><span>Popular</span></a></li>
                                <li><a href="#"><span>Almost unglued</span></a></li>
                                <li><a href="#"><span>Recently unglued</span></a></li>
                                <li><a href="#"><span>Ending Soon</span></a></li>
                                <li class="last"><a href="#"><span>Just Listed</span></a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
