{% load truncatechars %}
{% load lang_utils %}
            <div class="jsmodule">
                <h3 class="jsmod-title"><span>Explore</span></h3>
                <div class="jsmod-content">
                    <ul class="menu level1">

                        <li class="first parent">
                            <span>Show me...</span>
                            <ul class="menu level2">
                            {% if not request.user.is_anonymous %}
                                <li class="first"><a href="/"><span>My Wishlist</span></a></li>
                                <li>
                            {% else %}
                            	<li class="first">
                            {% endif %}
                                <a href="{% url campaign_list 'ending' %}"><span>Active Campaigns</span></a></li>
                                <li><a href="{% url comment %}"><span>Latest Comments</span></a></li>
                                <li><a href="{% url work_list 'popular' %}"><span>Most Wished</span></a></li>
                                <li><a href="{% url work_list 'new' %}"><span>Newly Wished</span></a></li>
                                <li><a href="{% url work_list 'recommended' %}"><span>Noteworthy</span></a></li>
                                <li class="last"><a href="{% url unglued_list '' %}"><span>Ready to Read</span></a></li>
                            </ul>
                        </li>
                        {% if show_langs %}
                        <li class="parent">
                            <span class="show_langs">Languages...</span>
                            <ul class="menu level2" id="lang_list">
                                <li class="first{% ifequal pub_lang '' %} active_lang{% endifequal %}"><a href="?">ALL</a></li>
                                {% for wished_lang in WISHED_LANGS %}
                                <li{% ifequal pub_lang wished_lang %} class="active_lang"{% endifequal %}><a href="?pub_lang={{wished_lang}}">{{wished_lang|ez_lang_name_local}}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        {% endif %}
                        {% if ungluers %}
                        <li class="parent">
                            <span>Ungluers</span>
                            <ul class="menu level2">
                            {% for ungluer in ungluers %}
                                <li class="first"><a href="{% url supporter supporter_username=ungluer %}">
									{% if ungluer.profile.pic_url %}
										<img src="{{ungluer.profile.pic_url}}" height="30" width="30" alt="{{ungluer}}" title="{{ungluer}}" /></a>
									{% else %}
										<img src="/static/images/header/avatar.png" height="30" width="30" alt="Generic Ungluer Avatar" /></a>
									{% endif %}
                                	<a href="{% url supporter supporter_username=ungluer %}"><span class="ungluer-name">{{ungluer|truncatechars:20}}</span>
                                </a></li>
                            {% endfor %}
                            </ul>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
