{% extends 'basedocumentation.html' %}

{% block title %} FAQ {% endblock %}
{% block topsection %}
{% endblock %}

{% block doccontent %}

{% if sublocation == 'all' %}
<h2>Frequently Asked Questions</h2>

<dl>
<dt class="background: #8dc63f; color: white; font-weight: bold;">Help! My question isn't covered in the FAQs!</dt>

<dd><a href="{% url 'feedback' %}?page={{request.build_absolute_uri|urlencode:""}}">Let us know!</a>.  We want to make sure everything on the site runs as smoothly as possible.  Thanks for helping us do that.</dd>
</dl>
{% endif %}
{% if location == 'basics' or location == 'faq' %}
<h3>About the site</h3>
{% if sublocation == 'howitworks' or sublocation == 'all' %}
<h4>About Unglue.it</h4>
<dl>
<dt>What is Unglue.it?</dt>

<dd><a href="/">Unglue.it</a> is a place for individuals and institutions to join together in support of free  ebooks.  We work together to support authors, publishers, or other rights holders who want their ebooks to be free.  We work together to provide durable and effective distribution for ebooks that are free. We support <a href="https://creativecommons.org">Creative Commons</a> licensing as an enabling tool to "unglue" the ebooks. We are part of the <a href="https://ebookfoundation.org">Free Ebook Foundation</a>, a non-profit charitable organization.</dd>

<dt>Why are all these ebooks free?</dt>

<dd>The ebooks available on Unglue.it have missions to accomplish. There are textbooks to help you learn. There is literature to open up your mind. There are books on technology to help you create. There are academic books that are spreading ideas. There are books that want to change your mind. And there are books that belong to all of us, that want to live into the future.<br /><br />

Freedom can help a book accomplish its mission, and that why the ebook is free. We call these books "unglued" and we call the process of making them free, "ungluing".</dd>


<dt>So how do you make money?</dt>

<dd>We don't - we're an non-profit. If you like what we do, <a href="{% url 'newdonation' %}">you can donate!</a></dd>

<dt>What about the authors and publishers, how do they make money?</dt>


<dd>That's the million dollar question. You don't make money by giving away ebooks. Many authors make money other ways - by teaching, by consulting, by getting tenure. Some authors do well be selling printed books alongside their free ebooks. We started Unglue.it because we hoped to give ebook creators additional ways to support their work.</dd>

<dt>Who can use Unglue.it?</dt>

<dd>Anyone! We're located in the United States, but we welcome participants from all over the world.<br /><br />
</dd>

<dt>Does Unglue.it own the copyright of unglued books?</dt>

<dd>No.  Books available on unglue.it are licensed by the the copyright owner.  <a href="https://creativecommons.org">Creative Commons</a> licenses are licensing agreements.  They grant certain rights but do not affect the status of the copyright. You can read more about these licenses at the <a href="https://wiki.creativecommons.org/Frequently_Asked_Questions">Creative Commons FAQ</a>.</dd>

<dt>Does Unglue.it publish books?  Can I self-publish here?</dt>

<dd>Unglue.it is a distributor, not a publisher. If you self-publish and want your books to be free, Unglue.it can help you distribute your ebooks. </dd>

<dt>What's a rights holder?  How can I tell if I'm one?</dt>

<dd>A rights holder is a person (or entity) that has a right to copy, distribute, or sell a book in some way.  There may be one entity with all the rights to a work, or the rights may be split up among different entities: for example, one who publishes the print edition in the United States, another who publishes the print edition in the EU, another who holds electronic rights, et cetera.  For ungluing purposes, the rights holder is the entity who has uncontested worldwide commercial rights to a work.<br /><br />
If you have written a book and not signed any contracts about it, you hold all the rights.  If you have signed a contract with a publisher to produce, distribute, publish, or sell your work in a particular format or a particular territory, whether or not you still hold rights depends on the language of that contract.  We encourage you to check your contracts.  It may be in your interest to explore launching an Unglue.it campaign jointly with your publisher.<br /><br />
If you haven't written a book but you have had business or family relationships with someone who has, it's possible that you are a rights holder (for instance, you may have inherited rights from the author's estate, or your company may have acquired them during a merger).  Again, this all depends on the specific language of your contracts.  We encourage you to read them closely.  Unglue.it cannot provide legal advice.<br /><br />
If you believe you are a rights holder and would like us to help unglue your works, get started at <a href="{% url 'rightsholders' %}">the right holder tools page</a>.</dd>

</dl>
{% endif %}
{% if sublocation == 'account' or sublocation == 'all' %}
<h4>Your Account</h4>
<dl>
<dt>I forgot my password. What do I do?</dt> 
<dd>
Click on this <a href="{% url 'password_reset' %}">forgot your password</a> link (you can also find it at the bottom of the <a href="{% url 'superlogin' %}">sign in page</a>).  Enter the email address you use for your account and we'll send you an email to help you reset your password. 
</dd>
<dt>I never received an activation email after I signed up, or my activation email isn't working. What do I do?</dt>

<dd>Check your spam folder for mail from notices@gluejar.com.  If that doesn't work,  <a href="{% url 'feedback' %}?page=no+activation+email">Let us know!</a></dd>

<dt>How can I change my profile name or password, or the email address associated with my account?</dt>

<dd>At the bottom of every page there's a link to an <a href="{% url 'edit_user' %}">account editing page</a> where you can change your profile name, password, and email.</dd>

<dt>How do I subscribe to, or unsubscribe from, emails I receive from Unglue.it?</dt>

<dd>Make sure you're logged in and go to the <a href="/notification/settings">Notification Settings</a> page.<br /><br />

If you receive our newsletter, there's a link at the bottom of every message to manage your preferences.  If you don't and would like to, you can <a href="http://eepurl.com/fKLfI">sign up here</a>.
</dd>

<dt>Is my personal information shared?</dt>

<dd>Short version: no, except as absolutely required to deliver services you have opted into. We do use third-party providers to support some of our business functions, but they are only allowed to use your information in order to enable your use of the service. For a long, opinionated version of this answer, please read our <a href="{% url 'privacy' %}">privacy policy</a>.
</dl>
{% endif %}
{% if sublocation == 'company' or sublocation == 'all' %}
<h4>The Organization</h4>
<dl>
<dt>How can I contact Unglue.it?</dt>

<dd>For support requests, <a href="{% url 'feedback' %}?page=need+support">use our feedback form</a>. You can also contact us on <a href="mailto:unglueit@ebookfoundation.org">email</a>,  <a href="https://digipres.club/@unglueit">Mastodon</a>  or <a href="https://facebook/com/unglueit">Facebook</a>.

</dd>

<dt>Are you a non-profit company?</dt>

<dd>Yes. Unglue.it is a program of the <a href="https://ebookfoundation.org">Free Ebook Foundation</a>, which is a charitable, not-for-profit corporation.  We work with both non-profit and commercial partners.</dd>

</dl>
{% endif %}
{% endif %}

{% if location == 'campaigns' or location == 'faq' %}
<h3>Supporting Free Ebooks</h3>
<dl>
<dt>How can I support free ebooks on Unglue.it?</dt>

<dd>Unglue.it's active program is <i><a href="{% url 'faq_sublocation' 'campaigns' 't4u' %}">Thanks for Ungluing</a></i>. When a creator releases an ebook with a Creative Commons license, supporters can express their thanks by paying what they wish. You can also <a href="{% url 'newdonation' %}">make a donation</a> to the Free Ebook Foundation to support the site and its mission.
</dd>

{% if sublocation == 'all' or sublocation == 't4u' %}
{% include "faq_t4u.html" %}
{% endif %}
{% if sublocation == 'supporting' or sublocation == 'all' %}
<h4>Donations &amp; Tax Deductibility</h4>
<dl>
<dt>Is my contribution tax deductible?</dt>

<dd>Donations to the Free Ebook Foundation are tax-deductible. Contributions to Thanks-for-Ungluing campaigns go directly to the rights holder and are generally not tax-deductible. Consult your tax advisor.</dd>

<dt>Can people contribute anonymously?</dt>

<dd>Yes. Anonymous donors are included in the total count of supporters, but their names and links are not included in the acknowledgements.</dd>
</dl>
{% endif %}
{% endif %}

{% if location == 'unglued_ebooks' or location == 'faq' %}
<h3>Unglued Ebooks</h3>
{% if sublocation == 'general' or sublocation == 'all' %}
<h4>General Questions</h4>
<dl>
<dt>So what is an unglued ebook?</dt>

<dd>
An unglued ebook is <i>free</i> in the sense of <i>freedom</i> — not merely an ebook that costs nothing.
<br /><br />

Unglued ebooks use a <a href="https://creativecommons.org">Creative Commons</a> or other free license to counteract the constraints of "all rights reserved" copyright. Sometimes,  payments are made to the author, publisher, or other rights holder to facilitate the ungluing.<br /><br />

What does this mean for you?  If you're a book lover, you can read unglued ebooks for free, on the device of your choice, in the format of your choice, and share them with all your friends.  If you're a library, you can lend them to your patrons with no checkout limits or simultaneous user restrictions, and preserve them however you think best.  If you're a rights holder, you retain copyright in your work.
</dd>

</dl>
{% endif %}
{% if sublocation == 'using' or sublocation == 'all' %}
<h4>Using Your Unglued Ebook</h4>
<dl>
<dt>What can I do, legally, with an unglued ebook?  What can I <I>not</I> do?</dt>

<dd>All unglued ebooks are released under a Creative Commons or other free license. The rights holder chooses which license to apply.<br /><br />

Creative Commons licenses mean you <b>can</b>: make copies; keep them for as long as you like; shift them to other formats (like PDF); share them with friends or on the internet; download them for free.<br /><br />

Under NC (non-commercial) licenses, you <b>cannot</b>: sell unglued ebooks, or otherwise use them commercially, without permission from the rights holder.<br /><br />

Under ND (no derivatives) licenses, you <b>cannot</b>: make derivative works, such as translations or movies, without permission from the rights holder.<br /><br />

Under all CC licenses (except CC0), you <b>cannot</b>: remove the author's name from the book, or otherwise pass it off as someone else's work; or remove or change the CC license.</dd>

<dt>Are the unglued ebooks compatible with my device?  Do I need to own an ereader, like a Kindle or a Nook, to read them?</dt>
 
<dd>Unglued ebooks are distributed with NO RESTRICTIVE DRM, so they'll work on Kindle, iPad, Kobo, Nook, Android, Mac, Windows, Linux... you get the idea.  Whether you have an ereader, a tablet, a desktop or laptop computer, or a smartphone, there are reading apps that work for you.  </dd>

<dt>Do I need to have a library card to read an unglued ebook?</dt>

<dd>No. (Though we hope you have a library card anyway!)</dd>

<dt>Can I download ebooks directly from Unglue.it?</dt>

<dd>Unglue.it provides links to download thousands of unglued books, Creative Commons licensed books, and public domain ebooks. You don't need our permission to host these free ebooks on your own site, but you must abide by the book's license terms.</dd>
</dl>
{% endif %}
{% if sublocation == 'copyright' or sublocation == 'all' %}
<h4>Ungluing and Copyright</h4>
<dl>
<dt>Are Unglued Ebooks in the Public Domain?</dt>

<dd>No. Books in the public domain, because their copyrights have expired, or because they were created by the US government,  are already free for you to copy, remix, and share!  If a book is in the <a href="https://en.wikipedia.org/wiki/Public_domain">public domain</a>, it doesn't need to be unglued, it's already unglued. But lots of other books are free-licensed even though their copyrights are still in force; if you don't adhere to the license terms, you are infringing that copyright.</dd>

<dt>How can I tell if a book is in copyright or not?</dt>

<dd>Unfortunately, it can be complicated -- which is why Unglue.it wants to simplify things, by making unglued ebooks unambiguously legal to use in certain ways.  The laws governing copyright and the public domain vary by country, so a book can be copyrighted in one place and not in another.  In the United States, the <a href="http://www.librarycopyright.net/digitalslider/">Library Copyright Slider</a> gives a quick estimate. <br /><br />

<dt>Unglue.it lists a book that I know is already Creative Commons licensed or available in the public domain. How can I get the link included?</dt>

<dd>If you are logged in to Unglue.it, the "More..." tab for every work lists the editions we know about. There is a link for every edition that you can use to tell us about Creative Commons or public domain downloads.  We require that these books be hosted at certain known, reputable repositories such as Internet Archive, Wikisources, Hathi Trust, Project Gutenberg, Github or Google Books.</dd></dl>
{% endif %}
{% endif %}

{% if location == 'rightsholders' or location == 'faq' %}
<h3>For Rights Holders</h3>
{% if sublocation == 'authorization' or sublocation == 'all' %}
<h4>Becoming Authorized</h4>
<dl>
<dt>What do I need to do to become a Rights Holder on Unglue.it?</dt>

<dd>To start a campaign, you need to be a verified rights holder who has signed a Rights Holder Agreement with us.  <br /><br />

Start by visiting the <a href="{% url 'rightsholders' %}">Rights Holders Tools</a> page.You'll sign  our <a href="{% url 'agree' %}">Rights Holder Agreement (RHA)</a> and learn about our various programs.</dd>

<dt>I haven't signed an agreement, but my books are listed on Unglue.it. What's going on?</dt>
<dd>If your book is listed on Unglue.it, it's either because an unglue.it user has indicated some interested in the book, or it's because we've determined that your book is already available with a free license. 
</dd>

<dt>Can I run more than one campaign?</dt>
<dd>You can run campaigns for as many, or as few, titles at a time as you like.  </dd>
</dl>
{% endif %}
{% if sublocation == 'claiming' or sublocation == 'all' %}
<h4>Claiming Works</h4>
<dl>

<dt>How can I claim a work for which I am a rights holder?</dt>

<dd>On every book page there is a More... tab.  If you have a signed Rights Holder Agreement on file, one of the options on the More... tab will be "Claim This Work".  If you represent more than one rights holder, choose the correct one for this work and click "Claim".
<br /><br />If the book is not already in Unglue.it or in Google Books, you'll need to enter the metadata for the book by hand or work with us to load the data from a spreadsheet or Onix file.

	<ul class="bullets">
	    <li>Use <a href="{% url 'new_edition' '' '' %}">this form</a> to enter the metadata.</li>
	    <li>Your metadata should have title, identifiers, authors, language, description.</li>
	    <li>If you have a lot of books to enter, <a href="{% url 'feedback' %}?page={{request.build_absolute_uri|urlencode:""}}">contact us</a> to load ONIX or CSV files for you.</li>
	</ul>
<br /><br />If you expect to see a "Claim" button and do not, either we do not have a RHA from you yet, or we have not yet verified and filed it.  Please contact us at <a href="mailto:rights@ebookfoundation.org">rights@ebookfoundation.org</a>.</dd>

<dt>Where can I find a campaign page?</dt>

<dd>If you're looking for a specific book, search for it.  The book's page becomes a campaign page when its campaign starts.  Your bookmarks and widgets for that book will still work.<br /><br />
If you want to find an interesting campaign and don't have a specific book in mind, see the Explore sidebar (on almost any page except the FAQs) for some of our favorites.</dd>

</dl>
{% endif %}
{% if sublocation == 'campaigns' or sublocation == 'all' %}
<h4>Running a Thanks-for-Ungluing Campaign</h4>
<dl>
<dt>What do I need to create a campaign?</dt>

<dd>First, you need to be an authorized rights holder. To get authorized, <a href="{% url 'agree' %}">sign a Rights Holder Agreement</a>. Please contact <a href="mailto:rights@ebookfoundation.org">rights@ebookfoundation.org</a> if you have any questions. Once we have approved your Agreement, you'll be able to claim works and you'll have access to tools for launching and monitoring campaigns.</dd>

<dt>What should I include in my campaign page?</dt>

<dd>Show the world why we should love your book. What makes it powerful, intriguing, moving, thought-provoking, important? Remind readers who loved the book why they loved it, and give people who haven't read it reasons they want to.</dd>

<dt>How can supporters contact me?</dt>

<dd>If you'd like supporters to contact you directly, please set your contact email address in the campaign management area.</dd>
</dl>
{% endif %}
{% if sublocation == 'conversion' or sublocation == 'all' %}
<h4>Ebook Files</h4>
<dl>
<dt>What file formats are supported?</dt>

<dd>For Thanks-for-Ungluing campaigns, you can use EPUB, MOBI, PDF, and HTML files.</dd>

<dt>What are the requirements for my ebook files?</dt>

<dd>
{% include 'ebookfiles.html' %}
</dd>

</dl>
{% endif %}
{% if sublocation == 'funding' or sublocation == 'all' %}
<h4>Funding</h4>
<dl>
<dt>When and how will I be paid?</dt>

<dd>For Thanks-for-Ungluing Campaigns, we make payments quarterly to rights holders who have accrued more than $100 in earnings. If we are able to set you up with ACH transfers, we will send payments more frequently. 70% of earnings accrue immediately; the rest accrues after 90 days.</dd>

<dt>What fees does Unglue.it charge?</dt>

<dd>Fees and terms are detailed on the <a href="{% url 'programs'%}">program terms page</a>.</dd>

<dt>Does it cost money to start a campaign on Unglue.it?</dt>

<dd>No.</dd>

</dl>
{% endif %}
{% if sublocation == 'rights' or sublocation == 'all' %}
<h4>Rights</h4>
<dl>

<dt>If I am an author do I have to talk to my publisher or agent first before making a book free?</dt>

<dd>It is your responsibility to get advice on the current status of any contracts you may have ever had for the right to publish your work, whether or not a book is in print now. <a href="https://creativecommons.org">Creative Commons</a> licenses are media neutral and worldwide. You may need waivers from other parties who have exclusive licenses for this book.</dd>

<dt>If I am a publisher, but I do not have an ebook royalty in my contract, can I sign your Rights Holder Agreement?</dt>

<dd>We can't interpret your particular contract regarding subsidiary rights and your ability to use a Creative Commons license.  Please seek qualified independent advice regarding the terms of your contract.</dd>

<dt>Can I make a book free even if I cannot include all the illustrations from the print edition?</dt>

<dd>Yes. If permission to reprint cannot not be obtained for items such as photographs, drawings, color plates, as well as quotations from lyrics and poetry, you can produce an unglued edition which leaves them out.  You must indicate the difference between the editions on your Campaign page.</dd>

<dt>What impact does ungluing a book have on the rights status of my other editions?</dt>

<dd>The Creative Commons licenses are non-exclusive.  They will apply only to the unglued edition, not to the print, audio, or any other editions. They does not affect the rights status of those other editions. If you use the no-derivative, noncommercial license (CC BY-NC-ND), no one else may sell your book or make derivatives unless you give them permission to do so.</dd>

<dt>Can an unglued ebook be issued only in the US?</dt>

<dd>No. An unglued ebook is released to the world. It uses a <a href="https://creativecommons.org">Creative Commons</a> license which is territory-neutral. That is, the unglued ebook can be read by anyone, anywhere in the world, subject always to the limitations of the license.</dd>
{% endif %}

</dl>
{% endif %}

{% endblock %}
