{% extends "basedocumentation.html" %}
{% block title %} FAQ {% endblock %}
{% block doccontent %}

<h2>Frequently Asked Questions</h2>

<dl>
<dt class="background: #8dc63f; color: white; font-weight: bold;">Help! My question isn't covered in the FAQs!</dt>

<dd>Please email us at <a href="mailto:support@gluejar.com">support@gluejar.com</a>.  We want to make sure everything on the site runs as smoothly as possible.  Thanks for helping us do that.</dd>
</dl>
{% if location == 'basics' or location == 'faq' %}
<h3>Basics</h3>
{% if sublocation == 'howitworks' or sublocation == 'all' %}
<h4>How It Works</h4>
<dl>
<dt>What is Unglue.it?</dt>

<dd><a href="/">Unglue.it</a> is a a place for individuals and institutions to join together to give their favorite ebooks to the world.  We work with rights holders to decide on fair compensation for releasing a free, legal edition of their already-published books, under <a href="http://creativecommons.org">Creative Commons</a> licensing.  Then everyone pledges toward that sum.  When the threshold is reached (and not before), we collect the pledged funds and we pay the rights holders.  They issue an unglued digital edition; you're free to read and share it, with everyone, on the device of your choice, worldwide.</dd>

<a id="crowdfunding"></a><dt>What is Crowdfunding?</dt>

<dd>Crowdfunding is collectively pooling donations (or pledges) to support some cause.  Using the internet to coordinate means that complete strangers can work together, drawn by a common cause.  This also means the number of donors can be vast, so individual donations can be as large or as small as people are comfortable with, and still add up to enough to do something amazing.<br /><br />
Want to see some examples?  The <a href="http://buyindiaalibrary.wordpress.com/">Buy India a Library</a> project (cofounded by an Unglue.it team member) crowdfunded donations -- mostly small ones, around $20 -- to build a school library in India.  <a href="http://www.kickstarter.com/">Kickstarter</a> lets artists and inventors solicit funds to make their projects a reality.  For instance, webcomic artist Rich Burlew sought $57,750 to reprint his comics in paper form -- and raised <a href="http://www.kickstarter.com/projects/599092525/the-order-of-the-stick-reprint-drive">close to a million</a>.<br /><br />
In other words, crowdfunding is working together to support something you love.  By pooling donations, big and small, from all over the world, we can make huge things happen.</dd>

<dt>What does it cost?</dt>

<dd>Unglue.it is free to join.  Most of the things you can do here -- discovering books, adding them them to your wishlist, commenting, sharing -- are free too.  If you choose to support a campaign, you may pledge whatever amount you're comfortable with.  Your credit card will only be charged if the campaign reaches its goal price.<br /><br />

If you're a rights holder, starting campaigns is free, too.  You only pay Unglue.it if your campaign succeeds.  For the basics on campaigns, see the FAQ on <a href="/faq/campaigns/">Campaigns</a>; for more details, see the <a href="/faq/rightsholders/">FAQ for Rights Holders</a>.</dd>

<dt>Who can use Unglue.it?</dt>

<dd>Anyone!  We're located in the United States, but we welcome participants from all over the world.<br /><br />

To fund a campaign, you'll need a valid credit card.  To start a campaign, you'll need to establish yourself with us as a rights holder, including demonstrating that you have the rights to the content you want to unglue.  See the FAQs <a href="/faq/rightsholders/">for Rights Holders</a> for more.</dd>

<dt>Why should I fund a book at Unglue.it when I can just buy it somewhere else?</dt>

<dd>When you buy a book, you get a copy for yourself.  When you unglue it, you give a copy to yourself and everyone on earth.</dd>

<dt>What do I get when I unglue a book?</dt>
<dd>You get a better ebook.  Your unglued ebook has no DRM: you can put it on any device you want, in any format you want.  You can legally copy it and share it with your friends.  You can read it on the network or off, with no one tracking your reading.<br /><br />
You may get premiums, depending on the amount you pledge.  Each campaign has its own set.<br /><br />
And you get the satisfaction of helping readers and libraries everywhere: giving a book to everyone on earth.</dd>

<dt>Does Unglue.it own the copyright of unglued books?</dt>

<dd>No.  When you unglue a book, the copyright stays with its current owner.  Unglue.it does not buy copyrights.  A <a href="http://creativecommons.org">Creative Commons</a> license is a licensing agreement.  As with other licensing agreements, it grants certain rights to others but does not affect the status of the copyright.<br /><br />

Just like many traditional publishing transactions, ungluing is about licensing rights.  We use <a href="http://creativecommons.org">Creative Commons</a> licenses to make ebooks available to the world while respecting and protecting copyright.<br /><br />

If you are a copyright holder, you retain your copyright when you unglue a book.  Creative Commons licenses are non-exclusive, so you also retain the right to enter into separate licensing agreements.  You can read more about these licenses at the <a href="http://wiki.creativecommons.org/Frequently_Asked_Questions">Creative Commons FAQ</a>.</dd>

<dt>If I'm a rights holder and I unglue my book, does that mean I can never make money from it again?</dt>

<dd>No!  You are free to enter into additional licensing agreements for other, non-unglued, editions of the work, including translation and film rights.  You may continue to sell both print and ebook editions.  You may use your unglued books as free samples to market your other works -- for instance, later works in the same series.  You can use them to attract fans who may be interested in your speaking engagements, merchandise, or other materials.  You absolutely may continue to profit from ungluing books -- and we hope you do!<br /><br />

For some examples of how authors and publishers have made free ebooks work for their business plans, see Cory Doctorow's <a href="http://www.publishersweekly.com/pw/by-topic/columns-and-blogs/cory-doctorow/index.html">columns for Publisher's Weekly</a>, <a href="http://wahoocorner.blogspot.com/2012/01/how-kdp-select-saved-my-book.html">David Kazzie's <I>Jackpot</I></a>, and the <a href="http://www.baen.com/library/defaultTitles.htm">Baen Free Library</a>.  If unglued books are working for you, we'd love to hear your story. Tell us at <a href="mailto:support@gluejar.com">support@gluejar.com</a>.</dd>

<dt>Why do rights holders want to unglue their books?</dt>

<dd>
Lots of reasons:<br /><br />
To publicize their other books, gain new fans, or otherwise increase the value of an author's brand.<br /><br />
To get income from books that are no longer in print.<br /><br />
To have a digital strategy that pays for itself, even if they don't have expertise in producing ebooks.<br /><br />
To advance a cause, add to the public conversation, or increase human knowledge.<br /><br />
To leave a legacy that enriches everyone, now and in the future.
</dd>

<dt>Does Unglue.it publish books?  Can I self-publish here?</dt>

<dd>No.  Unglue.it dedicated to licensing works to the public commons, not publishing them or owning rights.  We work for books that have been published in other ways.  We are not a publisher ourselves.</dd>

<dt>What's a rights holder?  How can I tell if I'm one?</dt>

<dd>A rights holder is the person (or entity) that holds the legal right to copy, distribute, or sell a book in some way.  There may be one entity with all the rights to a work, or the rights may be split up among different entities: for example, one who publishes the print edition in the United States, another who publishes the print edition in the EU, another who holds electronic rights, et cetera.  For ungluing purposes, the rights holder is the entity who has uncontested worldwide commercial rights to a work.<br /><br />
If you have written a book and not signed any contracts about it, you hold all the rights.  If you have signed a contract with a publisher to produce, distribute, publish, or sell your work in a particular format or a particular territory, whether or not you still hold rights depends on the language of that contract.  We encourage you to check your contracts.  It may be in your interest to explore launching an Unglue.it campaign jointly with your publisher.<br /><br />
If you haven't written a book but you have had business or family relationships with someone who has, it's possible that you are a rights holder (for instance, you may have inherited rights from the author's estate, or your company may have acquired them during a merger).  Again, this all depends on the specific language of your contracts.  We encourage you to read them closely.  Unglue.it cannot provide legal advice.<br /><br />
If you believe you are a rights holder and would like to discuss ungluing your works, please contact us at <a href="mailto:rights@gluejar.com">rights@gluejar.com</a>.</dd>

<dt>I know a book that should be unglued.</dt>

<dd>Great! Find it in our database (using the search box above) and add it to your wishlist, so we know it should be on our list, too.  And encourage your friends to add it to their wishlists.  The more wishlists a book is on, the more appealing it is for rights holders to launch an ungluing campaign.  You can also contact us at <a href="mailto:rights@gluejar.com">rights@gluejar.com</a>.</dd>

<dt>I know a book that should be unglued, and I own the commercial rights.</dt>

<dd>Fabulous!  Please refer to the <a href="/faq/rightsholders/">FAQ for Rights Holders</a> and then contact us at <a href="mailto:rights@gluejar.com">rights@gluejar.com</a>.  Let's talk.</dd>

<dt>Is there a widget that can be put on my own site to share my favorite books or campaigns?</dt>

<dd>Yes!  Every book page has an "Embed" option.  Click that and copy/paste the HTML code wherever you like.</dd>

<dt>What is Open Access versus Creative Commons versus public domain?</dt>
<dd>Eric Hellman has written a series of articles about how Open Access can apply to ebooks. The first is <a href="http://go-to-hellman.blogspot.com/2011/04/open-access-ebooks-part-1.html">on his blog</a>.</dd>
</dl>
{% endif %}
{% if sublocation == 'account' or sublocation == 'all' %}
<h4>Your Account</h4>
<dl>
<dt>I forgot my password. What do I do?</dt> 
<dd>
Click on this <a href="/accounts/password/reset/">forgot your password</a> link (you can also find it at the bottom of the <a href="/accounts/login/">sign in page</a>).  Enter the email address you use for your account and we'll send you an email to help you reset your password. 
</dd>
<dt>I never received an activation email after I signed up, or my activation email isn't working. What do I do?</dt>

<dd>Check your spam folder for mail from accounts@gluejar.com.  If that doesn't work, contact us at <a href="mailto:support@gluejar.com">support@gluejar.com</a>.</dd>

<dt>How do I connect my Twitter, Facebook, GoodReads, and/or LibraryThing accounts?  How can I link to my personal web site?</dt>

<dd>Click on "My Profile" near the top of your user profile page.  (If you're logged in, your profile page is <a href="/">here</a>.)  Some new options will appear.  You can enter your personal URL and your LibraryThing username here. There are one-click options to connect your Twitter, Facebook, and GoodReads accounts.  (You'll be asked to log in to those accounts, if you aren't logged in already.)  Make sure to click "Save Settings".</dd>

<dt>Why should I connect those accounts?</dt>

<dd>If you connect your Facebook or Twitter accounts, we'll use your user pics from those sites for your avatar here.  If you connect to LibraryThing or GoodReads, you can import your books there onto your wishlist here, using the My Profile area. And we'll display book-specific and you-specific links to those sites for you.</dd>

<dt>I don't want to connect my accounts. Do I have to?</dt>

<dd>Nope.</dd>

<dt>How can I change my profile name or password, or the email address associated with my account?</dt>

<dd>At the bottom of every page there's a link to an <a href="/accounts/edit/">account editing page</a> where you can change your profile name, password, and email.</dd>

{% comment %}
We have no functionality for this at this time.  Should we?
<dt>How do I delete my account?</dt>

<dd>TBA</dd>
{% endcomment %}
<dt>How do I subscribe to, or unsubscribe from, emails I receive from Unglue.it?</dt>

<dd>Make sure you're logged in and go to the <a href="/notification/settings">Notification Settings</a> page.<br /><br />

If you receive our newsletter, there's a link at the bottom of every message to manage your preferences.  If you don't and would like to, you can <a href="http://eepurl.com/fKLfI">sign up here</a>.
</dd>

<dt>Is my personal information shared?</dt>

<dd>Short version: no.  You may share information with Rights Holders so they can deliver premiums to you, but this is not required. We do use third-party providers to support some of our business functions, but they are only allowed to use your information in order to enable your use of the service.  For the long version, please read our <a href="/privacy/">privacy policy</a>.
</dl>
{% endif %}
{% if sublocation == 'company' or sublocation == 'all' %}
<h4>The Company</h4>
<dl>
<dt>How can I contact Unglue.it?</dt>

<dd>For support requests, <a href="mailto:support@gluejar.com">support@gluejar.com</a>.  For general inquiries, use our Ask Questions Frequently account, <a href="mailto:aqf@gluejar.com">aqf@gluejar.com</a>.  For rights inquiries, <a href="mailto:rights@gluejar.com">rights@gluejar.com</a>.  Media requests, <a href="mailto:press@gluejar.com">press@gluejar.com</a></dd>

<dt>Who is Unglue.it?</dt>

<dd>We are a small group that believes strongly that ebooks can make the world richer in new and diverse ways, and that we all benefit from the hard work of their creators. We come from the worlds of entrepreneurship, linked data, physics, publishing, education, and library science, to name a few.  You can learn more about us at our <a href="/about">about page</a> or our Unglue.it supporter profiles: <a href="{% url supporter 'eric' %}">Eric Hellman</a>, <a href="{% url supporter 'AmandaM' %}">Amanda Mecke</a>, <a href="{% url supporter 'rdhyee' %}">Raymond Yee</a>, and <a href="{% url supporter 'andromeda' %}">Andromeda Yelton</a>.</dd>

<dt>Are you a non-profit company?</dt>

<dd>No. Gluejar, the parent company of Unglue.it, is a for-profit company with a public-spirited mission.  We work with both non-profit and commercial partners.</dd>

<dt>Why does Unglue.it exist?</dt>

<dd>Because legal stickiness means you can't reliably lend or share your ebooks, borrow them from the library, or read them on the device of your choice.  Because -- like public radio -- ebooks are expensive to create but cheap to distribute, so covering their fixed costs and reasonable profit up front can be an appealing system for authors, publishers, readers, and libraries.  Because we all have books we love so much we want to give them to the world.</dd>
</dl>
{% endif %}
{% endif %}

{% if location == 'campaigns' or location == 'faq' %}
<h3>Campaigns</h3>
{% if sublocation == 'overview' or sublocation == 'all' %}
<h4>Overview</h4>
<dl>
{% comment %}
These need to be put in proper order.  Also this should be broken down into the general FAQ and the RH FAQ; only the basic create/manage campaign, and the supporter mechanisms of interacting with campaigns, should be in the basic FAQ; more technical questions about running campaigns should be in the RH FAQ.
{% endcomment %}

<dt>Who is eligible to start a campaign on Unglue.it?</dt>

<dd>To start a campaign, you need to be a verified rights holder who has signed a Platform Services Agreement with us.  If you hold the commercial rights for one or more works, please contact <a href="mailto:rights@gluejar.com">rights@gluejar.com</a> to start the process.</dd>

<dt>How can I claim a work for which I am the rights holder?</dt>

<dd>On every book page there is a Rights tab.  If you have a signed Platform Services Agreement on file, one of the options on the Rights tab will be "Claim This Work".  If you represent more than one rights holder, choose the correct one for this work and click "Claim".<br /><br />If you expect to see that and do not, either we do not have a PSA from you yet, or we have not yet verified and filed it.  Please contact us at <a href="mailto:rights@gluejar.com">rights@gluejar.com</a>.</dd>

<dt>Why should I claim my works?</dt>

<dd>You need to claim a work before you will be able to start a campaign for it.  Additionally, we're working new features for verified rights holders which will help you show off your works and connect to your readers.  Claiming your works will let you take advantage of these features in the future.</dd>

<dt>Can I have more than one campaign?</dt>

<dd>Yes!</dd>

<dt>Where can I find a campaign page?</dt>

<dd>If you're looking for a specific book, search for it.  The book's page becomes a campaign page when its campaign starts.  Your bookmarks and widgets for that book will still work.<br /><br />
If you want to find an interesting campaign and don't have a specific book in mind, see the Explore sidebar (on almost any page except the FAQs) for some of our favorites.</dd>

<dt>Why does it say a book's campaign has been suspended or withdrawn?</dt>

<dd>If there is a dispute between Gluejar and the book's rights holder, or if we discover evidence that a book's rights are in dispute after launching a campaign, it may be necessary for us to withdraw or suspend the campaign.</dd>
</dl>
<h4>Campaign Pages</h4>
<dl>
<dt>Can a campaign be edited after launching?</dt>

<dd>Yes.  In fact, rights holders are encouraged to update their supporters about the progress of the campaign. (For an example of exceptionally successful updating, check out <a href="http://www.kickstarter.com/projects/599092525/the-order-of-the-stick-reprint-drive/posts">Rich Burlew's Kickstarter campaign</a>, which grossed over a million dollars, in part because of his frequent and creative communication and improvements to the rewards being offered.)  Note that the campaign's deadline cannot be changed and its threshold may not be increased, though it may be lowered.</dd>

<dt>Can campaigns be edited after funding is completed?</dt>

<dd>Yes.  Again, while the deadline cannot be changed and the threshold cannot be increased, rights holders are encouraged to add thank-you messages for supporters and update them on the progress of ebook conversion (if needed).</dd>

<dt>What is a campaign page?</dt>

<dd>When a book has an active ungluing campaign, its book page turns into its campaign page.  This means that, in addition to the standard book page information, it also features rewards for different pledge tiers; a Support button; and information supplied by the rights holder about the book and the campaign.</dd>
</dl>
{% endif %}
{% if sublocation == 'supporting' or sublocation == 'all' %}
<h4>Supporting Campaigns</h4>
<dl>
<dt>How do I pledge?  Do I need an Amazon account?</dt>

<dd>There's a Support button on all campaign pages, or you can just click on the premium you'd like to receive.  You'll be asked to select your premium and specify your pledge amount, and then you'll be taken to Amazon to complete the transaction.  At this time, you need an Amazon Account in order to pledge.</dd>

<dt>When will I be charged?</dt>

<dd>In most cases, your account will be charged by the end of the next business day after a campaign succeeds.  If a campaign doesn't succeed, you won't be charged.</dd>

<dt>What if I want to change or cancel a pledge?</dt>

<dd>You can modify your pledge by going to the book's page and clicking on the "Modify Pledge" button.  (The "Support" button you clicked on to make a pledge is replaced by the "Modify Pledge" button after you pledge.)</dd>

<dt>What happens to my pledge if a campaign does not succeed?</dt>

<dd>Your credit card will only be charged when campaigns succeed.  If they do not, your pledge will expire and you will not be charged.</dd>

<dt>Can people contribute anonymously?</dt>

<dd>We intend to implement this feature, but have not yet done so.</dd>

<dt>If I have pledged to a suspended or withdrawn campaign, what happens to my pledge?</dt>

<dd>Your pledge will time out according to its original time limit.  If the campaign is resolved and reactivated before your pledge has timed out, your pledge will become active again.  If the campaign is not reactivated before your pledge's time limit, your pledge will expire and you will not be charged.  As always, you will only be charged if a campaign is successful, within its original time limit.</dd>

<dt>Is my contribution tax deductible?</dt>

<dd>If the rights holder for the work you're supporting is a nonprofit, please contact them directly to inquire.  Unglue.it cannot offer tax deductions.</dd>
</dl>
{% endif %}
{% if sublocation == 'premiums' or sublocation == 'all' %}
<h4>Premiums</h4>
<dl>
<dt>What are premiums?</dt>

<dd>Premiums are bonuses people get for supporting a successful campaign, to thank them and incentivize them to pledge.  If you've ever gotten a tote bag from NPR, you know what we're talking about.</dd>

<dt>Are premiums required?</dt>

<dd>Yes.  All campaigns have a required set of premiums, as follows:<br /><br />
<ul class="terms">
<li>$1 // The unglued ebook delivered to your inbox.</li>
<li>$25 // Your name under "supporters" in the acknowledgements section.</li>
<li>$50 // Your name and link of your choice under "benefactors"</li>
<li>$100 // Your name, link of your choice, and a brief message (140 characters max) under "bibliophiles"</li>
</ul>

Rights holders are encouraged to offer additional premiums to engage supporters' interest.</dd>

<dt>Who creates the premiums for each campaign?</dt>

<dd>Unglue.it determines the required premiums; the rights holder determines any additional premiums for a campaign.</dd>

<dt>Is there a minimum or maximum for how much a premium can cost?</dt>

<dd>There's a $1 minimum and a $2000 maximum (due to transaction size limits imposed by our payment processor).</dd>
</dl>
{% endif %}
{% endif %}

{% if location == 'unglued_ebooks' or location == 'faq' %}
<h3>Unglued Ebooks</h3>
{% if sublocation == 'general' or sublocation == 'all' %}
<h4>General Questions</h4>
<dl>
<dt>So what is an unglued ebook?</dt>

<dd>An unglued ebook is an already-published book that's been rereleased under a <a href="http://creativecommons.org">Creative Commons</a> license, after obtaining permission and compensating the rights holder.<br /><br />

What does this mean for you?  If you're a book lover, you can read unglued ebooks for free, on the device of your choice, in the format of your choice, and share them with all your friends.  If you're a library, you can lend them to your patrons with no checkout limits or simultaneous user restrictions, and preserve them however you think best.  If you're a rights holder, you get a guaranteed up-front payment in lieu of royalties on this edition, while retaining copyright and all interests in other editions of your work.<br /><br />

Unglued ebooks are a win-win solution for readers, libraries, and authors, publishers.
</dd>

<dt>Is the unglued ebook edition the same as one of the existing editions?</dt>

<dd>Not necessarily.  Sometimes the existing editions include content that we can't get the rights to include in the unglued ebook, especially cover art or illustrations.  Sometimes the unglued ebook edition will have improvements, like copy-editing fixes or bonus features.  These differences, if any, will be specified in the Rights tab of the campaign page.  In addition, all unglued ebooks include acknowledgements of supporters and information on their Creative Commons license.</dd>

<dt>How much does a book cost?</dt>
 
<dd>The author or publisher sets a price for giving the book to the world. Once you and your fellow ungluers raise enough money to meet that price, the unglued ebook is available at no charge, for everyone, everywhere!</dd>

<dt>Will Unglue.it have campaigns for all kinds of books?</dt>

<dd>Yes. You choose what books to wishlist and what books to support. Your passion will drive the campaigns.  We aim to host campaigns for diverse subjects and genres, from romance novels to poetry, from history to medicine, from the lectures of famous scentists to your favorite chapter book when you were 8 years old.</dd>

<dt>Will you raise money for books already for sale as an ebook?</dt>

<dd>Yes.  Books available as ebooks can still be unglued, to make them available more easily to more people.</dd>

<dt>Does an unglued book have to be out-of-print?</dt>

<dd>No. Unglued books can be anything in copyright, whether 75 years or 7 days old, whether they sell in paperback or hardcover and or can only be found in used bookstores -- or nowhere. But the copyright owners and any one else with a claim on the book need to agree.</dd>

<dt>Does Unglue.it help to fund self-published books?</dt>

<dd>In general, no.  Unglue.it does not support campaigns for self-published books that have not previously been sold in the retail market.  If your self-published book has been for sale for at least 6 months, let's talk. (<a href="mailto:rights@gluejar.com">rights@gluejar.com</a>).</dd>

<dt>Will Unglue.it help raise funds for books not yet written?</dt>

<dd>No.  There are other crowdfunding sites devoted to new creative works, and we encourage you to investigate them.  Once your book has been published, we'd love to talk to you.</dd>
</dl>
{% endif %}
{% if sublocation == 'using' or sublocation == 'all' %}
<h4>Using Your Unglued Ebook</h4>
<dl>
<dt>What can I do, legally, with an unglued ebook?  What can I <I>not</I> do?</dt>

<dd>All unglued ebooks are released under a Creative Commons license.  Unless otherwise indicated for specific books, we use the <a href="creativecommons.org/licenses/by-nc-nd/3.0/">Creative Commons Attribution-NonCommercial-NoDerivatives license (CC BY-NC-ND) license</a>.  The rights holder chooses which Creative Commons license to apply.<br /><br />

Creative Commons licenses mean that you <b>can</b>: make copies; keep them for as long as you like; shift them to other formats (like .mobi or PDF); share them with friends or on the internet; download them for free.<br /><br />

Under NC (non-commercial) licenses, you <b>cannot</b>: sell unglued ebooks, or otherwise use them commercially, without permission from the rights holder.<br /><br />

Under ND (no derivatives) licenses, you <b>cannot</b>:  make derivative works, such as translations or movies, without permission from the rights holder; <br /><br />

Under all CC licenses (except CC0), you <b>cannot</b>:  remove the author's name from the book, or otherwise pass it off as someone else's work; or remove or change the CC license.</dd>

<dt>What does non-commercial mean under Creative Commons?</dt>

<dd>Creative Commons doesn't define "commercial" thoroughly (though it's worth reading what <a href="http://wiki.creativecommons.org/FAQ#Does_my_use_violate_the_NonCommercial_clause_of_the_licenses.3F">they have to say on the topic</a>). So as part of the Unglue.it process, ungluing rights holders agree that "For purposes of interpreting the CC License, Rights Holder agrees that 'non-commercial' use shall include, without limitation, distribution by a commercial entity without charge for access to the Work."<br /><br />

Unglue.it can't provide legal advice about how to interpret Creative Commons licenses, and we encourage you to read about the licenses yourself and, if necessary, seek qualified legal advice.</dd>

<dt>Are the unglued ebooks compatible with my device?  Do I need to own an ereader, like a Kindle or a Nook, to read them?</dt>
 
<dd>Unglued ebooks are distributed with NO DRM, so they'll work on Kindle, iPad, Kobo, Nook, Android, Mac, Windows, Linux... you get the idea.  Whether you have an ereader, a tablet, a desktop or laptop computer, or a smartphone, there are reading apps that work for you.  Ebook editions issued through Unglue.it will be available in ePub format.  If this format doesn't work for you, today or in the future, you are welcome to shift unglued books to one that does, and to copy and distribute it in that format.</dd>

<dt>Do I need to have a library card to read an unglued ebook?</dt>

<dd>No. (Though we hope you have a library card anyway!)  While your library may make unglued ebooks available, they will be available from other sources as well.</dd>

<dt>How long do I have to read my unglued book?  When does it expire?</dt>

<dd>It doesn't!  You may keep it as long as you like.  There's no need to return it, and it won't stop working after some deadline.  You own it.</dd>

<dt>I love my unglued ebook and I want to loan it to my friends.  Can I?</dt>

<dd>Yes!  Because everything with a <a href="http://creativecommons.org">Creative Commons</a> license is free to copy and share, you can copy your unglued ebook file and give it to anyone you want.  You can all read and discuss it on GoodReads or LibraryThing at the same time.  The Rights Holder has given you permission to spread the word to readers everywhere.<br /><br />
Just don't sell, adapt, or abridge it without checking the license.  All unglued ebooks are licensed for noncommercial uses.  Of course, you're welcome to still buy other editions -- paperbacks, hardcovers, or audio -- too.</dd>

<dt>Will I be able to dowload an unglued ebook directly from Unglue.it?</dt>

<dd>Unglue.it will provide links to places where you can find unglued and public domain ebooks (look at the book's page for specifics).  We will not host them ourselves.  We encourage you to look for them at bookstores, libraries, literary blogs, social reading sites, and all kinds of places people go to read and talk about books. You don't need our permission to host a free unglued ebook on your own site.</dd>
</dl>
{% endif %}
{% if sublocation == 'copyright' or sublocation == 'all' %}
<h4>Ungluing and Copyright</h4>
<dl>
<dt>Why does an unglued book have to be in copyright?</dt>

<dd>Because books out of copyright are already free for you to copy, remix, and share!  If a book is in the <a href="http://en.wikipedia.org/wiki/Public_domain">public domain</a>, it doesn't need to be unglued.</dd>

<dt>How can I tell if a book is in copyright or not?</dt>

<dd>Unfortunately, it can be complicated -- which is why Unglue.it wants to simplify things, by making unglued ebooks unambiguously legal to use in certain ways.  The laws governing copyright and the public domain vary by country, so a book can be copyrighted in one place and not in another.  In the United States, the <a href="http://www.librarycopyright.net/digitalslider/">Library Copyright Slider</a> gives a quick estimate. <br /><br />

Unglue.it signs agreements assuring the copyright status of every work we unglue, so you can be confident when reading and sharing an unglued ebook.</dd>

<dt>Unglue.it lists a book that I know is already Creative Commons licensed or available in the public domain. How can I get the link included?</dt>

<dd>If you are logged in to Unglue.it, the "Rights" page for every work lists the edition we know about. There a link for every edition that you can use to tell us about Creative Commons or public domain downloads.  We do require that these books be hosted at certain known, reputable repositories: Internet Archive, Wikisources, Hathi Trust, Project Gutenberg, or Google Books.</dd></dl>
{% endif %}
{% endif %}

{% if location == 'rightsholders' or location == 'faq' %}
<h3>For Rights Holders</h3>
{% if sublocation == 'authorization' or sublocation == 'all' %}
<h4>Becoming Authorized</h4>
<dl>
<dt>What do I need to do to become an authorized Rights Holder on Unglue.it?</dt>

<dd>Contact our Rights Holder Relations team, <a href="mailto:rights@gluejar.com">rights@gluejar.com</a>, to discuss signing our Platform Services Agreement. This is the first step in being able to make an offer to license, set a monetary goal, and run a campaign on Unglue.it.</dd>

<dt>Do I need to know the exact titles I might want to unglue before I sign the Platform Services Agreement?</dt>

<dd>No. You only need to agree to the terms under which you will use Unglue.it to raise money to release an ebook using a <a href="http://creativecommons.org">Creative Commons</a> license. You can decide which specific titles you wish to make available for licensing later. You can run campaigns for as many, or as few, titles at a time as you like.</dd>
</dl>
{% endif %}
{% if sublocation == 'campaigns' or sublocation == 'all' %}
<h4>Running Campaigns</h4>
<dl>
<dt>What do I need to create a campaign?</dt>

<dd>First, you need to be an authorized rights holder with a signed Platform Services Agreement on file.  Please contact <a href="mailto:rights@gluejar.com">rights@gluejar.com</a> to start this process.  Once we have your PSA on file, you'll be able to claim your works and you'll have access to tools for launching and monitoring campaigns.  We'll be happy to walk you through the process personally.</dd>

<dt>Can I Unglue only one of my books?  Can I unglue all of them?</dt>

<dd>Yes! It's entirely up to you. Each Campaign is for a individual title and a separate fundraising goal.</dd>

<dt>Can I raise any amount of money I want?</dt>

<dd>You can set any goal that you want in a Campaign.  Unglue.it cannot guarantee that a goal will be reached.</dd>

<dt>What should I include in my campaign page?</dt>

<dd>Show the world why we should love your book.  What makes it powerful, intriguing, moving, thought-provoking, important?  How does it capture readers' imaginations, engage their minds, or connect to their emotions?  Remind readers who loved the book why they loved it, and give people who haven't read it reasons they want to.<br /><br />

We strongly encourage you to include video.  You can upload it to YouTube and embed it here.  We also strongly encourage links to help readers explore further -- authors' home pages, organizations which endorse the book, positive reviews, et cetera.  Think about blurbs and awards which showcase your book.  But don't just write a catalog entry or a laundry list: be relatable, and be concise.</dd>

<dt>What should I offer as premiums?</dt>

<dd>In addition to the required set of Unglue.it premiums, you're encouraged to sweeten the deal for your supporters by offering special premiums.  Think about things that uniquely represent yourself or the work, that are appealing, and that you can deliver quickly and within your budget. For example, authors could consider offering skype sessions as premiums for libraries or schools that might want to plan an event around the unglued book.</dd>

<dt>What can be offered as a premium?  What items are prohibited as premiums?</dt>

<dd>You can offer anything you are capable of delivering, so long as it is not illegal or otherwise restricted in the United States.  For instance, your premiums may not include alcohol, drugs, or firearms.  For full details, consult our <a href="/terms/">Terms of Use</a>.</dd>

<dt>Who is responsible for making sure a rights holder delivers premiums?</dt>

<dd>The rights holder.</dd>

<dt>How can I get my supporters' information (mailing address, T-shirt size, etc.) to fulfill premiums?</dt>

<dd>Unglue.it will share supporters' emails and the premiums they are owed with rights holders if, and only if, a campaign succeeds.  If you need additional information to fulfill premiums, you may email ungluers directly.  Rights holders are required to comply with the Unglue.it privacy policy.</dd>

<dt>What should I ask my supporters to do?</dt>

<dd>Of course you'll want them to support your campaign financially, and make that pitch.  But they also want to feel like they're part of the excitement of the campaign and the love for your book.  Invite them to discuss the book in the Comments tab, to share the campaign via email and social media using the Share column links, and to embed the campaign widget in their blogs.  And think about other ways you can get supporters involved, too: discussions on social reading sites? A Twitter hashtag? Uploading Flickr photos or YouTube videos of themselves with your book?  (Prizes or acknowledgements for the person who photographs your book in the most unusual location?)  Think of ways you can invite them to express and share their enthusiasm, and how you can reward them (not just monetarily) for doing so.</dd>

<dt>How can supporters contact me?</dt>

<dd>If you'd like supporters to contact you directly, please include (or link to) your contact information in your campaign page and profile.  Make sure you're also monitoring the Comments tabs on your works' pages (whether or not they have active campaigns).</dd>

<dt>What is my responsibility for answering questions from supporters and non-supporters?</dt>

<dd>It's up to you.  However, our experience watching and running crowdfunding campaigns suggests that you'll do best if you're engaged, prompt, and personable.  In fact, don't just think in terms of answering questions (though you should absolutely do that) -- think about cultivating and contributing to the conversation.</dd>
</dl>
{% endif %}
{% if sublocation == 'publicity' or sublocation == 'all' %}
<h4>Publicizing Campaigns</h4>
<dl>
<dt>I need help using social media channels to publicize my campaign.</dt>

<dd>We're developing a social media toolkit for rights holders.  Please tell us what you think should be in it so we can serve you better: <a href="mailto:support@gluejar.com">support@gluejar.com</a>.  In the meantime we're happy to help you one-on-one, at the same address.</dd>

<dt>Can I contact my supporters directly?</dt>
<dd>We will not provide you contact information, except as needed to fulfill premiums after successful campaigns.  Supporters may voluntarily disclose certain contact information (such as Twitter handles) on their profile pages.  We encourage you to be thoughtful in your use of this information.  Supporters have likely provided it as a way to connect with other like-minded people, not as a marketing tool, so please engage with it in that spirit.<br /><br />
If you are running a campaign, any updates to that campaign will be automatically emailed to your supporters, unless they have opted out of receiving those notifications.  We encourage you to use campaign page updates to engage and recognize your supporters.</dd>

<dt>How do I get feedback from supporters or fans about my campaign?</dt>

<dd>Ask them!<br /><br />

Also, pay attention to places they're talking about your campaign.  This might be the Comments tab, a hashtag on Twitter, the comments section of your blog, a forum on your web site, your Facebook page, et cetera.  You can use your campaign pitch to point them to these spaces, too.  Read them regularly to see what people are saying, and to participate in the conversation.</dd>

<dt>How do I share my campaign?</dt>

<dd>On every campaign page, you can generate an HTML widget that you can embed wherever you like.  It will automatically be updated with your campaign's progress.  There are also links to share the page via email and social networks. <br /><br />

Have other ways you want to share?  Your own blog, newsletter, or social media presence?  Your friends, and their friends?  Professional associations?  Media contacts?  Go for it!<br /><br />

Need more ideas?  We're happy to work with rights holders personally to craft a campaign strategy.</dd>

<dt>How can I get my campaign featured on the home page or the Explore menu pages?</dt>

<dd>We automatically generate those lists from the books with the most (or most recent) wishes, pledges, and comments.  The more people you can rally to show their love of your book, the more likely it is to be featured there.</dd>

<dt>How can I get press coverage or social media buzz for my campaign?</dt>

<dd>We're developing a social media toolkit to help you with this; stay tuned.  We're also happy to work with you one-on-one.  Email <a href="mailto:support@gluejar.com">support@gluejar.com</a>.
</dl>
{% endif %}
{% if sublocation == 'conversion' or sublocation == 'all' %}
<h4>Ebook Conversion</h4>
<dl>
<dt>I am a copyright holder. Do I need to already have a digital file for a book I want to unglue?</dt>

<dd>No. You may run campaigns for any of your books, even those that exist only in print copies or are out of print.  Any print book can be scanned to create a digital file that can then become an ePub-format unglued ebook.</dd>

<dt>Will Unglue.it scan the books and produce ePub files?</dt>

<dd>No. We will help you find third parties who will contract for conversion services.</dd>

<dt>Will Unglue.it raise money to help pay for conversion costs?</dt>

<dd>Your campaign target should include conversion costs.</dd>
{% endif %}
{% if sublocation == 'funding' or sublocation == 'all' %}
<h4>Funding</h4>

<dt>Is a PayPal account required to launch a campaign?</dt>

<dd>At this time, Unglue.it requires that rights holders have PayPal accounts as it will simplify the process of paying you when a campaign succeeds. </dd>

<dt>Is an Amazon account required to launch a campaign?</dt>
<dd>No.  When Unglue.it receives funds pledged through Amazon, we can cut a check to rights holders when a campaign succeeds.</dd>

<dt>Why does this FAQ mention both Amazon and Paypal?  Who's the payment processor?</dt>
<dd>For more information on Unglue.it's decision-making process with regard to payment processors, please read <a href="http://blog.unglue.it/2012/05/03/unglue-it-payment-options-amazon-vs-paypal/">our blog post on Amazon and Paypal</a>.</dd>

<dt>Are a funding goal and deadline required?</dt>
<dd>Yes.</dd>

<dt>Can I change my funding goal?</dt>
<dd>While a campaign is in progress you may lower, but not raise, your funding goal.</dd>

<dt>Can I change my deadline?</dt>
<dd>No.</dd>

<dt>Are contributions refundable?</dt>

<dd>Unglue.it cannot refund contributions.  Once a campaign succeeds, supporters' credit cards will be charged the full amount of their pledge nonrefundably.  However, they will not be charged until, and unless, the campaign succeeds.  Before that time they may modify or cancel their pledges without charge.</dd>

<dt>What if an ungluer contests a charge?</dt>

<dd>Ungluers may contest charges, either with the payment processor or with their credit card issuer.  Unglue.it is not liable for this and rights holders are liable for any chargebacks.  We encourage rights holders to provide clear, timely communication to their supporters throughout the campaign to ensure they remember what they pledged to and why.</dd>

<dt>What happens if a supporter's credit card is declined?</dt>

<dd>Although credit cards are authorized at the time of pledging, a small percentage of cards will get voided between the time of authorization and the time the credit card is actually charged. Rights holders are responsible for any funding shortfall due to voided credit cards.</dd>

<dt>Can I offer tax deductions to people who pledge to my campaign?</dt>

<dd>If you are a 501(c)3 or similar, please consult your own attorneys and accountants about the tax deductibility of ungluers' contributions.  Unglue.it cannot offer tax deductions or advice.</dd>

<dt>How do I know when I have started fundraising?</dt>

<dd>Unglue.it will be in communication with you about when campaigns should go live.  On your <a href="/rightsholders/">rights holder dashboard</a>, you will be able to see all works you have claimed and the status of any associated campaigns.</dd>

<dt>After a campaign succeeds, when and how will I be paid?</dt>

<dd>After we reach the threshold price Unglue.it will issue you a closing memo, which will cover your gross and net proceeds.  Unglue.it will hold the proceeds until you deliver an ePub file meeting Unglue.it's quality standards, at which point Unglue.it will send you a check.  If Unglue.it does not receive a suitable ePub file within 90 days, we will deduct conversion costs from your funds and release the rest to you.</dd>

<dt>What happens if my campaign reaches its funding goal before its deadline?  Can campaigns raise more money than their goal?</dt>

<dd>Campaigns are scheduled to close at midnight Eastern (US) time of the day when they hit their funding threshold.  They may continue to accrue pledges up to that time, including funding past their goal.</dd>

<dt>What happens if my campaign doesn't reach its funding goal by its deadline?</dt>

<dd>The campaign ends.  Supporters' credit cards are not charged, so you are not paid, and not obligated to release an unglued ebook.<br /><br />
If you're concerned a campaign may not reach its goal you have several options.  You can lower the target price to a level more likely to succeed.  Or you are welcome to run a second campaign at a later time, perhaps with a different goal, duration, and publicity strategy.  We'd be happy to consult with you about this.</dd>

<dt>What fees does Unglue.it charge?</dt>

<dd>When a campaign succeeds, Unglue.it will deduct a 6% commission on the funds raised.  Our payment processor also charges a small percentage fee on each transaction, plus (where relevant) currency conversion costs.  If you do not have a suitable ePub version of your book available, you will also need to cover ebook conversion costs; please price this into your goal for a campaign.  Details are spelled out in the Platform Services Agreement that rights holders must sign before launching an Unglue.it campaign.</dd>

<dt>Does it cost money to start a campaign on Unglue.it?</dt>

<dd>No.</dd>

<dt>Will I receive a 1099-K tax form?</dt>

<dd>Yes, Unglue.it will issue you one as required by law.</dd>

</dl>
{% endif %}
{% if sublocation == 'rights' or sublocation == 'all' %}
<h4>Rights</h4>
<dl>
<dt>If I am an author with my book still in print, can I still start a campaign to unglue it?</dt>

<dd>This depends entirely on your original contract with your publisher. You should seek independent advice about your royalty clauses and the "Subsidiary Rights" clauses of your contract. The Authors' Guild provides guidance for its members.</dd>

<dt>If I am an author do I have to talk to my publisher or agent first?</dt>

<dd>It is your responsibility to get advice on the current status of any contracts you may have ever had for the right to publish your work, whether or not a book is in print now. <a href="http://creativecommons.org">Creative Commons</a> licenses are media neutral and worldwide (English). You may need waivers from other parties who have exclusive licenses for this book.</dd>

<dt>If I am a publisher, but I do not have an ebook royalty in my contract, can I sign your Platform Services Agreement?</dt>

<dd>We can't interpret your particular contract regarding subsidiary rights and your ability to use a Creative Commons license.  Please seek qualified independent advice regarding the terms of your contract.  In any event, you will also want the author to cooperate with you on a successful fundraising campaign, and you can work together to meet the warranties of the PSA.</dd>

<dt>Are the copyright holder, and the rights holder who is eligible to start an Unglue.it campaign, the same person?</dt>

<dd>Not necessarily. If you are the author and copyright holder but have a contract with a publisher, the publisher may be the authorized Rights Holder with respect to commercial rights, and they may be able to sign a licensing agreement on your behalf. Again, you must get advice about your individual contract, especially subsidiary rights clauses and exclusivity.</dd>

<dt>Can I offer a book to be unglued even if I cannot include all the illustrations from the print edition?</dt>

<dd>Yes. If permission to reprint cannot not be obtained for items such as photographs, drawings, color plates, as well as quotations from lyrics and poetry, we can produce an unglued edition which leaves them out.  You must indicate the difference between the editions on your Campaign page.</dd>

<dt>What impact does ungluing a book have on the rights status of my other editions?</dt>

<dd>The Creative Commons licenses are non-exclusive.  They will apply only to the unglued edition, not to the print, audio, or any other editions. They does not affect the rights status of those other editions. If you use the no-derivative, noncommercial license (CC BY-NC-ND), no one else may sell your book or make derivatives unless you give them permission to do so.</dd>

<dt>Can an Unglued Ebook be issued only in the US?</dt>

<dd>No. An Unglued Ebook is released to the world. It uses a <a href="http://creativecommons.org">Creative Commons</a> license which is territory-neutral. That is, the unglued ebook can be read by anyone, anywhere in the world, subject always to the limitations of the license.</dd>
{% endif %}

</dl>
{% endif %}

{% endblock %}

{% comment %}

-- stuff that needs to be organized --

Will you tell me when campaigns I have pledged to succeed?

What does it mean when I wish for a book to be Unglued?

Can I share my wish list with others?

I see where I can comment on a campaign, but where can I talk about it with other readers?

See our links to Goodreads, Library Thing...etc where you can join conversations in progress.

-- stuff that will only go on the RH FAQ (if it's above, needs to be copy/pasted over to there)
Questions about becoming an authorized Rights Holder

Does a Creative Commons license mean the Rights Holders doesn't get paid?

No. An Unglued Ebook is pre-paid. A CC BY NC ND license means no one else can sell or adapt the ebook for profit. The Rights Holder can set as high a fee as wanted as a fundraising goal, instead of waiting decades for royalties.

How do I keep track of my contributors and the fulfillment of premiums?

TBA

{% endcomment %}