{% extends "basedocumentation.html" %}
{% block title %} FAQ {% endblock %}
{% block doccontent %}

<h1>FAQ</h1>

<h2>Ungluer FAQ- Stub</h2>

<dl>
<dt>How much does a book cost?</dt>
 
<dd>The author or publisher set a price for giveing the book to the world. Once you and your fellow ungluers raise enough money to meet that price, the Unglued ebook is available at no charge, for everyone, everywhere!</dd>
 
<dt>Are the unglued ebooks compatible with my reader?</dt>
 
<dd>Unglued ebooks are distributed with NO DRM, so they'll work on Kindle, iPad, Kobo, Mac, Windows, Linux... you get the idea.</dd>

{% endblock %}