            <div class="jsmodule">
                <h3 class="jsmod-title"><span>Pledging FAQs</span></h3>
                <div class="jsmod-content">
                    <ul class="menu level1">
                    
                    	<li class="first parent">
                    		<span class="faq">How do I pledge?</span>
                            <span class="menu level2 answer">
                            Enter your pledge amount and select a premium. (You may select a premium at any level up to and including the amount you pledge.)  After you click Pledge, you'll be directed through PayPal to complete the transaction.
                            </span>
                    	</li>

                        <li class="parent">
                            <span class="faq">What happens after I pledge?</span>
                            <span class="menu level2 answer">
                            TBA
                            </span>
                        </li>

                        <li class="parent">
                            <span class="faq">When will I be charged?</span>
                            <span class="menu level2 answer">
                            If this campaign succeeds, you'll be charged at TBA.  If it does not, your pledge will expire on {{ campaign.deadline }} and you will not be charged.
                            </span>
                        </li>
                        
                        <li class="parent">
                            <span class="faq">What if I want to change my pledge?</span>
                            <span class="menu level2 answer">
                            You can change or cancel your pledge at any time before the campaign ends.  This will be the campaign's deadline ({{ campaign.deadline }}) or midnight (Eastern US time) on the day the campaign succeeds, whichever comes first.
                            </span>
                        </li>
                        
                        <li class="last parent">
                            <span class="faq">How and when will I receive my premiums?</span>
                            <span class="menu level2 answer">
                            TBA
                            </span>
                        </li>
                        
                    </ul>
                </div>
            </div>
