            <div class="jsmodule">
                <h3 class="jsmod-title"><span>FAQs</span></h3>
                <div class="jsmod-content">
                    <ul class="menu level1">

                    	<li class="first parent">
                    		<span class="faq">If I change my mind, can I un-cancel?</span>
                            <span class="menu level2 answer">
                            No, but you are welcome to make a new pledge.                            </span>
                    	</li>

						<li class="last parent">
							<span class="faq">Will the campaign manager be notified that I have cancelled my pledge?</span>
							<span class="menu level2 answer">
							No, although your name will stop appearing in the list of people who have pledged to the campaign. 
							</span>
						</li>

                    </ul>
                </div>
            </div>
