            <div class="jsmodule">
                <h3 class="jsmod-title"><span>Pledging FAQs</span></h3>
                <div class="jsmod-content">
                    <ul class="menu level1">
                    
                    	<li class="first parent">
                    		<span class="faq">How do I pledge?</span>
                            <span class="menu level2 answer">
                            Enter your pledge amount and select a premium. (You may select a premium at any level up to and including the amount you pledge.)  If you pledge enough, you're also eligible to be credited in the unglued ebook and to include a dedication, and toward the bottom of this page you can specify what you'd like those to say.  After you click Unglue it!, you'll be asked for your credit card information.
                            </span>
                    	</li>

                        {% if nonprofit.is_on %}

                        <li class="parent">
                            <span class="faq">Are pledges tax-deductible?</span>
                            <span class="menu level2 answer">
                            They can be.  On the next page, you'll be given a choice between pledging and donating to our nonprofit partner, {{ nonprofit.name }}.  Donations are tax-deductible.  They will be used to support the campaign if it succeeds; otherwise they will support the mission of {{ nonprofit.name }}.<br /><br />
                            Pledges are not tax-deductible, but will only be used to fund the campaign to unglue <i>{{ work.title }}</i>. 
                            </span>
                        </li>
                        
                        <li class="parent">
                            <span class="faq">When will I be charged?</span>
                            <span class="menu level2 answer">
                            If you donate to our nonprofit partner {{ nonprofit.name }}, you will be charged immediately.<br /><br />
                            If you pledge, you will only be charged if the campaign reaches its target price, ${{ campaign.target }}, by its deadline, {{ campaign.deadline }}  In that case, you'll be charged within a day of when it reaches its target.  If it does not, your pledge will expire on {{ campaign.deadline }} (Eastern US time) and you will not be charged.
                            </span>
                        </li>

                        {% else %}

                        <li class="parent">
                            <span class="faq">When will I be charged?</span>
                            <span class="menu level2 answer">
                            Campaigns succeed if they reach their target price by their deadline.  If this campaign succeeds, you'll be charged within a day of when it reaches its target.  If it does not, your pledge will expire on {{ campaign.deadline }} (Eastern US time) and you will not be charged.
                            </span>
                        </li>                        
                        
                        {% endif %}

                        <li class="parent">
                            <span class="faq">What if I want to change my pledge?</span>
                            <span class="menu level2 answer">
                            You can change or cancel your pledge at any time before the campaign ends.  This will be the campaign's deadline ({{ campaign.deadline }}) or midnight (Eastern US time) on the day the campaign succeeds, whichever comes first.  Go to <a href="{% url work work.id %}">this book's page</a> and click on the Modify Pledge button.
                            </span>
                        </li>
                                                
                        <li class="last parent">
                            <span class="faq">How and when will I receive my premiums?</span>
                            <span class="menu level2 answer">
                            If the campaign succeeds and you requested a special premium, we will disclose to the rights holder your email address and any premiums you requested.  The rights holder will then be in touch with you about how your premiums will be fulfilled.  If you asked to be listed in the acknowledgements, this will be part of the unglued ebook, which should be available within 90 days of the close of the campaign.
                            </span>
                        </li>
                        
                    </ul>
                </div>
            </div>
