            <div class="jsmodule">
                <h3 class="jsmod-title"><span>Pledging FAQs</span></h3>
                <div class="jsmod-content">
                    <ul class="menu level1">
                    
                    	<li class="first parent">
                    		<span class="faq">How do I pledge?</span>
                            <span class="menu level2 answer">
                            Enter your pledge amount and select a premium. (You may select a premium at any level up to and including the amount you pledge.)  If you pledge enough, you're also eligible to be credited in the unglued ebook and to include a dedication, and toward the bottom of this page you can specify what you'd like those to say.  If this is your first pledge, we'll collect your card information after you click Pledge Now.  Otherwise, we'll use the card you used last time -- no need to type in your info again!
                            </span>
                    	</li>

                        <li class="parent">
                            <span class="faq">What forms of payment do you accept?</span>
                            <span class="menu level2 answer">
                            We accept Visa, Mastercard, American Express, JCB, Discover, and Diners Club.
                            </span>
                        </li>
                        
                        <li class="parent">
                            <span class="faq">When will I be charged?</span>
                            <span class="menu level2 answer">
                            If this campaign reaches its target before its deadline ({{ campaign.deadline }}), you'll be charged within a day of when the target is reached.  Otherwise, your pledge will expire at midnight on {{ campaign.deadline }} (Eastern US time) and you will not be charged.
                            </span>
                        </li>
                        
                        <li class="parent">
                            <span class="faq">Will I be charged if the campaign doesn't succeed?</span>
                            <span class="menu level2 answer">
                            Nope!
                            </span>
                        </li>
                        
                        <li class="parent">
                            <span class="faq">What if I want to change my pledge?</span>
                            <span class="menu level2 answer">
                            You can change or cancel your pledge at any time before the campaign ends.  This will be the campaign's deadline ({{ campaign.deadline }}) or midnight (Eastern US time) on the day the campaign succeeds, whichever comes first.  You can change the credit card you unglue with, too.  Go to your <a href="{% url manage_account %}">Account &amp; Pledges page</a> (always accessible under "Hi, {{ request.user.username }}!" in the upper right corner of the site).
                            </span>
                        </li>
                        
                        <li class="last parent">
                            <span class="faq">How and when will I receive my premiums?</span>
                            <span class="menu level2 answer">
                            If the campaign succeeds and you requested a special premium, we will disclose your email address and any premiums you requested to the campaign manager.  The manager (typically the author or publisher) will then be in touch with you about how your premiums will be fulfilled.  If you asked to be listed in the acknowledgements, this will be part of the unglued ebook.  We'll email you a link to it within 90 days of the close of the campaign.
                            </span>
                        </li>
                        
                    </ul>
                </div>
            </div>
