            <div class="jsmodule">
                <h3 class="jsmod-title"><span>FAQs</span></h3>
                <div class="jsmod-content">
                    <ul class="menu level1">
                    
                    	<li class="first parent">
                    		<span class="faq">How will I know if the campaign succeeds?</span>
                            <span class="menu level2 answer">
                            We'll email you (from accounts@gluejar.com).  You can also keep track of the campaign's progress from your <a href="{% url supporter user.username %}">supporter page</a> or from the campaign page for <a href="{% url work work.id %}">{{ work.title }}</a>.
                            </span>
                    	</li>

                        <li class="parent">
                            <span class="faq">What kind of communications should I expect?</span>
                            <span class="menu level2 answer">
                            TBA
                            </span>
                        </li>
                        
                        <li class="last parent">
                            <span class="faq">How and when will I receive my premiums?</span>
                            <span class="menu level2 answer">
                            TBA
                            </span>
                        </li>

                    </ul>
                </div>
            </div>
