            <div class="jsmodule">
                <h3 class="jsmod-title"><span>Buying FAQs</span></h3>
                <div class="jsmod-content">
                    <ul class="menu level1">
                    
                    	<li class="first parent">
                    		<span class="faq">Why Buy through Unglue.it?</span>
                            <span class="menu level2 answer">
                            Every purchase made through unglue.it brings the book closer to being free to the world! 
                            </span>
                    	</li>

                        <li class="parent">
                            <span class="faq">What forms of payment do you accept?</span>
                            <span class="menu level2 answer">
                            We accept Visa, Mastercard, American Express, JCB, Discover, and Diners Club.
                            </span>
                        </li>
                        
                        <li class="last parent">
                            <span class="faq">How and when will I get my eBook?</span>
                            <span class="menu level2 answer">
                            Your purchased books will be always available for download from your <a href="{% url supporter request.user %}"> personal unglue.it page</a>. You can read the ebooks on any laptop, ebook reader or tablet. You can also use them within reading environments such as <a href="http://www.readmill.com">Readmill</a>.
                            </span>
                        </li>
                                                                        
                        <li class="last parent">
                            <span class="faq">What are the formats available?</span>
                            <span class="menu level2 answer">
                            You can use any format that's available for your purchased book- you don't have to select at time of purchase. The available formats are EPUB and MOBI, so you can read them on a Kindle, an iPad, a Nook, Kobo, iPhone, Mac, PC, Linux or Android device.
                            </span>
                        </li>

                        <li class="parent">
                            <span class="faq">Do eBooks I buy through unglue.it have DRM?</span>
                            <span class="menu level2 answer">
                            NO. However, each purchased book you download from unglue.it is personalized with your unglue.it username and your personal license certificate. You should not make copies of personal ebooks for your friends; if you do so, your license may be revoked and the rightsholders may get mad at you. To share ebooks, check out Unglue.it library licenses!
                            </span>
                        </li>
                        
                        <li class="parent">
                            <span class="faq">Can I get a refund?</span>
                            <span class="menu level2 answer">
                            If you're unhappy with an Unglue.it ebook in any way, use the feedback tab at the right of this page to ask for a refund. But be sure to tell us why- that's our best way of learning how to make Ungue.it better!
                            </span>
                        </li>

                        <li class="parent">
                            <span class="faq">What is a Library License?</span>
                            <span class="menu level2 answer">
                            If your library participates in Unglue.it, you can pay for a library license instead of purchasing an individual license. The ebook is yours for the first loan period, but the license belongs to your library so other library users can use it after your loan period is up. Obviously, it costs more because more people benefit, but you get the benefit of being part of a community sharing library assets.
                            </span>
                        </li>
                        <li class="parent">
                            <span class="faq">Why can't I buy a Library License?</span>
                            <span class="menu level2 answer">
                            You need to join a library participating in Unglue.it. If your library is not on <a href="{% url library_list %}">this list</a>, contact your librarian and have them check out our <a href="{% url libraries %}">libraries FAQ</a>.
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
