{% load humanize %}<h4> Thanks-for-Ungluing Campaigns</h4>
<dl>
<dt>What is Thanks-for-Ungluing?</dt>

<dd>Thanks-for-Ungluing is a program is designed to help rights holders promote and monetize their Creative Commons licensed books. Rights holders participating in the Thanks-for-Ungluing program can request payment for their books on a pay-what-you-want basis. They can also set suggested prices as well as metadata and descriptions for books that they claim.</dd>

<dt>Why Should I Pay for Buy-to-Unglue ebooks?</dt>

<dd>If you want to reward the creators of an ebook, why not pay for a book? If you want to encourage other creators to make their books free, put your money where your mouth is, and reward the creators who have already done so!</dd>

<dt>How much of my "Thank You" contribution goes to the Creators? </dt>
<dd>There’s no charge creators to join. Unglue.it charge $0.25 + 8%, which includes credit card fees. So if you pay $1 for a book, 67 cents goes to the creator (or whoever holds commercial rights),  and 33 cents, the entirety of our fee, goes to pay bank network fees. If you pay $10 for a book, the split is $8.95 for the creator, $0.60 for the bank network, and $0.35 to support unglue.it. Unglue.it doesn't process contributions less than $1.</dd>

<dt>What file formats are supported?</dt>
<dd>The website is designed to work with pdf, epub, and mobi.</dd>

<dt>Where are the files hosted?</dt>
<dd> We typically link to files housed at Internet Archive.</dd>

<dt>Can self-published authors participate?</dt>
<dd> Yes, as long as we can confirm that they are the rights holder for the book and that the ebook files meet industry standards.</dd>

<dt>Why should libraries support Thanks-for-Ungluing books?</dt>
<dd>Libraries that participate in Thanks-for-Ungluing campaigns make these books more accessible to their users. In addition:
<ol>
<li>Libraries receive proof of conveyance letters that can be used as evidence that the rights holder has conveyed the Creative Commons License. Unglue.it is carful to validate the rights claims of the participating creators.
</li>
<li>Unglue.it users that have joined a library participating in unglue.it are never asked for contributions if their library has already done so.
</li>
</ol>
</dd>

</dl>

