            <div class="jsmodule">
                <h3 class="jsmod-title"><span>FAQs</span></h3>
                <div class="jsmod-content">
                    <ul class="menu level1">

                        <li class="first parent {% if location != 'basics' %}collapse{% endif %}">
                            <a href="/faq/basics/"><span>Basics</span></a>
                            <ul class="menu level2">
                                <li class="first"><a href="{% url work_list 'recommended' %}"><span>How it Works</span></a></li>
                                <li><a href="{% url work_list 'popular' %}"><span>Your Account</span></a></li>
                                <li class="last"><a href="{% url campaign_list 'newest' %}"><span>The Company</span></a></li>
                            </ul>
                        </li>
                        
                        <li class="parent {% if location != 'starting_campaigns' %}collapse{% endif %}">
                            <a href="/faq/starting_campaigns/"><span>Starting Campaigns</span></a>
                            <ul class="menu level2">
                                <li class="first"><a href="{% url work_list 'recommended' %}"><span>The Basics</span></a></li>
                                <li><a href="{% url work_list 'popular' %}"><span>Funding</span></a></li>
                                <li><a href="{% url work_list 'popular' %}"><span>Rewards</span></a></li>
                                <li><a href="{% url work_list 'popular' %}"><span>Campaign Pages</span></a></li>
                                <li class="last"><a href="{% url campaign_list 'newest' %}"><span>Supporter Relationships</span></a></li>
                            </ul>
                        </li>
                        
                        <li class="parent {% if location != 'supporting_campaigns' %}collapse{% endif %}">
                            <a href="/faq/supporting_campaigns/"><span>Supporting Campaigns</span></a>
                            <ul class="menu level2">
                                <li class="first"><a href="{% url work_list 'recommended' %}"><span>Stuff</span></a></li>
                                <li><a href="{% url work_list 'popular' %}"><span>More Stuff</span></a></li>
                                <li class="last"><a href="{% url campaign_list 'newest' %}"><span>Totally Spurious Stuff</span></a></li>
                            </ul>
                        </li>
                        
                        <li class="parent {% if location != 'unglued_ebooks' %}collapse{% endif %}">
                            <a href="/faq/unglued_ebooks/"><span>Unglued Ebooks</span></a>
                            <ul class="menu level2">
                                <li class="first"><a href="{% url work_list 'recommended' %}"><span>DRM is lame</span></a></li>
                                <li><a href="{% url work_list 'popular' %}"><span>CC is awesome</span></a></li>
                                <li class="last"><a href="{% url campaign_list 'newest' %}"><span>These Links Also Spurious</span></a></li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>
