            <div class="jsmodule">
                <h3 class="jsmod-title"><span>FAQs</span></h3>
                <div class="jsmod-content">
                    <ul class="menu level1">
                    
                    	<li class="first parent">
                    		<a href="/faq/"><span>All</span></a>
                    	</li>

                        <li class="parent {% if location != 'basics' %}collapse{% endif %}">
                            <a href="/faq/basics/"><span>Basics</span></a>
                            <ul class="menu level2">
                                <li class="first"><a href="/faq/basics/howitworks"><span>How it Works</span></a></li>
                                <li><a href="/faq/basics/account"><span>Your Account</span></a></li>
                                <li class="last"><a href="/faq/basics/company/"><span>The Company</span></a></li>
                            </ul>
                        </li>
                        
                        <li class="parent {% if location != 'campaigns' %}collapse{% endif %}">
                            <a href="/faq/campaigns/"><span>Campaigns</span></a>
                            <ul class="menu level2">
                                <li class="first"><a href="/faq/campaigns/overview"><span>Overview</span></a></li>
                                <li><a href="/faq/campaigns/funding"><span>Funding</span></a></li>
                                <li class="last"><a href="/faq/campaigns/premiums"><span>Premiums</span></a></li>
                            </ul>
                        </li>
                        
                        <li class="parent {% if location != 'unglued_ebooks' %}collapse{% endif %}">
                            <a href="/faq/unglued_ebooks/"><span>Unglued Ebooks</span></a>
                            <ul class="menu level2">
                                <li class="first"><a href="/faq/unglued_ebooks/general"><span>General Questions</span></a></li>
                                <li><a href="/faq/unglued_ebooks/using"><span>Using Your Unglued Ebook</span></a></li>
                                <li class="last"><a href="/faq/unglued_ebooks/copyright"><span>Ungluing and Copyright</span></a></li>
                            </ul>
                        </li>

                        <li class="parent {% if location != 'rightsholders' %}collapse{% endif %}">
                            <a href="/faq/rightsholders/"><span>For Rights Holders</span></a>
                            <ul class="menu level2">
                                <li class="first"><a href="/faq/rightsholders/authorization"><span>Becoming Authorized</span></a></li>
                                <li><a href="/faq/rightsholders/campaigns"><span>Launching Campaigns</span></a></li>
                                <li><a href="/faq/rightsholders/publicity"><span>Publicizing Campaigns</span></a></li>
                                <li><a href="/faq/rightsholders/conversion"><span>Ebook Conversion</span></a></li>
                                <li class="last"><a href="/faq/rightsholders/rights/"><span>Rights</span></a></li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>
