{% extends "basedocumentation.html" %}

{% block title %}Feedback{% endblock %}

{% block doccontent %}

	<p>Love something? Hate something? Found something broken or confusing?  Thanks for telling us!</p>

	To: support@gluejar.com<br /><br />
    <form method="POST" action="/feedback/">
        {% csrf_token %}
		{{ form.sender.errors }}
		{{ form.sender.label_tag }}<br />
		{{ form.sender }}<br /><br />
		{{ form.subject.errors }}
		{{ form.subject.label_tag }}<br />
		{{ form.subject }}<br /><br />
		{{ form.message.errors }}
		{{ form.message.label_tag }}<br />
		{{ form.message }}<br /><br />
		{{ form.notarobot.errors }}
		{{ form.non_field_errors }}
		Please prove you're not a robot. {{num1}} + {{num2}} =
		{{ form.notarobot }}</br /><br />
		{{ form.answer }}
		{{ form.num1 }}
		{{ form.num2 }}
		{{ form.page }}
       <input type="submit" value="Submit" />    
    </form>
{% endblock %}