{% extends "basedocumentation.html" %}
{% block title %}Ungluers supporting the {{ campaign }}{% endblock %}
{% block extra_extra_head %}
    <link rel="stylesheet" type="text/css" href="/static/css/vanilla.css" class="day" title="day" /> 
{% endblock %}  
{% block doccontent %}
<!-- trim here -->
<section epub:type="copyright-page" id="copyright-page">
    <div class="agate-info">
    <p>© {{ campaign.work.preferred_edition.publication_date }} by {{ campaign.work.author }}</p>
    <p>ISBN: {{ campaign.work.preferred_edition.isbn_13 }} .</p>
    <p>URI: <a href="https://unglue.it/work/{{ campaign.work.id }}/">https://unglue.it/work/{{ campaign.work.id }}/</a> (this work).</p>
    <p><img src="images/unglueitlogo.png" alt="unglue.it logo" /></p>
    <p>
    This <i>unglued</i> edition is distributed under the terms of the Creative Commons  (<a href="{{ campaign.license_url }}">{{ campaign.license }}</a>) license.
    The Creative Commons licensing is made possible by the support of readers like you.
    Become an ungluer at <a href="https://unglue.it/">https://unglue.it/</a> .
    </p>
    </div>
</section>
<section epub:type="other-credits" id="other-credits">
    <h2>This is an unglued ebook</h2>
    {% with campaign.ungluer_transactions as transactions %}
    <p>
    Unglued ebooks are made possible through the Unglue.it website by contributions from {{ transactions.all|length }} readers like you.</p>
    {% if transactions.supporters %}
        <p>Supporters of this edition:
        {% for transaction in transactions.supporters %}
            {% if forloop.last %}{% if transactions.supporters|length > 1 %}and {% endif %}{% endif %}{{ transaction.ack_name }}{% if forloop.last %}. {% else %}, {% endif %}
        {% endfor %}
        </p>
    {% endif %}
    {% if transactions.patrons %}
        <p>Benefactors of this edition:
        {% for transaction in transactions.patrons %}
            {% if forloop.last %}{% if transactions.patrons|length > 1 %}and {% endif %}{% endif %}{% if transaction.ack_link %}<a href="{{transaction.ack_link}}">{{ transaction.ack_name }}</a>{% else %}{{ transaction.ack_name }}{% endif %}{% if forloop.last %}. {% else %}, {% endif %}
        {% endfor %}
        </p>
    {% endif %}
    {% if transactions.bibliophiles %}
        <p>Bibliophiles of this edition:<dl>
        {% for transaction in transactions.bibliophiles %}
            <dt>{% if transaction.ack_link %}<a href="{{transaction.ack_link}}">{{ transaction.ack_name }}</a>{% else %}{{ transaction.ack_name }}{% endif %}</dt><dd>{{ transaction.ack_dedication }}</dd>
        {% endfor %}
        </dl>
        </p>
    {% endif %}
    {% if transactions.anons %}
    <p>We also gratefully acknowledge the support of {{ transactions.anons }} anonymous ungluer{% if transactions.anons > 1 %}s{% endif %}.</p>
	{% endif %}
    {% endwith %}
    <p>
    You can say thank you by supporting the ungluing of more books at <a href="https://unglue.it/">https://unglue.it/</a>
    </p>
</section>
<!-- trim here -->

{% endblock %}