{% extends "basedocumentation.html" %}
{% block title %}Ungluers supporting the {{ campaign }}{% endblock %}
{% block extra_extra_head %}
    <link rel="stylesheet" type="text/css" href="/static/css/vanilla.css" class="day" title="day" />
    <style>
        .ackbox {
            float: left;
            min-width: 33%;
        }
        
        h2 {
            margin-top: 10px;
        }
        
        dt {
            margin-left: auto;
            padding-left: 7px;
        }
        
        dd {
            margin-left: 7px;
        }
        
        p {
            text-indent: 0;
        }
    </style>
{% endblock %}  
{% block doccontent %}
<!-- trim here -->
<section epub:type="copyright-page" id="copyright-page">
    <div class="agate-info">
    <p>© {{ campaign.work.preferred_edition.publication_date }} by {{ campaign.work.author }}</p>
    <p>ISBN: {{ campaign.work.preferred_edition.isbn_13 }} .</p>
    <p>URI: <a href="https://unglue.it/work/{{ campaign.work.id }}/">https://unglue.it/work/{{ campaign.work.id }}/</a> (this work).</p>
    <p><img src="images/unglueitlogo.png" alt="unglue.it logo" /></p>
    <p>
    This <i>unglued</i> edition is distributed under the terms of the Creative Commons  (<a href="{{ campaign.license_url }}">{{ campaign.license }}</a>) license.
    The Creative Commons licensing is made possible by the support of readers like you.
    Become an ungluer at <a href="https://unglue.it/">https://unglue.it/</a> .
    </p>
    </div>
</section>
<section epub:type="other-credits" id="other-credits">
    <h2>This is an unglued ebook</h2>
    {% with campaign.ungluer_transactions as transactions %}
    <p>
    Unglued ebooks are made possible through the Unglue.it website by contributions from {{ transactions.all|length }} readers like you.</p>
    {% if transactions.supporters %}
        <h2>Supporters of this edition:</h2>
        {% for transaction in transactions.supporters %}
            <div class="ackbox">
                    {{ transaction.ack_name }}
            </div>
        {% endfor %}
        {% if transactions.anon_supporters %}
            <div class="ackbox">
                    Anonymous ({{ transactions.anon_supporters }})
            </div>
        {% endif %}
        <br />
    {% endif %}
    {% if transactions.patrons %}
        <h2>Benefactors of this edition:</h2>
        {% for transaction in transactions.patrons %}
            <div class="ackbox">
                {% if transaction.ack_link %}
                    <a href="{{ transaction.ack_link }}">{{ transaction.ack_name }}</a>
                {% else %}
                    {{ transaction.ack_name }}
                {% endif %}
            </div>
        {% endfor %}
        {% if transactions.anon_supporters %}
            <div class="ackbox">
                    Anonymous ({{ transactions.anon_patrons }})
            </div>
        {% endif %}
        <br />
    {% endif %}
    {% if transactions.bibliophiles %}
        <h2>Bibliophiles of this edition:</h2>
        <dl>
        {% for transaction in transactions.bibliophiles %}
            {% if not transaction.anonymous %}
                <dt>{% if transaction.ack_link %}<a href="{{transaction.ack_link}}">{{ transaction.ack_name }}</a>{% else %}{{ transaction.ack_name }}{% endif %}</dt>
            {% else %}
                <dt>Anonymous</dt>
            {% endif %}
            <dd>{{ transaction.ack_dedication }}</dd>
        {% endfor %}
        </dl>
    {% endif %}
    {% endwith %}
    <hr>
    <p>
        You can say thank you by supporting the ungluing of more books at <a href="https://unglue.it/">https://unglue.it/</a> .
    </p>
</section>
<!-- trim here -->

{% endblock %}