{% extends 'basepledge.html' %}

{% load humanize %}

{% block title %}You Have Unglue.it Credits{% endblock %}

{% block doccontent %}
<div style="height:15px"></div>
    
<div class="jsmodule rounded clearfix">
    <div class="jsmod-content">

	<div>
	<h2> Gift Credited </h2>
	<p>{% if error %}
	    Your Unglue.it credit of ${{ envelope.amount }}.{{ envelope.cents }} has already been registered! {% if work %} If you want to contribute more to <a href="{% url 'work' work.id %}">{{ work.title }}</a>, you can! {% endif %}
		{% else %}
		Congratulations, your Unglue.it credit of ${{ envelope.amount }}.{{ envelope.cents }} has been registered! {% if transaction.campaign %} ${{transaction.amount}} of that had been pledged to {{ transaction.campaign.name }}. If you want to contribute more to <a href="{% url 'work' work.id %}">{{ work.title }}</a>, you can! {% endif %}
		{% endif %}
		</p>
		<!-- sent log: {{ envelope.sent }} -->
		<!-- error: {{ error }} -->
		<!-- {{ transaction }} -->
	<div>
	<h2> Your gift credits </h2>
<p>
You have a balance of {{ request.user.credit.balance }} Unglue.it credits. <br />
You have pledged {{ request.user.credit.pledged }} Unglue.it credits to ungluing campaigns.<br />
You have {{ request.user.credit.available }} Unglue.it credits available to pledge or <a href="{% url 'gift' %}">transfer</a>.<br />
</p>

		
        </div>
	</div>

	</div>
</div>
{% endblock %}


