{% extends "registration/registration_base.html" %}

{% block title %}Log in to Unglue.it{% endblock %}
{% block doccontent %}
<div id="lightbox_content">
{% if form.errors %}
{% for error in form.non_field_errors %}
<p class="errorlist">{{ error }}</p>
{% endfor %}
Make sure the username box has your <b>username, not your email</b> -- some browsers automatically fill in your email.  We're working on fixing this bug.
{% endif %}
{% if not user.is_authenticated %}
    <div class="launch_top pale">
        <p>
            We've added your gift, "<a href="{% url 'work' work.id %}">{{ work.title }}</a>" to the account with username: {{ gift.acq.user.username }}.  Happy reading!
        </p>
        
    </div>
<h3>Sign in to your account</h3>

{% include "login_form.html" %}
<br />


<a href="{% url 'libraryauth_password_reset' %}?next={% url 'receive_gift' gift.acq.nonce %}">Forgot</a> your password?  <a href="{% url 'registration_register' %}?next={% url 'receive_gift' gift.acq.nonce %}">Need an account</a>?  <a href="/faq/basics/account">Other questions</a>?


<br /><br />
<div class="google_signup">
   <a  class="btn btn-social btn-google-plus" href="{% url 'social:begin' "google-oauth2" %}?next={% url 'receive_gift' gift.acq.nonce %}" ><i class="fa fa-google"></i>Sign in with Google</a>
   <a  class="btn btn-social btn-yahoo" href="{% url 'social:begin' "yahoo" %}?next={% url 'receive_gift' gift.acq.nonce %}" ><i class="fa fa-yahoo"></i>Sign in with Yahoo!</a>
</div>

</div>
{% else %}
<div>
You are already logged in as <a href="{% url 'supporter' user %}">{{ user.username }}</a>.
</div>
{% endif %}
</div>
{% endblock %}
