{% extends "base.html" %}
{% load truncatechars %}
{% block title %}&#151; Support Free eBooks{% endblock %}

{% block extra_css %}
<link type="text/css" rel="stylesheet" href="/static/css/landingpage2.css"  />
<link type="text/css" rel="stylesheet" href="/static/css/searchandbrowse.css"  />
<link type="text/css" rel="stylesheet" href="/static/css/book_panel2.css"  />
<link type="text/css" rel="stylesheet" href="/static/css/learnmore.css"  />
{% endblock %}
{% block extra_js %}

<script type="text/javascript" src="{{ jquery_ui_home }}"></script>
<!-- toggle to panelview state instead of listview default -->
<script type="text/javascript">
    
jQuery(document).ready(function($) { 
    $('.listview').addClass("panelview").removeClass("listview");
});  
var $j = jQuery.noConflict();
function put_un_in_cookie(){
    $j.cookie('un', $j('#id_username_pop').val(), {path: '/', expires: 90 });
    return true;
}
function put_un_in_cookie2(){
    $j.cookie('un', $j('#id_username_main').val(), {path: '/', expires: 90 });
    return true;
}
</script>    

<script type="text/javascript" src="/static/js/definitions.js"></script>
<script type="text/javascript" src="/static/js/wishlist.js"></script>
<script type="text/javascript" src="/static/js/greenpanel.js"></script>
<script type="text/javascript" src="/static/js/highlight_signup.js"></script>
<script src="/static/js/slides.min.jquery.js"></script>
<script src="/static/js/slideshow.js"></script>
<script type="text/javascript" src="/static/js/expand.js"></script>
<meta name="google-site-verification" content="wFZncBw5tNpwRVyR08NZFNr7WXqv5X1BkEga2fpUNOo" />
{% endblock %}

{% block topsection %}
{% include "learn_more.html" %}
{% endblock %}
    
{% block content %}
    <div id="main-container" class="main-container-fl">
    <div class="js-main">
        <div id="js-maincol-fl">
        	<div id="js-main-container">
            <div class="js-main-container-inner">
            		<div id="js-maincontainer-content" class="have-content-right-module">

                    </div>
                    <div id="js-maincontainer-bot-block">
                        <div id="js-search">
                        	<label>What book would you give to the world? </label>
				                <form action="{% url search %}" method="get">
                				    <input type="text" id="watermark" onfocus="imgfocus()" onblur="imgblur(0)" size="25" class="inputbox" name="q" value="{{ q }}">
                				    <input type="submit" class="greenbutton" value="Search">
               					</form>
                        </div>
                    </div>
                    <div id="js-maincontainer-faq">
                    	<div class="js-maincontainer-faq-inner">
                        	Questions? Read our <a href="/faq/">general FAQ</a> or <a href="/faq/rightsholders/">FAQ for rights holders</a>.
                        </div>
                    </div>
            </div>
            </div>
            <div id="js-rightcol">
            <div class="js-rightcol-padd">
                {% if not request.user.is_authenticated %}
                    <div class="jsmodule" id="mainlogin">
                        <h3 class="module-title">Start Ungluing Now!</h3>
                        <div class="jsmod-content">
                          <form action='{% url registration_register %}' method='post' onsubmit="return put_un_in_cookie2();">{% csrf_token %}
                            <div class="user-name">
                            <label>Username</label>
                            <input id="id_username_main" type="text" class="required" name="username" maxlength="30" size="30" />
                            </div>
                            <div class="email">
                            <label>Email</label>
                            <input id="id_email_main" type="text" class="required" name="email" maxlength="75" size="30" />
                            </div>
                            <div class="password">
                            <label>Password</label>
                            <input id="id_password1_main" type="password" class="required" name="password1" size="30" />
                            </div>
                            <div class="password">
                            <label>Password (again):</label>
                            <input id="id_password2_main" type="password" class="required" name="password2" size="30" />
                            </div>
                            <div class="button">
                                <input type="submit" class="signup" value="sign up" />
                            </div>
                            <div class="google_signup">
                                <a href="/socialauth/login/google?next=/next/"><img src="{{ STATIC_URL }}images/auth/google_32_noborder.png" alt="google" /></a><div><a href="/socialauth/login/google?next=/next/">Sign Up With Google</a></div>
                            </div>
                          </form>
                        </div>
                    </div>
                {% endif %}

                <div class="jsmodule">
                	<h3 class="module-title">Latest Ungluing</h3>
                    <div class="jsmod-content">
						<ul class="ungluingwhat">
						{% for event in events %}
                            {% comment %}
                                events are tuples of date, object, and object type
                            {% endcomment %}
                        	<li>
                        	    {% with event.1 as object %}
                        	        {% ifequal event.2 "pledge" %}
                                        <span class="user-avatar">
                                            <a href="{% url supporter object.user.username %}"><img src="{% if object.user.picurl %}{{ object.user.picurl }}{% else %}/static/images/header/avatar.png{% endif %}" width="43" height="43" title="{{ object.campaign.work.title }}" alt="{{ object.campaign.work.title }} avatar" /></a>
                                        </span>
                                        <span class="user-book-info">
                                            <a href="{% url supporter object.user.username %}">{{ object.user.username }}</a><br />
                                            pledged to the campaign to unglue <br />
                                            <a class="user-book-name" href="{% url work object.campaign.work.id %}">{{ object.campaign.work.title }}</a>
                                        </span>
                                    {% else %}{% ifequal event.2 "comment" %}
                                        <span class="user-avatar">
                                            <a href="{% url supporter object.user.username %}"><img src="{% if object.user.picurl %}{{ object.user.picurl }}{% else %}/static/images/header/avatar.png{% endif %}" width="43" height="43" title="{{ object.content_object.title }}" alt="{{ object.content_object.title }} avatar" /></a>
                                        </span>
                                        <span class="user-book-info">
                                            <a href="{% url supporter object.user.username %}">{{ object.user.username }}</a><br />
                                            commented on<br />
                                            <a class="user-book-name" href="{% url work object.content_object..id %}">{{ object.content_object.title }}</a>
                                        </span>                                    
                                    {% else %}{% ifequal event.2 "wish" %}
                                        <span class="user-avatar">
                                            <a href="{% url supporter object.wishlist.user.username %}"><img src="{% if object.wishlist.user.picurl %}{{ object.wishlist.user.picurl }}{% else %}/static/images/header/avatar.png{% endif %}" width="43" height="43" title="{{ object.work.title }}" alt="{{ object.work.title }} avatar" /></a>
                                        </span>
                                        <span class="user-book-info">
                                            <a href="{% url supporter object.wishlist.user.username %}">{{ object.wishlist.user.username }}</a><br />
                                            wishlisted <br />
                                            <a class="user-book-name" href="{% url work object.work.id %}">{{ object.work.title }}</a>
                                        </span>                                    
                                    {% endifequal %}{% endifequal %}{% endifequal %}
                                {% endwith %}
                            </li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}