{% extends "basedocumentation.html" %}
{% block title %}Join {{ library }}{% endblock %}
{% block doccontent %}
<h2> Select your library </h2>

<h2> Other Account Management Tools </h2>
<ul>
<li>Want to <a href="{% url auth_password_change %}">change your password</a>?</li>
<li>... or <a href="{% url notification_notice_settings %}">manage your contact preferences</a>?</li>
<li>... or <a href="{% url email_change %}">change your email address</a>?</li>
<li>... or <a href="{% url regluit.frontend.views.edit_user %}">change your username</a>?</li>
<li>... or <a href="{% url marc_config %}">change your MARC record preferences</a>?</li>
<li>... or <a href="{% url kindle_config %}">add or change a Send-to-Kindle email</a>?</li>
</ul>
{% endblock %}


