{% ifequal message 0 %}It turns out that this ebook is too big for us to send by email. Using a computer, <a href="{{ebook_url}}">download the file</a>. Plug your Kindle into your computer using a USB cable. It will mount as a filesystem. Drag the downloaded {{ebook_format}} file into the documents folder on the Kindle, and then unmount the Kindle. (Kindle 1 owners: you’ll also need to unplug the USB cable to get your Kindle back into book-reading mode. Kindle 2 owners can leave the cable connected). 
{% endifequal %}
{% ifequal message 1 %}Well, this is awkward. We can't seem to email that.  Please download it using the instructions for your device, and we'll look into the error.
{% endifequal %}
{% ifequal message 2 %}This book has been sent to your Kindle. Happy reading!<br />Difficulties? recheck your <a href="{% url kindle_config %}">setup</a>.
{% endifequal %}
{% ifequal message 3 %}Please <a href="{% url kindle_config %}">enter</a> a valid Kindle email.
{% endifequal %}
