    <div id="js-topsection">
    	<div class="js-main">
        	<div class="js-topnews">
                    <div class="user-block">
                        <div id="user-block1">
                        <div class="block-inner">
                            <div id="block-intro-text">
                            	<div><span class="def">unglue</span> (v. t.) 1. To pay an author or publisher in full, up front, for publishing a Creative Commons ebook.</div>
                            	<div><span class="def">unglue</span> (v. t.) 2. To make a digital book free to read and use, worldwide.</div>
                            	<div><span class="def">unglue</span> (v. t.) 3. To make it clearly legal for a digital book to be used, distributed, archived and preserved by libraries.</div>
                            	<div><span class="def">unglue</span> (v. t.) 4. For an author or publisher, to accept a fixed amount of money from the public for its unlimited use of an ebook.</div>
                            	<div><span class="def">unglue</span> (v. t.) 5. To give your favorite books to everyone on earth.</div>
                            	<div><span class="def">unglue</span> (v. t.) 6. To reward authors and publishers for sharing books with the world.</div>
                            </div>
                            <a class="my-setting nounderline" id="readon"><span>Learn more</span></a>
                        </div>
                        </div>
                        
                        <div class="user-block2">
                        <div class="block-inner">
                        	<label class="title">Spread the Word</label>
                            <a href="https://www.facebook.com/sharer/sharer.php?src=bm&amp;u={{request.build_absolute_uri|urlencode }}"><img src="/static/images/supporter_icons/facebook_square.png" class="spread_the_word" alt="Facebook" title="Facebook" /></a>
                            <a href="https://twitter.com/share"><img src="/static/images/supporter_icons/twitter_square.png" alt="tweeter" title="Twitter" class="spread_the_word" /></a>
                        </div>
                        </div>
                    </div>
                    <div id="user-block-hide">
                        	<div class="quicktour"><span class="highlight">We all have books we love so much, we'd like to give them to the world.</span>  We want to share them, but also reward their creators. With digital books, it can be hard to do both.</div>
	                        <div class="movingrightalong"></div>
	                        <div class="quicktour"><span class="highlight">Unglue.it offers a win-win solution: Crowdfunding.</span> We run pledge campaigns for books; you chip in. When, together, we've reached the goal, we'll reward the book's creators and issue an unglued ebook.</div>
	                        <div class="movingrightalong"></div>
                        	<div class="quicktour last"><a href="https://creativecommons.org/">Creative Commons</a> licensing means everyone, everywhere can read and share the unglued book - freely and legally. <span class="highlight">You've given your favorite book to the world.</span>
							{% if suppress_search_box %}
                        		<div class="signup" id="highlighter">Sign up below. <img src="/static/images/landingpage/signmeup-arrow.png" alt="sign up below"></div>
                        	{% else %}
                        		{% if not user.is_authenticated %}
                        		<div class="spacer"><div class="signuptoday"><a href="{% url registration_register %}">Sign up today</a></div></div>
                        		{% endif %}
                        	{% endif %}
                        	</div>
                    </div>
            </div>
        </div>
    </div>