{% extends 'basedocumentation.html' %}

{% load sass_tags %}

{% block title %} &#x2665; Libraries{% endblock %}
{% block extra_css %}
    <link type="text/css" rel="stylesheet" href="{% sass_src 'scss/campaign2.scss' %}" />
    <link type="text/css" rel="stylesheet" href="{% sass_src 'scss/libraries.scss' %}" />
{% endblock %}

{% block extra_js %}
	<script type="text/javascript" src="/static/js/embed.js"></script>
{% endblock %}

{% block news %}
{% endblock %}

{% block topsection %}
{% endblock %}

{% block doccontent %}
<div>
<h3>Unglue.it for Libraries</h3>

<p>We want Libraries to have books they can share with patrons without DRM, without device restrictions, without tracking of patrons, without license expirations. And we want everyone to have access to those books eventually in a public commons that belong to all of us.</p>

<p>We love libraries because we're from the library world.  And because we live in a real world that still needs libraries.  We've built Unglue.it in part because we've seen that the ebook system we have now really doesn't work for libraries, and we believe in making things better.</p>

<p>We started out with "Pledge" campaigns to help books become Creative Commons licensed ebooks.  
We’ve added "Buy-to-Unglue" campaigns to so that libraries can lend ebooks on the road to being unglued. We've built a <i>free distribution platform</i> to help libraries distribute these books. And we've made it easy for libraries to assist in the distribution of Creative Commons licensed ebooks.</p>

<p><strong>We need your help, though.</strong>  We can't unglue ebooks all by ourselves; we need lots of people to pitch in.  If you'd like to share free, unlimited, no-DRM, privacy-respecting ebooks with your patrons, here are some ways you can help:</p>

<dl>
<dt><a href="{% url 'registration_register' %}?next={{ request.get_full_path|urlencode }}">Sign up.</a> It's Free!</dt>
<dd>Starting an account, for yourself or your library, is free. Use it to help us distribute unglued and ungluing ebooks.   </dd>
<dt>Add free ebooks to your collection with our <a href="{% url 'marc' %}">MARC records</a>!</dt>
<dd>We're building a comprehensive database of freely licensed ebooks. We provide <a href="{% url 'marc' %}">MARC records for these ebooks</a> wherever we can.  They can live in the catalog in your ILS; they link to an epub file in the Internet Archive.  Of course, because of unglued ebooks' Creative Commons licenses, you're free to shift that epub to other formats, host the file on your own servers, and edit the MARC record accordingly. And if you want, help us <a href="{% url 'marc' %}">improve</a> our records.</dd>
<dt>Become an Unglue.it participating library</dt>
<dd><ol><li><a href="{% url 'library_create' %}">Make your library page</a> on Unglue.it. It takes just a few minutes.  It's the first step towards becoming an Unglue.it participating library.</li>
<li>Review our <a href="https://www.docracy.com/0_uyw26qv9c/unglue-it-library-license-agreement">LIBRARY LICENSE AGREEMENT</a>. </li>
<li>Once an agreement has been signed, we'll "approve" your library; you and your patrons can then buy Library Licenses for any ebook with a Buy-to-Unglue campaign. You can lend these ebooks to your patrons immediately using our free distribution platform.  
The library license gives download access to one library member at a time for 14 days each, in multiple formats, from our platform or yours, if you have one. </li>
<li>Log in as the library, and add unglued and ungluing books to your library list. Buy licenses to our buy-to-unglue titles. </li>
<li>Let your users know about Unglue.it!</li>
</ol>
</dd>
<dt>Stay in touch.</dt>
<dd>You can follow us on Twitter (<a href="https://twitter.com/unglueit">@unglueit</a>), <a href="https://facebook/com/unglueit">Facebook</a>, and our <a href="https://blog.unglue.it">blog</a>, and <a href="http://eepurl.com/fKLfI">subscribe to our newsletter</a> (1-2 emails per month).</dd>
<dt>Spread the word.</dt>
<dd>There are social media sharing links on most pages on the site.  There are some right here!
	<div id="widgetcode">Copy/paste this into your site:<br /><textarea rows="7" cols="22">&lt;iframe src="https://{{request.META.HTTP_HOST}}/api/widget/{{work.first_isbn_13}}/" width="152" height="325" frameborder="0"&gt;&lt;/iframe&gt;</textarea></div>
	<ul class="social menu pledge">
		<a href="https://www.facebook.com/sharer.php?u=https://{{ site.domain }}"><li class="facebook first"><span>Facebook</span></li></a>
		<a href="https://twitter.com/intent/tweet?url=https://{{ site.domain }}&amp;text=I%20am%20learning%20about%20unglue%2Eit%20%2E%20Will%20you%20join%20me%3F"><li class="twitter"><span>Twitter</span></li></a>
		{% if request.user.is_authenticated %}<a href="{% url 'emailshare' '' %}?next={{ request.build_absolute_uri|urlencode:"" }}"><li class="email"><span>Email</span></li></a>{% endif %}
		<a id="embed"><li class="embed"><span>Embed</span></li></a>
	</ul>
	<div class="clearfix"></div></dd>
<dt>Educate yourself and your patrons about ebook issues and Creative Commons licenses.</dt>
<dd>Checkout limits, publishers who won't sell ebooks to libraries, DRM, companies tracking readers' behavior, library prices far in excess of consumer costs, incompatible technologies and formats, cataloging silos...you know why it's hard for you to deliver a seamless ereading experience to your patrons.  Make sure they know, too.  And make sure everyone knows how solutions, like <a href="https://creativecommons.org">Creative Commons</a> licenses, can help libraries and readers while respecting copyright and protecting creators' rights.</dd>
<dt>Support <a href="{% url 'campaign_list' 'ending' %}">our active campaigns</a>.</dt>
<dd>Ultimately ebooks can't be unglued unless authors and publishers are paid for their work.  Many of our staunchest supporters are librarians.  There are also several libraries which have supported campaigns, including Leddy Library (University of Windsor, Ontario); the University of Alberta library ; and the Z. Smith Reynolds library (Wake Forest University).</dd>
<dt>Give feedback and ask questions.</dt>
<dd>Want to know more?  Need help?  Have ideas for how we could improve the site or make it more library-friendly?  Contact us at: <a href="mailto:info@ebookfoundation.org">info@ebookfoundation.org</a>.</dd>
</dl>
</div>
{% endblock %}