{% extends "basedocumentation.html" %}
{% load humanize %}

{% block title %}Campaign Management{% endblock %}

{% block extra_extra_head %}
<style type="text/css">
textarea {
	width: 90%;
}
</style>
<link type="text/css" rel="stylesheet" href="/static/css/manage_campaign.css" />

<script type="text/javascript" src="/static/js/tabs.js"></script>

<script type="text/javascript">
var $j = jQuery.noConflict();
$j(document).ready(function(){
	$j('span.rh_help').click(
		function() {
			var questionID = $j(this).attr('id');
			var answerID = "#"+questionID+"2";
			$j(answerID).toggle(300);
		}
	);
});
</script>

<script>
var $j = jQuery.noConflict();
$j(document).ready(function(){
	$j('#launchme').click(function() {
		$j('#campaign_launcher').click();
	});
});
</script>
{% endblock %}

{% block topsection %}
{% endblock %}

{% block doccontent %}
{% with campaign.status as campaign_status %}
{% if campaign.not_manager %}
<h2>You're not a manager for campaign: {{ campaign.name }}</h2>
{% else %}
<div id="locationhash">{{ activetab }}</div>
{% for alert in alerts %}
<h1 class="alert">{{ alert }}</h1>
{% empty %}
<h1>Manage the campaign</h1>
{% endfor %}
{% for problem in problems %}
Please fix the following before launching your campaign:
<br /><br />
<ul class="errorlist">
<li>{{ problem }}</li>
</ul>
{% empty %}
{% endfor %}

(Or, <a href="{% url rightsholders %}">go back</a> to rights holder tools page.)<br />
<div style="height:15px;"></div>
<div class="book-detail">
	<div id="book-detail-img">
		<a href="#"><img src="{{ work.cover_image_thumbnail }}" alt="{{ work.title }}" title="{{ work.title }}" width="131" height="192" /></a>
    </div>
    
    <div class="book-detail-info">
		<div class="layout">
			<h2 class="book-name">{{ work.title }}</h2>
			<div>
				<div class="pubinfo">
					<h3 class="book-author">{{ work.author }}</h3>
					<h3 class="book-year">{{ work.publication_date_year }}</h3>
				</div>
			</div>
		</div>
                
        <div class="pledged-info">
        	<div class="pledged-group">
        		{{ work.last_campaign.supporters_count }} Ungluers have pledged ${{ work.last_campaign.current_total|intcomma }}
        	</div>
        	<div class="status">
        		<img src="/static/images/images/icon-book-37by25-{{ work.percent_unglued }}.png"  title="book list status" alt="book list status" />
        	</div>
        </div>
    </div>

	<div class="preview_campaign">
	{% ifequal campaign_status 'INITIALIZED' %}
		<a href="{% url work_preview campaign.work.id %}" class="manage" target="_blank">Preview Your Campaign</a>
	{% else %}
		<a href="{% url work campaign.work.id %}" class="manage" target="_blank">See Your Campaign</a>
	{% endifequal %}
	</div>

</div>

<div class="content-block-heading" id="tabs">
	<ul class="tabs">
		<li class="tabs1 {% if activetab == '1' %}active{% endif %}"><a href="#">Description</a></li>
		<li class="tabs2 {% if activetab == '2' %}active{% endif %}"><a href="#">Premiums</a></li>
		<li class="tabs3 {% if activetab == '3' %}active{% endif %}"><a href="#">{% if campaign_status == 'ACTIVE' or campaign_status == 'SUCCESSFUL'  %}Progress{% else %}Launch{% endif %}</a></li>
	</ul>
</div>
<div class="clearfix"></div>

<div class="tabs-1">
	<form action="#" method="POST">
	{% csrf_token %}
	{{ form.media }}
	<h3>Select the edition</h3>
	<p> Please choose the edition that most closely matches the edition to be unglued.  This is the edition whose cover image will display on your book's page.  Your unglued edition should be identical to this edition if possible; you should note any differences under Rights Details below.</p>
	
	{{ form.edition.errors }}{{ form.edition }}
	{% if campaign.edition %}
	<p>If the details of the edition you've chosen aren't accurate, you can <a href="{% url rh_edition work.id campaign.edition.id %}">edit the edition</a>.</p>
	{% else %}
	<p>If the edition details are inaccurate (e.g. wrong cover image), go ahead and set up the campaign with that edition anyway.  You'll be able to edit the edition details from this page later on.</p>
	{% endif %}
	<p>If you don't see an edition that matches what you want to release, you can <a href="{% url rh_edition work.id '' %}">create a new edition</a>.</p>

	<h3>Make Your Pitch</h3>
	<p>This will be displayed in the Campaign tab for your work.  It's your main pitch to supporters.</p>
	
	<p>This isn't a dry synopsis in a catalog.  It's your chance to be creative, to share your passion for this work, and to inspire readers.  A strong pitch:</p>
	
	<ul class="terms">
	<li>Introduces the work.  What's this book like?</li>
	<li>Shows why it matters.  How will someone or something -- the world, readers, some cause that matters -- be better off if this book is freely available?  What kind of impact has the book had already?  What will ungluers get out of supporting this campaign?</li>
	<li>Has visual appeal (photos and/or videos).</li>
	<li>Defines important but potentially unfamiliar things.  What's an ungluing campaign, and why are you running one?  Is there anything unusual about the book, its genre, et cetera?  For those who aren't already familiar with you (or the author), who are you?  Are you offering any particularly great premiums you want to call people's attention to?</li>
	<li>Gives examples of the author's work.  This could be links to your site or places people can find more information about you or the book.  You can also add quotes, embed a free sample chapter or story, display images, et cetera.  These work samples might be from the campaign book itself, or from your (or the author's) other creative works.</li>
	<li>Has personality.  The writing should be thoroughly proofread but it should have a point of view.  This is the place to be conversational, opinionated, funny, quirky -- whatever reflects your style.  Be you.</li>
	<li>Optionally, provides extra incentives (like new or improved premiums) that will kick in if the campaign is unusually successful.  Will you do something special when you reach 10% or 50% or 75% of your goal?  Or if you reach that milestone before a particular deadline (e.g. in the first week of your campaign)?</li>
	{% comment %}
	<li>Hyperlinks for the author(s), publisher making the offer, or for the work itself. <span class="rh_help" id="helpHyperlink">(How do I hyperlink?)</span>
	<div class="rh_answer" id="helpHyperlink2">
	<p>Format a hyperlink like this:</p>
	<p>&lt;a href="http://your_link_here"&gt;your link title here&lt;/a&gt;</p>
	<p>For example:</p>
	<p>&lt;a href="http://www.archive.org"&gt;the Internet Archive&lt;/a&gt;</p>
	<p>will display as <a href="http://www.archive.org">the Internet Archive</a>.</p>
	<p>Copy-paste the code above and substitute your own values.  You will find the link address in the location bar of your browser.</p>
	</div></li>
	<li>Anything especially appealing about the work or author: awards, embedded video (445px max), etc. <span class="rh_help" id="helpEmbed">(How do I embed video?)</span>
	<div id="helpEmbed2" class="rh_answer">
	<p>To embed a video from YouTube:</p>
	<p>Go to the page where you watch the video.  Under the video, click "Share".</p>
	<p>A new set of options will open up.  Click the "Embed" button.</p>
	<p>This will generate some code for you to copy/paste into the box below.  It will look something like this:</p>
	<p>&lt;iframe width="444" height="301" src="<span style="color:red">http:</span>//www.youtube-nocookie.com/embed/adeDb0BRMZY?rel=0" frameborder="0" allowfullscreen&gt;&lt;/iframe&gt;</p>
	<p>Copy/paste that text into the box below.  Delete the part that says "http:" (shown in red in the example).  You're done!  We'll figure out the details.</p>
	<p>Of course, if you want to include other text in addition to video, you can do that.</p>
	<p>If you'd like to change the size of the video, feel free; just don't make it more than 445px wide.  Leaving it the default size is fine, too.</p>
	<p>If you'd like to embed a video from another source, please talk to us. You certainly can; we just want to make sure we've given you the right instructions.</p>
	</div></li>
	{% endcomment %}
	</ul>
	<p>Above all, be engaging.  The point here is not to tell ungluers everything about your book; it's to remind them why they love it.</p>
	
	<p>Looking for inspiration?  Check out the all-time most-funded projects on crowdfunding sites <a href="http://www.kickstarter.com/discover/most-funded">Kickstarter</a> or <a href="http://www.indiegogo.com/projects?filter_quick=most_funded">IndieGogo</a>, or have a look at <a href="http://www.kickstarter.com/discover/categories/publishing">Kickstarter's Publishing category</a> or <a href="http://www.indiegogo.com/projects?filter_category=Writing">IndieGogo's Writing category</a>.</p>
	{{ form.description.errors }}{{ form.description }}
	<h3>Edition and Rights Details</h3>
	<p>This will be displayed on the Rights tab for your work.  It's the fine print for your campaign.  Make sure to disclose any ways the unglued edition will differ from the existing edition; for example:
	<ul>
	<li>Any material that may have to be excluded due to permissions issues: illustrations, forewords, etc.</li>
	<li>Any additional materials that will be included, if not already covered in your pitch -- but we encourage you to cover them there to show supporters the value of ungluing!</li>
	<li>If the cover image will differ.</li>
	</ul>
	
	<p>In short, is there a fact about this campaign that you think would matter to your agent or another publishing wonk, but that no one else is likely to care about?  Put it here.  If your campaign doesn't have any fine print, you can leave this blank.</p>
	{{ form.details.errors }}{{ form.details }}

	{% ifnotequal campaign_status 'ACTIVE' %}
	<h3>Target Price</h3>
	<p>This is the target price for your campaign. The <i>minimum</i> target is ${{form.minimum_target|intcomma}}.</p>
	
	<p>Your target should be high enough to compensate you for potential lost future revenue from sales of this edition and reflect well on your brand, but low enough to seem realistic to supporters; people are more likely to back campaigns that they think will succeed.</p>
	
	<p>Once you launch the campaign, you'll be able to decrease your target, but not increase it.</p>
	
	<p>Please email us if you want to talk about pricing strategy.</p>
	
	{{ form.target.errors }}${{ form.target }}
	<h3>License being offered</h3>
	<p> This is the license you are offering to use once the campaign succeeds. For more information on the licenses you can use, see <a href="http://creativecommons.org/licenses">Creative Commons: About the Licenses</a>.  Once your campaign is active, you'll be able to switch to a less restrictive license, but not a more restrictive one.</p>
	{{ form.license.errors }}{{ form.license }}
	<h3>Ending date</h3>
	<p> This is the ending date of your campaign. Once you launch the campaign, you won't be able to change it.</p>
	
	<p>The ending date can't be more than six months away- that's a practical limit for credit card authorizations. The <i>latest</i> ending you can choose <i>right now</i> is {{ form.latest_ending }}</p>
	
	{{ form.deadline.errors }}{{ form.deadline }}
	
	{% else %}
	<h3>Target Price</h3>
	<p>The current target price for your campaign is <b>${{ campaign.target|intcomma }}</b>. Since your campaign is active, you may lower, but not raise, this target.</p>
	${{ form.target.errors }}{{ form.target }}

	<h3>License being offered</h3>
	<p>If your campaign succeeds, you will be offering your ebook under a <b><a href="{{campaign.license_url }}">{{ campaign.license }}</a></b> license.</p>
	<p>Since your campaign is active, you may only change the license to remove restrictions. For more information on the licenses you can use, see <a href="http://creativecommons.org/licenses">Creative Commons: About the Licenses</a>.</p></p>
	{{ form.license.errors }}<span>{{ form.license }}</span>
	<h3>Ending date</h3>
	<p>The ending date of your campaign is <b>{{ campaign.deadline }}</b>.  Your campaign will conclude on this date or when you meet your target price, whichever is earlier.  You may not change the ending date of an active campaign.</p>
	{{ form.deadline.errors }}<span style="display: none">{{ form.deadline }}</span>
	{% endifnotequal %}
	
	<h3>Email address</h3>
	<p>Enter the email address we should contact you at for issues relating to managing this campaign.</p>
	
	<p>{{ form.paypal_receiver.errors }}{{ form.paypal_receiver }}</p>
	
	{% if not is_preview or request.user.is_staff %}
		{% ifequal campaign_status 'ACTIVE' %}
		<div class="yikes">When you click this button, your changes will be visible to supporters immediately. Make sure to proofread!</div><br />
		<input type="submit" name="save" value="Modify Campaign" />
		{% else %}
		<br /><br /><input type="submit" name="save" value="Save Campaign" />
		{% endifequal %}
		{% if campaign_status == 'INITIALIZED' %}
		<input id="campaign_launcher" type="submit" name="launch" value="Launch Campaign" />
		{% endif %}
	{% endif %}
	</form>
</div>

<div class="tabs-2">
	<h3>Premiums</h3>
	<div class="jsmod-content">
		<form action="#" method="POST">
		{% csrf_token %}
		<ul class="support menu">
			{% for premium in premiums %}
			<li class="{% if forloop.first %}first{% else %}{% if forloop.last %}last{% endif %}{% endif %}">
			<i>
				<span class="menu-item-price">${{ premium.amount|intcomma }}</span>
				<span class="menu-item-desc">{{ premium.description }}</span>
			</i>
			   {% if premium.type %}<span class="custom-premium"> <br />Type: {{ premium.get_type_display }}</span>{% endif %}
			{% ifnotequal premium.limit 0 %}<br />Limit:  {{ premium.limit }}{% endifnotequal %}
			{% ifequal premium.type 'CU' %}<br />Deactivate?  <input type="checkbox" name="premium_id" value="{{ premium.id }}" />{% endifequal %}
			</li>
			{% endfor %}
		 </ul>
		 {% if campaign.custom_premiums.count %}
		 <input type="submit" name="inactivate" value="Deactivate Checked Premiums" />
		 {% endif %}
		</form>
	</div>
	<h4>Editing premiums</h4>
	<p>At this time, you can't edit a premium you've created. But you can deactivate a premium and add a new one to replace it. So be sure to double-check your spelling before adding it.</p>
	<h4>Add a custom premium for this campaign</h4>
	<form action="#" method="POST">
	{% csrf_token %}
	Pledge Amount: {{ premium_form.amount.errors }}${{ premium_form.amount }}<br />
	Premium Description: {{ premium_form.description.errors }}{{ premium_form.description }}<br />
	Number Available (0 if no limit): {{ premium_form.limit.errors }}{{ premium_form.limit }}<br />
	{{ premium_form.campaign }}
	{{ premium_form.type.errors }}{{ premium_form.type }}
	<br />
	<input type="submit" name="add_premium" value="Add Premium" />
	</form>
</div>

{% ifequal campaign_status 'INITIALIZED' %}
<div class="tabs-3">
	{% if not is_preview or request.user.is_staff %}
		{% if campaign.description and campaign.target and campaign.deadline %}
		<p>Before you hit launch:</p>
		<ul>
			<li>Have you proofread your campaign? (Make sure to spellcheck!)</li>
			<li>Have you <a href="{% url work_preview campaign.work.id %}">previewed your campaign</a>? Does it look how you want it to?</li>
		</ul>
			
		<p>If it doesn't look exactly the way you like, or you're having any trouble with your description or premiums, we're happy to help; please email unglue.it support (<a href="mailto:support@gluejar.com">support@gluejar.com</a>).</p>
		
		<p>If you're happy with your campaign, here's your moment of truth!</p>
		
		<div id="launchme"><a href="#" class="manage">Launch Campaign</a></div>
		{% else %}
		<p>Please make sure you've selected your campaign's edition and entered its description, target, deadline, and premiums, and previewed your campaign, before launching.</p>
		{% endif %}
	{% else %}
		While you're free to edit your campaign, it won't be launchable until we've fully tested our new payment processor.
	{% endif %}
	
</div>
{% endifequal %}

<div class="tabs-3">
{% if campaign_status == 'ACTIVE' or campaign_status == 'SUCCESSFUL'  %}
{% if campaign_status == 'ACTIVE' %}
<h2 class="thank-you">Your campaign is now active! Hooray!</h2>

<h3>What to do next</h3>
<ul>
<li>Tell your friends, relatives, media contacts, professional organizations, social media networks -- everyone!</li>
<li>Check in with your campaign frequently.  Use comments, description updates, and maybe new custom premiums to spark additional interest, keep supporters engaged, and keep the momentum going.</li>
<li>Watch media and social networks for mentions of your campaign, and engage in those conversations.</li>
<li>Need help doing any of this?  Talk to us.</li>
</ul>
{% endif %}
<h3>Campaign Summary</h3>
<p> You can see what tiers people have pledged for (or earned) by looking at the <a href="{% url work_acks campaign.work.id %}">sample acknowledgement page</a>.
After your campaign succeeds, you can used this page to generate epub code! 
</p>
{% endif %}
</div>

{% endif %}
{% endwith %}
{% endblock %}