{% extends "basedocumentation.html" %}
{% block title %}Your Unglue.it Account{% endblock %}
{% block doccontent %}
<h2>Your Pledges</h2>
<dl>
{% for transaction in request.user.profile.pledges %}
    <dt><i><a href="{% url work transaction.campaign.work.id %}">{{ transaction.campaign.work.title }}</i></a> (<a href="{% url pledge_modify transaction.campaign.work.id %}">modify pledge</a>)</dt>
    <dd>
	{% include "trans_summary.html" %}
    </dd>
{% endfor %}
</dl>
<h2>Your Payment Info</h2>

<h2> Other Account Management Tools </h2>
<ul>
<li>Want to <a href="{% url auth_password_change %}">change your password</a>?</li>
<li>Want to <a href="/accounts/edit/">change your username or email address</a>?</li>
</ul>
{% endblock %}


