{% extends "basedocumentation.html" %}

{% block title %}Campaign Management{% endblock %}

{% block doccontent %}  
{% if campaign.not_manager %}
<h2>You're not a manager for campaign: {{ campaign.name }}</h2>
{% else %}
{% for alert in alerts %}
<h1 class="alert">{{ alert }}</h1>
{% empty %}
<h1>Manage the  campaign</h1>
{% endfor %}
<h2>The work</h2>
    <div class="book-detail-info">
        <h2 class="book-name">Title: {{ campaign.work.title }}</h2>
        <h3 class="book-author">Authors: {{ campaign.work.author }}</h3>
        <h3 class="book-year">Published: {{ campaign.work.editions.all.0.publication_date }}</h3>
        <h3 class="book-author">Language: {{ campaign.work.editions.all.0.language }}</h3>
        <p>Target Price: {{ campaign.pretarget }}</p>
        <p>End Date: {{ campaign.predeadline }}</p>
    </div>

<h3>Description of the offering</h2>
<form action="#" method="POST">
{% csrf_token %}
<p>This should include:</p>
<ul>
<li>A synopsis of the work.</li>
<li>Hyperlinks for the author(s), publisher making the offer, or for the work itself.</li>
</ul>
{{ form.description }}{{ form.description.errors }}
<h3>Offer details</h2>
<p>This should include:</p>
<ul>
<li>Details about the edition being offered.</li>
<li>Hyperlinks for the author(s), publisher making the offer, or for the work itself.</li>
</uL>
{{ form.details }}{{ form.details.errors }}
<h3>Target Price</h2>
<p> This is the target price for your campaign. Once you launch the campaign, you won't be able to increase it.</p>
{{ form.target }}{{ form.target.errors }}
<h3>Ending date</h2>
<p> This is the ending date of your campaign. Once you launch the campaign, you won't be able to change it. 
The ending date can't be more than six months away- that's a practical limit for credit card authorizations.</p>

{{ form.deadline }}{{ form.deadline.errors }}

<h3>Paypal collection address</h2>
<p> If your campaign succeeds, the funds raised (less commission and fees) will be deposited in a paypal account bearing this email address.</p>
{{ form.paypal_receiver }}{{ form.paypal_receiver.errors }}
<p> To save your work, or to launch the campaign, click a button below.</p>


{% for problem in problems %}
<p>{{ problem }}</p>
{% endfor %}
<input type="submit" name="save" value="Save Campaign" />
<input type="submit" name="launch" value="Launch Campaign" />
</form>

{% endif %}
{% endblock %}