{% extends "basedocumentation.html" %}

{% block title %} MARC records{% endblock %}

{% block extra_extra_head %}
<style type="text/css">
.marc {
    margin-top: 20px;
}

.marc div a.fakeinput {
    clear: both;
}

.marc div a.title {
    vertical-align: middle;
    padding-left: 5px;
}

ul.local li {
    list-style-type: disc;
    list-style-position: inside;
}

/* need to do a hide/show instead of a .replaceWith() on the submit button
   because the image takes long enough to load that it's preempted by the 
   redirect for quick downloads, and users never see it
*/
#unsubmit {
    display: none;
}

#unsubmit img {
    vertical-align: middle;
}
</style>
{% endblock %}

{% block topsection %}
{% endblock %}

{% block doccontent %}
<h2>MARC records at Unglue.it</h2>

<p>Go ahead: add unglued ebooks to your library catalog!</p>

{% if request.user.is_staff %}
    <p>Hi, {{ request.user.username }}.  Unglue.it staffers can also <a href="{% url MARCUngluify %}">add new records</a>.</p>
{% endif %}

{% if messages %}
    <ul class="errors">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
{% if userlist %}
<h2>Records for  <a href="{% url supporter userlist %}">{{ userlist }}</a></h2>
{% else %}
{% if request.user.is_authenticated %}
<p> To restrict this list to works on your list <a href="{% url user_marc request.user.username %}">click here</a> </p>
{% endif %}
{% endif %}
{% if records %}
<div class="marc">
    <form method="POST" id="record_form" action="{% url marc_all %}">
        {% csrf_token %}
        Record format:
        <select name="format">
            <option value="xml" selected>xml</option>
            <option value="mrc">mrc</option>
        </select>
        &nbsp;&nbsp;&nbsp;856 Link type:
        <select name="link_target">
            <option value="via" selected>Download page link</option>
            <option value="direct">Links to each file type</option>
        </select>
        <br /><br />
        <input type="submit" name="submit" value="Download All Records" id="submit">
        <span id="unsubmit"><img src="/static/images/loading.gif" alt="spinning wheel" /> Fetching record(s)...</span>
    </form>
    <br /><hr>
    <p>The 856 link options are:</p>
    <ul class="local">
            <li> Download page link. MARC records link through Unglue.it download page ( library user authentication, context sensitive help for getting files onto user's device)</li>
            <li> Links to each file type if available. MARC records link directly to files ( less help, not available for "Buy-to-unglue" titles) </li>
    </ul>
</div>
{% else %}
<p>Sorry; we don't have any records at this time.  </p>
{% endif %}


{% if request.user.is_authenticated %}
<div>
    <p>Your preference for the links in the 856 field is:</p>
    <ul class="local">
        <li>{{ libpref.get_marc_link_target_display }}</li>
    </ul>
    
    
    <p>You can <a href="{% url marc_config %}">change your library preferences here</a>.</p>
</div>
{% endif %}
{% endblock %}