{% extends "basedocumentation.html" %}

{% block title %} MARC records{% endblock %}

{% block extra_extra_head %}
<style type="text/css">
.marc {
    margin-top: 20px;
}

.marc div a.fakeinput {
    clear: both;
}

.marc div a.title {
    vertical-align: middle;
    padding-left: 5px;
}
</style>
{% endblock %}

{% block topsection %}
{% endblock %}

{% block doccontent %}
<h2>MARC records at Unglue.it</h2>

<p>Go ahead: add unglued ebooks to your library catalog!</p>

{% if request.user.is_staff %}
    <p>Hi, {{ request.user.username }}.  Unglue.it staffers can also <a href="{% url MARCUngluify %}">add new records</a>.</p>
{% endif %}

<div class="marc">
    {% for record in records %}
        <div>
            <a class="fakeinput" href="{{ record.xml_record }}">Download MARCXML</a>
            <a class="fakeinput" href="{{ record.mrc_record }}">Download .mrc</a>
            <a href="{% url work record.edition.work.id %}" class="title clearfix">{{ record.edition.work.title }}</a>
        </div>
        <br />
    {% endfor %}
</div>
{% endblock %}