{% extends "email_change/base.html" %}

{% block extra_extra_head %}
{{ block.super }}
<style type="text/css">
#login {
    width: auto;
    display: block;
}
</style>
{% endblock %}

{% block title %}Change your MARC record preferences{% endblock %}

{% block ce_content %}
{% if messages %}
<ul class="errors">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
Back to <a href="{% url marc %}">record download page</a><br /><br />

Your current MARC record link target preference is:<br />
{{ libpref.get_marc_link_target_display }}
<form method="post" action="{% url marc_config %}">
    {% csrf_token %}
    {{ form }}
    <br />
    <input type="submit" value="Change" />
</form>
{% endblock %}