{% extends 'basedocumentation.html' %}


{% block extra_extra_head %}
{{ block.super }}
<link rel="stylesheet" href="{{ jquery_ui_theme }}" type="text/css" media="screen">
{{ form.media.css }}
<script type="text/javascript" src="{{ jquery_ui_home }}" ></script>
{{ form.media.js }}
{% endblock %}

{% block doccontent %}
<h2>{{ work.title }}</h2>

{% if merge_complete %}
    <h2>Merge {{ old_work_id }} into <a href="{% url 'work' work.id %}">{{ work.id }}</a> Complete</h2>
      {% include 'workbox.html' %}
      <div><a href="?again">Merge more</a><br /><br /></div>
{% else %}
    <h2>Merge Works</h2>
    <form method="POST" action="#">
        {% csrf_token %}
        {{ form.as_p }}
        <h3>Merge this work...</h3>
        {% if other_work %}
            {% with other_work as work%}
                {% include 'workbox.html' %}
            {% endwith %}   
        {% endif %}
        <h3>... into the current work</h3>
        {% include 'workbox.html' %}
        {% if other_work %}
            <input type="submit" name="confirm_merge_works" value="Confirm Merge" id="submit" />
        {% else %}
            <input type="submit" name="merge_works" value="Preview Merge Works" id="submit" />
        {% endif %}
    </form>
{% endif %}

<h2>More Edition Management</h2>
<div><a href="{% url 'work_editions' work.id  %}">Remove editions from this work</a><br /><br /></div>
<div><a href="{% url 'new_edition' work.id '' %}">Create a new edition for this work</a><br /><br /></div>

{% endblock %}