{% extends 'basedocumentation.html' %}


{% block extra_extra_head %}
{{ block.super }}
  <link rel="stylesheet" href="{{ jquery_ui_theme }}" type="text/css" media="screen">
{{ form.media.css }}
<script type="text/javascript" src="{{ jquery_ui_home }}" ></script>

{{ form.media.js }}
{% endblock %}

{% block doccontent %}


    <h2>Create New Edition</h2>
    <p>Step 1 -  <b>Identifier</b></p>


<p>To add a work and edition to Unglue.it, we need to start with an identifier. We'll see if we can find some metadata based on the identifier you give us. If you give us an ISBN, we'll often be able to find some. If there's no ISBN, give us a URL (a web address) and we'll check the page for bibliographic info. </p>
{% if not request.user.rights_holder.all.count %}
    <p>If someone else has already added the work to unglue.it, you may not be able to edit its metadata.</p>
{% endif %}
<form id="editform" enctype="multipart/form-data" method="POST" action="#">
	{% csrf_token %}
	{{ form.as_p }}
	<!--{{ form.errors.as_data }}-->
	
	<p> 
	<input type="submit" name="new_edition_identifier" style="font-size: larger;" value="Start Edition" id="submit">
	</p>
</form>
<br />


{% endblock %}

