{% extends "basepledge.html" %}
{% load humanize %}

{% block title %}Credit card processing Error{% endblock %}

{% block extra_extra_head %}
<link type="text/css" rel="stylesheet" href="/static/css/campaign.css"  />
<link type="text/css" rel="stylesheet" href="/static/css/pledge.css"  />

{% endblock %}

{% block doccontent %}
<div style="height:15px"></div>
    
<div class="jsmodule rounded clearfix">
    <div class="jsmod-content">

	<div><h2>Error: Card authorization for a pledge transaction</h2>
		<div>
		<p>Unglue.it would like to process your pledge, but there's been some problem processing your credit card (<b>{{exception.message}}</b>). Please <a href="{{ request.get_full_path }}">try again</a>, or  contact <a href="mailto:support@gluejar.com?subject={{ request.get_full_path|urlencode }}">unglue.it support</a>.
        </p>
        </div>
	</div>

	</div>
</div>
{% endblock %}


