{% extends "basepledge.html" %}

{% block title %}Pledge Completed{% endblock %}

{% block extra_extra_head %}
<link type="text/css" rel="stylesheet" href="/static/css/campaign.css"  />
<link type="text/css" rel="stylesheet" href="/static/css/searchandbrowse.css"  />
<link type="text/css" rel="stylesheet" href="/static/css/book_panel.css"  />

<script src="/static/js/slides.min.jquery.js"></script>
<script src="/static/js/slideshow.js"></script>

<!-- toggle to panelview state instead of listview default -->
<script type="text/javascript">
	jQuery(document).ready(function($) { 
        $('.listview').addClass("panelview").removeClass("listview");
    });    
</script>    

<script type="text/javascript" src="/static/js/wishlist.js"></script>
<script type="text/javascript" src="/static/js/greenpanel.js"></script>
<script type="text/javascript" src="/static/js/embed.js"></script>
{% endblock %}

{% comment %}
this page needs to be laid out/styled
we need the share options and also something like the home page slide show to give people entry points back into the content
{% endcomment %}

{% block doccontent %}
<div class="clearfix">

    <h2 class="thank-you">Thank you!</h2>
    
	<p class="pledge_complete">You're now ungluing <I>{{work.title}}</I>.</p>
	<p class="pledge_complete">You can help even more by sharing this campaign with your friends:</p>
	
	<div id="widgetcode">Copy/paste this into your site:<br /><textarea rows="7" cols="22">&lt;iframe src="https://{{request.META.HTTP_HOST}}/api/widget/{{work.first_isbn_13}}/" width="152" height="325" frameborder="0"&gt;&lt;/iframe&gt;</textarea></div>
	<ul class="social menu pledge">
		<a href="https://www.facebook.com/sharer.php?u={% url work work.id|urlencode:"" %}"><li class="facebook first"><span>Facebook</span></li></a>
		<a href="https://twitter.com/intent/tweet?url={% url work work.id|urlencode:"" %}&amp;text=I%20just%20pledged%20to%20unglue%20{{ work.title|urlencode }}%20at%20%40unglueit.%20Will%20you%20join%20me%3F"><li class="twitter"><span>Twitter</span></li></a>
		<a href="{% url emailshare %}?next={% url work work.id|urlencode:"" %}"><li class="email"><span>Email</span></li></a>
		<a href="#" id="embed"><li class="embed"><span>Embed</span></li></a>
	</ul>
</div>
{% endblock %}


