{% extends "basepledge.html" %}

{% block title %}Pledge Completed{% endblock %}

{% block extra_extra_head %}
<link type="text/css" rel="stylesheet" href="/static/css/campaign.css"  />
{% endblock %}

{% comment %}
this page needs to be laid out/styled
we need the share options and also something like the home page slide show to give people entry points back into the content
{% endcomment %}

{% block doccontent %}

    <p class="thank-you">Thank you!</p>
    <p>You just pledged ${{transaction.amount}} to <a href="{% url work work.id %}">{{work.title}}</a>.</p>
    <p>If the campaign reaches its target of ${{campaign.target}} by {{campaign.deadline}},
    your PayPal account will be charged for your pledge amount of ${{transaction.amount}}.</p>
    <div>Please tell your friends about this campaign:</div>
            <div class="jsmodule">
                <!--<h3 class="jsmod-title"><span>Share</span></h3>-->
                <div class="jsmod-content">
                    <ul class="social menu">
                        <a href="https://www.facebook.com/sharer.php?u={{request.build_absolute_uri|urlencode:"" }}"><li class="facebook first"><span>Facebook</span></li></a>
                        <a href="https://twitter.com/intent/tweet?url={{request.build_absolute_uri|urlencode:"" }}&text=I'm%20ungluing%20{{ work.title|urlencode }}%20at%20%40unglueit"><li class="twitter"><span>Twitter</span></li></a>
                        {% if request.user.is_authenticated %}<a href="{% url emailshare %}?next={{request.build_absolute_uri|urlencode:""}}"><li class="email"><span>Email</span></li></a>{% endif %}
                        <a href="#" id="embed"><li class="embed"><span>Embed</span></li></a>
                        <div id="widgetcode">Copy/paste this into your site:<br /><textarea rows="7" cols="22">&lt;iframe src="https://{{request.META.HTTP_HOST}}/api/widget/{{work.first_isbn_13}}/" width="152" height="325" frameborder="0"&gt;&lt;/iframe&gt;</textarea></div>
                    </ul>
                </div>
            </div>

{% endblock %}


