{% extends 'basepledge.html' %}

{% load humanize %}
{% load sass_tags %}

{% block title %}Pledge Cancelled{% endblock %}

{% block extra_css %}
<link type="text/css" rel="stylesheet" href="{% sass_src 'scss/campaign2.scss' %}"  />
{% endblock %}

{% block doccontent %}

{% if transaction %}
    <div>You were about to pledge ${{ transaction.amount }} to <a href="{% url 'work' work.id %}">{{ work.title }}</a> but hit the cancel link.
    Naturally, we won't be charging you for this campaign without your permission.</div>
    <div>However, the campaign can definitely make use of your pledge.  If you hit cancel by mistake, you can <a href="{{ try_again_url }}">finish the pledge transaction</a>.</div>

{% else %}
    <div>We're sorry; we can't figure out which transaction you're talking about.  If you meant to cancel a pledge, please go to the book's page and hit the Modify link.</div>
{% endif %}
        
{% endblock %}