{% extends "basedocumentation.html" %}

{% block doccontent %}
<h1>Press</h1>
<div class="presstoc">
	<div>
		<a href="#overview">Overview</a><br />
		<a href="#press">Press Coverage</a><br />
		<a href="#blogs">Blog Coverage (Highlights)</a><br />
	</div>
	<div>
		<a href="#video">Video</a><br />
		<a href="#newsletters">Newsletters</a><br />
		<a href="#images">Logos &amp; Icons</a><br />
	</div>
	<div class="pressemail">
		Additional press questions?  Please email <a href="mailto:press@gluejar.com">press@gluejar.com</a>.
	</div>
	<div class="spacer"></div>
	<div class="pressemail">
		Thanks for your interest! As of January 2011 Unglue.It is in alpha release.  Things are mostly working but they're rough around the edges and may change without notice.  Please do kick the tires and forgive us any mess.
	</div>
</div>

<a name="overview"></a><h2>Overview</h2>
<dl>
<dt>What?</dt>
<dd>Unglue.It offers a win-win solution to readers, who want to read and share their favorite books conveniently, and rights holders, who want to be rewarded for their work.<br /><br />
We run <a href"http://en.wikipedia.org/wiki/Crowdfunding">crowdfunding</a> campaigns to raise money for specific, already-published books.  When we reach goals set by the rights holders, we pay them to unglue their work.  They issue an electronic edition with a <a href="http://creativecommons.org"</a>Creative Commons</a> <a href="http://creativecommons.org/licenses/by-nc-nd/3.0/">BY-NC-ND</a> license.  This license makes the edition free and legal for everyone to read, copy, and share, noncommercially, worldwide.</dd>
<dt>Why?</dt>
<dd>As ereaders proliferate, more and more people are enjoying the ereading experience.  However, their favorite books may not be available as ebooks.  They may come with DRM which makes them unreadable on certain devices, and difficult or impossible for individuals and libraries to lend.  Or they may not be able to tell if they have the legal right to use the book as they'd like.<br /><br />
When books have a clear, established legal license which promotes use, they can be read more widely, leading to enjoyment, scholarship, and innovation.  By raising money to compensate authors and publishers up front, Unglue.It encourages the benefits of openness while ensuring sustainability for creators.</dd>
<dt>Who?</dt>
<dd>Unglue.It is a service of Gluejar, Inc.  We are <a href="http://go-to-hellman.blogspot.com">Eric Hellman</a>, <a href="http://www.ameckeco.com/">Amanda Mecke</a>, <a href="http://raymondyee.net/">Raymond Yee</a>, and <a href="http://andromedayelton.com">Andromeda Yelton</a>.  (TBA: include contractors?)  We come from the worlds of entrepreneurship, linked data, physics, publishing, education, and library science, to name a few.  You can learn more about us at our personal home pages (linked above) or <a href="http://gluejar.com/team">the team page</a> of our corporate site.</dd>
<dt>When?</dt>
<dd>Unglue.It is in alpha -- a limited release for testing purposes -- as of January 2011.  If you <a href="http://eepurl.com/fKLfI">sign up for our newsletter</a>, we'll tell you the moment we're in beta.  At that point we'll have active campaigns and we will open account signups to everyone.</dd>
<dt>Where?</dt>
<dd>Gluejar is a New Jersey corporation, but its employees and contractors live and work across North America.  The best way to contact us is by email, <a mailto="press@gluejar.com">press@gluejar.com</a>.</dd>
<dt>What does it cost?</dt>
<dd>Unglue.It is free to join and explore.  Supporters pay only if they choose to support campaigns, and the amount is up to them.  Unglue.It takes a small percentage from successful campaigns, with the remainder going to the rights holders.</dd>
<dt>What's your technology?</dt>
<dd>Unglue.It is built using <a href="http://python.org/">Python</a> and the <a href="https://www.djangoproject.com/">Django framework</a>.  We use data from the <a href="http://code.google.com/apis/books/docs/v1/getting_started.html">Google Books</a>, <a href="http://openlibrary.org/developers/api">Open Library</a>, <a href="http://www.librarything.com/api">LibraryThing</a>, and <a href="http://www.goodreads.com/api">GoodReads</a> APIs [TBA: public?]; we appreciate that they've made these APIs available, and we're returning the favor with <a href="/api/help">our own API</a>.  You're welcome to use it.  We use <a href="http://lesscss.org/">Less</a> to organize our CSS.  We collaborate on our code at <a href="https://github.com/">GitHub</a> and deploy to the cloud with <a href="http://aws.amazon.com/ec2/">Amazon EC2</a>.</dd>
<dt>I have more questions...</dt>
<dd>Please consult our <a href="/faq/">FAQ</a> (sidebar at left); join the site and explore its features for yourself; or email us, <a href="press@gluejar.com">press@gluejar.com</a>.</dd>

<a name="press"></a><h2>Press Coverage</h2>
<div class="pressarticles">
<div>
	<a href="http://publishingperspectives.com/2011/11/books-in-browsers-2011/">“Our Friends in Seattle” and Other Euphemisms from Books in Browsers 2011</a><br />
	Publishing Perspectives - November 2, 2011
</div>
<div>
	<a href="http://www.publishersweekly.com/pw/by-topic/digital/conferences/article/49344-digital-transition-questions-examined-at-books-in-browsers-conference.html">Digital Transition Questions Examined at Books in Browsers Conference</a><br />
	Publishers Weekly - November 1, 2011
</div>
<div>
	<a href="http://bits.blogs.nytimes.com/2011/10/28/books-unbound/">Books Unbound</a><br />
	New York Times (Bits blog) - October 28, 2011
</div>
<div>
	<a href="http://americanlibrariesmagazine.org/features/07132011/new-technologies-new-directions-emerge-ala-2011">New Technologies, New Directions Emerge at ALA 2011</a><br />
	American Libraries - August 13, 2011
</div>
<div>
	<a href="http://radar.oreilly.com/2011/04/pubwir-bookcasting-piracy-book-trailers.html">Publishing News: Week in Review</a><br />
	O'Reilly Radar - 8 April 2011
</div>
</div>

<a name="blogs"></a><h2>Blog Coverage (Highlights)</h2>
<div class="pressarticles">
<div>
	<a href="http://pluggedinlibrarian.blogspot.com/2011/11/ebooks-brief-fix-on-moving-target.html">Ebooks: A Brief Fix On a Moving Target</a><br />
	The Plugged-In Librarian - November 1, 2011
</div>
<div>
	<a href="http://www.chip.ro/blog/catalina-zorojanu/17883-vom-mai-citi-cri-sau-altceva">Vom mai citi cărți? Sau altceva?</a> <I>(Romanian)</I><br />
	Chip Online - October 31, 2011
</div>
<div>
	<a href="http://www.lecturalab.org/story/Nueva-propuesta-para-el-acceso-abierto-a-los-libros-electrnicos_2489">Nueva propuesta para el acceso abierto a los libros electrónicos</a>  <I>(Spanish)</I><br />
	I+D de la Lectura - September 7, 2011
</div>
<div>
	<a href="http://edlab.tc.columbia.edu/index.php?q=node/6451">EdLab Review: Gluejar</a><br />
	EdLab blog - September 2, 2011
</div>
<div>
	<a href="http://scinfolex.wordpress.com/2011/07/28/gluejar-ou-comment-desengluer-les-livres-numeriques/">Gluejar ou comment désengluer les livres numériques</a>  <I>(French)</I><br />
	S.I.Lex - July 28, 2011
</div>

<a name="video"></a><h2>Video</h2>
<div class="pressvideos">
<div>
	<iframe width="480" height="274" src="http://www.youtube-nocookie.com/embed/YNGPCR-iM24?rel=0" frameborder="0" allowfullscreen></iframe><br />
	<I>November 2011</I><br />
	Eric Hellman, "The Network is Overrated"; talk at <a href="http://bib.archive.org/">Books in Browsers</a> 2011.
</div>
<div>
	<iframe width="480" height="274" src="http://www.youtube-nocookie.com/embed/mhfr-GWlo0M?rel=0" frameborder="0" allowfullscreen></iframe><br />
	<I>June 2011</I><br />
	Eric Hellman explains the Gluejar model to David Weinberger at <a href="http://lod-lam.net/summit/">LOD-LAM</a> 2011.
</div>
</div>
<div class="spacer"></div>

<a name="newsletters"></a><h2>Newsletters</h2>

{% comment %}autogenerated by mailchimp{% endcomment %}
<script language="javascript" src="http://us2.campaign-archive1.com/generate-js/?u=15472878790f9faa11317e085&fid=28161&show=5" type="text/javascript"></script>

<p>You can also <a href="http://eepurl.com/fKLfI">subscribe</a> to our newsletter.</p>

<a name="images"></a><h2>Logos &amp; Icons</h2>
<div class="pressimages">
	<div class="outer">
		<div><img src="/static/images/logo.png"></div>
		<div><p>(161 x 70)</p></div>
	</div>
	<div class="outer">
		<div><img src="/static/images/unglued.png"></div>
		<div><p>(44 x 30)</p></div>
	</div>
</div>
<br /><br /><br /><br /><br /><br />
<div>

{% comment %}
should have logos at a variety of resolutions and also in greyscale
should also have high-res screencaps
{% endcomment %}
</div>
{% endblock %}