{% extends "basedocumentation.html" %}

{% block doccontent %}
<h1>Press</h1>
<div class="presstoc">
	<div>
		<a href="#latest">Latest Press</a><br />
		<a href="#overview">Overview</a><br />
	</div>
	<div>
		<a href="#press">All Press Coverage</a><br />
		<a href="#blogs">Blog Coverage (Highlights)</a><br />
	</div>
	<div>
		<a href="#video">Video</a><br />
		<a href="#newsletters">Newsletters</a><br />
	</div>
	<div>
		<a href="#images">Logos &amp; Images</a><br />
	</div>
	<div class="pressemail">
		Additional press questions?  Please email <a href="mailto:press@gluejar.com">press@gluejar.com</a>.
	</div>
	<div class="press_spacer"></div>
	<div class="pressemail">
		Thanks for your interest! As of January 2011 Unglue.it is in alpha release.  Things are mostly working but they're rough around the edges and may change without notice.  Please do kick the tires and forgive us any mess.
	</div>
</div>

<a id="latest"></a><h2>Latest Press</h2>
<div class="pressarticles">
<div>
	<a href="http://beyondthebookcast.com/free-e-books-is-gluejars-mission/">BTB #296: Free E-books Is Gluejar’s Mission</a><br />
	Beyond the Book (Copyright Clearance Center) - May 3, 2012<br />
	Listen to Eric Hellman explain the Unglue.it model in this podcast.
</div>
<div>
	<a href="http://pubwest.org/endsheet-2/a-new-approach-for-backlist-titles/">A New Approach for Backlist Titles</a><br />
	PubWest Endsheet - Spring 2012
</div>
<div>
	<a href="http://americanlibrariesmagazine.org/solutions-and-services/unglueit">Solutions and Services: Unglue.it</a><br />
	American Libraries - February 14, 2012
</div>
</div>

<a id="overview"></a><h2>Overview</h2>
<dl>
<dt>What?</dt>
<dd>Unglue.it offers a win-win solution to readers, who want to read and share their favorite books conveniently, and rights holders, who want to be rewarded for their work.<br /><br />
We will run <a href="http://en.wikipedia.org/wiki/Crowdfunding">crowdfunding</a> campaigns to raise money for specific, already-published books.  When we reach goals set by the rights holders, we'll pay them to unglue their work.  They'll issue an electronic edition with a <a href="http://creativecommons.org">Creative Commons</a> <a href="http://creativecommons.org/licenses/by-nc-nd/3.0/">BY-NC-ND</a> license.  This license will make the edition free and legal for everyone to read, copy, and share, noncommercially, worldwide.<br /><br />
At present, in our alpha phase, we're not running live campaigns (though you may see some fake campaign data for testing purposes).  However, most of the other features of the site -- such as searching for books, adding them to your wishlist, and personalizing your user profile -- work.  We invite you to try them out and give us feedback.<br /><br />
Once we've fully tested our payment processes and user experience, we'll have a beta launch.  At this point we'll announce our founding rights holders, run live campaigns, and invite everyone to join the site.</dd>
<dt>Why?</dt>
<dd>As ereaders proliferate, more and more people are enjoying the ereading experience.  However, their favorite books may not be available as ebooks.  Their ebooks may come with DRM which makes them unreadable on certain devices, and difficult or impossible to lend to friends.  Or they may not be able to tell if they have the legal right to use the book as they'd like.  The situation is even more challenging for libraries, which may not be able to acquire ebooks at all, or can only acquire them under legal terms and DRM restrictions which run counter to library lending.<br /><br />
When books have a clear, established legal license which promotes use, they can be read more widely, leading to enjoyment, scholarship, and innovation.  By raising money to compensate authors and publishers up front, Unglue.it encourages the benefits of openness while ensuring sustainability for creators.<br /><br />
For more background, read our president Eric Hellman's thoughts on <a href="http://go-to-hellman.blogspot.com/2011/04/public-broadcasting-model-for-ebooks.html">a public broadcasting model for ebooks</a> (on why the numbers work) and <a href="http://go-to-hellman.blogspot.com/search/label/Unglue.it">the development of Unglue.it</a>.</dd>
<dt>Who?</dt>
<dd>Unglue.it is a service of Gluejar, Inc.  We are <a href="{% url supporter "eric" %}">Eric Hellman</a>, <a href="{% url supporter "AmandaM" %}">Amanda Mecke</a>, <a href="{% url supporter "RaymondYee" %}">Raymond Yee</a>, and <a href="{% url supporter "andromeda" %}">Andromeda Yelton</a>, with help from designer Stefan Fabry and software developers Jason Kace and <a href="{% url supporter "edsu" %}">Ed Summers</a>.  We come from the worlds of entrepreneurship, linked data, physics, publishing, education, and library science, to name a few.  You can learn more about us at our Unglue.it pages (linked above) or <a href="http://gluejar.com/team">the team page</a> of our corporate site.</dd>
<dt>When?</dt>
<dd>Unglue.it is in alpha -- a limited release for testing purposes -- as of January 2011.  If you <a href="http://eepurl.com/fKLfI">sign up for our newsletter</a>, we'll tell you the moment we're in beta.  At that point we'll have active campaigns and we will open account signups to everyone.</dd>
<dt>Where?</dt>
<dd>Gluejar is a New Jersey corporation, but its employees and contractors live and work across North America.  The best way to contact us is by email, <a href="mailto:press@gluejar.com">press@gluejar.com</a>.</dd>
<dt>What does it cost?</dt>
<dd>Unglue.it is free to join and explore.  Supporters pay only if they choose to support campaigns, and the amount is up to them.  Unglue.it takes a small percentage from successful campaigns, with the remainder going to the rights holders.</dd>
<dt>What's your technology?</dt>
<dd>Unglue.it is built using <a href="http://python.org/">Python</a> and the <a href="https://www.djangoproject.com/">Django framework</a>.  We use data from the <a href="http://code.google.com/apis/books/docs/v1/getting_started.html">Google Books</a>, <a href="http://openlibrary.org/developers/api">Open Library</a>, <a href="http://www.librarything.com/api">LibraryThing</a>, and <a href="http://www.goodreads.com/api">GoodReads</a> APIs; we appreciate that they've made these APIs available, and we're returning the favor with <a href="/api/help">our own API</a>.  You're welcome to use it.  We use <a href="http://lesscss.org/">Less</a> to organize our CSS.  We collaborate on our code at <a href="https://github.com/">GitHub</a> and deploy to the cloud with <a href="http://aws.amazon.com/ec2/">Amazon EC2</a>.</dd>
<dt>I have more questions...</dt>
<dd>Please consult our <a href="/faq/">FAQ</a> (sidebar at left); join the site and explore its features for yourself; or email us, <a href="press@gluejar.com">press@gluejar.com</a>.</dd>
</dl>
<a id="press"></a><h2>Press Coverage</h2>
<div class="pressarticles">
<div>
	<a href="http://pubwest.org/endsheet-2/a-new-approach-for-backlist-titles/">A New Approach for Backlist Titles</a><br />
	PubWest Endsheet - Spring 2012
</div>
<div>
	<a href="http://americanlibrariesmagazine.org/solutions-and-services/unglueit">Solutions and Services: Unglue.it</a><br />
	American Libraries - February 14, 2012
</div>
<div>
	<a href="http://www.teleread.com/copy-right/web-site-hopes-to-unglue-e-book-versions-of-copyrighted-books-thorugh-crowdfunding/">Web site hopes to ‘unglue’ e-book versions of copyrighted books through crowdfunding</a><br />
	TeleRead - January 31, 2012
</div>
<div>
	<a href="http://paidcontent.org/article/419-the-unglued-model-crowdfunding-to-make-e-books-free/">A Crowdfunded Approach To Setting E-Books Free</a><br />
	paidContent - January 30, 2012
</div>
<div>
	<a href="http://newsbreaks.infotoday.com/NewsBreaks/New-Crowdfunding-Initiative-to-Unglue-Ebooks-Launches-in-Alpha-80293.asp">New Crowdfunding Initiative to ‘Unglue’ Ebooks Launches in Alpha</a><br />
	Information Today - January 30, 2012
</div>
<div>
	<a href="http://www.cnetfrance.fr/blog/unglue-quand-les-internautes-financent-la-gratuite-des-ebooks-39767951.htm">UnGlue : quand les internautes financent la gratuité des ebooks</a> <I>(French)</I><br />
	c|net France - January 29, 2012
</div>
<div>
	<a href="http://publishingperspectives.com/2012/01/unglue-it-crowdfunds-unlimited-licenses-for-beloved-e-books/">Unglue.it Crowdfunds Unlimited Licenses for Beloved E-books</a><br />
	Publishing Perspectives - January 23, 2012
</div>
<div>
	<a href="http://www.thedigitalshift.com/2012/01/ebooks/gluejar-to-make-soft-launch-of-website-at-ala-midwinter/">Gluejar to Make Soft Launch of Website at ALA Midwinter</a><br />
	The Digital Shift (Library Journal/School Library Journal) - January 16, 2012
</div>
<div>
	<a href="http://publishingperspectives.com/2011/11/books-in-browsers-2011/">“Our Friends in Seattle” and Other Euphemisms from Books in Browsers 2011</a><br />
	Publishing Perspectives - November 2, 2011
</div>
<div>
	<a href="http://www.publishersweekly.com/pw/by-topic/digital/conferences/article/49344-digital-transition-questions-examined-at-books-in-browsers-conference.html">Digital Transition Questions Examined at Books in Browsers Conference</a><br />
	Publishers Weekly - November 1, 2011
</div>
<div>
	<a href="http://bits.blogs.nytimes.com/2011/10/28/books-unbound/">Books Unbound</a><br />
	New York Times (Bits blog) - October 28, 2011
</div>
<div>
	<a href="http://americanlibrariesmagazine.org/features/07132011/new-technologies-new-directions-emerge-ala-2011">New Technologies, New Directions Emerge at ALA 2011</a><br />
	American Libraries - August 13, 2011
</div>
<div>
	<a href="http://radar.oreilly.com/2011/04/pubwir-bookcasting-piracy-book-trailers.html">Publishing News: Week in Review</a><br />
	O'Reilly Radar - 8 April 2011
</div>
</div>

<a id="blogs"></a><h2>Blog Coverage (Highlights)</h2>
<div class="pressarticles">
<div>
	<a href="http://beyondthebookcast.com/free-e-books-is-gluejars-mission/">BTB #296: Free E-books Is Gluejar’s Mission</a><br />
	Beyond the Book (Copyright Clearance Center) - May 3, 2012<br />
	Listen to Eric Hellman explain the Unglue.it model in this podcast.
</div>
<div>
	<a href="http://www.techdirt.com/blog/innovation/articles/20120422/04463518597/re-inventing-public-libraries-digital-age.shtml">Re-Inventing Public Libraries For The Digital Age</a><br />
	Innovation (Techdirt) - May 3, 2012
</div>
<div>
	<a href="http://www.lecturalab.org/story/Unglueit-la-plataforma-de-crowfunding-para-liberar-libros-ser-lanzada-en-mayo_3151">Unglue.it, la plataforma de crowfunding para liberar libros, será lanzada en mayo</a> <I>(Spanish)</I><br />
	I+D de la Lectura - April 28, 2012
</div>
<div>
	<a href="http://plan3t.info/2012/02/08/unglue-it-was-ware-wenn/">Unglue.it: Was wäre, wenn…</a> <I>(German)</I><br />
	Plan3t Info - February 8, 2012
</div>
<div>
	<a href="http://chronicle.com/blogs/profhacker/unglue-a-book-crowdfunding-to-liberate-published-works/38096">Unglue a Book: Crowdfunding to Liberate Published Works</a><br />
	Profhacker (Chronicle of Higher Education) - February 7, 2012
</div>
<div>
	<a href="http://www.apogeonline.com/webzine/2012/02/06/anche-con-il-crowfunding-sembra-sempre-editoria">Anche con il crowfunding sembra sempre editoria</a> <I>(Italian)</I><br />
	Apoge Online - February 6, 2012
</div>
<div>
	<a href="http://www.ereaders.nl/article.php?article_id=100623">Unglue.it Maakt Ebooks Gratis Door Crowdfunding</a> <I>(Dutch)</I><br />
	eReaders - February 3, 2012
</div>
<div>
	<a href="http://pluggedinlibrarian.blogspot.com/2011/11/ebooks-brief-fix-on-moving-target.html">Ebooks: A Brief Fix On a Moving Target</a><br />
	The Plugged-In Librarian - November 1, 2011
</div>
<div>
	<a href="http://www.chip.ro/blog/catalina-zorojanu/17883-vom-mai-citi-cri-sau-altceva">Vom mai citi cărți? Sau altceva?</a> <I>(Romanian)</I><br />
	Chip Online - October 31, 2011
</div>
<div>
	<a href="http://www.lecturalab.org/story/Nueva-propuesta-para-el-acceso-abierto-a-los-libros-electrnicos_2489">Nueva propuesta para el acceso abierto a los libros electrónicos</a>  <I>(Spanish)</I><br />
	I+D de la Lectura - September 7, 2011
</div>
<div>
	<a href="http://edlab.tc.columbia.edu/index.php?q=node/6451">EdLab Review: Gluejar</a><br />
	EdLab blog - September 2, 2011
</div>
<div>
	<a href="http://scinfolex.wordpress.com/2011/07/28/gluejar-ou-comment-desengluer-les-livres-numeriques/">Gluejar ou comment désengluer les livres numériques</a>  <I>(French)</I><br />
	S.I.Lex - July 28, 2011
</div>
</div>
<a id="video"></a><h2>Video</h2>
<div class="pressvideos">
<div>
    <div class="mediaborder">
	<object width="480" height="270"><param name="allowfullscreen" value="true" /><param name="allowscriptaccess" value="always" /><param name="movie" value="https://secure.vimeo.com/moogaloop.swf?clip_id=39352026&amp;server=secure.vimeo.com&amp;show_title=1&amp;show_byline=0&amp;show_portrait=0&amp;color=00adef&amp;fullscreen=1&amp;autoplay=0&amp;loop=0" /><embed src="https://secure.vimeo.com/moogaloop.swf?clip_id=39352026&amp;server=secure.vimeo.com&amp;show_title=1&amp;show_byline=0&amp;show_portrait=0&amp;color=00adef&amp;fullscreen=1&amp;autoplay=0&amp;loop=0" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" width="480" height="270"></embed></object></div><br />
	<I>March 2012</I><br />
	Andromeda Yelton; "The Future of Ebooks" panel at <a href="http://www.infotoday.com/cil2012/">Computers in Libraries</a>.
</div>
<div>
	<iframe width="480" height="274" src="//www.youtube-nocookie.com/embed/36o0o9aGbKc?rel=0" frameborder="0" allowfullscreen></iframe><br />
	<I>February 2012</I><br />
	Eric Hellman on the <a href="http://oreilly.com/toc/">Tools of Change</a> podcast.
</div>
<div>
	<iframe width="480" height="274" src="//www.youtube-nocookie.com/embed/YNGPCR-iM24?rel=0" frameborder="0" allowfullscreen></iframe><br />
	<I>November 2011</I><br />
	Eric Hellman, "The Network is Overrated"; talk at <a href="http://bib.archive.org/">Books in Browsers</a> 2011.
</div>
<div>
	<iframe width="480" height="274" src="//www.youtube-nocookie.com/embed/mhfr-GWlo0M?rel=0" frameborder="0" allowfullscreen></iframe><br />
	<I>June 2011</I><br />
	Eric Hellman explains the Gluejar model to David Weinberger at <a href="http://lod-lam.net/summit/">LOD-LAM</a> 2011.
</div>
</div>
<div class="press_spacer"></div>

<a id="newsletters"></a><h2>Newsletters</h2>

{% comment %}autogenerated by mailchimp{% endcomment %}
<script src="/campaign_archive.js" type="text/javascript"></script>

<p>You can also <a href="http://eepurl.com/fKLfI">subscribe</a> to our newsletter.</p>

<a id="images"></a><h2>Logos &amp; Images</h2>
<div class="pressimages">
	<div class="outer">
		<div><a href="/static/images/logo.png"><img src="/static/images/logo.png" alt="big logo" /></a></div>
		<div class="text"><p>Full logo, 161px x 70px</p></div>
	</div>
	<div class="outer">
		<div><a href="/static/images/unglued.png"><img src="/static/images/unglued.png" alt="small Logo" /></a></div>
		<div class="text"><p>Logo image only, 44px x 30px</p></div>
	</div>
	<div class="outer">
		<div><a href="/static/images/workpage.png"><img src="/static/images/workpage_thumb.png" class="screenshot" alt="screenshot" /></a></div>
		<div class="text"><p>300 ppi screenshot of a book page on Unglue.it.  Features include links to the book, where available, at Google Books, Open Library, GoodReads, and LibraryThing; social sharing options; tabs with user comments and more information; and an explore bar linking to other books and users.  The user list is dynamically generated, reflecting others interested in the same book.</p></div>
	</div>
	<div class="outer">
		<div><a href="/static/images/supporter_listview.png"><img src="/static/images/supporter_listview_thumb.png" class="screenshot" alt="screenshot" /></a></div>
		<div class="text"><p>300 ppi screenshot of a supporter page.  Supporters can readily see all the books on their wishlist and filter for active or successful campaigns.  Icons show how many other ungluers have wishlisted a book or, for active campaigns, their progress toward completion.  Unglued and public domain books have links to freely available copies.  Numbered badges show how many successful, active, and wishlisted books a user is supporting.  Supporters can link to their home page and accounts on Facebook, Twitter, GoodReads, and LibraryThing (note icons in upper right), as well as import books from their GoodReads and LibraryThing accounts to their wishlist.</p></div>
	</div>
	<div class="outer">
		<div><a href="/static/images/supporter_panelview.png"><img src="/static/images/supporter_panelview_thumb.png" class="screenshot" alt="screenshot" /></a></div>
		<div class="text"><p>300 ppi screenshot of a supporter page in panel view.  This displays the same information as the list view, but in a less information-dense, more visually arresting format.  Supporters can toggle between views.</p></div>
	</div>
	<div class="outer">
		<div><a href="/static/images/search_listview.png"><img src="/static/images/search_listview_thumb.png" class="screenshot" alt="screenshot" /></a></div>
		<div class="text"><p>300 ppi screenshot of a search result page, powered by Google Books.  Users can add books to their wishlist with one click, or click through for more information.  Books with active campaigns display a progress meter.  Where possible, books that are already unglued or in the public domain link to freely available copies.</p></div>
	</div>
	<div class="outer">
		<div><a href="/static/images/search_panelview.png"><img src="/static/images/search_panelview_thumb.png" class="screenshot"  alt="screenshot" /></a></div>
		<div class="text"><p>300 ppi screenshot of a search result page, in panel view.  As with the supporter page, users can toggle between views.</p></div>
	</div>
</div>
<br /><br /><br /><br /><br /><br />
<div>

{% comment %}
should have logos at a variety of resolutions and also in greyscale
{% endcomment %}
</div>
{% endblock %}