<h1>Gluejar Privacy Policy</h1>

Date of last revision: September 13, 2011

<h2>Introduction</h2>

<p>Gluejar respects your privacy.  We don't share your personal information with third parties except as required to deliver services to you.</p>

<h2>Information we collect</h2>

<p>If you sign up for our mailing list, we will ask for your email address.  You may opt out of the mailing list at any time.  We include unsubscribe instructions at the bottom of every newsletter.</p>

<p>You will be asked to provide your name and email address if you use our contact form.</p>

<p>Gluejar uses cookies to allow you to log into the web site.   Also, it automatically gathers certain technical information such as your IP address, browser, referring/exit pages, and operating system.  We contract with a third-party provider to help us analyze this information.  They do not have access to any other information about you.</p>

<p>Third parties that we partner with to provide services may also place cookies in your browser, or use web beacons to collect information.  You can view and manage your cookies through your web browser's preferences.</p>

<h2>How we use this information</h2>

<p>We use this information to send occasional newsletters; to respond to your queries; to analyze which pages our site visitors go to; to ensure that our web site displays properly on your device; and to allow you to log in and interact with the service.</p>

<h2>How We Share Your Personally Identifying Information</h2>

<p>We don't sell your information.  We don't share it except as necessary to provide services to you.</p>

<p>When you have opted to receive a reward, you will be asked to supply rightsholders with contact information they need to fulfill that reward.  By entering into our Governing Agreement, rightsholders agree to not abuse other users' personal information.  Abuse is defined as using personal information for any purpose other than those explicitly specified in the rightsholders' campaigns, or related to fulfilling delivery of a reward explicitly specified in the rightsholders' campaigns.  Rightsholders will never receive your credit card information.</p>

<p>We may store personal information in locations outside the direct control of Gluejar (for instance, on our hosting providers' servers). </p>

<p>We reserve the right to disclose your personally identifiable information if required by law (e.g. to comply with a subpoena), when we believe in good faith that disclosure is necessary to protect our rights or to comply with applicable laws.</p>

<h2>Voluntary Disclosure</h2>

<p>Any personal information or content that you voluntarily disclose in public areas of the site becomes publicly available and can be collected and used by other users. You should exercise caution before disclosing your personal information via these public venues.</p>

<h2>Children's Privacy</h2>

<p>Our website, products and services are marketed for and directed towards use and contributions by adults (or with the consent of adults). Individuals under the age of 18 are not permitted to use the GlueJar website to make contributions, offer a license or otherwise post content without the supervision of a parent or legal guardian. Furthermore, we do not knowingly collect or solicit personal information from children under the age of 13 or knowingly allow such persons to register for an online account or to post personal information on our websites. Should we learn that someone under the age of 13 has provided any personal information to or on the GlueJar website, we will remove that information as soon as possible.</p>


<h2>Changes to this Privacy Policy</h2>

<p>Gluejar reserves the right to change this privacy policy.  We will post updated versions to the web site, including the most recent modification date.  If updates to our privacy policy affect our use of emails we have collected, we will notify mailing list subscribers as well.</p>

<h2>Contact Us</h2>

<p>If you have any questions regarding this privacy policy, you can contact us at <a href="mailto:contact@gluejar.com?Subject=Questions%about%20privacy%20policy">contact@gluejar.com</a>, or using our contact page.</p>
