{% extends 'basedocumentation.html' %}

{% block title %} Programs {% endblock %}


{% block doccontent %}
<h2>Unglue Program Terms</h2>
<h3><strong><em>Pledge-to-Unglue Program</em></strong></h3> 
<p><strong>1. Description. </strong>Under the Pledge-to-Unglue program, the Rights Holder conducts a pledge campaign to raise a designated level of donated funds to facilitate the immediate Ungluing of an Uploaded Uploaded Work. The Ungluing Date shall be scheduled no later than 90 days after the Campaign Goal has been met.</p> 
<p><strong>2. Campaign Goal Specifications</strong>. The Rights Holder will designate, for each Uploaded Work:</p> 
<p style="text-indent: 36pt">(a) the dollar amount for the Campaign Goal;</p> 
<p style="text-indent: 36pt">(b) the date upon which the campaign will commence;</p> 
<p style="text-indent: 36pt">(c) the date upon which the campaign will end.</p> 
<p style="text-indent: 36pt">Once an Unglue.it campaign has been launched, the Campaign Goal cannot be increased at any time for any reason.</p> 
<p style="text-align: left;"><strong>3. Unglue.it Service Fees.</strong></p> 
<p style="text-align: left;"><em> <strong>Processing Fee</strong></em> in the amount of the greater of $60 or six percent (6%) of total gross aggregate contributions received in connection with the campaign. All Processing Fees shall be payable out of the proceeds of a successfully completed campaign, and shall be payable in addition to third party payment processing fees.</p> 
<h3><strong><em>Buy-to-Unglue Program</em></strong></h3> 
<p><strong>1. Description.</strong> Under the Buy-to-Unglue program, the Rights Holder charges a <strong><em>License Fee </em></strong>to make copies of a Uploaded Work available to individuals, libraries and institutions through Unglue.it and agrees to Unglue the Uploaded Work once the Rights Holder’s designated sales target has been met. The Ungluing Date is determined by the fraction of the Campaign goal that has been met, together with the Campaign Goal Specifications.</p> 
<p><strong>2. Campaign Goal Specifications</strong>. The Rights Holder will designate, for each Uploaded Work:</p> 
<p style="text-indent: 36pt">(a) the dollar amount for the Campaign Goal;</p> 
<p style="text-indent: 36pt">(b) the initial Ungluing Date*;</p> 
<p style="text-indent: 36pt">(c) the date upon which the campaign will commence;</p> 
<p style="text-indent: 36pt">(d) the License Fees.</p> 
<p style="text-indent: 36pt">Once an Unglue.it campaign has been launched, the Campaign Goal cannot be increased at any time for any reason, and the initial Ungluing Date cannot be changed. Notwithstanding the above, the License Fees can be increased or decreased at any time at the sole discretion of the Rights Holder.</p> 
<p style="text-indent: 36pt"><em>*In the case of the Buy-to-Unglue program, the Ungluing Date advances according to the progress towards the Campaign Goal. The mechanism of advance shall be determined by the website terms of service in effect on the date of the launch of the campaign.</em></p> 
<p><strong><em>3</em>. Unglue.it Service Fees</strong></p> 
<p>(a) <strong><em>Distribution Fee</em></strong> in the amount of twenty-five percent (25%) of the gross revenues received by the Distributor from (i) the sale of the Uploaded Works through the Program; (ii) the licensing of the Uploaded Works by the Distributor to libraries and other third party distributors; and (iii) from any other sources in connection with the distribution of the Uploaded Work by the Distributor.</p> 
<p>(b) <strong><em>Transaction Fee</em></strong> in the amount of twenty-five cents ($0.25) per transaction.</p> 
<p>The Distribution Fee and Transaction Fee shall be deducted from proceeds of sale and other license fees collected by the Distributor, and paid to the Distributor prior to the remission of revenues to the Rights Holder. The Distribution Fee is inclusive of third party processing fees up to a cap of 3% of the gross amount plus 33 cents ($0.33) per transaction.</p> 
<h3><strong><em>Thanks-for-Ungluing Program</em></strong></h3> 
<p><strong>1. Description.</strong> Under the Thanks-for-Ungluing program, the Rights Holder immediately releases an Unglued Edition to the licensee, but suggests a “Thank-You” donation amount. The licensee has the option of paying the suggested “Thank You” donation, or a greater or lesser amount (may be zero).</p> 
<p><strong>2. Campaign Goal Specifications</strong>. The Rights Holder will designate a suggested “Thank You” donation amount for each Uploaded Work.</p> 
<p><strong>3. Unglue.it Service Fees</strong></p> 
<p style="text-indent: 36pt">(a) <strong><em>Distribution Fee</em></strong> in the amount of eight percent (8%) of the gross revenues received by the Distributor from payments made as “Thank You” donations.</p> 
<p style="text-indent: 36pt">(b) <strong><em>Transaction Fee</em></strong> in the amount of twenty-five cents ($0.25) per transaction.</p> 
<p style="text-indent: 36pt">The Distribution Fee and Transaction Fee shall be deducted from the donations collected by the Distributor, and paid to the Distributor prior to the remission of revenues to the Rights Holder. The Distribution Fee is inclusive of third party payment processing fees up to a cap of 3% of the gross amount plus 33 cents ($0.33) per transaction.</p>
{% endblock %}