{% extends 'basedocumentation.html' %}

{% block title %} Programs {% endblock %}


{% block doccontent %}
<h2>Unglue Program Terms</h2>
<h3><strong><em>Thanks-for-Ungluing Program</em></strong></h3> 
<p><strong>1. Description.</strong> Under the Thanks-for-Ungluing program, the Rights Holder immediately releases an Unglued Edition to the licensee, but suggests a “Thank-You” donation amount. The licensee has the option of paying the suggested “Thank You” donation, or a greater or lesser amount (may be zero).</p> 
<p><strong>2. Campaign Goal Specifications</strong>. The Rights Holder will designate a suggested “Thank You” donation amount for each Uploaded Work.</p> 
<p><strong>3. Unglue.it Service Fees</strong></p> 
<p style="text-indent: 36pt">(a) <strong><em>Distribution Fee</em></strong> in the amount of eight percent (8%) of the gross revenues received by the Distributor from payments made as “Thank You” donations.</p> 
<p style="text-indent: 36pt">(b) <strong><em>Transaction Fee</em></strong> in the amount of twenty-five cents ($0.25) per transaction.</p> 
<p style="text-indent: 36pt">The Distribution Fee and Transaction Fee shall be deducted from the donations collected by the Distributor, and paid to the Distributor prior to the remission of revenues to the Rights Holder. The Distribution Fee is inclusive of third party payment processing fees up to a cap of 3% of the gross amount plus 33 cents ($0.33) per transaction.</p>
{% endblock %}