{% load sass_tags %}

<!DOCTYPE html>
<head>
    <title>Read {{ work.title }} online at unglue.it</title>
    <meta property="og:title" content="{{ work.title }}" />
    <meta property="og:type" content="book" />
    <meta property="og:url" content="https://unglue.it{% url 'work' work.id %}" />
    <meta property="og:image" content="{{ work.cover_image_thumbnail }}" />
    <meta property="og:site_name" content="Unglue.it" />
    {% for author in work.relators %}
    <meta property="book:author" content="{{ author.name }}" />
    {% endfor %}
    {% if work.first_isbn_13 %}
    <meta property="book:isbn" content="{{ work.first_isbn_13 }}" />
    {% endif %}
    <link type="text/css" rel="stylesheet" href="/static/css/reader/normalize.css" />
    <link type="text/css" rel="stylesheet" href="/static/css/reader/main.css" />
    <link type="text/css" rel="stylesheet" href="/static/css/reader/popup.css" />
    <link type="text/css" rel="stylesheet" href="/static/css/reader/annotations.css" />
    <link type="text/css" rel="stylesheet" href="{% sass_src 'scss/read.scss' %}"  />

    <script src="/static/js/reader/libs/jquery.min.js"></script>
    <script src="/static/js/reader/libs/zip.min.js"></script>

    <script>
    "use strict";

    document.onreadystatechange = function () {
        if (document.readyState == "complete") {
        EPUBJS.filePath = "/static/js/reader/libs/";
        EPUBJS.cssPath = window.location.href.replace(window.location.hash, '').replace('index.html', '') + "css/";
        // fileStorage.filePath = EPUBJS.filePath;

            window.reader = ePubReader("{{url}}", {restore: true});
        }
    };
    </script>

    <!-- File Storage -->
    <script src="/static/js/reader/libs/localforage.min.js"></script>

    <!-- Full Screen -->
    <script src="/static/js/reader/libs/screenfull.min.js"></script>

    <!-- Render -->
    <script src="/static/js/reader/epub.min.js"></script>

    <!-- Hooks -->
    <script src="/static/js/reader/hooks.min.js"></script>

    <!-- Reader -->
    <script src="/static/js/reader/reader.min.js"></script>

</head>

{% with work.id as work_id %}
<body>
    <div id="sidebar">
    <div id="panels">
        <input id="searchBox" placeholder="search" type="search">

        <a id="show-Search" class="show_view icon-search" data-view="Search">Search</a>
        <a id="show-Toc" class="show_view icon-list-1 active" data-view="Toc">TOC</a>
        <a id="show-Bookmarks" class="show_view icon-bookmark" data-view="Bookmarks">Bookmarks</a>
        <a id="show-Notes" class="show_view icon-edit" data-view="Notes">Notes</a>

    </div>
    <div id="tocView" class="view">
    </div>
    <div id="searchView" class="view">
        <ul id="searchResults"></ul>
    </div>
    <div id="bookmarksView" class="view">
        <ul id="bookmarks"></ul>
    </div>
    <div id="notesView" class="view">
        <div id="new-note">
        <textarea id="note-text"></textarea>
        <button id="note-anchor">Anchor</button>
        </div>
        <ol id="notes"></ol>
    </div>
    </div>
    <div id="main">

    <div id="titlebar">
        <div id="opener">
        <a id="slider" class="icon-menu">Menu</a>
        </div>
        <div id="metainfo">
        <span id="book-title"></span>
        <span id="title-seperator">&nbsp;&nbsp;–&nbsp;&nbsp;</span>
        <span id="chapter-title"></span>
        </div>
        <div id="title-controls">
        <a id="bookmark" class="icon-bookmark-empty">Bookmark</a>
        <a id="setting" class="icon-cog">Settings</a>
        <a id="fullscreen" class="icon-resize-full">Fullscreen</a>
        </div>
    </div>

    <div id="divider"></div>
    <div id="prev" class="arrow">‹</div>
    <div id="viewer"></div>
    <div id="next" class="arrow">›</div>

    <div id="loader"><img src="/static/images/reader/loader.gif"></div>
    </div>
    <div class="modal md-effect-1" id="settings-modal">
        <div class="md-content">
            <h3>Settings</h3>
            <div>
                <p>
                <input type="checkbox" id="sidebarReflow" name="sidebarReflow">Reflow text when sidebars are open.
                </p>
            </div>
            <div class="closer icon-cancel-circled"></div>
        </div>
    </div>
    <div class="overlay"></div>
</body>
{% endwith %}
