{% extends 'rh_tools.html' %}
{% block toolcontent %}
<h2 id="getting_started">Getting Started</h2>
<p>
If you're an author, publisher, or other rights holder, you can participate more fully in Unglue.it by registering as a rights holder. Participating rights holders can:
<ul class="bullets">
<li> Add books to the unglue.it database.</li>
<li> Set metadata and descriptions for their books.</li>
<li> Create campaigns for their books. </li>
</ul>
</p>

<h2 id="distributing">Distributing Free Books Through Unglue.it</h2>
<p> Much of the "supply chain" for ebooks is fueled by a percentage of the ebook's purchase price. When the ebook is free, this supply chain stops running. When we started ungluing ebooks, we were were surprised that even library vendors had minimum prices for their ebooks. Working with partners such as the Internet Archive, the Digital Public Library of America, and New York Public Library, we set out to build a new supply chain that helps free ebooks have their potential impact.
</p>
<p>By adding a free-licensed ebook to the unglue.it database, you do a lot more than just add it to Unglue.it. We promote free ebooks on our website and on social networks. Our metadata syndication feeds help propagate that book around the world, into libraries, archives and communities.
</p>
<h2 id="how_to">Becoming an Unglue.it Rights Holder</h2>

<ol>
    {% if not request.user.is_authenticated %}
    <li>Set up an Unglue.it account. (<a href="{% url 'registration_register' %}?next={% url 'rightsholders' %}">Click here</a> or use the Sign Up button at the top of the page).</li>
    {% else %}
    <li class="checked">You've already set up an Unglue.it account.</li>
    {% endif %}
	{% if not request.user.rights_holder.count %}<li>{% else %}<li class="checked">{% endif %}Sign a <a href="{% url 'agree' %}">Unglue.it Rights Holder Agreement</a>.  If you have any questions, <a href="mailto:info@ebookfoundation.org?subject=agreement">ask us</a>.</li>
	{% if claims %}
	<li class="checked"><i>You have claimed {{ claims.count }}</i> work(s). You can claim more.
	{% else %}
	<li><i>Claim</i> your work(s) or send us metadata for books you have rights to.
	{% endif %}
    {% include 'add_your_books.html' %}
    </li>
	{% if campaigns %}
	<li class="checked">You've set up {{ campaigns.count }} campaign(s).  Manage them <a href="{% url 'rh_campaigns' %}#managed_campaigns">here.</a> Or, <a href="{% url 'rh_works' %}#open_campaigns">set up a new campaign</a>.</li>
	{% else %}
	<li>{% if claims %}<a href="{% url 'rh_works' %}#open_campaigns">Set up a campaign</a> for your book.{% else %} Set up a campaign. All the campaigns you can manage will be listed on <a href="{% url 'rh_campaigns' %}#managed_campaigns">this page</a>.{% endif %}</li>
	{% endif %}
</ol>
<h2 id="about_campaigns">About Campaigns </h2>
<p>
Free licenses help ebooks accomplish their missions, but that doesn't mean their creators don't need financial support. Unglue.it's "Thanks for Ungluing" program helps creators find that support.
</p>

<p> If you have already released your work under a Creative Commons license, you can use the "Thanks for Ungluing" program. To use the program, you launch a "campaign". (Unglue.it formerly also offered "Buy to Unglue" and "Pledge-to-Unglue" campaigns; these campaign types are retired &#8212; see below.)</p>


<h2>Thanks-for-Ungluing Campaigns</h2>
<p>Thanks-for-Ungluing is a program designed to help rights holders promote and monetize their Creative Commons licensed books. Rights holders participating in the Thanks-for-Ungluing program can request payment for their books on a pay-what-you-want basis. They can also set suggested prices as well as metadata and descriptions for books that they claim. </p>

<h2>Retired programs: Buy-to-Unglue and Pledge-to-Unglue</h2>
<p>Unglue.it previously offered two other campaign types. <i>Buy-to-Unglue</i> campaigns sold ebook licenses to advance the date on which an ebook would become an Unglued Ebook. <i>Pledge-to-Unglue</i> campaigns collected pledges (with rewards for supporters) toward the release of a work under a Creative Commons license.</p>
<p>As of July 2026, these campaign types are retired: no new Buy-to-Unglue or Pledge-to-Unglue campaigns can be created. Campaigns of these types launched before their retirement continue to operate under their original terms.</p>
{% endblock %}
