{% extends "basedocumentation.html" %}
{% block title %}Tools for Rightsholders {% endblock %}
{% block extra_extra_head %}
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/themes/ui-lightness/jquery-ui.css" type="text/css" media="screen">
<link href="/static/css/dj.selectable.css" type="text/css" media="all" rel="stylesheet" />
<script type="text/javascript" src="{{ jquery_home }}"></script>
<script type="text/javascript" src="{{ jquery_ui_home }}"></script>
<script type="text/javascript" src="/static/js/jquery.dj.selectable.js"></script>

{% endblock %}
{% block doccontent %}

<h1>unglue.it Tools for Rightsholders</h1>

<div class="presstoc"><div class="pressemail">
Any questions not covered here?  Please email us at <a href="mailto:rights@gluejar.com">rights@gluejar.com</a>.
</div></div>

{% if request.user.campaigns.all %}
<h2>Campaigns You Manage</h2>
	<dl>
	{% for campaign in request.user.campaigns.all %}
		<dt>Work: <a href="{% url work work_id=campaign.work.id %}">{{campaign.work.title }}</a></dt>
		<div class="work_campaigns clearfix">
		<div class="campaign_info">
			<dd>Campaign: {{ campaign.name }}<br />
			Campaign status: {{ campaign.status }}	<br />
			Created: {{ campaign.created }}</dd>
			</div>
			<div>
				<a href="{% url manage_campaign campaign.id %}" class="manage">Manage This Campaign</a>
			</div>
			</div>
	{% endfor %}
	</dl>
{% endif %}
{% if request.user.rights_holder.count %}
<h2>Works You Have Claimed</h2>
	<dl>
	{% for claim in claims %}
		<dt>Title: <a href="{% url work work_id=claim.work.id %}">{{claim.work.title }}</a>&nbsp;&nbsp;&nbsp;(work #{{ claim.work.id }})</dt>
		<dd>Author: {{claim.work.author }}
			<br />On Behalf of: {{ claim.rights_holder.rights_holder_name }}
			<br />PSA #: {{ claim.rights_holder.id }}
			<br />Date of Claim : {{ claim.created }}
			<br />Status of Claim: {{ claim.status }}
			{% if claim.can_open_new  %}
			<h3>Open a campaign for this work</h3>
			<form method="POST" action="#">
				{% csrf_token %}
				<p>Name the Campaign: {{ claim.campaign_form.name }}{{ claim.campaign_form.name.errors }}</p>
				<p>Choose your Campaign Manager(s): {{ claim.campaign_form.managers }}{{ claim.campaign_form.managers.errors }}</p>
				<p>
				{{ claim.campaign_form.work }}{{ claim.campaign_form.work.errors }}
				{{ claim.campaign_form.userid }}{{ claim.campaign_form.userid.errors }}
				</p>
				
				<input type="submit" name="submit" value="Open Campaign" id="submit">
			</form>
			{% else %}{%if claim.campaigns %}			
			<h3>Campaigns for this work</h3>
			{% for campaign in claim.campaigns %}
			<div class="work_campaigns clearfix">
			<div class="campaign_info">
				Name: Your campaign, "{{ campaign.name }}", is {{ campaign.status }}<br />
				Created: {{ campaign.created }}<br />
				Manager(s): {% for user in campaign.managers.all %} <a href="{% url supporter user.username %}">{{ user.username }} </a> {% endfor %}
				<form method="POST" action="#">{% csrf_token %}
					Add/Remove Managers: {{ campaign.edit_managers_form.managers }}{{ campaign.edit_managers_form.managers.errors }}
					<input type="submit" name="edit_managers_{{campaign.id}}" value="Save Managers" id="submit">
				</form>
			</div>
			<div>
				<a href="{% url manage_campaign campaign.id %}" class="manage">Manage This Campaign</a>
			</div>
			</div>
			{% endfor %}
			{% endif %}
			{% endif %}
		</dd>
	{% endfor %}
	</dl>
{% endif %}
{% if request.user.rights_holder.count %}
<h2>Rights Holders That You Administer</h2>
	<dl>
		{% for rights_holder in request.user.rights_holder.all %}
		<dt>Name: {{ rights_holder.rights_holder_name }}&nbsp;&nbsp;&nbsp;(rights holder #{{ rights_holder.id }})</dt>
		<dd>PSA #: {{ rights_holder.id }}
		<br />contact email: {{ rights_holder.email }}</dd>
		{% endfor %}
	</dl>
{% endif %}
<h2>How to launch an Unglue.it campaign</h2>

<ol>
	<li>
	In order to launch a campaign, the rights holder must first sign and submit an Unglue.it Platform Services Agreement. 
	Unglue.it staff will review the credentials of the rights holder and enter it into the system, along with an email address and the username for the person who will use the Unglue.it rights holder tools on behalf of the rights holder.
	If your unglue.it account has been associated with a rights holder, the name and contact address of that rights holder should appear above.
	</li>
	<li>
	The next step for a rights holder is to claim works from the Unglue.it database. Find the work by adding it to you wishlist. 
	On the "details" tab of the work's page, you will find a form that allows you to enter a claim.
	When you enter a claim, you will be asked to agree to terms and conditions, in which you agree that you're making the claim in good faith, and that you can substantiate that you have legal control over rights to the work.
	If you claim a work by mistake, please contact Unglue.it rights holder relations immediately: rights@gluejar.com
	</li>
	<li>
	Once a claim is made, it will be reviewed by Unglue.it staff. 
	We'll make sure that the the claim is in order, and we may contact you at {{ request.user.email }} if we have any questions.
	We may want to look over publishing contracts, etc., to make sure you have sufficient rights to unglue the book.
	</li>
	<li>
	When a claim has been approved, you're ready to open a campaign for the work. 
	A form will appear with the claim listing, above.
	You'll need to pick one or more managers for the campaign- someone who has an Unglue.it username. 
	The campaign managers will be able to set more parameters for the campaign.
	</li> 
	<li>
	If you've been appointed as a campaign manager, a list of campaigns will appear on your rights holder tools page.
	Click on the link for the campaign you want to manage.
	</li> 
	<li>
	On the campaign management page, you'll be able to configure the campaign.
	When you're ready to launch the campaign, click the launch button.
	The system will check that the campaign goal and and ending data are within allowed parameters.
	Once the campaign is launched, you're off and running. Good Luck!
	</li> 
</ol>

<h2>Rightsholder social media tools</h2>

Needs to be written.  What would you find helpful in a social media toolkit? <a href="/feedback">Send us feedback.</a>

<h2>Rewards</h2>

<p>Campaigns have rewards as a way to thank supporters.  unglue.it includes a standard set of rewards in all campaigns.  You are encouraged to add additional sweeteners to motivate people to donate.</p>

<p>Here are the standard rewards:</p>
<ul class="terms">
<li><em>Any level</em> &#8212; The unglued ebook delivered to your inbox</li>
<li><em>$25</em> &#8212; Your username under "supporters" in the acknowledgements section</li>
<li><em>$50</em> &#8212; Your name &amp; profile link under "benefactors"</li>
<li><em>$100</em> &#8212; Your name, profile link, &amp; profile tagline under "bibliophiles"</li>
</ul>

<h2>More Questions</h2>
<p> Check the FAQ to the left, or <a href="/feedback">Send us feedback.</a>
{% endblock %}