{% extends "basedocumentation.html" %}
{% block title %}Tools for Rightsholders {% endblock %}
{% block extra_extra_head %}
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/themes/ui-lightness/jquery-ui.css" type="text/css" media="screen">
<link href="/static/selectable/css/dj.selectable.css" type="text/css" media="all" rel="stylesheet" />
<script type="text/javascript" src="{{ jquery_ui_home }}"></script>
<script type="text/javascript" src="/static/selectable/js/jquery.dj.selectable.js"></script>

{% endblock %}

{% block topsection %}
{% endblock %}

{% block doccontent %}

<h1>unglue.it Tools for Rightsholders</h1>

<div class="presstoc"><div class="pressemail">
Any questions not covered here?  Please email us at <a href="mailto:rights@gluejar.com">rights@gluejar.com</a>.
</div></div>

<h2>Getting started</h2>
<p>
    <a href="/static/images/How_to_claim_your_work.mp4">How to claim your work</a> (screencast)
</p>

<p>
    <a href="/static/images/How_to_set_up_your_campaign.mp4">How to set up your campaign</a> (screencast)
</p>

<p>
    <a href="/static/images/How_to_embed_a_widget.mp4">How to embed a widget for your book</a> in your blog, web site, etc. (screencast)
</p>

<p>
    <a href="/static/images/How_to_embed_a_PDF.mp4">How to embed a PDF</a> in your campaign page (screencast)
</p>

<p>
    <a href="/static/images/How_to_embed_a_video.mp4">How to embed a video</a> in your campaign page (screencast)
</p>

{% if campaigns %}
<h2>Campaigns You Manage</h2>
	<dl>
	{% for campaign in campaigns %}
		<dt>Work: <a href="{% url work work_id=campaign.work.id %}">{{campaign.work.title }}</a></dt>
		<dd>
			<div class="work_campaigns clearfix">
			<div class="campaign_info">
			Campaign: {{ campaign.name }}<br />
			Campaign status: {{ campaign.status }}	<br />
			Created: {{ campaign.created }}<br />
			${{ campaign.current_total }} pledged of ${{ campaign.target }}, {{ campaign.supporters_count }} supporters
			</div>
			{% if campaign.status = 'ACTIVE' or campaign.status = 'INITIALIZED' %}
				<div>
					<a href="{% url manage_campaign campaign.id %}" class="manage">Manage This Campaign</a>
				</div>
			{% endif %}
			{% if campaign.clone_form %}
				<div>
				<form method="POST" action="#">
					{% csrf_token %}
					{{ campaign.clone_form }}{{ campaign.clone_form.errors }}				
					<input type="submit" name="clone" value="Clone this Campaign">
				</form>
				</div>
			{% endif %}
			</div>
		</dd>
	{% endfor %}
	</dl>
{% endif %}
{% if request.user.rights_holder.count %}
<h2>Works You Have Claimed</h2>
	<dl>
	{% for claim in claims %}
		<dt>Title: <a href="{% url work work_id=claim.work.id %}">{{claim.work.title }}</a>&nbsp;&nbsp;&nbsp;(work #{{ claim.work.id }})</dt>
		<dd>Author: {{claim.work.author }}
			<br />On Behalf of: {{ claim.rights_holder.rights_holder_name }}
			<br />PSA #: {{ claim.rights_holder.id }}
			<br />Date of Claim : {{ claim.created }}
			<br />Status of Claim: {{ claim.get_status_display }}
			{% if claim.can_open_new  %}
			<h3>Open a blank campaign for this work</h3>
			<form method="POST" action="#">
				{% csrf_token %}
				<p>Name the Campaign: {{ claim.campaign_form.name }}{{ claim.campaign_form.name.errors }}</p>
				<p>Choose your Campaign Manager(s): {{ claim.campaign_form.managers }}{{ claim.campaign_form.managers.errors }}</p>
				<p>
				{{ claim.campaign_form.work }}{{ claim.campaign_form.work.errors }}
				{{ claim.campaign_form.userid }}{{ claim.campaign_form.userid.errors }}
				</p>
				
				<input type="submit" name="submit" value="Open Campaign">
			</form>
			{% else %}{%if claim.campaigns %}			
			<h3>Campaigns for this work</h3>
			{% for campaign in claim.campaigns %}
			<div class="work_campaigns clearfix">
				{% if campaign.status = 'ACTIVE' or campaign.status = 'INITIALIZED' %}
					<div class="campaign_info">
						Name: Your campaign, "{{ campaign.name }}", is {{ campaign.status }}<br />
						Created: {{ campaign.created }}<br />
						Manager(s): {% for user in campaign.managers.all %} <a href="{% url supporter user.username %}">{{ user.username }} </a> {% endfor %}
							<form method="POST" action="#">{% csrf_token %}
								Add/Remove Managers: {{ campaign.edit_managers_form.managers }}{{ campaign.edit_managers_form.managers.errors }}
								<input type="submit" name="edit_managers_{{campaign.id}}" value="Save Managers">
							</form>
					</div>
					{% if request.user in campaign.managers.all %}
						<div>
							<a href="{% url manage_campaign campaign.id %}" class="manage">Manage This Campaign</a>
						</div>
					{% endif %}
				{% else %}
					<div class="campaign_info">
						Name: Your campaign, "{{ campaign.name }}", is {{ campaign.status }}<br />
						Created: {{ campaign.created }}<br />
						Manager(s): {% for user in campaign.managers.all %} <a href="{% url supporter user.username %}">{{ user.username }} </a> {% endfor %}
						<br />
						${{ campaign.current_total }} pledged of ${{ campaign.target }}, {{ campaign.supporters_count }} supporters
					</div>
				{% endif %}
			</div>
			{% endfor %}
			{% endif %}
			{% endif %}
		</dd>
	{% endfor %}
	</dl>
{% endif %}
{% if request.user.rights_holder.count %}
<h2>Rights Holders That You Administer</h2>
	<dl>
		{% for rights_holder in request.user.rights_holder.all %}
		<dt>Name: {{ rights_holder.rights_holder_name }}&nbsp;&nbsp;&nbsp;(rights holder #{{ rights_holder.id }})</dt>
		<dd>PSA #: {{ rights_holder.id }}
		<br />contact email: {{ rights_holder.email }}</dd>
		{% endfor %}
	</dl>
{% else %}
<I>If you were a registered rights holder with Unglue.it, you'd be able to see and manage your campaigns here.  If you hold electronic rights to one or more works and you'd like to be a registered rights holder, please contact us at <a href="mailto:rights@gluejar.com">rights@gluejar.com</a>.</I>
{% endif %}
<h2>How to launch an Unglue.it campaign</h2>

<ol>
    {% if not request.user.is_authenticated %}<li>{% else %}<li class="checked">{% endif %}Set up an Unglue.it account (start at the Sign Up button at the top of the page).</li>
	{% if not request.user.rights_holder.count %}<li>{% else %}<li class="checked">{% endif %}Email rights@gluejar.com about becoming an authorized rights holder.</li>
	{% if not request.user.rights_holder.count %}<li>{% else %}<li class="checked">{% endif %}After we review your credentials, sign a Platform Services Agreement (available from us).</li>
	<li>Claim your work(s):</li>
	<ul>
	    <li>Find them through the search box at the top of every page.</li>
	    <li>Use the Claim option on the Rights tab of each book's page.</li>
	    <li>Agree to our <a href="{{ termsurl }}">Terms</a> on the following page.  This includes agreeing that you are making the claim in good faith and can substantiate that you have legal control over worldwide electronic rights to the work.</li>
	    <li>If you have any questions or you claim a work by mistake, email us.</li>
	    <li>We will review your claim.  We may contact you at {{ request.user.email }} if we have any questions.  If this is the wrong email address, please <a href="{% url regluit.frontend.views.edit_user %}">change the email address</a> for your account.</li>
	</ul>
	<li>Once your claim is approved, you can set up a campaign for it.  All the campaigns you can manage will be listed on this page.</li>
	<li>You may optionally add other Unglue.it users as campaign managers, if you'd like them to be able to edit your campaign.  That option will also appear on this page.</li> 
</ol>

<h2>Rewards</h2>

<p>Campaigns can have rewards as a way to motivate and thank supporters.  You are strongly encouraged to add rewards - they are given special prominence on the campaign page.</p>

<p>What should you add as rewards?  Anything (legal) that you think you can reasonably deliver that will get supporters excited about the book.  For example: other books, whether electronic or physical; artwork or multimedia relating to the book, its author, or its themes; in-person or online chats with the author; memorabilia.</p>

<h2>Acknowledgements</h2>
<p>Here are the standard acknowledgements.  These automatically combine with your rewards.  For example, if you offer a $30 reward, ungluers who pledge $30 will receive the $25 acknowledgement as well.</p>
<ul class="terms">
<li><em>Any amount</em> &#8212; The unglued ebook</li>
<li><em>$25 and above</em> &#8212; Their name in the acknowledgements section under "supporters"</li>
<li><em>$50 and above</em> &#8212; Their name &amp; profile link under "benefactors"</li>
<li><em>$100 and above</em> &#8212; Their name, profile link, &amp; a dedication under "bibliophiles"</li>
</ul>

<h2>More Questions</h2>
<p> Check the FAQ to the left, or <a href="/feedback">send us feedback.</a>
{% endblock %}