{% extends "basedocumentation.html" %}
{% block title %}Tools for Rightsholders {% endblock %}
{% block doccontent %}

<h1>unglue.it Tools for Rightsholders</h1>
{% if request.user.rights_holder.count %}
<h2>Rights Holders That You Administer</h2>
	{% for rights_holder in request.user.rights_holder.all %}
	<h3>Name: {{ rights_holder.rights_holder_name }}</h3>
	<p>PSA #: {{ rights_holder.id }}<br/>
	contact email: {{ rights_holder.email }}<br/>
	</p>
	{% endfor %}
{% endif %}
{% if request.user.rights_holder.count %}
<h2>Works You Have Claimed</h2>
	{% for claim in request.user.claim.all %}
	<h3>Title: <a href="{% url work work_id=claim.work.id %}">{{claim.work.title }}</a></h3>
	<p>Author: {{claim.work.author }}</p>
	<p>On Behalf of: {{ claim.rights_holder.rights_holder_name }}</p>
	<p>PSA #: {{ claim.rights_holder.id }}</p>
	<p>Date of Claim : {{ claim.created }}</p>
	<p>Status: {{ claim.status }}</p>
	{% endfor %}
{% endif %}

<h2>How to launch an Unglue.it campaign</h2>

<ol>
	<li>
	In order to launch a campaign, the rights holder must first sign and submit an Unglue.it Platform Services Agreement. 
	Unglue.it staff will review the credentials of the rights holder and enter it into the system, along with an email address and the username for the person who will use the Unglue.it rights holder tools on behalf of the rights holder.
	If your unglue.it account has been associated with a rights holder, the name and contact address of that rights holder should appear above.
	</li>
	<li>
	The next step for a rights holder is to claim works from the Unglue.it database. Find the work by adding it to you wishlist. 
	On the "details" tab of the work's page, you will find a form that allows you to enter a claim.
	When you enter a claim, you will be asked to agree to terms and conditions, in which you agree that you're making the claim in good faith, and that you can substantiate that you have legal control over rights to the work.
	If you claim a work by mistake, please contact Unglue.it rights holder relations immediately: rights@gluejar.com
	</li>
	<li>
	Once a claim is made, it will be reviewed by Unglue.it staff. 
	We'll make sure that the the claim is in order, and we may contact you at {{ request.user.email }} if we have any questions.
	We may want to look over publishing contracts, etc., to make sure you have sufficient rights to unglue the book.
	</li>
	
</ol>

<h2>Rightsholder social media tools</h2>

<a href="/stub/rightsholder_social_media_toolkit">Needs to be written.</a>

<h2>Rewards</h2>

Campaigns have rewards as a way to thank supporters.  unglue.it includes a standard set of rewards in all campaigns.  You are encouraged to add additional sweeteners to motivate people to donate.

Here are the standard rewards:
<ul>
<li><em>Any level</em> &#8212; The unglued ebook delivered to your inbox</li>
<li><em>$25</em> &#8212; Your name under "supporters" in the acknowledgements section</li>
<li><em>$50</em> &#8212; Your name & link of your choice under "benefactors"</li>
<li><em>$100</em> &#8212; Your name, link of your choice, & a brief message (140 characters max) under "bibliophiles"</li>
</ul>

<h2>More Questions</h2>

{% endblock %}