{% extends "basedocumentation.html" %}
{% block title %}Tools for Rightsholders {% endblock %}
{% block doccontent %}

<h1>unglue.it Tools for Rightsholders</h1>
{% if request.user.rights_holder %}
<h2>Rights Holders That You Administer</h2>
	{% for rights_holder in request.user.rights_holder.all %}
	<h3>Name: {{ rights_holder.rights_holder_name }}</h3>
	<p>PSA #: {{ rights_holder.id }}<br/>
	contact email: {{ rights_holder.email }}<br/>
	</p>
	{% endfor %}
{% endif %}

<h2>Rightsholder FAQ/How to launch a campaign</h2>

<a href="/stub/rightsholder_faq_and_campaign_launch_procedure">Needs to be written.</a>

<h2>Rightsholder social media tools</h2>

<a href="/stub/rightsholder_social_media_toolkit">Needs to be written.</a>

<h2>Rewards</h2>

Campaigns have rewards as a way to thank supporters.  unglue.it includes a standard set of rewards in all campaigns.  You are encouraged to add additional sweeteners to motivate people to donate.

Here are the standard rewards:
<ul>
<li><em>Any level</em> &#8212; The unglued ebook delivered to your inbox</li>
<li><em>$25</em> &#8212; Your name under "supporters" in the acknowledgements section</li>
<li><em>$50</em> &#8212; Your name & link of your choice under "benefactors"</li>
<li><em>$100</em> &#8212; Your name, link of your choice, & a brief message (140 characters max) under "bibliophiles"</li>
</ul>

{% endblock %}