{% extends "base.html" %}

{% block content %}

<h1>unglue.it tools for rightsholders</h1>

<h2>Rightsholder social media tools</h2>

Coming soon.

<h2>Rewards</h2>

Campaigns have rewards as a way to thank supporters.  unglue.it includes a standard set of rewards in all campaigns.  You are encouraged to add additional sweeteners to motivate people to donate.

Here are the standard rewards:
<ul>
<li><em>Any level</em> &#8212; The unglued ebook delivered to your inbox</li>
<li><em>$25</em> &#8212; Your name under "supporters" in the acknowledgements section</li>
<li><em>$50</em> &#8212; Your name & link of your choice under "benefactors"</li>
<li><em>$100</em> &#8212; Your name, link of your choice, & a brief message (140 characters max) under "bibliophiles"</li>
</ul>

{% endblock %}