{% extends "basedocumentation.html" %}
{% block base_js %}{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/themes/ui-lightness/jquery-ui.css" type="text/css" media="screen">
{{ form.media.css }}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js"></script>
{{ form.media.js }}
{% endblock %}

{% block doccontent %}

<h1>Rights Holder Admin</h1>

<h2> Create New Rights Holder </h2>
<form method="POST" action="#">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" name="create_rights_holder" value="Create" id="submit">
</form>

<h2> Accepted Rights Holders </h2>
{% for rights_holder in rights_holders %}
	<h3>{{ rights_holder.rights_holder_name }}</h3><p>
	PSA #: {{ rights_holder.id }}<br/>
	email: {{ rights_holder.email }}<br/>
	owner: <a href="{% url supporter supporter_username=rights_holder.owner %}">{{ rights_holder.owner }}</a></p>
{% empty %}
<p>No rights holders have been accepted yet</p>
{% endfor %}

{% if pending %}
<h2> Pending Claims </h2>
<form method="POST" action="#">
    {{ pending_formset.management_form }}
    {% csrf_token %}
{% for claim, claim_form in pending %}
	<h3>Title: <a href="{% url work work_id=claim.work.id %}">{{claim.work.title }}</a></h3>
	<p>Author: {{claim.work.author }}</p>
	<p>By: {{ claim.user.username }}
	<p>On Behalf of: {{ claim.rights_holder.rights_holder_name }}</p>
	<p>PSA #: {{ claim.rights_holder.id }}</p>
	<p>Date of Claim : {{ claim.created }}</p>
	<p>Status: {{ claim.status }}</p>
	<p> Change to:</p> {{ claim_form.as_p }}
    <input type="submit" name="set_claim_status" value="Set Claim Status" id="submit">
{% endfor %}
</form>
{% endif %}

{% if active_data.count %}
<h2> Active Claims </h2>
{% for claim in active_data %}
	<h3>Title: <a href="{% url work work_id=claim.work.id %}">{{claim.work.title }}</a></h3>
	<p>Author: {{claim.work.author }}</p>
	<p>By: {{ claim.user.username }}
	<p>On Behalf of: {{ claim.rights_holder.rights_holder_name }}</p>
	<p>PSA #: {{ claim.rights_holder.id }}</p>
	<p>Date of Claim : {{ claim.created }}</p>
	<p>Status: {{ claim.status }}</p>
{% endfor %}
{% endif %}

{% endblock %}