{% extends 'basedocumentation.html' %}


{% block extra_extra_head %}
{{ block.super }}
<link rel="stylesheet" href="{{ jquery_ui_theme }}" type="text/css" media="screen">
{{ form.media.css }}
<script type="text/javascript" src="{{ jquery_ui_home }}" ></script>
{{ form.media.js }}
{% endblock %}

{% block doccontent %}
<h2>Admin Links</h2>
<ul>
<li><a href="/admin/">Admin</a></li>
<li><a href="{% url 'new_libraries' %}">Libraries Needing Approval</a></li>
<li><a href="{% url 'press_submitterator' %}">Press Coverage</a></li>
<li><a href="{% url 'subjects' %}">Subjects</a> (set keywords)</li>
{% if facet = 'top' %}
<li><a href="{% url 'accepted' %}">Accepted Rights Holders</a></li>
{% else %}
<li><a href="{% url 'rh_admin' %}">Unglue.it Admin</a></li>
{% endif %}
</ul>
{% if facet = 'accepted' %}
<h3> Accepted Rights Holders </h3>
<dl>
{% for rights_holder in rights_holders %}
	<dt>{{ rights_holder.rights_holder_name }}</dt>
	<dd>Agreement #: {{ rights_holder.id }}
	<br />email: {{ rights_holder.email }}
	<br />owner: <a href="{% url 'supporter' rights_holder.owner %}">{{ rights_holder.owner }}</a></dd>
{% empty %}
<p>No rights holders have been accepted yet</p>
{% endfor %}
</dl>
{% else %}
<h2>Rights Holder Admin</h2>

{% if pending %}
<h3> Pending Rights Holders </h3>
<form method="POST" action="#">
    {{ pending_formset.management_form }}
    {% csrf_token %}
<dl>
{% for rights_holder, rh_form in pending %}
    <dt>Rights Holder: {{ rights_holder.rights_holder_name }} <a href="{% url 'admin:core_rightsholder_change' rights_holder.id %}">edit</a></dt>
    <dd style='margin-left: 2em'>Unglue.it Username for Rights Holder: {{ rights_holder.owner.username }}<br />
    Business Address: <br />
<pre>{{ rights_holder.address }}</pre><br />
    Mailing Address: <br />
<pre>{{ rights_holder.mailing }}</pre><br />
    Tel: {{ rights_holder.telephone }} <br />
    Email: {{ rights_holder.email }}<br />
    Signer Name: {{ rights_holder.signer }}<br />
    Signer Title: {{ rights_holder.signer_title }}<br />
    Signature: {{ rights_holder.signature }}<br />
    {% if rights_holder.claim.all.count %}
    Claims:
    <ul>
    {% for claim in rights_holder.claim.all %}
    <li><a href='{% url 'work' claim.work_id %}'>{{ claim.work.title }}</a></li>
    {% endfor %}
    </ul>
    {% endif %}
    {{ rh_form.as_p }}  
    </dd>
{% endfor %}
</dl>
    <input type="submit" name="approve_rights_holder" value="Approve Rights Holders" id="submit">
</form>
{% else %}
No rightsholders pending.
{% endif %}
{% endif %}

{% endblock %}