{% extends "base.html" %}

{% block extra_head %}
<script type="text/javascript">
$(document).ready(function() {
    $(".add-wishlist").each(function (index, element) {
        $(element).click(function() {
            var span = $(element).find("span");
            var gb_id = span.attr('id')
            if (!gb_id) return;
            $.post('/wishlist/', {'googlebooks_id': gb_id}, function(data) {
                span.fadeOut();
                var newSpan = $("<span>On Your Wishlist!</span>").hide();
                span.replaceWith(newSpan);
                newSpan.fadeIn();
                newSpan.removeAttr("id");
            });
        });
    });
});
</script>
{% endblock %}

{% block title %}Search Results{% endblock %}

{% block content %}
    <div id="main-container">
    <div class="js-main">

{% include "explore.html" %}

        <div id="js-maincol-fr">
        <div class="js-maincol-inner">
            <div class="content-block">
                <div class="content-block-heading">
                    <h2 class="content-heading">Search Results</span></h2>
                        <ul class="book-list-view">
                            <li>View As:</li>
                            <li class="view-list">
                                <a href="#view-list">
                                <img src="/static/images/booklist/view-list.png" align="view list" title="view list" height="21" width="24" />
                                </a>
                            </li>
                            <li class="view-list">
                                <a href="#view-icon">
                                <img src="/static/images/booklist/view-icon.png" align="view icon" title="view icon" height="22" width="22" />
                                </a>
                            </li>
                            <li class="view-list">
                            <a href="#view-icon-small">
                            <img src="/static/images/booklist/view-small-icon.png" align="view icon small" title="view icon small" height="22" width="22" />
                            </a>
                            </li>
                        </ul>
                </div>
                <div class="content-block-content">
                    {% for result in results %}
                    <div class="book-list {%cycle 'row1' 'row2' %}">
                        <div class="book-thumb">
                            <a href="#"><img src="{{ result.image }}" alt="{{ result.title }}" title="{{ result.title }}"  /></a>
                        </div>
                        <div class="book-name">
                        <span>
                            {{ result.title }}
                        </span>
                        </div>
                        <div class="add-wishlist">
                            {% if result.on_wishlist %}
                            <span>On Your Wishlist!</span>
                            {% else %}
                            <span id="{{ result.googlebooks_id }}">Add to Wishlist</span>
                            {% endif %}
                        </div>
                        <div class="booklist-status">
                            <span class="booklist-status-text">Status: In Progress</span>
                            <span class="booklist-status-img">
                                <img src="/static/images/booklist/icon1.png" title="book list status" alt="book list status" />
                            </span>
                        </div>
                        <div class="unglue-this none">
                            <div class="unglue-this-inner1">
                                <div class="unglue-this-inner2">
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>    
        </div>
        </div>
    </div>
    </div>

{% endblock %}
