{% extends "base.html" %}

{% block extra_head %}
<link rel="stylesheet" href="/static/css/book_list.css">
<link rel="stylesheet" href="/static/css/book_panel.css">

<script type="text/javascript" src="/static/js/wishlist.js"></script>
<script type="text/javascript" src="/static/js/greenpanel.js"></script>
<script type="text/javascript" src="/static/js/toggle.js"></script>
{% endblock %}

{% block title %}Search Results{% endblock %}

{% block content %}
    <div id="main-container">
    <div class="js-main">
        <div id="js-leftcol">
            {% include "explore.html" %}
        </div>

        <div id="js-maincol-fr">
        <div class="js-maincol-inner">
            <div class="content-block">
                <div class="content-block-heading">
                    <h2 class="content-heading">Search Results</span></h2>
                        <ul class="book-list-view">
                            <li>View As:</li>
                            <li class="view-list">
                                <a href="#" id="toggle-list">
                                <img src="/static/images/booklist/view-list.png" align="view list" title="view list" height="21" width="24" />
                                </a>
                            </li>
                            <li class="view-list">
                                <a href="#" id="toggle-panel">
                                <img src="/static/images/booklist/view-icon.png" align="view icon" title="view icon" height="22" width="22" />
                                </a>
                            </li>
                        </ul>
                </div>
                <div class="content-block-content">
                    {% for result in results %}
                    <div class="listview tabs tabs-1">
                    <div class="listview book-list {% cycle 'row1' 'row2' %}">
                        <div class="listview book-thumb">
                            <a href="#"><img src="{{ result.image }}" alt="{{ result.title }}" title="{{ result.title }}"  /></a>
                        </div>
                        <div class="listview book-name">
                            <div class="title">
								<a href="/workstub/{{ result.urltitle }}/{{ result.urlimage }}/{{ result.urlauthor }}/{{ result.googlebooks_id }}">{{ result.title }}</a>
                            </div>
                            <div class="listview author {{ result.author }}">{{ result.author }}</div>
                        </div>
                        {% if request.user.is_anonymous %}
                        <div class="listview create-account">
                            <span>Add to Wishlist</span>
                        </div>
                        {% else %}
                        <div class="listview add-wishlist">
                            {% if result.on_wishlist %}
                            <span class="on-wishlist">On Your Wishlist!</span>
                            {% else %}
                            <span id="{{ result.googlebooks_id }}">Add to Wishlist</span>
                            {% endif %}
                        </div>
                        {% endif %}
                        <div class="listview booklist-status">
                            <span class="booklist-status-label">Status:&nbsp;</span><span class="booklist-status-text">{{ result.last_campaign_status }}</span>
                        </div>
                        <div class="listview icons">
                            <span class="booklist-status-img">
                                <img src="/static/images/images/icon-book-37by25-4.png" title="book list status" alt="book list status" />
                            </span>
                        </div>
                        <div class="listview ebooks">
                            {% if result.epub %}
                            <span class="listview boolist-ebook">
                                <a href="{{ result.epub }}">epub</a>
                            </span>
                            {% endif %}
                            {% if result.pdf %}
                            <span class="listview boolist-ebook">
                                <a href="{{ result.pdf }}">pdf</a>
                            </span>
                            {% endif %}
                        </div>
                        <div class="unglue-this none">
                            <div class="unglue-this-inner1">
                                <div class="unglue-this-inner2">
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                    {% empty %}
                    <h2>Sorry, couldn't find that!</h2>
                    <div class="js-search">
                        <div class="js-search-inner">
                            <form action="{% url search %}" method="get"> 
                                <input type="text" placeholder="Search for a book..." size="25" class="inputbox" name="q">
                                <input type="button" onclick="this.form.searchword.focus();"  class="button" value="Search">
                            </form>
                        </div>
                    </div>

                    {% endfor %}
                </div>
            </div>    
        </div>
        </div>
    </div>
    </div>

{% endblock %}
