<html>
<body>
<h2> Set up campaign </h2>
<pre>title: Love Like Gumbo
Author: Nancy Rawles
published: 1997
language: English
ISBNs
</pre>
<form action="#">

<h3>Description of the work to be offered</h3>
This should include 
<ul>
<li> a synopsis of the work.
<li> hyperlinks for the author(s), publisher making the offer, or for the work itself.
</ul>
<textarea cols="80">
</textarea>
<h3>Offer details</h3>
This should include 
<ul>
<li> Details about the edition being offered.
<li> hyperlinks for the author(s), publisher making the offer, or for the work itself.
</ul>
</form>
</body>
</html>
