{% with request.user.wishlist.works.all as wishlist %}
<h3><span>{% if faqmenu %}You might also like...{% else %}Top ungluing campaigns{% endif %}</span></h3>
<div class="jsmod-content">
	<div id="js-slideshow">
		<div class="slides_container">
			<div class="slide-page slide-page1">
				{% for work in works %}
				{% with work.googlebooks_id as googlebooks_id %}					
				<div class="spacer">
					{% include "book_panel.html" %}
				</div>
				{% endwith %}
				{% endfor %}
			</div>
			<div class="slide-page slide-page2">
				{% for work in works2 %}
				{% with work.googlebooks_id as googlebooks_id %}					
				<div class="spacer">
					{% include "book_panel.html" %}
				</div>
				{% endwith %}
				{% endfor %}
			</div>
		</div>
	</div>	
</div>
{% endwith %}