{% extends 'basedocumentation.html' %}

{% block title %}Work-linked Surveys {% endblock %}

{% block topsection %}
{% endblock %}

{% block doccontent %}

<h1>unglue.it Survey Tools </h1>
{% if request.user.is_anonymous %}

<span class="errorlist">You must be logged in to use survey tools</span>
{% endif %}
<h2 id="open_campaigns">Works You Can Use for Surveys</h2>
<dl>
{% for work in works %}

<dt><a href="{% url 'work' work.id %}">{{ work }}</a></dt>
<dd>
<dl>
{% for landing in work.landings.all %}
<dt>Configured survey: {{ landing }} </dt>
<dd>Link: {{ landing.url }}<br />
Completed {{ landing.runinfohistory_set.all.count }} times</dd>
{% endfor %}
</dl>
<a href="{% url 'new_survey' work.id %}">Set up a new survey</a> for this work.<br />
{% for survey in surveys %}
    <a href="{% url 'survey_answers' survey.id work.id %}">Export</a> or  <a href="{% url 'survey_summary' survey.id work.id %}">Summarize</a> answers to {{ survey }} for this work.<br />
    
{% endfor %}
</dd>
{% empty %}
<dt>No works available</dt>
<dd>To run a survey for a book, you need to be an unglue.it rights holder and claim the book</dd>
{% endfor %}
</dl>
<p>
<a href="{% url 'new_survey' '' %}">Set up a survey</a> using isbn. <br />
{% for survey in surveys %}
    <a href="{% url 'survey_answers' survey.id '' %}">Export all my answers to {{ survey }}</a>.<br />
        <a href="{% url 'survey_summary' survey.id '' %}">Summarize my responses to {{ survey }}</a>.<br />

    {% if request.user.is_staff %}<a href="{% url 'survey_answers' survey.id '0' %}">Export ALL answers to {{ survey }}</a>.<br />
    <a href="{% url 'survey_summary' survey.id '0' %}">Summarize ALL responses to {{ survey }}</a>.<br />
    {% endif %}
    
{% endfor %}

</p>

<p>
Add "?next=https://example.com/any_url" to the end of a survey url to add a redirect on completion of the survey.
</p>
{% endblock %}