{% load humanize %}
{% load libraryauthtags %}
<div class="trans_summary">
{% ifequal transaction.campaign.type 1 %}
    Your pledge: ${{transaction.amount|intcomma}}.<br />
    Your premium: {% if transaction.premium %}{{ transaction.premium.description }}{% else %}You did not request a premium for this campaign.{% endif %}<br />
    {% if transaction.anonymous %}You asked to pledge anonymously, so you will be counted but not named on the list of supporters.<br />{% endif %}<br />
    Acknowledgements: <ul>
		<li>The unglued ebook will be delivered to your inbox.</li>
	{% if not transaction.anonymous %}
		{% ifequal transaction.tier 1  %}
		<li>You will be listed as a Supporter using the name "<i>{{ transaction.extra.ack_name }}</i>".</li>
		{% endifequal %}
		{% ifequal transaction.tier 2  %}
		<li>You will be listed as a Benefactor using the name "<i>{{ transaction.extra.ack_name }}</i>" with a link to your Unglue.it supporter page.</li>
		{% endifequal %}
		{% ifequal transaction.tier 3  %}
		<li>You will be listed as a Bibliophile using the name "<i>{{ transaction.extra.ack_name }}</i>" with a link to your Unglue.it supporter page.</li>
		{% endifequal %}
	{% endif %}
	{% if transaction.extra.ack_dedication %}
	    <li>The following dedication will be included: <i>{{ transaction.extra.ack_dedication }}</i></li>
	{% endif %}
	</ul>
{% endifequal %}
{% ifequal transaction.campaign.type 2 %}
    {% ifequal transaction.host 'credit' %}
        Amount: ${{transaction.max_amount|intcomma}}.<br />
        This amount has been deducted from your Unglue.it credit balance.<br />
        You have ${{request.user.credit.available|intcomma}} of credit left.<br />
    {% else %}
        Total: ${{transaction.max_amount|intcomma}}.<br />
        {% if transaction.max_amount > transaction.amount %}
            Your credit card has been charged ${{transaction.amount}}.<br />
            The rest has been deducted from your unglue.it credit balance.<br />
            You have ${{request.user.credit.available|intcomma}} of credit left.<br />
        {% else %}
            This amount has been charged to your credit card.<br />
        {% endif %}
    {% endifequal %}
    License type: {{ transaction.offer.get_license_display }}<br />
	{% ifequal transaction.offer.license 2 %}
	    Receiving library: {{ transaction.extra.library_id|libname }}<br />
	    Number of copies: {{ transaction.extra.copies }}
	{% endifequal %}
{% endifequal %}
</div>
