{% extends 'base.html' %}

{% load el_pagination_tags %}
{% load lang_utils %}
{% load sass_tags %}

{% block title %} Ready-to-Read Works {% if pub_lang %} in {{pub_lang|ez_lang_name}}{% endif %}{% endblock %}
{% block extra_css %}
<link type="text/css" rel="stylesheet" href="{% sass_src 'scss/supporter_layout.scss' %}" />
<link type="text/css" rel="stylesheet" href="{% sass_src 'scss/book_list.scss' %}" />
<link type="text/css" rel="stylesheet" href="{% sass_src 'scss/book_panel2.scss' %}" />
<link type="text/css" rel="stylesheet" href="{% sass_src 'scss/lists.scss' %}" />
{% endblock %}
{% block extra_head %}
<script type="text/javascript" src="/static/js/wishlist.js"></script>
<script type="text/javascript" src="{{ jquery_ui_home }}"></script>
<script type="text/javascript" src="/static/js/greenpanel.js"></script>
<script type="text/javascript" src="/static/js/toggle.js"></script>
<script type="text/javascript" src="/static/js/hijax_unglued.js"></script>
<script type="text/javascript" src="/static/js/tabs.js"></script>
{% endblock %}
{% block topsection %}
<div id="locationhash">{{ activetab }}</div>
<div id="js-topsection">
    <div class="js-main">
        <div class="js-topnews">
            <div class="js-topnews1">
                <div class="js-topnews2">
                    <div class="js-topnews3">
                        <div class="user-block">
                            <div id="user-block1">
                            	<div id="block-intro-text"><span class="special-user-name">Ready to Read</span></div>
                            </div>
                            <div class="user-block2"><span class="user-short-info">These {% if pub_lang %}{{ pub_lang|ez_lang_name }} language {% endif %}ebooks are ready to read - either they're in the public domain, or they've been unglued by people like you.</span>
                            </div>
                            <div class="user-block3">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
</div>

{% endblock %}

{% block content %}
<div id="main-container">
    <div class="js-main">
        <div id="js-leftcol">
            {% include "explore.html" %}
        </div>

        <div id="js-maincol-fr">
        <div class="js-maincol-inner">
            <div id="content-block">
                <div class="content-block-heading unglued" id="tabs">
                    <ul class="tabs">
                    {% if request.GET.pub_lang %}
                        {% with request.GET.pub_lang as pub_lang %}
                            <li class="tabs1"><a href="{% url 'unglued_list' '' %}?pub_lang={{ pub_lang }}" class="hijax_unglued">Unglued</a></li>
                            <li class="tabs2"><a href="{% url 'unglued_list' 'cc' %}?pub_lang={{ pub_lang }}" class="hijax_unglued">Creative<br />Commons</a></li>
                            <li class="tabs3"><a href="{% url 'unglued_list' 'pd' %}?pub_lang={{ pub_lang }}" class="hijax_unglued">Public<br />Domain</a></li>
                        {% endwith %}
                    {% else %}
                        <li class="tabs1"><a href="{% url 'unglued_list' '' %}" class="hijax_unglued">Unglued</a></li>
                        <li class="tabs2"><a href="{% url 'unglued_list' 'cc' %}" class="hijax_unglued">Creative<br />Commons</a></li>
                        <li class="tabs3"><a href="{% url 'unglued_list' 'pd' %}" class="hijax_unglued">Public<br />Domain</a></li>
                    {% endif %}
                    </ul>
                    <ul class="book-list-view">
                        <li>View As:</li>
                        <li class="view-list">
                            <a href="#" id="toggle-list">
                            <img src="/static/images/booklist/view-list.png" alt="view list" title="view list" height="21" width="24" />
                            </a>
                        </li>
                        <li class="view-list">
                            <a href="#" id="toggle-panel">
                            <img src="/static/images/booklist/view-icon.png" alt="view icon" title="view icon" height="22" width="22" />
                            </a>
                        </li>
                    </ul>
                </div>
                <div id="content-block-content">
                    <div id="books-go-here">
                        {% ifequal work_list.count 0 %}
                        There aren't any {{ pub_lang|ez_lang_name }} works in this list. Why don't you add some?
                        {% else %}
                        {% lazy_paginate 20 work_list using "work_list" %}
                        {% for work in work_list %}
                        <div class="{% cycle 'row1' 'row2' %}">
                        {% with work.googlebooks_id as googlebooks_id %}	
                        {% include "book_panel.html" %}
                        {% endwith %}
                        </div>
                        {% endfor %}
                        <div class="pagination content-block-heading tabs-1">
                            {% get_pages %}
                            {% for page in pages %}
                                <a href="{{ page.path }}#1" class="endless_page_link">{{ page.number }}</a>
                            {% endfor %}
                        </div>
                        {% endifequal %}
                    </div>
                </div>
            </div>    
            {% if request.user.libpref %}
            <div id="libtools">
                <p>for libraries...</p>
                {% block marcform %}
                <form method="GET" action="{% url 'unglued_list_marc' facet %}">
                    {% include 'marc_form.html' %}
                    <input type="submit" name="submit" value="download MARC" id="submit">
                </form>
                {% endblock %}
            </div> 
            {% endif %}  
        </div>
        </div>
    </div>
    </div>
{% endblock %}
