{% extends 'base.html' %}

{% load comments %}
{% load humanize %}
{% load purchased %}
{% load lib_acqs %}
{% load sass_tags %}
{% block title %}&#151;
    {% if work.is_free %}
        {{ work.title }} is a Free eBook. {% for fmt in  work.formats %}[{{ fmt }}]{% endfor %}
    {% else %}
        Help us make  {{ work.title }} a Free eBook!
    {% endif %}{% if action == 'editions' %} – All Editions{% endif %}
{% endblock %}

{% block extra_css %}
<link type="text/css" rel="stylesheet" href="/static/css/campaign2.css"  />
{% if user.is_staff or user in work.last_campaign.managers.all %}
    <link rel="stylesheet" href="/static/css/ui-lightness/jquery-ui-1.8.16.custom.css" type="text/css" media="screen">
    {{ kwform.media.css }}
{% endif %}
<link href="{% sass_src 'scss/bookview.scss' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
    <div class="wrapper">
        <div class="bookImage">
            {% if work.uses_google_cover %}
                <div class="book-cover" id="book-detail-img">
                    <a href="{{ work.googlebooks_url }}">
                    <img src="{{ work.cover_image_thumbnail }}" alt="Find {{ work.title }} at Google Books" title="Find {{ work.title }} at Google Books" width="131" height="192" /></a>
                </div>
            {% else %}
                <div id="book-detail-img" class="book-cover" >
                    <img itemprop="image" src="{{ work.cover_image_thumbnail }}" alt="{{ work.title }}" title="{{ work.title }}" width="131" height="192" />
                </div>
            {% endif %}
        </div>
        <div class="bookDescription">
            <div class="layout">
                <h2 class="book-name" itemprop="name">{{ work.title }}</h2>
                <div>
                    <div class="pubinfo">
                        <h3 class="book-author">
                        <span  itemprop="author"><a href="{% url 'search' %}?q={{ work.relators.0.author.name|urlencode }}&amp;ty=au" />{{ work.relators.0.name }}</a></span>{% if work.authors.count == 2 %}
                            and <span  itemprop="author"><a href="{% url 'search' %}?q={{ work.relators.1.author.name|urlencode }}&amp;ty=au" />{{ work.relators.1.name }}</a></span>
                        {% endif %}{% if work.relators.count > 2 %}{% for author in work.relators %}{% if not forloop.first %}, <span  itemprop="author"><a href="{% url 'search' %}?q={{ author.author.name|urlencode }}&amp;ty=au" />{{ author.name }}</a></span>{% endif %}{% endfor %}
                        {% endif %}
                        </h3>
                        <h3 class="book-year">
                            {% if work.last_campaign.publisher %}
                            <span itemprop="publisher"><a href="{% url 'bypubname_list' work.last_campaign.publisher.name.id %}">{{ work.last_campaign.publisher }}</a></span>
                            {% endif %}
                            <span itemprop="datePublished">{{ work.publication_date }}</span>
                            <meta itemprop="inLanguage" content="work.language" />
                            <meta itemprop="typicalAgeRange" content="work.age_range" />
                        </h3>
                    </div>
                </div>
            </div>
            <div  itemprop="description">
            {% if status == 'ACTIVE'  %}
                {% if work.last_campaign.type != 3 %}
                    {{ work.last_campaign.description|safe }}
                {% else %}
                    {{ work.description|safe }}
                {% endif %}
            {% elif  work.description %}
                {{ work.description|safe }}
            {% else %}
                {{ work.last_campaign.description|safe }}
            {% endif %}
            </div>
        </div>
        <div class="bookSidebar">
            <div>
                Favorite
            </div>
            <div>
                GoodReads
            </div>
            <div>
                LibraryThing
            </div>
        </div>
        <div class="bookComments">
            <h2>Comments</h2>
        </div>
    </div>
{% endblock %}
