<div class="workbox">
    <a href="{% url work work.id %}">{{ work.title }}</a> # {{work.id }}<br />
    Language: {{ work.language }}<br />
    Editions: <ol>
    {% for edition in work.editions.all %}
        <li>
            <div class="editionbox">{{ edition.title }},  published by {{edition.publisher}} in {{ edition.publication_date }} with authors 
            {% for author in edition.authors.all %}
                {{author}}, 
            {% endfor %}

            </div>
        </li>
    {% endfor %}
    </ol>
</div>
