{% extends 'base.html' %}

{% load comments %}
{% load humanize %}
{% load purchased %}
{% load lib_acqs %}
{% block title %}&#151; 
    {% if work.is_free %}
        {{ work.title }} is a Free eBook. {% for fmt in  work.formats %}[{{ fmt }}]{% endfor %}
    {% else %}
        Help us make  {{ work.title }} a Free eBook!
    {% endif %}{% if action == 'editions' %} – All Editions{% endif %}
{% endblock %}

{% block extra_css %}
<link type="text/css" rel="stylesheet" href="/static/css/campaign2.css"  />
{% if user.is_staff or user in work.last_campaign.managers.all %}
    <link rel="stylesheet" href="/static/css/ui-lightness/jquery-ui-1.8.16.custom.css" type="text/css" media="screen">
    {{ kwform.media.css }}
{% endif %}
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{{ jquery_ui_home }}"></script>
<script type="text/javascript" src="/static/js/wishlist.js"></script>
<script type="text/javascript" src="/static/js/tabs4.js"></script>
<script type="text/javascript" src="/static/js/widgets.js"></script>
<script type="text/javascript" src="/static/js/counter.js"></script>
<script type="text/javascript" src="/static/js/embed.js"></script>
{% if user.is_staff or user in work.last_campaign.managers.all %}
    {{ kwform.media.js }}
{% endif %}

<!-- needed for DeGruyter seed description hack
     makes template vars accessible in JS
-->
<script type="text/javascript">
    var numWishers = {{ wishers }};
    
    {% if request.user.id in work.last_campaign.supporters %}
    var isSupporter = true;
    {% else %}
    var isSupporter = false;
    {% endif %}
</script>

{% endblock %}

{% block topsection %}
{% if work.last_campaign.status == 'ACTIVE' %}
    {% if request.user in work.last_campaign.managers.all %}
        <div class="launch_top pale">Hi, {{ request.user.username }}. Since you're a manager for this campaign, you can <a href="{% url 'manage_campaign' id=work.last_campaign.id %}">edit this campaign</a>.</div>
    {% endif %}
{% elif not work.user_with_rights %}
    {% if request.user.rights_holder.all %}
        <div class="launch_top pale">Hi, {{ request.user.username }}. Since you're an authorized Unglue.it rights holder, if you own the worldwide electronic rights to this work, you may claim it through the More... tab. Need help?  Check out the <a href="{% url 'rightsholders' %}">rights holder tools page</a>.</div>            
    {% endif %}
{% elif request.user == work.user_with_rights %}
    {% if work.last_campaign.status != 'SUCCESSFUL' %}
        <div class="launch_top pale">Hi, {{ request.user.username }}. Since you're a rights holder for this work, you can <a href="{% url 'rightsholders' %}">launch a campaign</a>.</div>
    {% endif %}
{% endif %}
{% endblock %}

{% block content %}  
{% purchased %}
{% lib_acqs %}
{% with work.last_campaign_status as status %} 
{% with work.id as work_id %}
    <div id="main-container" itemscope itemtype="http://schema.org/Book">
        <div class="js-main">
            <div id="js-leftcol">
                {% include "explore.html" %}
            </div>
            <div id="js-maincol">
                <div class="js-maincol-inner">
                    <div id="content-block">
                        <div class="book-detail">
                            {% if work.uses_google_cover %}
                                <div id="book-detail-img">
                                    <a href="{{ work.googlebooks_url }}">
                                    <img src="{{ work.cover_image_thumbnail }}" alt="Find {{ work.title }} at Google Books" title="Find {{ work.title }} at Google Books" width="131" height="192" /></a>
                                </div>
                            {% else %}
                                <div id="book-detail-img">
                                    <img itemprop="image" src="{{ work.cover_image_thumbnail }}" alt="{{ work.title }}" title="{{ work.title }}" width="131" height="192" />
                                </div>
                            {% endif %}
                            <div class="book-detail-info">
                                <div class="layout">
                                    <h2 class="book-name" itemprop="name">{{ work.title }}</h2>
                                <div>
                                        <div class="pubinfo">
                                            <h3 class="book-author">
                                            <span  itemprop="author"><a href="{% url 'search' %}?q={{ work.relators.0.author.name|urlencode }}&amp;ty=au" />{{ work.relators.0.name }}</a></span>{% if work.authors.count == 2 %}
                                                and <span  itemprop="author"><a href="{% url 'search' %}?q={{ work.relators.1.author.name|urlencode }}&amp;ty=au" />{{ work.relators.1.name }}</a></span>
                                            {% endif %}{% if work.relators.count > 2 %}{% for author in work.relators %}{% if not forloop.first %}, <span  itemprop="author"><a href="{% url 'search' %}?q={{ author.author.name|urlencode }}&amp;ty=au" />{{ author.name }}</a></span>{% endif %}{% endfor %}
                                            {% endif %}
                                            </h3>
                                            <h3 class="book-year"> 
                                                {% if work.last_campaign.publisher %}
                                                <span itemprop="publisher"><a href="{% url 'bypubname_list' work.last_campaign.publisher.name.id %}">{{ work.last_campaign.publisher }}</a></span>
                                                {% endif %}
                                                <span itemprop="datePublished">{{ work.publication_date }}</span>
                                                <meta itemprop="inLanguage" content="work.language" />
                                                <meta itemprop="typicalAgeRange" content="work.age_range" />
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                                {% if status == 'ACTIVE' %}
                                    {% if work.last_campaign.type != 3 %}
                                        <div class="thermometer" title="{{ work.percent_of_goal }}% of goal">
                                            <div class="cover" style="width: {{ cover_width }}%;">
                                            </div>
                                            <span>{{ work.percent_of_goal }}% of goal</span>
                                        </div>
                                    {% endif %}
                                    <div class="pledged-info noborder">
                                        <div class="campaign-status-info">
                                            {% if work.last_campaign.type == 1 %}
                                            <span>${{ work.last_campaign.current_total|floatformat:0|intcomma }}</span> pledged
                                            {% endif %}
                                            {% if work.last_campaign.type == 2 %}
                                            current ungluing date: 
                                            {% endif %}
                                            {% if work.last_campaign.type == 3 %}
                                            <span>${{ work.last_campaign.current_total|floatformat:0|intcomma }}</span> of thanks from
                                            {% endif %}
                                        </div>
                                        <div class="campaign-status-info  explainer">
                                            {% if work.last_campaign.type == 1 %}
                                            <span>${{ work.last_campaign.target|floatformat:0|intcomma }}</span> goal
                                            {% endif %}
                                            {% if work.last_campaign.type == 2 %}
                                            <span class="current_cc_date ">{{ work.last_campaign.cc_date|date:"M j, Y" }}</span>
                                            <span class="explanation">After {{ work.last_campaign.cc_date|date:"M j, Y" }} this book will be available for free to anyone, anywhere. Every purchase before then brings that date closer.</span>
                                            {% endif %}
                                            {% if work.last_campaign.type != 3 %}
                                        </div>
                                        <div class="campaign-status-info">
                                            {% endif %}
                                            {% if work.last_campaign.supporters_count == 1 %}
                                                <span>1</span> ungluer
                                            {% else %}
                                                <span>{{ work.last_campaign.supporters_count }}</span> ungluers
                                            {% endif %}                                    
                                            {% if work.last_campaign.type == 3 %}
                                                <br />
                                                {% if work.last_campaign.anon_count == 1 %}
                                                    <span>1</span> other
                                                {% else %}
                                                    <span>{{ work.last_campaign.anon_count }}</span> others
                                                {% endif %}                                    
                                            {% endif %}
                                        </div>
                                        {% if work.last_campaign.type == 2 %}
                                            <div class="campaign-status-info">
                                                {% if work.lib_acqs.count == 1 %}
                                                    <span>1</span> copy in a library
                                                {% else %}
                                                    <span>{{ work.lib_acqs.count }}</span> in libraries
                                                {% endif %}                                    
                                            </div>
                                        {% endif %}
                                        {% if work.last_campaign.type != 3 %}
                                            <div class="campaign-status-info explainer">
                                                {% if work.last_campaign.type == 1 %}
                                                <span>{{ work.last_campaign.countdown }}</span> to go
                                                {% else %}
                                                <span>${{ work.last_campaign.left|floatformat:0|intcomma  }}</span> to go
                                                <span class="explanation">${{ work.last_campaign.left|floatformat:0|intcomma  }} is the amount it would take to make this ebook free to the world tomorrow.</span>
                                               {% endif %}
                                            </div>
                                        {% endif %}
                                    </div>
                                {% else %}
                                    {% if status == 'SUCCESSFUL' %}
                                        <div class="thermometer successful">
                                            This campaign succeeded on {{ work.last_campaign.success_date|date:"M j, Y" }}.
                                        </div>
                                        <div class="pledged-info noborder">
                                            <div class="campaign-status-info">
                                                {% if work.last_campaign.supporters_count == 1 %}
                                                    <span>1</span> ungluer
                                                {% else %}
                                                    <span>{{ work.last_campaign.supporters_count }}</span> ungluers
                                                {% endif %}                                    
                                            </div>
                                            <div class="campaign-status-info">
                                                <span>${{ work.last_campaign.current_total|floatformat:0|intcomma }}</span> raised
                                            </div>
                                            <div class="campaign-status-info">
                                                <span>${{ work.last_campaign.target|floatformat:0|intcomma }}</span> goal
                                            </div>
                                            <div class="campaign-status-info">
                                                <span>Unglued!</span>
                                            </div>
                                        </div>
                                    {% endif %}
                                
                                    <div class="pledged-info">
                                        {% if wishers == 1 %}
                                            1 Ungluer has
                                        {% else %}
                                            {{ wishers }} Ungluers have
                                        {% endif %} Faved this Work
                                    </div>
                                {% endif %}
                                <div class="find-book">
                                    <label>Learn more at...</label>
                                    <div class="find-link">
                                        {% if work.googlebooks_id %}
                                            <a id="find-google" href="{{ work.googlebooks_url }}"><img src="/static/images/supporter_icons/googlebooks_square.png" title="Find on Google Books" alt="Find on Google Books" /></a>
                                        {% endif %}
                                        {% if work.first_oclc %}
                                            <a rel="nofollow" id="find-oclc" href="http://www.worldcat.org/oclc/{{ work.first_oclc }}"><img src="/static/images/supporter_icons/worldcat_square.png" title="Find on Worldcat" alt="Find on Worldcat" /></a>
                                        {% endif %}
                                        <a rel="nofollow" class="find-openlibrary" href="{% url 'work_openlibrary' work_id %}"><img src="/static/images/supporter_icons/openlibrary_square.png" title="Find on OpenLibrary" alt="Find on OpenLibrary" /></a>
                                        <a rel="nofollow" class="find-goodreads" href="{% url 'work_goodreads' work_id %}"><img src="/static/images/supporter_icons/goodreads_square.png" title="Find on GoodReads"  alt="Find on GoodReads" /></a>
                                        <a rel="nofollow" class="find-librarything" href="{% url 'work_librarything' work_id %}"><img src="/static/images/supporter_icons/librarything_square.png" title="Find on LibraryThing" alt="Find on LibraryThing" /></a>
                                    </div>
                                </div>                            
                                <div class="btn_wishlist" id="wishlist_actions">
                                    {% if request.user.is_anonymous %}
                                        <div class="create-account">
                                            <span title="{% url 'work' work_id %}">Login to Fave</span>
                                        </div>
                                    {% elif request.user.id in work.last_campaign.supporters %}
                                        <div class="add-wishlist">
                                            <span class="on-wishlist">Faved!</span>
                                        </div>
                                    {% elif work in request.user.wishlist.works.all %}
                                        <div class="remove-wishlist-workpage">
                                            <span id="w{{ work_id }}">Remove from My Faves</span>
                                        </div>
                                    {% else %}
                                        <div class="add-wishlist">
                                            <span class="work_id" id="w{{ work_id }}">Add to My Faves</span>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% get_comment_count for work as comment_count %}
                        {% if action == 'editions' %}
                        <div class="content-block-heading" id="tabs">
                            <ul class="tabs">
                                <li class="tabs1"><a href="{% url 'work' work.id %}?tab=1">{% if status == 'ACTIVE' %}Campaign{% else %}Description{% endif %}</a></li>
                                <li class="tabs2"><a href="{% url 'work' work.id %}?tab=2">Comments {% if comment_count > 0 %}({{ comment_count }}){% endif %}</a></li>
                                <li class="tabs3" id="supporters"><a href="{% url 'work' work.id %}?tab=3">Ungluers {% if wishers > 0 %}<br />({{ wishers }}){% endif %}</a></li>
                                <li class="tabs4 active"><a href="#">Editions</a></li>
                            </ul>
                        </div>
                        {% else %}
                        <div class="content-block-heading" id="tabs">
                            <ul class="tabs">
                                <li class="tabs1 {% if activetab == '1' %}active{% endif %}"><a href="#">{% if status == 'ACTIVE' %}Campaign{% else %}Description{% endif %}</a></li>
                                <li class="tabs2 {% if activetab == '2' %}active{% endif %}"><a href="#">Comments {% if comment_count > 0 %}({{ comment_count }}){% endif %}</a></li>
                                <li class="tabs3 {% if activetab == '3' %}active{% endif %}" id="supporters"><a href="#">Ungluers {% if wishers > 0 %}<br />({{ wishers }}){% endif %}</a></li>
                                <li class="tabs4 {% if activetab == '4' %}active{% endif %}"><a href="#">More...</a></li>
                            </ul>
                        </div>
                        {% endif %}
                        <div id="content-block-content">
                            <div id="tabs-1" class="tabs {% if activetab == '1' %}active{% endif %}">
                                <div class="tabs-content">
                                    <div  itemprop="description">
                                    {% if status == 'ACTIVE'  %}
                                        {% if work.last_campaign.type != 3 %}
                                            {{ work.last_campaign.description|safe }}
                                        {% else %}
                                            {{ work.description|safe }}
                                        {% endif %}
                                    {% elif  work.description %}
                                        {{ work.description|safe }}
                                    {% else %} 
                                        {{ work.last_campaign.description|safe }}
                                    {% endif %}
                                    </div>
                                    <div>
                                    {% for work_rel in work.works_related_to.all %}
                                    <p>
                                    This work is a {{ work_rel.relation }} of <a href="{% url 'work' work_rel.from_work.id %}">{{ work_rel.from_work }}</a>.
                                    </p>
                                    {% endfor %}
                                    {% for work_rel in work.works_related_from.all %}
                                    <p>
                                    <a href="{% url 'work' work_rel.to_work.id %}">{{ work_rel.to_work }}</a> is a {{ work_rel.relation }} of this work.
                                    </p>
                                    {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div id="tabs-2" class="tabs {% if activetab == '2' %}active{% endif %}">
                                <h3>Why {% if work.ebooks.all %}read{% else %}unglue{% endif %} this book? Have your say.</h3>
                                <div class="tabs-content">
                                   {% render_comment_list for work %}
                                   {% if user.is_authenticated %}
                                       {% render_comment_form for work %}
                                   {% else %}
                                   <p>You must be <a href="{% url 'superlogin' %}?next={{ request.get_full_path|urlencode }}">logged in</a> to comment.</p>
                                   {% endif %}
                                </div>
                            </div>
                            <div id="tabs-3" class="tabs {% if activetab == '3' %}active{% endif %}">
                                <div class="tabs-content">
                                    {% if request.user.is_staff or request.user in work.last_campaign.managers.all  %}
                                        <form id="contact_form" method="POST" action="#" >
                                        {% csrf_token %}
                                        <input type="hidden" name="work" value="{{ work.id }}" />
                                        {% for wish in work.wishes.all reversed %}
                                        {% with wish.wishlist.user as supporter %}
                                            <div class="work_supporter_wide">
                                                <a href="{% url 'supporter' supporter %}">
                                                    <span class="work_supporter_avatar">
                                                        <img class="user-avatar" src="{{ supporter.profile.avatar_url }}" height="50" width="50" alt="Avatar for {{ supporter }}" title="{{ supporter }}" />
                                                    </span>
                                                </a>
                                                <div class="show_supporter_contact_form" >
                                                    <img src="/static/images/icons/email.png" title="contact supporter" />
                                                </div>
                                                <div class="info_for_managers">
                                                    {{ supporter }}<br />
                                                    Wished: {{ wish.created }}<br />
                                                    {% if supporter.id in work.last_campaign.supporters %}Pledged!</br />{% endif %}
                                                    {% if supporter in work.last_campaign.ungluers.all %}Supported!</br />{% endif %}
                                                </div>
                                            </div>
                                            <div class="supporter_contact_form" ></div>
                                            <input class="supporter_contact_form" type="submit" name="msg_{{supporter.id}}" value="Send Message to {{ supporter.username }}" />
                                        {% endwith %}
                                        {% endfor %}
                                        </form>
                                    {% else %}
                                        {% for wish in work.wishes.all reversed %}
                                        {% with wish.wishlist.user as supporter %}
                                            <div class="work_supporter_nocomment" itemscope itemtype="http://schema.org/Person">
                                                <a itemprop="url" href="{% url 'supporter' supporter %}">
                                                    <span class="work_supporter_avatar">
                                                        <img class="user-avatar" src="{{ supporter.profile.avatar_url }}" height="50" width="50" alt="Avatar for {{ supporter }}" title="{{ supporter }}" />
                                                    </span>
                                                    <span class="work_supporter_name">{{ supporter }}</span>
                                                </a>
                                            </div>
                                        {% endwith %}
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                            <div id="tabs-4" class="tabs {% if activetab == '4' %}active{% endif %}">
                                <div class="tabs-content">
                                    {% if action == 'display' %}
                                        {% if status == 'ACTIVE' %}
                                            {% if work.last_campaign.type == 1 %}
                                                <h3 class="tabcontent-title">A campaign is running to unglue <i>{{work.title}}</i>!</h3>
                                                <p>The rights holder, {% for claim in work.claim.all %}
                                                    {% if claim.status == 'active' %}
                                                    {{ claim.rights_holder.rights_holder_name }}
                                                    {% endif %} 
                                                {% endfor %}
                                                , has agreed to release <i>{{work.title}}</i> to the world as a Creative Commons licensed ebook (<a href="{{ work.last_campaign.license_url }}">{{ work.last_campaign.license }}</a>) if ungluers can join together to raise ${{ work.last_campaign.target|floatformat:0|intcomma }} by {{ work.last_campaign.deadline }}.
                                                You can help!</p>
                                            {% endif %}
                                            {% if work.last_campaign.type == 2 %}
                                                <h3 class="tabcontent-title">A Buy-to-Unglue Campaign is running to unglue <i>{{work.title}}</i>!</h3>
                                                <p>The rights holder, {% for claim in work.claim.all %}
                                                    {% if claim.status == 'active' %}
                                                    {{ claim.rights_holder.rights_holder_name }}
                                                    {% endif %} 
                                                {% endfor %}
                                                , has agreed to release <i>{{work.title}}</i> to the world as a Creative Commons licensed ebook (<a href="{{ work.last_campaign.license_url }}">{{ work.last_campaign.license }}</a>) on {{ work.last_campaign.cc_date }}. For every copy that ungluers purchase, that date gets sooner. ${{ work.last_campaign.left|floatformat:0|intcomma }} of sales will unglue the book <i>TODAY</i>.
                                                You can help!</p>
                                            {% endif %}
                                            {% if work.last_campaign.type == 3 %}
                                                <h3 class="tabcontent-title">A Thanks-for-Ungluing Campaign is running to reward the creators of <i>{{work.title}}</i>!</h3>
                                                <p>The rights holder, {% for claim in work.claim.all %}
                                                    {% if claim.status == 'active' %}
                                                    {{ claim.rights_holder.rights_holder_name }}
                                                    {% endif %} 
                                                {% endfor %}
                                                , has released <i>{{work.title}}</i> to the world as a Creative Commons licensed ebook (<a href="{{ work.last_campaign.license_url }}">{{ work.last_campaign.license }}</a>) .
                                                You can help us say "Thank You!" so that other creators will do the same.</p>
                                            {% endif %}
                                            <h4>Campaign details: the fine print</h4>
                                            {{ work.last_campaign.details|safe }}
                                        {% endif %}
                                    
                                        {% if status == 'SUCCESSFUL' %}
                                            <h3 class="tabcontent-title">A campaign has succeeded to unglue <i>{{work.title}}</i>!</h3>
                                            <p>The rights holder, {% for claim in work.claim.all %}
                                                {% if claim.status == 'active' %}
                                                {{ claim.rights_holder.rights_holder_name }}
                                                {% endif %} 
                                            {% endfor %}
                                            , has agreed to release <i>{{work.title}}</i> to the world as a Creative Commons licensed ebook (<a href="{{ work.last_campaign.license_url }}">{{ work.last_campaign.license }}</a>) thanks to the efforts of ungluers like you.</p>
                                            <h4>Campaign details: the fine print</h4>
                                            {{ work.last_campaign.details|safe }}
                                        {% endif %}
                                        {% if status != 'ACTIVE' and status != 'SUCCESSFUL' %}
                                            <h4> Rights Information </h4>
                                            {% if claimstatus == 'one_active' %}
                                              <p>This work has been claimed by {{ rights_holder_name }}.</p>
                                            {% else %}
                                                {% if claimstatus == 'disputed' %}
                                                    <p>Rights claims are pending.</p>
                                                {% else %}
                                                    {% if claimstatus == 'one_pending' %}
                                                        <p>A claim for this work by {{ rights_holder_name }} is pending.</p>                              
                                                    {% else %}
                                                        {% if request.user.rights_holder.all.count %}
                                                            Is this work yours?  Claim it: <br /><br />
                                        
                                                            <form method="GET" action="{% url 'claim' %}">
                                                                {% csrf_token %}
                                                                {{ claimform.user }}
                                                                {{ claimform.work }}
                                                                {{ claimform.rights_holder }}
                                                                <input type="submit" name="submit" value="Claim" />
                                                             </form><br />
                                                        {% else %}
                                                            Are you the author or publisher of this work? If so, you can claim it as yours by <a href="{% url 'rightsholders' %}">registering as an Unglue.it rights holder</a>.
                                                        {% endif %}
                                                    {% endif %}
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                        {% if work.is_free %}
                                            <h4>Downloads</h4>
                                            <div class="pledged-info">
                                                This work has been downloaded {{ work.download_count }} times via unglue.it ebook links.
                                                <ol>
                                                {% for ebook in work.ebooks.all %}
                                                <li>{{ ebook.download_count }} -  {{ ebook.format }} {% if ebook.version_label %}  ({{ ebook.version_label }}) {% endif %}({{ ebook.rights }}) at {{ ebook.provider }}. </li>
                                                {% endfor %}
                                                </ol>
                                            </div>
                                            {% if user.is_staff %}
                                                <p>
                                                <a href="{% url 'feature' work.id %}">Feature this work today.</a>
                                                </p>
                                            {% endif %}
                                        {% endif %}
                                        {% if user.is_staff %}
                                            <h4>Related Works</h4>
                                            <div><a href="{% url 'merge' work_id  %}">Merge other works into this one</a></div>
                                        
                                        {% endif %}
                                        <h4>Keywords</h4>
                                        {% if work.subjects.all.count > 0 %}
                                            <ul id="kw_list">
                                            {% for subject in work.subjects.all %}
                                                <li itemprop="keywords">{{ subject.name }} 
                                                {% if user.is_staff or user in work.last_campaign.managers.all %}
                                                    <span class="deletebutton" data="{{ subject.name }}">x</span>
                                                {% endif %}
                                                </li>
                                            {% endfor %}
                                            </ul>
                                        {% else %}
                                            No keywords yet.
                                           <ul id="kw_list"></ul>

                                        {% endif %}
                                        {% if user.is_staff or user in work.last_campaign.managers.all %}
                                            <form method="POST"  id="kw_add_form">{% csrf_token %}
                                            {{ kwform.add_kw }}<input type="hidden" name="kw_add" value="true"> <input type="submit" name="kw_add_fake" value="add keyword" id="kw_add_form_submit" />
                                            </form>
                                        {% endif %}
                                    {% endif %}
                                    <h4>Editions</h4>
                                    {% if alert %}
                                        <div class="yikes"><br />{{ alert }}</div>
                                    {% endif %}
                                    {% if user.is_staff or user in work.last_campaign.managers.all %}
                                        <div><a href="{% url 'new_edition' work_id edition.id %}">Create a new edition for this work</a><br /><br /></div>
                                    {% endif %}
                                    
                                    {% if action == 'editions' %}
                                        {% include 'split.html' %}
                                    {% else %}
                                        {% with work.preferred_edition as edition %} 
                                            {% include 'edition_display.html' %}
                                        {% endwith %}
                                        {% if not campaign %}
                                            {% for edition in editions %}
                                                {% if edition != work.preferred_edition %}
                                                    {% include 'edition_display.html' %}
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                        <div><a href="{% url 'work_editions' work_id  %}">All editions for this work.</a></div>
                                    {% endif %}
                                    
                                </div>
                            </div>
                        </div>
                    </div>    
                </div>
            </div>
            <div id="js-rightcol">
                <div class="clearfix">
                    {% if status == 'ACTIVE' %}
                      {% if work.last_campaign.type == 1 %}
                        {% if pledged %}
                            <div class="btn_support modify"><form action="{% url 'pledge_modify' work_id %}" method="get"><input type="submit" value="Modify Pledge" /></form></div>
                        {% else %}
                            <div class="btn_support"><form action="{% url 'pledge' work_id %}" method="get"><input type="submit" value="Pledge" /></form></div>
                        {% endif %}
                      {% elif work.last_campaign.type == 3 %}
                        <div class="btn_support">
                            <a href="{% url 'download' work_id %}{% if action == 'preview' %}?testmode=1{% endif %}" class="hijax"><span>Download</span></a>
                        </div>
                        <div style="text-align: center;">... and thank the creators!</div>
                      {% elif license_is_active %}
                            <div class="btn_support">
                                <a href="{% url 'download_purchased' work_id %}" class="hijax"><span>Download</span></a>
                            </div>
                      {% elif borrowable %}
                            <div class="btn_support"><form action="{% url 'borrow' work_id %}" method="get"><input type="submit" value="Borrow" /></form></div>
                      {% else %}
                            <div class="btn_support"><form action="{% url 'purchase' work_id %}" method="get"><input type="submit" value="{% if next_acq %}{% if on_hold %}On Hold{% else %}Reserve{% endif %}{% else %}Purchase{% endif %}" /></form></div>
                      {% endif %}
                    {% elif work.is_free %}
                            <div class="btn_support">
                                <a href="{% url 'download' work_id %}" class="hijax"><span>Download</span></a>
                            </div>
                    {% endif %}
                </div>
                <br />
                <div class="js-rightcol-pad rounded">
                    {% if status == 'ACTIVE' and work.last_campaign.email %}
                    <div class="jsmodule">
                        <h3 class="jsmod-title"><span>Ask Questions</span></h3>
                        <div class="jsmod-content">
                            <ul class="social menu">
                                <a href="{% url 'ask_rh' work.last_campaign.id %}"><li class="email"><span>Email the Rights Holder</span></li></a>
                            </ul>
                        </div>
                    </div>
                    {% endif %}
                    <div class="jsmodule">
                        <h3 class="jsmod-title"><span>Share</span></h3>
                        <div class="jsmod-content">
                            <ul class="social menu">
                                <a href="https://www.facebook.com/sharer.php?u={{request.build_absolute_uri|urlencode:"" }}"><li class="facebook first"><span>Facebook</span></li></a>
                                {% if work.is_free %}
                                    <a href="https://twitter.com/intent/tweet?url={{request.build_absolute_uri|urlencode:"" }}&amp;text=I%27m%20enjoying%20{{ work.title|urlencode }}%2C%20a%20free%2C%20DRM%2Dfree%20ebook%2E%20You%20can%20too%21"><li class="twitter"><span>Twitter</span></li></a>
                                {% else %}
                                    {% if status == 'SUCCESSFUL' %}
                                        <a href="https://twitter.com/intent/tweet?url={{request.build_absolute_uri|urlencode:"" }}&amp;text=I%27m%20looking%20forward%20to the%20free%2C%20non%2DDRM%20ebook%20of%20{{ work.title|urlencode }}%2E%20You%20can%20too%21 "><li class="twitter"><span>Twitter</span></li></a>
                                    {% else %}
                                        <a href="https://twitter.com/intent/tweet?url={{request.build_absolute_uri|urlencode:"" }}&amp;text=I%27m%20ungluing%20{{ work.title|urlencode }}%20at%20%40unglueit.%20Join%20me%21"><li class="twitter"><span>Twitter</span></li></a>
                                    {% endif %}
                                {% endif %}
                                {% if request.user.is_authenticated %}<a href="{% url 'emailshare' '' %}?next={{request.build_absolute_uri|urlencode:""}}"><li class="email"><span>Email</span></li></a>{% endif %}
                                <a href="#" id="embed"><li class="embed"><span>Embed</span></li></a>
                            </ul>
                            <div id="widgetcode">
                                Copy/paste this into your site:<br /><textarea rows="7" cols="22">&lt;iframe src="https://{{request.META.HTTP_HOST}}/api/widget/{{work.id}}/" width="152" height="325" frameborder="0"&gt;&lt;/iframe&gt;</textarea></div>
                            </div>
                    </div>
                    {% if status == 'ACTIVE' %}
                        <div class="jsmodule">
                        {% if premiums %}
                                <a href="{% url 'pledge' work_id %}"><h3 class="jsmod-title"><span>Premiums</span></h3></a>
                                <div class="jsmod-content">
                                    <ul class="support menu">
                                        {% if pledged %}
                                            {% for premium in premiums %}
                                                {% if premium.limit == 0  or  premium.limit > premium.premium_count  %}
                                                    <li class="{% if forloop.first %}first{% elif forloop.last %}last{% endif %}">
                                                    <a href="{% url 'pledge_modify' work_id %}?premium_id={{premium.id}}">
                                                    <span class="menu-item-price">{% if premium.amount %}${{ premium.amount|floatformat:0|intcomma }}{% else %}Any amount{% endif %}</span>{% if pledged.0.premium == premium %}<div class="you_pledged">Yours!</div>{% endif %}
                                                    <span class="menu-item-desc">{{ premium.description }}</span>
                                                    {% if premium.limit != 0 %}<br /> Only  {{ premium.premium_remaining }} remaining! {% endif %}
                                                    </a></li>
                                                {% endif %}
                                            {% endfor %}
                                        {% else %}
                                            {% for premium in premiums %}
                                                {% if premium.limit == 0  or  premium.limit > premium.premium_count  %}
                                                    <li class="{% if forloop.first %}first{% elif forloop.last %}last{% endif %}">
                                                    <a href="{% url 'pledge' work_id %}?premium_id={{premium.id}}">
                                                    <span class="menu-item-price">${{ premium.amount|floatformat:0|intcomma }}</span>
                                                    <span class="menu-item-desc">{{ premium.description }}</span>
                                                    {% if premium.limit != 0 %}<br /> Only  {{ premium.premium_remaining }} remaining! {% endif %}
                                                    </a></li>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}                        
                                    </ul>
                                </div>
                        {% endif %}
                        {% if work.last_campaign.type == 1 %}
                            <a href="{% url 'pledge' work_id %}"><h3 class="jsmod-title"><span>Acknowledgements</span></h3></a>
                            <div class="jsmod-content">
                                In addition to any premiums you're eligible for, you'll automatically be acknowledged in the unglued ebook as follows:
                                <ul class="support menu">
                                    {% if pledged %}
                                        {% with pledged.0.amount as amount %}
                                            <li class="first">
                                                <a href="{% url 'pledge_modify' work_id %}?preapproval_amount=1">
                                                <span class="menu-item-price">Any amount</span>{% if amount < 25 %}<div class="you_pledged">Yours!</div>{% endif %}
                                                <span class="menu-item-desc">The unglued ebook, free for you to read and share.</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{% url 'pledge_modify' work_id %}?preapproval_amount=25">
                                                <span class="menu-item-price">$25 and up</span>{% if amount >= 25 and amount < 50 %}<div class="you_pledged">Yours!</div>{% endif %}
                                                <span class="menu-item-desc">Your name in the acknowledgements section of the unglued ebook under "Supporters".</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{% url 'pledge_modify' work_id %}?preapproval_amount=50">
                                                <span class="menu-item-price">$50 and up</span>{% if amount >= 50 and amount < 100 %}<div class="you_pledged">Yours!</div>{% endif %}
                                                <span class="menu-item-desc">Your name &amp; profile link in the acknowledgements section of the unglued ebook under "Benefactors".</span>
                                                </a>
                                            </li>
                                            <li class="last">
                                                <a href="{% url 'pledge_modify' work_id %}?preapproval_amount=100">
                                                <span class="menu-item-price">$100 and up</span>{% if amount >= 100 %}<div class="you_pledged">Yours!</div>{% endif %}
                                                <span class="menu-item-desc">Your name, profile link, &amp; a dedication of your choice in the acknowledgements section of the unglued ebook under "Bibliophiles".</span>
                                                </a>
                                            </li>
                                        {% endwith %}
                                    {% else %}
                                        <li class="first">
                                            <a href="{% url 'pledge' work_id %}?preapproval_amount=1">
                                            <span class="menu-item-price">Any amount</span>
                                            <span class="menu-item-desc">The unglued ebook, free for you to read and share.</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{% url 'pledge' work_id %}?preapproval_amount=25">
                                            <span class="menu-item-price">$25 and up</span>
                                            <span class="menu-item-desc">Your name in the acknowledgements section of the unglued ebook under "Supporters".</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{% url 'pledge' work_id %}?preapproval_amount=50">
                                            <span class="menu-item-price">$50 and up</span>
                                            <span class="menu-item-desc">Your name &amp; profile link in the acknowledgements section of the unglued ebook under "Benefactors".</span>
                                            </a>
                                        </li>
                                        <li class="last">
                                            <a href="{% url 'pledge' work_id %}?preapproval_amount=100">
                                            <span class="menu-item-price">$100 and up</span>
                                            <span class="menu-item-desc">Your name, profile link, &amp; a dedication of your choice in the acknowledgements section of the unglued ebook under "Bibliophiles".</span>
                                            </a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                        {% endif %}
                        {% if work.last_campaign.type == 2 %}
                            {% if lib_licenses.available %}
                                <h3 class="jsmod-title"><span>Borrow</span></h3>
                                <div class="jsmod-content">
                                    <ul class="support menu">
                                    {% for lib_license in lib_licenses.all %}
                                        <li class="{% if forloop.first %}first{% elif forloop.last %}last{% endif %}">
                                            <a href="???">Borrow!</a>
                                        </li>
                                    {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                            <h3 class="jsmod-title"><span>Buy for Yourself</span></h3>
                            <div class="jsmod-content">
                                <ul class="support menu">
                                    {% if purchased %}
                                    <li class="first no_link">
                                        <span class="menu-item-desc">{% if purchased.gifts.all.count %}A gift to you!{% else %}Purchased!{% endif %}</span>
                                    </li>
                                    {% else %}
                                    <li class="first" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                        <a href="{% url 'purchase' work_id %}?offer_id={{work.last_campaign.individual_offer.id}}">
                                        <span class="menu-item-price" itemprop="price">${{ work.last_campaign.individual_offer.price|floatformat:2|intcomma }}</span>
                                        <span class="menu-item-desc">{{ work.last_campaign.individual_offer.get_license_display }}</span>
                                        </a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </div>
                            <h3 class="jsmod-title"><span>Buy as a Gift</span></h3>
                            <div class="jsmod-content">
                                <ul class="support menu">
                                    <li class="first" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                        <a href="{% url 'purchase' work_id %}?offer_id=give{{work.last_campaign.individual_offer.id}}">
                                        <span class="menu-item-price" itemprop="price">${{ work.last_campaign.individual_offer.price|floatformat:2|intcomma }}</span>
                                        <span class="menu-item-desc">{{ work.last_campaign.individual_offer.get_license_display }}</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            {% if borrowed %}
                                <h3 class="jsmod-title">
                                    <span class="on-wishlist">Borrowed!</span>
                                </h3>
                            {% else %}
                                <h3 class="jsmod-title"><span>Buy for a Library</span></h3>
                                <div class="jsmod-content">
                                    <ul class="support menu">
                                        <li class="first last">
                                        {% if request.user.profile.libraries %}
                                            <a href="{% url 'purchase' work_id %}?offer_id={{work.last_campaign.library_offer.id}}">
                                            <span class="menu-item-price">${{ work.last_campaign.library_offer.price|floatformat:2|intcomma }}</span>
                                            <span class="menu-item-desc">{{ work.last_campaign.library_offer.get_license_display }}</span>
                                            </a>
                                        {% else %}
                                            <a href="{% url 'library_list' %}"><span class="menu-item-desc">
                                            Join a Library to share and borrow unglue.it ebooks
                                            </span></a>
                                        {% endif %}
                                        </li>
                                    </ul>
                                </div>
                            {% endif %}
                        {% endif %}
                        {% if work.last_campaign.type == 3 %}
                            <h3 class="jsmod-title"><span>Thank the Creators</span></h3>
                            <div class="jsmod-content">
                                <ul class="support menu">
                                    {% if purchased %}
                                    <li class="first no_link">
                                        <span class="menu-item-desc">You're welcome!</span>
                                    </li>
                                    {% else %}
                                    {% if work.last_campaign.ask_money %}
                                    <li class="first last" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                        {% if request.user.library %}
                                            <a href="{% url 'thank' work_id %}?offer_id={{work.last_campaign.library_offer.id}}">
                                            <span class="menu-item-price" itemprop="price">${{ work.last_campaign.library_offer.price|floatformat:2|intcomma }}</span>
                                            <span class="menu-item-desc">{{ work.last_campaign.library_offer.get_thanks_display }}</span>
                                            </a>
                                        {% else %}
                                            <a href="{% url 'thank' work_id %}?offer_id={{work.last_campaign.individual_offer.id}}">
                                            <span class="menu-item-price" itemprop="price">${{ work.last_campaign.individual_offer.price|floatformat:2|intcomma }}</span>
                                            <span class="menu-item-desc">{{ work.last_campaign.individual_offer.get_thanks_display }}</span>
                                            </a>
                                        {% endif %}
                                    </li>
                                    {% else %}
                                   <li class="first last" >
                                            <a href="{% url 'download' work_id %}">
                                            <span class="menu-item-desc">Just read the book!</span>
                                            </a>
                                    {% endif %}
                                    {% endif %}
                                </ul>
                            </div>
                        {% endif %}
                        </div>
                    {% endif %}
                </div>
                {% if request.user.libpref %}
                {% if work.is_free or work.ebookfiles %}
                <div id="libtools">
                    <p>for libraries...</p>
                    <form method="POST" id="record_form" action="{% url 'work_marc' work.id %}">
                        {% include 'marc_form.html' %}
                        <input type="submit" name="submit" value="Download {% if not work.has_marc %}stub {% endif %}MARC" id="submit">
                        
                    </form>
                 </div>
                 {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
{% endwith %}
{% endwith %} 
{% endblock %}
