{% extends 'base.html' %}

{% load el_pagination_tags %}
{% load lang_utils %}
{% load sass_tags %}

{% block title %} Works {% endblock %}
{% block extra_css %}
<link type="text/css" rel="stylesheet" href="{% sass_src 'scss/supporter_layout.scss' %}" />
<link type="text/css" rel="stylesheet" href="{% sass_src 'scss/book_list.scss' %}" />
<link type="text/css" rel="stylesheet" href="{% sass_src 'scss/book_panel2.scss' %}" />
<link type="text/css" rel="stylesheet" href="{% sass_src 'scss/lists.scss' %}" />
{% endblock %}
{% block extra_head %}
<script type="text/javascript" src="/static/js/wishlist.js"></script>
<script type="text/javascript" src="{{ jquery_ui_home }}"></script>
<script type="text/javascript" src="/static/js/greenpanel.js"></script>
<script type="text/javascript" src="/static/js/toggle.js"></script>
<script type="text/javascript" src="/static/js/tabs.js"></script>
{% endblock %}
{% block topsection %}
<div id="locationhash">{{ activetab }}</div>
<div id="js-topsection">
    <div class="js-main">
        <div class="js-topnews">
            <div class="js-topnews1">
                <div class="js-topnews2">
                    <div class="js-topnews3">
                        <div class="user-block">
                            {% block userblock %}
                                <div id="user-block1">
								{% block userblock1 %}<div id="block-intro-text"><span class="special-user-name">{{ facet|capfirst }}</span></div>{% endblock %}
								</div>
								<div class="user-block2">
								{% block userblock2 %}
								<span class="user-short-info">With your help we're raising money to give these {% if pub_lang %}{{pub_lang|ez_lang_name}} language {% endif %}books to the world.</span>
								{% endblock %}
								</div>
    	                        <div class="user-block3">
    	                        {% block userblock3 %}{% endblock %}
	                            </div>
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
</div>

{% endblock %}

{% block content %}
<div id="main-container">
    <div class="js-main">
        <div id="js-leftcol">
            {% include "explore.html" %}
        </div>

        <div id="js-maincol-fr">
        <div class="js-maincol-inner">
            <div id="content-block">
                <div class="content-block-heading wantto" id="tabs">
                    <ul class="tabs">
                        <li class="tabs1"><a href="#">Unglued<br />({{ counts.unglued }})</a></li>
                        <li class="tabs2"><a href="#">Ungluing<br />({{ counts.unglueing }})</a></li>
                        <li class="tabs3"><a href="#">Not Yet<br />({{ counts.wished }})</a></li>
                    </ul>
                    <ul class="book-list-view">
                        <li>View As:</li>
                        <li class="view-list">
                            <a href="#" id="toggle-list">
                            <img src="/static/images/booklist/view-list.png" alt="view list" title="view list" height="21" width="24" />
                            </a>
                        </li>
                        <li class="view-list">
                            <a href="#" id="toggle-panel">
                            <img src="/static/images/booklist/view-icon.png" alt="view icon" title="view icon" height="22" width="22" />
                            </a>
                        </li>
                    </ul>
                </div>
                <div id="content-block-content">
                    {% ifequal work_list.count 0 %}
                    {% block noworks %}
                    There aren't any {{ pub_lang|ez_lang_name }} works in this list yet.  {% block add_more %}Why not add your favorite books to your list, so we can feature them here?{% endblock %}
					{% endblock %}
                    {% else %}
                        {% lazy_paginate 20 works_unglued using "works_unglued" %}
                        {% for work in works_unglued %}
                        <div class="{% cycle 'row1' 'row2' %}">
                        {% with googlebooks_id=work.googlebooks_id tab_override='tabs-1' %}					
                        {% include "book_panel.html" %}
                        {% endwith %}
                        </div>
                        {% endfor %}
                        <div class="pagination content-block-heading tabs-1">
                            {% get_pages %}
                            {% for page in pages %}
                                <a href="{{ page.path }}#1" class="endless_page_link">{{ page.number }}</a>
                            {% endfor %}
                        </div>
                        {% lazy_paginate 20 works_active using "works_active" %}
                        {% for work in works_active %}
                        <div class="{% cycle 'row1' 'row2' %}">
                        {% with googlebooks_id=work.googlebooks_id  tab_override='tabs-2' %}					
                        {% include "book_panel.html" %}
                        {% endwith %}
                        </div>
                        {% endfor %}
                        <div class="pagination content-block-heading tabs-2">
                            {% get_pages %}
                            {% for page in pages %}
                                <a href="{{ page.path }}#2" class="endless_page_link">{{ page.number }}</a>
                            {% endfor %}
                        </div>
    
                        {% lazy_paginate 20 works_wished using "works_wished" %}
                        {% for work in works_wished %}
                        <div class="{% cycle 'row1' 'row2' %}">
                        {% with googlebooks_id=work.googlebooks_id  tab_override='tabs-3' %}					
                        {% include "book_panel.html" %}
                        {% endwith %}
                        </div>
                        {% endfor %}
                        <div class="pagination content-block-heading tabs-3">
                            {% get_pages %}
                            {% for page in pages %}
                                <a href="{{ page.path }}#3" class="endless_page_link">{{ page.number }}</a>
                            {% endfor %}
                        </div>
                    {% endifequal %}
                </div>
            </div>    
            {% if request.user.libpref %}
            <div id="libtools">
                <p>for libraries...</p>
                {% block marcform %}
                <form method="GET" action="{% url 'work_list_marc' facet %}">
                    {% include 'marc_form.html' %}
                    <input type="submit" name="submit" value="download MARC" id="submit">
                </form>
                {% endblock %}
            </div> 
            {% endif %}  
        </div>
        </div>
    </div>
    </div>
{% endblock %}
