{% extends "notification/notice_template.html" %}

{% block comments_book %}
	<a href="{% url work comment.content_object.id %}?tab=2"><img src="{{ comment.content_object.cover_image_small }}" alt="cover image for {{ comment.content_object.title }}" /></a>
{% endblock %}

{% block comments_graphical %}
    {% if comment.user.is_staff %}
        Unglue.it staffer <a href="{% url supporter comment.user.username %}">{{ comment.user.username }}</a> has commented on <a href="{% url work comment.content_object.id %}?tab=2">{{ comment.content_object.title }}</a>.
	{% else %}
        <a href="{% url supporter comment.user.username %}">{{ comment.user.username }}</a>, the author or publisher of <a href="{% url work comment.content_object.id %}?tab=2">{{ comment.content_object.title }}</a>, has commented on the campaign.
	{% endif %}
{% endblock %}

{% block comments_textual %}
	{{ comment.comment|linebreaksbr }}
{% endblock %}