{% extends "notification/notice_template.html" %}
{% with comment.content_object.id as id %}
{% with comment.user as user %}
{% url work id as work_url %}
{% url supporter supporter_username=user as supporter_url %}

{% block comments_book %}
	<a href="{{ work_url }}?tab=2"><img src="{{ comment.content_object.cover_image_small }}" alt="cover image for {{ comment.content_object.title }}" /></a>
{% endblock %}

{% block comments_graphical %}
	<a href="{{ supporter_url }}">{{ comment.user.username }}</a> has made an official comment on <a href="{{ work_url }}?tab=2">{{ comment.content_object.title }}</a>
{% endblock %}

{% block comments_textual %}
	{{ comment.comment|linebreaksbr }}
{% endblock %}

{% endwith %}
{% endwith %}
