<div>
        <p style="">
        <img src="/static/images/{{ facet.facet_name }}32.png" height="32" alt="{{ facet.facet_name }}" title="{{ facet.facet_name }}" />
        {% if facet.facet_name == 'epub' %}
            These books are available in EPUB format - good for iBooks, Nook, Kobo.
        {% endif %}
        {% if facet.facet_name == 'mobi' %}
            These books are available in MOBI format - good for Kindle.
        {% endif %}
        {% if facet.facet_name == 'pdf' %}
           These books are available in PDF format - good for desktops, printing.
        {% endif %}
        </p>
</div>