<dl>
    <dt>
        {% if facet.context.title %}{{ facet.context.title }}{% else %}{{ facet }}{% endif %}
    </dt>
    <dd>
        {% if facet.facet_name == 'epub' %}
            These books are available in EPUB format - good for iBooks, Nook, Kobo.
        {% endif %}
        {% if facet.facet_name == 'mobi' %}
            These books are available in MOBI format - good for Kindle.
        {% endif %}
        {% if facet.facet_name == 'pdf' %}
            These books are available in PDF format - good for desktops, printing.
        {% endif %}
    </dd>
</dl>