{% with license=facet.context.license %}
<dl>
    <dt>
        Licence: {{ license.title }}
    </dt>
    <dd>
        <p style="font-size: larger;"><span class="user-short-info">These {% if license.is_cc %}<a href="http://creativecommons.org/">Creative Commons</a>{% endif %} {% if license %}<a href="{{cc.url}}">{{ license }}</a>{% endif %} {%if license.is_pd %}ebooks are ready to read -  they belong to all of us!{% else %}licensed ebooks are ready to read - the people who created them want you to read and share them.{% endif %}</span></p>
                            {% if license %}<p style="font-size: smaller;"><a href="{{license.url}}"><img src="{{license.badge}}" alt="badge for {{license}}" style="float:left;padding:0.5em" /></a> {{license.description}}
                            </p>{% endif %}
    </dd>
</dl>
{% endwith %}