{% extends "registration/registration_base.html" %}
{% block title %}{% if account %}Activation complete{% else %}Activation problem{% endif %}{% endblock %}
{% block doccontent %}
{% if not user.is_authenticated %}
{% if account %}
Thanks {{ account }}, activation complete!  You may now <a href='{% url superlogin %}'>sign in</a> using the username and password you set at registration.
{% else %}
Oops &ndash; it seems that your activation key is invalid.  Please check the url again.
{% endif %}
{% else %}
<div>
You are logged in as <a href="{% url supporter supporter_username=request.user.username %}">{{ request.user.username }}</a>.
</div>
{% endif %}
{% endblock %}

