{% extends "registration/registration_base.html" %}
{% block title %}login{% endblock %}
{% block content %}

<div id="registration">

{% if form.errors %}
<p class="errorlist">Your username and password didn't match. Please try again.</p>
{% endif %}

<form method="post" action="{% url django.contrib.auth.views.login %}">{% csrf_token %}
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>

<tr>
    <td></td>
    <td><input type="submit" value="login" /></td>
</tr>
</table>

<input type="hidden" name="next" value="{% if next %}{{ next }}{% else %}/{% endif %}" />
</form>

<p>
<br>
<br>
<br>
<h3>Or, login with:</h3> 
<a href="/socialauth/login/google"><img src="{{ STATIC_URL }}/images/auth/google_64.png"</a>
<a href="/socialauth/login/facebook"><img src="{{ STATIC_URL }}/images/auth/facebook_64.png"</a>
<a href="/socialauth/login/twitter"><img src="{{ STATIC_URL }}/images/auth/twitter_64.png"</a>
</p>

<p>
<br>
<br>
<br>
<br>
<a href="{% url auth_password_reset %}">Forgot</a> your password?  <a href="{% url registration_register %}">Need an account</a>?
</p>

</div>

{% endblock %}
