{% extends "registration/registration_base.html" %}

{% block title %}Log in to Unglue.it{% endblock %}
{% block doccontent %}
<div id="lightbox_content">

{% if form.errors %}
{% for error in form.non_field_errors %}
<p class="errorlist">{{ error }}</p>
{% endfor %}
Make sure the username box has your <b>username, not your email</b> -- some browsers automatically fill in your email.  We're working on fixing this bug.
{% endif %}
{% if not user.is_authenticated %}
{% if request.session.kindle_email %}
    <div class="launch_top pale">
        <p>
            We've sent your book to your Kindle.  Happy reading!
        </p>
        
        <p>
            In the future you can send yourself unglued ebooks with one click.  Log in, or sign up, and we'll add your Kindle email to your profile so you never have to enter it again.
        </p>
    </div>
{% endif %}
<h3>Sign in to your account</h3>

{% include "login_form.html" %}
<br />


<a href="{% url 'libraryauth_password_reset' %}?next={% if request.GET.next %}{{ request.GET.next|urlencode }}{% else %}{{ request.get_full_path|urlencode}}{% endif %}">Forgot</a> your password?  <a href="{% url 'registration_register' %}?next={% if request.GET.next %}{{ request.GET.next|urlencode }}{% else %}{{ request.get_full_path|urlencode}}{% endif %}">Need an account</a>?  <a href="/faq/basics/account">Other questions</a>?


<br /><br />

   <a  class="btn btn-social btn-google-plus" href="{% url 'social:begin' "google-oauth2" %}?next={% if request.GET.next %}{{ request.GET.next|urlencode }}{% else %}{{ request.get_full_path|urlencode}}{% endif %}" ><i class="fa fa-google"></i>Sign in with Google</a>
   <a  class="btn btn-social btn-yahoo" href="{% url 'social:begin' "yahoo" %}?next={% if request.GET.next %}{{ request.GET.next|urlencode }}{% else %}{{ request.get_full_path|urlencode}}{% endif %}" ><i class="fa fa-yahoo"></i>Sign in with Yahoo!</a>
{% else %}
<div>
You are already logged in as <a href="{% url 'supporter' user %}">{{ user.username }}</a>.
</div>
{% endif %}
</div>
{% endblock %}
