{% extends "registration/registration_base.html" %}
{% block title %}Change password{% endblock %}
{% block doccontent %}
{% if request.user.is_authenticated %}
	{% ifequal request.user.password '!' %}
	Because you registered using another site such as google, you'll need to <a href="{% url django.contrib.auth.views.password_reset %}">"reset" your password</a> before you can change it.
	{% else %}
	<form method='post' action=''>{% csrf_token %}
	
		{{ form.as_p }}
		<p><input type='submit' value="Change password" /></p>
	
	</form>
	{% endifequal %}
{% else %}
	You must be logged in to change your password.
{% endif %}
{% endblock %}
