{% extends "registration/registration_base.html" %}
{% block title %}Change password{% endblock %}
{% block doccontent %}

<div id="login_centerer">
<div id="login">
{% if request.user.is_authenticated %}
	{% ifequal request.user.password '!' %}
	<div>
	Because you registered using your account on another site (such as Google), you'll need to <a href="{% url django.contrib.auth.views.password_reset %}">reset your password</a> before you can change it.
	</div>
	<a href="{% url django.contrib.auth.views.password_reset %}" class="nounderline"><div class="actionbutton">Reset password</div></a>
	{% else %}
	<form method='post' action=''>{% csrf_token %}
	
		{{ form.as_p }}
		<p><input type='submit' value="Change password" /></p>
	
	</form>
	{% endifequal %}
{% else %}
	<div>You must be logged in to change your password.</div>
	<a href="{% url auth_login %}?next={% firstof request.path '/' %}" class="nounderline"><div class="actionbutton">Log in</div></a>
{% endif %}
</div>
</div>

{% endblock %}
