{% extends 'registration/registration_base.html' %}

{% block title %}Change password{% endblock %}
{% block doccontent %}

{% if request.user.is_authenticated %}
	<form method='post' action=''>{% csrf_token %}
	
		{{ form.as_p }}
		<p><input type='submit' value="Change password" /></p>
	
	</form>
{% else %}
	<div>You must be logged in to change your password.</div>
	<a href="{% url 'superlogin' %}?next={% if request.GET.next %}{{ request.GET.next|urlencode }}{% else %}/next/{% endif %}" class="nounderline"><div class="actionbutton">Log in</div></a>
{% endif %}
<p>If you don't remember your password, you should <a href="{% url 'password_reset' %}">reset it</a>.
<p>Want to <a href="{% url 'edit_user' %}">change your username</a> instead?</p>
{% endblock %}
