{% extends "registration/registration_base.html" %}
{% block title %}Reset password{% endblock %}
{% block doccontent %}

{% if request.user.is_authenticated and request.user.password == '!' %}
<p>
Sorry for the extra step, but just click and we'll email you
instructions for creating your new password.
</p>
<form method='post' action=''>{% csrf_token %}
<p>
        <input id="id_email" type="hidden" name="email" maxlength="75" value="{{request.user.email}}"/>
    <input type='submit' value="Reset password" /></td></tr>
</p>
</form>
{% else %}
<p>
Forgot your password?  Enter your email in the form below and we'll send you
instructions for creating a new one.
</p>
<form method='post' action=''>{% csrf_token %}
<table>
    {{ form }}
    <tr><td></td><td><input type='submit' value="Reset password" /></td></tr>
</table>
</form>
{% endif %}

{% endblock %}
