{% extends "registration/registration_base.html" %}
{% block title %}Change User Data{% endblock %}
{% block doccontent %}
<h1>Changing Your Username</h1>

<p> If you change your username, the web address for your profile page will change as well.</p>

<p> <b>Your current username:</b> {{ user.username }}</p>
<form method="POST" action="#">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" name="submit" value="Change username" id="submit">
</form>
<p>Want to <a href="/accounts/password/change/">change your password</a> instead?</p>
{% endblock %}


