{% extends "registration/registration_base.html" %}
{% block title %}Change User Data{% endblock %}
{% block doccontent %}
<h2>Changing Your Username</h2>

<p> If you change your username, the web address for your profile page will change as well.</p>
<div>
<p> <b>Your current username:</b> {{ user.username }}</p>
<form method="POST" action="#">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" name="change_username" value="Change username" id="submit_username">
</form>
</div>

<div>
<h2>Other Account Tools</h2>
<p>Want to <a href="{% url auth_password_change %}">change your password</a>?</p>
<p>... or <a href="{% url manage_account %}">manage your pledges and payment info</a>?</p>
<p>... or <a href="{% url email_change %}">change your email address</a>?</p>
<p>... or <a href="{% url notification_notice_settings %}">manage your contact preferences</a>?</p>
</div>
{% endblock %}


