{% extends 'registration/registration_base.html' %}


{% block title %}Welcome to Unglue.It{% endblock %}
{% block doccontent %}
{% load cf %}
<div id="welcomesearch">
<p>Welcome, {{user.username}}!</p><p id="link-to-next"></p>
    <label>Search and add free-licenced books! </label>
    <form action="{% url 'search' %}" method="get">
        <div class="cf-turnstile" data-sitekey="{% cf_site %}"  data-callback="enableSubmit"></div>
        <div class="inputalign">
        <input type="text" id="nowatermark" size="25" class="inputbox" name="q" value="{{ q }}" required>
        <input type="submit" class="button" id="search-button" disabled>
        </div>
    </form>
</div>
<br />
<div class="welcomealternatives">
Or you can <a href="{% url 'edit_user' %}">change your username</a> &#151; <a href="{% url 'work_list' 'popular' %}">see the site's favorite books</a>   &#151; <a href="{% url 'feedback' %}">send us feedback</a> &#151; <a href="{% url 'notification_notice_settings' %}">manage your contact preferences</a>
</div>
{% endblock %}


