{% extends "notification/notice_template.html" %}

{% block comments_book %}
	<a href="{% url work campaign.work.id %}"><img src="{{ campaign.work.cover_image_small }}" alt="cover image for {{ campaign.work.title }}" /></a>
{% endblock %}

{% block comments_graphical %}
	The campaign for {{ campaign.work.title }} is almost over.
{% endblock %}

{% block comments_textual %}
	The campaign for {{ campaign.work.title }} will end on {{ campaign.deadline }}.  It needs ${{ campaign.left }} more before it can be unglued for all to enjoy.<br /><br />

	{% if pledged %}
	Your pledge is helping us reach that goal.  Will you help again by sharing this campaign with your friends?
	{% else %}
	You can help us give this book to the world by <a href="{% url pledge work_id=campaign.work.id %}">pledging</a> or by sharing this campaign with your friends.
	{% endif %}
	
	{% url work campaign.work.id as work_url %}
	{% include "notification/sharing_block.html" %}
	
	Thank you!
{% endblock %}
